#search_block_top {
  position:relative;
    float:none;
    vertical-align: middle;
  z-index:1; }
@media (min-width: 992px) {
  #search_block_top {
      display:table-cell;
    width: 33.3333%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #search_block_top {
      position:relative;
      margin:20px auto 0;
      float:none;
      width:50%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #search_block_top {
      position:relative;
      margin:20px auto 0;
      float:none;
      width:70%; } }
@media (max-width: 479px) {
    #search_block_top {
        position:relative;
        float:none;
        margin:20px auto 0;
        width:100%; } }
  #search_block_top #searchbox {
    float: left;
    width: 100%;
    background:none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }

  #search_block_top #searchbox {
    background:#fafafa;
    padding:0 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border:1px solid #ededed;
  }

#search_block_top #searchbox input {
    background: none;
    border:none;
    color: #9C9B9B;
    display: inline;
    float:left;
    font-size: 13px;
    height: 32px;
    min-height:32px;
    line-height: 32px;
    margin: 11px 50px 11px 0;
    padding: 0 13px;
    min-width: 100px;
    /*width: 222px;*/ }
@media (min-width: 991px) and (max-width: 1199px) {
    #search_block_top #searchbox input {
        width: 150px; } }
@media (max-width: 991px) {
    #search_block_top #searchbox input {
        min-width: 100px;
        width: 100%; } }
  #search_block_top .btn.button-search {
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      border: none;
      background:#ffffff;
      position: absolute;
      top: -1px;
      right: -1px;
      width: 58px;
      height: 56px;
      padding:0;
      display: inline-block;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear;
    text-align: center; }
    #search_block_top .btn.button-search span {
      background: url("../../../img/icons-lens.png") no-repeat scroll center center rgba(0, 0, 0, 0);
      border: medium none;
      display: block;
      height: 34px;
      width: 34px;
        margin:0 auto;
      line-height: 34px;
      /*opacity: 0.65;*/
      /*filter: alpha(opacity=65);*/
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      text-indent: -9999px; }
    #search_block_top .btn.button-search:hover span {
      /*opacity: 1;*/
      /*filter: alpha(opacity=1);*/ }
  #search_block_top #search_query_top {
    display: inline;
    padding: 0 13px;
    height: 45px;
    line-height: 45px;
    background: #fbfbfb;
    margin-right: 1px; }

.ac_results {
  background: white;
  border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
  width: 360px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-top:15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
}
  .ac_results li {

    padding: 8px 12px 8px 8px;
    font-weight: normal;
    color: #686666;
    font-size: 11px;
    line-height: 1.1em!important;
	cursor:pointer; }
    .ac_results li img {
      margin-right:10px;
        float:left;
      border-right:2px solid #fafafa; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
