{if isset($xprtbrandwiseproductblock) && !empty($xprtbrandwiseproductblock)}
		<li><a data-toggle="tab" href="#xprt_brandwiseproductsblock_tab_{if isset($xprtbrandwiseproductblock.id_xprtbrandwiseproductblock)}{$xprtbrandwiseproductblock.id_xprtbrandwiseproductblock}{/if}" class="xprt_brandwiseproductsblock">{$xprtbrandwiseproductblock.title}</a></li>
{/if}

