{if isset($xprtspecialsproductblock) && !empty($xprtspecialsproductblock)}
		<li><a data-toggle="tab" href="#xprt_specialproductsblock_tab_{if isset($xprtspecialsproductblock.id_xprtspecialsproductblock)}{$xprtspecialsproductblock.id_xprtspecialsproductblock}{/if}" class="xprt_specialproductsblock">{$xprtspecialsproductblock.title}</a></li>
{/if}