{*
* 1969-2018 Relais Colis
*
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to contact@relaiscolis.com so we can send you a copy immediately.
*
*  @author    Quadra Informatique <modules@quadra-informatique.fr>
*  @copyright 1969-2018 Relais Colis
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*}

<li>
  <a href="{$link->getModuleLink('relaiscolis', 'default')|escape:'htmlall':'UTF-8'}" title="{l s='My Relais colis returns' mod='relaiscolis'}">
    <i><img width="24px" height="26px" src="{$module_dir|escape:'htmlall':'UTF-8'}logo.png" alt="{l s='My Relais colis returns' mod='relaiscolis'}" class="icon"/></i>
    <span>{l s='My Relais colis returns' mod='relaiscolis'}</span>
  </a>
</li>
