
		.xprt_navigator{
			bottom: 30px;
			right: 6px;
		}
		.xprt_arrow_left{
			top: 50%;	left: 20px;
			transform: translateY(-50%);
		}
		.xprt_arrow_right{
			top: 50%;	right: 20px; 
			transform: translateY(-50%);
		}
				