.jssora01l, .jssora01r {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(img/a01.png) no-repeat;
    overflow: hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }

.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01l.jssora01ldn { background-position: -8px -38px; }
.jssora01r.jssora01rdn { background-position: -68px -38px; }
.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a02.png) no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a03.png) no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }
.jssora04l, .jssora04r {
    display: block;
    position: absolute;
    width: 28px;
    height: 40px;
    cursor: pointer;
    background: url(img/a04.png) no-repeat;
    overflow: hidden;
}
.jssora04l { background-position: -16px -39px; }
.jssora04r { background-position: -76px -39px; }
.jssora04l:hover { background-position: -136px -39px; }
.jssora04r:hover { background-position: -196px -39px; }
.jssora04l.jssora04ldn { background-position: -256px -39px; }
.jssora04r.jssora04rdn { background-position: -316px -39px; }
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(img/a17.png) no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.jssora06l, .jssora06r {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(img/a06.png) no-repeat;
    overflow: hidden;
}
.jssora06l { background-position: -8px -38px; }
.jssora06r { background-position: -68px -38px; }
.jssora06l:hover { background-position: -128px -38px; }
.jssora06r:hover { background-position: -188px -38px; }
.jssora06l.jssora06ldn { background-position: -248px -38px; }
.jssora06r.jssora06rdn { background-position: -308px -38px; }
.jssora07l, .jssora07r {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(img/a07.png) no-repeat;
    overflow: hidden;
}
.jssora07l { background-position: -5px -35px; }
.jssora07r { background-position: -65px -35px; }
.jssora07l:hover { background-position: -125px -35px; }
.jssora07r:hover { background-position: -185px -35px; }
.jssora07l.jssora07ldn { background-position: -245px -35px; }
.jssora07r.jssora07rdn { background-position: -305px -35px; }
.jssora08l, .jssora08r {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(img/a08.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssora08l { background-position: -5px -35px; }
.jssora08r { background-position: -65px -35px; }
.jssora08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora08l.jssora08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora08r.jssora08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09l, .jssora09r {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(img/a09.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09l.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09r.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora10l, .jssora10r {
    display: block;
    position: absolute;
    width: 28px;
    height: 40px;
    cursor: pointer;
    background: url(img/a10.png) no-repeat;
    overflow: hidden;
}
.jssora10l { background-position: -16px -39px; }
.jssora10r { background-position: -76px -39px; }
.jssora10l:hover { background-position: -136px -39px; }
.jssora10r:hover { background-position: -196px -39px; }
.jssora10l.jssora10ldn { background-position: -256px -39px; }
.jssora10r.jssora10rdn { background-position: -316px -39px; }
.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(img/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url(img/a12.png) no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url(img/a13.png) no-repeat;
    overflow: hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }
.jssora14l, .jssora14r {
    display: block;
    position: absolute;
    width: 30px;
    height: 50px;
    cursor: pointer;
    background: url(img/a14.png) no-repeat;
    overflow: hidden;
}
.jssora14l { background-position: -15px -35px; }
.jssora14r { background-position: -75px -35px; }
.jssora14l:hover { background-position: -135px -35px; }
.jssora14r:hover { background-position: -195px -35px; }
.jssora14l.jssora14ldn { background-position: -255px -35px; }
.jssora14r.jssora14rdn { background-position: -315px -35px; }
.jssora15l, .jssora15r {
    display: block;
    position: absolute;
    width: 20px;
    height: 38px;
    cursor: pointer;
    background: url(img/a15.png) no-repeat;
    overflow: hidden;
}
.jssora15l { background-position: -20px -41px; }
.jssora15r { background-position: -80px -41px; }
.jssora15l:hover { background-position: -140px -41px; }
.jssora15r:hover { background-position: -200px -41px; }
.jssora15l.jssora15ldn { background-position: -260px -41px; }
.jssora15r.jssora15rdn { background-position: -320px -41px; }
.jssora16l, .jssora16r {
    display: block;
    position: absolute;
    width: 22px;
    height: 36px;
    cursor: pointer;
    background: url(img/a16.png) no-repeat;
    overflow: hidden;
}
.jssora16l { background-position: -19px -42px; }
.jssora16r { background-position: -79px -42px; }
.jssora16l:hover { background-position: -139px -42px; }
.jssora16r:hover { background-position: -199px -42px; }
.jssora16l.jssora16ldn { background-position: -259px -42px; }
.jssora16r.jssora16rdn { background-position: -319px -42px; }
.jssora18l, .jssora18r {
    display: block;
    position: absolute;
    width: 29px;
    height: 29px;
    cursor: pointer;
    background: url(img/a18.png) no-repeat;
    overflow: hidden;
}
.jssora18l { background-position: -16px -45px; }
.jssora18r { background-position: -76px -45px; }
.jssora18l:hover { background-position: -136px -45px; }
.jssora18r:hover { background-position: -196px -45px; }
.jssora18l.jssora18ldn { background-position: -256px -45px; }
.jssora18r.jssora18rdn { background-position: -316px -45px; }
.jssora19l, .jssora19r {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(img/a19.png) no-repeat;
    overflow: hidden;
}
.jssora19l { background-position: -5px -35px; }
.jssora19r { background-position: -65px -35px; }
.jssora19l:hover { background-position: -125px -35px; }
.jssora19r:hover { background-position: -185px -35px; }
.jssora19l.jssora19ldn { background-position: -245px -35px; }
.jssora19r.jssora19rdn { background-position: -305px -35px; }
.jssora20l, .jssora20r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a20.png) no-repeat;
    overflow: hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20l.jssora20ldn { background-position: -243px -33px; }
.jssora20r.jssora20rdn { background-position: -303px -33px; }
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url(img/a22.png) center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }


.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
.jssorb02 {
    position: absolute;
}
.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(img/b02.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb02 div { background-position: -5px -5px; }
.jssorb02 div:hover, .jssorb02 .av:hover { background-position: -35px -5px; }
.jssorb02 .av { background-position: -65px -5px; }
.jssorb02 .dn, .jssorb02 .dn:hover { background-position: -95px -5px; }
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(img/b03.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(img/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
.jssorb06 {
    position: absolute;
}
.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av {
    position: absolute;
    /* size of bullet elment */
    width: 18px;
    height: 18px;
    background: url(img/b06.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb06 div { background-position: -6px -6px; }
.jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
.jssorb06 .av { background-position: -66px -6px; }
.jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }
.jssorb07 {
    position: absolute;
}
.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av {
    position: absolute;
    /* size of bullet elment */
    width: 20px;
    height: 20px;
    background: url(img/b07.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb07 div { background-position: -5px -5px; }
.jssorb07 div:hover, .jssorb07 .av:hover { background-position: -35px -5px; }
.jssorb07 .av { background-position: -65px -5px; }
.jssorb07 .dn, .jssorb07 .dn:hover { background-position: -95px -5px; }
.jssorb09 {
    position: absolute;
}
.jssorb09 div, .jssorb09 div:hover, .jssorb09 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #fff 1px solid;
}
.jssorb09 div { background-color: #d3d3d3; }
.jssorb09 div:hover, .jssorb09 .av:hover { background-color: gray; }
.jssorb09 .av { background-color: #000; }
.jssorb09 .dn, .jssorb09 .dn:hover { background-color: #a9a9a9; }
.jssorb10 {
    position: absolute;
}
.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
    position: absolute;
    /* size of bullet elment */
    width: 11px;
    height: 11px;
    background: url(img/b10.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb10 div { background-position: -10px -10px; }
.jssorb10 div:hover, .jssorb10 .av:hover { background-position: -40px -10px; }
.jssorb10 .av { background-position: -70px -10px; }
.jssorb10 .dn, .jssorb10 .dn:hover { background-position: -100px -10px; }
.jssorb11 {
    position: absolute;
}
.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av {
    position: absolute;
    /* size of bullet elment */
    width: 11px;
    height: 11px;
    background: url(img/b11.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb11 div { background-position: -10px -10px; }
.jssorb11 div:hover, .jssorb11 .av:hover { background-position: -40px -10px; }
.jssorb11 .av { background-position: -70px -10px; }
.jssorb11 .dn, .jssorb11 .dn:hover { background-position: -100px -10px; }
.jssorb12 {
    position: absolute;
}
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(img/b12.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }
.jssorb13 {
    position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url(img/b13.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
.jssorb14 {
    position: absolute;
}
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    background: url(img/b14.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb14 div { background-position: -9px -9px; }
.jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
.jssorb14 .av { background-position: -69px -9px; }
.jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }
.jssorb16 {
    position: absolute;
}
.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url(img/b16.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb16 div { background-position: -5px -5px; }
.jssorb16 div:hover, .jssorb16 .av:hover { background-position: -35px -5px; }
.jssorb16 .av { background-position: -65px -5px; }
.jssorb16 .dn, .jssorb16 .dn:hover { background-position: -95px -5px; }
.jssorb17 {
    position: absolute;
}
.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(img/b17.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb17 div { background-position: -7px -7px; }
.jssorb17 div:hover, .jssorb17 .av:hover { background-position: -37px -7px; }
.jssorb17 .av { background-position: -67px -7px; }
.jssorb17 .dn, .jssorb17 .dn:hover { background-position: -97px -7px; }
.jssorb18 {
    position: absolute;
}
.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av {
    position: absolute;
    /* size of bullet elment */
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    background: url(img/b18.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb18 div { background-position: -3px -3px; }
.jssorb18 div:hover, .jssorb18 .av:hover { background-position: -33px -3px; }
.jssorb18 .av { background-position: -63px -3px; }
.jssorb18 .dn, .jssorb18 .dn:hover { background-position: -93px -3px; }
.jssorb18 .n  { display: none; color: #000; }
.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n, .jssorb18 .dn .n { display: block; }
.jssorb20 {
    position: absolute;
}
.jssorb20 div, .jssorb20 div:hover, .jssorb20 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(img/b20.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb20 div { background-position: -5px -5px; }
.jssorb20 div:hover, .jssorb20 .av:hover { background-position: -35px -5px; }
.jssorb20 .av { background-position: -65px -5px; }
.jssorb20 .dn, .jssorb20 .dn:hover { background-position: -95px -5px; }
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
/*481519*/