
                <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Merci d'avoir effectué vos achats sur {shop_name}!</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Détails de la commande</p>
<span style="color:#777;"> <span style="color:#333;"><strong>Commande :</strong></span> {order_name} passée le {date}<br /><br /><span style="color:#333;"><strong>Paiement :</strong></span> {payment} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td style="padding:7px 0;">
<table class="table table-recap" style="width:100%;border-collapse:collapse;" bgcolor="#ffffff"><!-- Title --><tbody><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Référence</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Produit</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8" width="17%">Prix unitaire</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Quantité</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8" width="17%">Prix total</th></tr><tr><td style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;" colspan="5">  {products}</td>
</tr><tr><td style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;" colspan="5">  {discounts}</td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Produits</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" align="right" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_products} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Réductions</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_discounts} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Paquet cadeau</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_wrapping} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Livraison</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_shipping} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>TVA totale</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_tax_paid} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Total payé</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:large;"> {total_paid} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Livraison</p>
<p><span style="color:#777;"> <span style="color:#333;"><strong>Transporteur :</strong></span> {carrier}<br /><br /> {liste_boutique} </span></p>
<p><span style="color:#777;"><span style="color:#333;"><strong>Paiement :</strong></span> {payment} </span></p>
</td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a style="color:#337ff1;" href="{history_url}">"Historique des commandes"</a> de la rubrique <a style="color:#337ff1;" href="{my_account_url}">"Mon compte"</a> sur notre site. </span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> Si vous avez un compte invité, vous pouvez suivre votre commande dans la section <a style="color:#337ff1;" href="{guest_tracking_url}?id_order={order_name}">"Suivi invité"</a> de notre site. </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>