						<tr>
							<td class="space_footer">&nbsp;</td>
						</tr>
						<tr>
							<td class="footer" style="border-top: 4px solid #333333">
								<span><a href="{shop_url}">{shop_name}</a> réalisé avec amour</span>
							</td>
						</tr>
					</table>
				</td>
				<td class="space">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>