/*******************************************************************
					Cart Block Styles
********************************************************************/
.carttop {
    position:relative;
    vertical-align: middle;
    width:auto;
    padding-left:14px;
    z-index:1; }
.shopping_cart > a:first-child {
    background:none;
    padding: 0;
    height:24px;
    display: inline-block;
    text-align: center;
    color: #9c9c9c; }

    .carttop > a > span {
		display:none; }
    .carttop > a > span.ajax_cart_product_txt_s,
    .carttop > a > span.ajax_cart_no_product {
		display:none!important; }
    .carttop > a:first-child span.carticon {
        position: relative;
        margin-right:8px;
        vertical-align: -3px;
        display:inline-block;
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out; }
    .carttop > a:first-child span.carticon:before {
        position: absolute;
        content: " ";
        display:inline-block;
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out; }
    .carttop > a:first-child span.ajax_cart_quantity {
        display:inline-block;
        position: absolute;
        height: 20px;
        width: 20px;
        padding-left: 1px;
        bottom: -8px;
        right: -10px;
        background:#343a41;
        color:#ffffff;
        font-size:11px;
        font-weight:700;
        line-height:16px;
        -webkit-border-radius: 90px;
        -moz-border-radius: 90px;
        border-radius: 90px;
        border: 2px solid #fff;
        -webkit-transition: background-color .15s ease-out, color .15s ease-out, margin-top .25s ease;
        -moz-transition: background-color .15s ease-out, color .15s ease-out, margin-top .25s ease;
        -o-transition: background-color .15s ease-out, color .15s ease-out, margin-top .25s ease;
        transition: background-color .15s ease-out, color .15s ease-out, margin-top .25s ease; }
    .carttop > a:first-child span.word {
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out; }
    .carttop .clearfix {
        height:0;
        margin-top:-3px; }
        
/*	Mobile styles	*/
@media (max-width: 479px) {
	.head .row .header-right-block .carttop  {
		padding-left:10px; }
	.carttop > a:first-child span.carticon {
		margin-right:2px;
	}
}

/*	/Mobile styles	*/


 /* Column Cart block */
     .column .shopping_cart > a:first-child {
         padding-left:22px;
         position:relative;; }
     .shopping_cart > a:first-child > span {
      font: 400 14px/14px Noto Sans, sans-serif;
      color: #999999; }
     .shopping_cart > a:first-child > span.cartname {
          color: #999999;
          font-size:16px;
         margin-bottom:8px;
          display:none; }
  .shopping_cart .ajax_cart_total {
    display: none !important; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content: "\f107";
    font-family: "FontAwesome";
    position:absolute;
      top:22px;
      right:20px;
      font-size: 26px;
    padding:0 }
  .shopping_cart .block_cart_collapse:after {
      content: "\f106";
      font-family: "FontAwesome";
      font-size: 26px; }

.side-menu .shopping_cart .block_cart_collapse, .side-menu .shopping_cart .block_cart_expand {
  display: none!important;
}

.cart_block .cart_block_list .remove_link {
    position: absolute;
    right: 0;
    width:12px;
    height:12px;
    line-height:12px;
    margin-top:-6px;
    top: 50%; }
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #777777;
    display: block;
    width: 100%;
    height: 100%; }
    .cart_block .cart_block_list .remove_link a:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
        display: inline-block;
        content: "\f12a";
        font-family: "Ionicons";
        font-size: 10px;
        font-weight:bold;
        line-height: 12px;
        -webkit-transition: all 120ms linear;
        -moz-transition: all 120ms linear;
        -ms-transition: all 120ms linear;
        -o-transition: all 120ms linear;
        transition: all 120ms linear; }
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover:before {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
  .cart_block .cart_block_list .remove_link a:hover,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #515151; }


.side-menu .cart_block .cart_block_list {
  display:block!important; }

.side-menu .cart_block .cart_block_list .remove_link {
    position: absolute;
    right: 0;
    width:18px;
    height:18px;
    line-height:12px;
    margin-top:-6px;
    top: 50%; }
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
        font-size: 16px; }


.cart_block .cart-images {
    float: left; }
.cart_block .cart-img {
    display:table-cell;
    width:50px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative; }
.cart_block .cart-info {
    display:table-cell;
    vertical-align: top;
    padding-top:0;
    padding-left:14px;
    padding-right: 0; }
    .cart_block .cart-info .product-name {
        padding-bottom: 0;
        margin-bottom:5px; }
    .cart_block .cart-info .product-name a {
        font-style: normal!important;
        font-weight: bold!important;
        font-size: 13px;
        line-height: 15px;
        display: inline-block; }
    .cart_block .cart-info .quantity-formated {
        position: absolute;
        top: -2px;
        left: -10px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background: #ffffff;
        font-style: normal;
        border: 1px solid #eee;
        color: #9c9b9b;
        text-align: center;
        line-height: 28px;
        font-size: 11px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);}
    .cart_block .cart-info .quantity-formated .quantity {
        font-weight: bold;
        font-size: 12px; }
.cart_block dt {
  font-weight: normal;
  padding: 8px 0;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations {
    border-top: 1px dashed #333333; }
    .cart_block dd .cart_block_customizations li {
      padding: 10px 20px; }
      .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
        position: absolute;
        right: 10px; }
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
  .cart_block .cart-prices .cart-prices-line {
    position: relative;
    font-size:14px;
    color:#323232;
    text-transform: uppercase!important;
    font-style: normal!important;
    overflow: hidden;
    padding: 14px 0; }
  .cart_block .cart-prices .cart-prices-line:before {
    content: ' ';
    display: inline-block;
    width: 88%;
    height: 1px;
    background: #e5e5e5;
    position: absolute;
    left: 6%;
    bottom: 0; }
    #header .cart_block .cart-prices .cart-prices-line .price {
      margin-top:0;
      font-style: normal!important;
      font-weight: bold!important;
      font: 14px/17px "Noto Sans", sans-serif; }
    .cart_block .cart-prices .cart-prices-line.last-line:before {
      display: none; }
.cart_block .cart-buttons {
      overflow: hidden;
      line-height: 20px;
      text-align: center;
      padding: 0;
      margin: 0; }
    .cart_block .cart-buttons a {
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 0px;
        margin-right: 10px; }
    .cart_block .cart-buttons a.button_order_cart {
        border-radius: 0;
        border:none;
        color:#323232;
        background:none!important;
        margin: 18px 0;
        display: inline-block;
        float:none;
        padding:0;
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out; }
        .cart_block .cart-buttons a.button_order_cart span {
          font-weight: bold;
            padding: 0; }
        .cart_block .cart-buttons a.button_order_cart span:before {
            font-family: "FontAwesome";
            content:"\f05d";
            font-size:18px!important;
            font-weight: normal!important;
            margin-right: 2px;
            vertical-align: -1px; }
    .cart_block .cart-buttons a.button_order_cart:hover {
        border-radius: 0;
        color:#000000;
        border:none; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/

#header .cart_block {
    position: absolute;
    top: 100%;
    margin-top:20px;
    right: 0;
    z-index: 999;
    visibility:hidden;
    opacity:0;
    border-top:1px solid #ededed;
    height: auto;
    width: 100%;
    min-width:270px;
    background-color:#ffffff;
    color: #5e5e5e;
    -webkit-transition: 0.3s all ease 0s;
    -moz-transition: 0.3s all ease 0s;
    -o-transition: 0.3s all ease 0s;
    transition: 0.3s all ease 0s; }
#header .cart_block .block_content {
    padding:24px 26px 0; }

#header .cart_block:before {
  top:0;
  z-index:-1;
  height:100%;
  width:100%;
  left:0;
  content:' ';
  display: block;
  position: absolute;
  -moz-box-shadow: 0 5px 11px rgba(0,0,0,0.11);
  -webkit-box-shadow: 0 5px 11px rgba(0,0,0,0.11);
  box-shadow: 0 5px 11px rgba(0,0,0,0.11); }

.animated_220 {
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}

@media (max-width: 767px) {
	#header .cart_block {
		display:none!important;	} }		
  #header .cart_block a {
    color: #777777; }
    #header .cart_block a:hover {
      color: #000000; }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #5b6868;
    outline: none;
    text-decoration: none; }
    #header .cart_block .cart_block_list .remove_link a:hover,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #000; }
  #header .cart_block .price {
      font-size:13px;
      margin-top:0;
      display:inline-block;
      font-style:normal!important;
      font-weight: bold;
      color: #323232; }
  #header .cart_block img { max-width:50px; }
  #header .cart_block .cart-title {
    line-height:20px;
    font-size:14px;
    font-weight:bold;
    text-align: center;
    padding:0 0 22px;
    margin-bottom: 12px;
    color:#323232;
    border-bottom: 1px solid #e5e5e5;
  }
  #header .cart_block dl {
  margin-bottom:12px; }
  #header .cart_block dt {
      width:100%;
      display:table; }
    #header .cart_block dt.first_item {
      border-top:none;
      background: none; }
  #header .cart_block .product-atributes {
    display: none;
    padding-bottom: 6px;
    font-size: 12px; }
    #header .cart_block .product-atributes a {
        font-style:italic;
        color: #ababab; }
      #header .cart_block .product-atributes a:hover {
        color: #5e5e5e; }
  #header .cart_block .cart-prices {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }

    #header .cart_block .cart-prices .first-line { display: none; }

  #header .cart_block .cart-buttons {
    border:none;}
#header .block_content {
    padding:0;
    border-radius:0;
    border:none;
    margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  color:#333333;
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 90%;
    border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
      line-height:1.2em;
      padding: 12px 2px 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }
    .cart_block table.vouchers tr td.delete i:before {
        content: "\f12a";
        font-size:12px;
        font-weight:bold;
        -webkit-transition: all 120ms linear;
        -moz-transition: all 120ms linear;
        -ms-transition: all 120ms linear;
        -o-transition: all 120ms linear;
        transition: all 120ms linear;
        font-family: "Ionicons"; }
    .cart_block table.vouchers tr td.delete i:hover:before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #e5e5e5;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.8; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em 0 0 -4em;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    opacity: 0;
	background:#323232;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
	z-index:99999;
    -webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; }
	
#layer_cart.sized {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
#layer_cart.done {
	margin-left:-8em; }
#layer_cart .round {
	width:100%;
	height:100%;
    overflow: hidden; }
	
/* icons */
	#layer_cart i {
		color:#999;	}				
	#layer_cart i.cart {
		position:absolute;
		top:2em;
		left:50%;		
		margin-left:-2em;
		width:4em;
		height:4em;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		margin-top:-2.2em;
		display:block;
		-webkit-transition: all 0.6s ease-out;
		transition: all 0.6s ease-out; }	
	#layer_cart i.cart:before {
		content:'\f3f8';
		font-family: "Ionicons";
		display: block;
		font-size: 3.6em; }
	#layer_cart.started i.cart {
		margin-top:0; }
	#layer_cart.started.rolled i.cart {
		opacity:0;
		/*-webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.6s ease-in; 
		transition: transform 0.5s ease-in, opacity 0.6s ease-in; */
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;		
		-ms-transform: rotate(1turn); /* IE 9 */
		-webkit-transform: rotate(1turn); /* Chrome, Safari, Opera */
		transform: rotate(1turn); }
	
	#layer_cart i.arrow {
		position:absolute;
		left:50%;		
		-webkit-transform: translateX(-50%); 
		-moz-transform: translateX(-50%); 
		-o-transform: translateX(-50%); 
		transform: translateX(-50%); 
		margin-top:-4.5em;
		display:inline-block;
		line-height:7.8em;
		-webkit-transition: all 0.4s ease-out 0.4s;
		transition: all 0.4s ease-out 0.4s; }	
	#layer_cart i.arrow:before {
		content:'\f103';
		font-family: "Ionicons";
		display: block;
		font-size: 6em; }	
	#layer_cart.started i.arrow {
		margin-top:-0.4em; }
	#layer_cart.started i.arrow:before {
		font-size: 1.5em; }	
	#layer_cart.started.rolled i.arrow {
		display:none; }
	
	#layer_cart i.done {
		position:absolute;
		top:2em;
		left:50%;		
		width:4em;
		height:4em;
		opacity:0;		
		margin-left:-1.9em;
		margin-top:0.2em;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		display:block;
		-webkit-transition: all 0.6s ease-out;
		transition: all 0.6s ease-out; }	
	#layer_cart i.done:before {
		content:'\f122';
		font-family: "Ionicons";
		display: block;
		font-size: 3.6em; }
	#layer_cart.started.rolled i.done {
		opacity:1;
		/*-webkit-transition: -webkit-transform 0.3s ease-out, margin-left 0.3s ease-out, opacity 0.4s ease-out; 
		transition: transform 0.3s ease-out, margin-left 0.3s ease-out, opacity 0.4s ease-out; 
		-ms-transform: rotate(0deg); 
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg); */
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;		
		-ms-transform: rotate(1turn);
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn); }
	

/* buttons */
    #layer_cart .button-container {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 2em;
		left:9em;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease; }
		#layer_cart .button-container .btn {
			width:100%;
			clear:both; }		
		#layer_cart .button-container .btn.checkout_button {
			margin-top:20px; }		
          #layer_cart .button-container span.exclusive-medium {
            clear:both;
            text-align: center;
            width:100%; }
        #layer_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #777777; }

    #layer_cart.done .button-container {
		opacity: 1;
		visibility: visible;
		left:9em; }

    #layer_cart.done .button-container .add_close { 
      position: absolute;
      top: -2em;
      cursor:pointer;
      right: 0;     
      display: inline-block; }
    #layer_cart.done .button-container .add_close:before {     
      content: "\f2d7";
      font-family: "Ionicons";
      font-size: 26px;
      font-weight: normal;
      display:inline-block;
      color: #555;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear; }
     @media (min-width:480px) {
      #layer_cart.done .button-container .add_close:hover:before {    
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); } } 

@media (max-width:479px) {  
  #layer_cart.done {
    margin-top:-8em;
    margin-left:-4em; }
  #layer_cart .button-container {
    max-width: 6em;
    top: 8em;
    left:1em; }
  #layer_cart.done .button-container {
    top: 9em;
    left:1em; }
  #layer_cart .button-container .btn.checkout_button {
    margin-top: 14px; }
  #layer_cart.done .button-container .add_close { 
    width:3em;
    top: 116%;
    margin-right:-1.5em;
    right: 50%; }
  #layer_cart.done .button-container .add_close:before {     
    font-size: 3em; } }
		
/* crose */		  
  #layer_cart .cross {
    position: absolute;
    right: 4px;
    top: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    color:#323232;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 28px;
      line-height: 28px; }
    #layer_cart .cross:hover {
      color: #000000; }
  #layer_cart .continue {
    cursor: pointer; }	
	
	
	
	
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
	text-align:center;
  border-top: 1px solid #f2f2f2;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
	text-align:center;
	font-size:22px;
    line-height: 26px;
	font-weight:400;
	text-transform:capitalize;
	color: #333;
	margin-top:0;
	margin-bottom: 26px; }	
    @media (max-width: 767px) {
#layer_cart .crossseling h2 {
	font-size:16px;
    line-height: 22px; } }
#layer_cart .crossseling #blockcart_list {
  max-width: 590px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }  
    @media (max-width: 991px) {
	#layer_cart .crossseling #blockcart_list {
		max-width: 384px; } }
    @media (max-width: 640px) {
	#layer_cart .crossseling #blockcart_list {
		max-width: 180px; } }
		
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        text-align: center;
          border:1px solid #e5e5e5;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          color:#333333;
          font-size: 15px;
          line-height: 20px; }
        #layer_cart .crossseling #blockcart_list ul li .price {
          color:#333333; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }

/* Side MOBILE cart block */

  .side-menu .carttop {
    padding:30px; }
  .side-menu .shopping_cart > a:first-child {
    width:100%;
  }
  .side-menu .shopping_cart img {
    max-width:50px;
  }
  body .side-menu .shopping_cart > a:first-child > span.cartname {
    display:inline-block!important;
    text-transform: uppercase!important;
    padding-bottom: 28px;
    width:100%;
    position: relative;
  }
  .side-menu .shopping_cart > a:first-child > span.cartname:before {
        content: ' ';
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 0;
        bottom:0; }
  .side-menu .ajax_cart_total, .side-menu .carticon, .side-menu .cart-title, .side-menu .cart_block .cart-prices .cart-prices-line {
    display: none !important; 
  }

  .side-menu .cart_block .block_content {
    padding:44px 0 0 0!important;
    border:none!important;
    background:none!important;
  }
  .side-menu .cart_block .cart_block_no_products {
    padding:10px 0;
  }
  .side-menu .cart_block .cart-buttons a.button_order_cart {
    padding:18px 20px;
  }
  .side-menu .product-atributes {
    display:none;
  }
  .side-menu .cart_block .cart-info .product-name a {
    font-weight: bold!important; margin-bottom: 4px;
  }
  .side-menu .price {
    font-style:normal!important;
    font-size:14px!important;
    font-weight: bold!important
  }

/* /Side MOBILE cart block */

