<!-- Block user information module NAV  -->
<div class="xprtblockuserinfo header_block header_user_info">
	<h4 class="title">{l s='Account' mod='blockuserinfo'}</h4>
	{* <div>
		<i class="icon-user"></i>
	</div> *}
	<div class="header_block_content">
		<ul>
			<li>
				<a href="{$link->getPageLink('my-account', true)|escape:'html'}" title="{l s='View my customer account' mod='blockuserinfo'}" rel="nofollow">
					<i class="icon-user"></i>
					{l s='My account' mod='blockuserinfo'}
				</a>
			</li>
			<li>
				<a 	href="{$link->getModuleLink('blockwishlist', 'mywishlist', array(), true)|escape:'html':'UTF-8'}" title="{l s='My wishlists' mod='blockwishlist'}">
					<i class="icon-heart"></i>
					{l s='My wishlist' mod='blockuserinfo'}
				</a>
			</li>
			<li>
				<a href="{$link->getPageLink('history', true)|escape:'html':'UTF-8'}" title="{l s='My orders' mod='blockuserinfo'}" rel="nofollow">
					<i class="icon-paper-plane-o"></i>
					{l s='Track orders' mod='blockuserinfo'}
				</a>
			</li>
			{if isset($returnAllowed) && $returnAllowed}
				<li>
					<a href="{$link->getPageLink('order-follow', true)|escape:'html':'UTF-8'}" title="{l s='My merchandise returns' mod='blockuserinfo'}" rel="nofollow">
						<i class="icon-credit-card"></i>
						{l s='My merchandise returns' mod='blockuserinfo'}
					</a>
				</li>
			{/if}
			<li>
				<a href="{$link->getPageLink('order-slip', true)|escape:'html':'UTF-8'}" title="{l s='My credit slips' mod='blockuserinfo'}" rel="nofollow">
					<i class="icon-money"></i>
					{l s='My credit slips' mod='blockuserinfo'}
				</a>
			</li>
			<li>
				<a href="{$link->getPageLink('addresses', true)|escape:'html':'UTF-8'}" title="{l s='My addresses' mod='blockuserinfo'}" rel="nofollow">
					<i class="icon-thumb-tack"></i>
					{l s='My addresses' mod='blockuserinfo'}
				</a>
			</li>
			{if isset($voucherAllowed) && $voucherAllowed}
				<li>
					<a href="{$link->getPageLink('discount', true)|escape:'html':'UTF-8'}" title="{l s='My vouchers' mod='blockuserinfo'}" rel="nofollow">
						<i class="icon-share"></i>
						{l s='My vouchers' mod='blockuserinfo'}
					</a>
				</li>
			{/if}
			{* <li>
				<a href="{$link->getPageLink('identity', true)|escape:'html':'UTF-8'}" title="{l s='Manage my personal information' mod='blockuserinfo'}" rel="nofollow">
					<i class="icon-user-plus"></i>
					{l s='My personal info' mod='blockuserinfo'}
				</a>
			</li> *}
			<li>
				{if isset($is_logged) && $is_logged}
					<a class="logout" href="{$link->getPageLink('index', true, NULL, "mylogout")|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log me out' mod='blockuserinfo'}">
						<i class="icon-lock"></i>
						{l s='Sign out' mod='blockuserinfo'}
					</a>
				{else}
					<a class="login" href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log in to your customer account' mod='blockuserinfo'}">
						<i class="icon-unlock-alt"></i>
						{l s='Sign in' mod='blockuserinfo'}
					</a>
				{/if}
			</li>
		</ul>
	</div>
</div>
