/* prestatill money module CSS stylesheet */
.prestatill_payment_interface[data-module-name="prestatillgiftcard"] {
	margin-left:0;
}

.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-list {
	list-style: none;	
	width: calc( 100% - 20px );
    margin-left: 10px;
}


.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-giftcard-header {
	margin:5px;
	background-color:#DCF4F9;
	color:#1e94ab;
	padding:2px;
	display:flex;	
}


.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-slip {
	margin:5px;
	background-color:#CCC;
	padding:2px;
	display:flex;
	cursor: pointer;
    line-height: 60px;
}

.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-slip.selected {
	background-color:#93B728;
}



.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-id,
.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-amount,
.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-sold {
	flex:1;
}

.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .prestatillgiftcard-date {
	flex:3;
}


/** partie retour **/
.prestatill_return_interface[data-module-name="prestatillgiftcard"] .numeric_keyboard {
	margin-left:60px;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code-header {
	display: table;
    width: 100%;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code-header span {
	display: table-cell;
    border-right: 1px solid #333;
    padding: 7px 10px;
    width: 29%;
    background: #212121;
    vertical-align: middle;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code-header span.prestatillgiftcard-id,
.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code span.prestatillgiftcard-id
{
	width:13%;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code-header span:last-child {
	border-right:none;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code {
	display: table;
    width: 100%;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code span {
	display: table-cell;
    padding: 9px 10px;
    width: 29%;
    background: #5D5D5D;
    border-bottom: 1px solid #333;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code span.prestatillgiftcard-sold {
	background: #93B728;
}

.prestatill_payment_interface .prestatillgiftcard-list .prestatillgiftcard-code span.prestatillgiftcard-date {
	color:#d8d8d8;
}

.prestatillgiftcard-by-barcode.current input {
	width: calc( 100% - 20px);
	box-sizing: border-box;
}

.prestatill_payment_interface[data-module-name="prestatillgiftcard"] .ui-tab-content {
	overflow:auto;
}
.prestatill_payment_interface .prestatillgiftcard-list li.selected span {
	background: #93B728;
}
