.currencies-block-top {
    position: relative;
    margin:0; }
    .nav > .currencies-block-top { float: right; }
    .currencies-block-top span.firstWord {
        display: none; }
    .currencies-block-top div.current {
        padding: 0;
        line-height: 40px;
        font-weight:normal;
        cursor: pointer; }
    .nav > .currencies-block-top div.current { font-size:12px; margin-right:4px; }
	
  .currencies-block-top div.current:hover {
    color: #ffffff; }
    .currencies-block-top div.current strong {
        color: #777777; }
	.nav > .currencies-block-top div.current .cur-label {
        color: #939393;
        margin-right:4px;
        display:none;
    }
	.currencies-block-top div.current .cur-current {
        color: #ffffff;
        font-size:13px;
        font-weight:600;
        text-transform: uppercase;
        display:inline-block;
        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease;
    }
	.nav > .currencies-block-top div.current .cur-current {
        padding:0 4px;
        margin-right:4px;
        opacity:0.7;
    }
    .nav > .currencies-block-top div.current .cur-current:hover {
        opacity:1;
    }	
    .currencies-block-top ul {
        display: none; }
    .nav > .currencies-block-top ul {
        position: absolute;
        background: #323232;
        border-top:1px solid #555555;
        padding:26px 30px;
        right:0;
        z-index: 10997; }
    .currencies-block-top ul li {
        color: #dddddd;
        position: relative;
        line-height: 37px;
        font-size: 13px; }
    .currencies-block-top ul li:last-child {
        padding-bottom: 1px }
    .nav > .currencies-block-top ul li:before {
        content: ' ';
        display: inline-block;
        width: 82%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 9%;
        bottom:0; }
    .nav > .currencies-block-top ul li:last-child:before { display:none; }

        .currencies-block-top ul li a {
            color:#dddddd;
            padding: 0 14px 0 12px;
            display: block;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
            transition: all 0.1s linear; }
        .currencies-block-top ul li img {
            margin-right:4px;
        }
        .currencies-block-top ul li.selected a {
            color:#aaaaaa;
		}
        .currencies-block-top ul li > span {
            color: #aaaaaa;
        }
	  .currencies-block-top ul li:hover a {
          padding: 0 14px 0 15px;
          display: block;
          color: #ffffff; }

/* Responsive */
@media (min-width: 768px) {
    .nav > .currencies-block-top ul {
        top: 39px;
        right: 0;
        width: 200px;}
    #index .nav > .currencies-block-top ul {
        top: 40px; }
}
/* /Responsive */

    .account_top .currencies-block-top div.current { text-align: left; }
    .account_top .currencies-block-top div.current .cur-current { float:right; margin-right:12px }
    .account_top .currencies-block-top div.current .cur-label { padding:0 12px; }
    .account_top .currencies-block-top ul li a { padding:0; }
    .account_top .currencies-block-top ul {
        text-align: left;
        padding:10px 12px 0;
        width:100%;
        position: relative;
        margin-top:6px;
    }
    .account_top .currencies-block-top ul:before {
        content: ' ';
        display: inline-block;
        width: 88%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 6%;
        top: 0;
    }

    .side-menu .currencies-block-top div.current { text-align: left; }
    .side-menu .currencies-block-top div.current .cur-current { float:right; margin-right:12px }
    .side-menu .currencies-block-top div.current .cur-label { padding:0 12px; }
    .side-menu .currencies-block-top ul li a { padding:0; }
    .side-menu .currencies-block-top ul {
        text-align: left;
        padding:10px 12px 0;
        width:100%;
        position: relative;
		margin-top:6px;
    }
    .side-menu .currencies-block-top ul:before {
        content: ' ';
        display: inline-block;
        width: 88%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 6%;
        top: 0;
    }

