{if isset($xprtonsaleproductblock) && !empty($xprtonsaleproductblock)}
	{if isset($xprtonsaleproductblock.device)}
		{assign var=device_data value=$xprtonsaleproductblock.device|json_decode:true}
	{/if}
	<div id="xprtonsaleproductblock_{$xprtonsaleproductblock.id_xprtonsaleproductblock}" class="xprtonsaleproductblock xprt_default_products_block" style="margin:{$xprtonsaleproductblock.section_margin};">
		<div class="page_title_area {$xprt.home_title_style}">
			{if isset($xprtonsaleproductblock.title)}
				<h3 class="page-heading">
					<em>{$xprtonsaleproductblock.title}</em>
					<span class="heading_carousel_arrow"></span>
				</h3>
			{/if}
			{if isset($xprtonsaleproductblock.sub_title)}
				<p class="page_subtitle d_none">{$xprtonsaleproductblock.sub_title}</p>
			{/if}
			<div class="heading-line d_none"><span></span></div>
		</div>
		{if isset($xprtonsaleproductblock) && $xprtonsaleproductblock}
			<div id="xprt_onsaleproductsblock_{$xprtonsaleproductblock.id_xprtonsaleproductblock}" class="xprt_default_products_block_content">
				{include file="$tpl_dir./product-list.tpl" xprtprdcolumnclass=$device_data products=$xprtonsaleproductblock.products id='' class="xprt_onsaleproductsblock {if $xprtonsaleproductblock.enable_carousel == 1}carousel{/if}"}
			</div>
		{else}
			<div class="xprt_default_products_block_content">
				<p class="alert alert-info">{l s='No products at this time.' mod='xprtonsaleproductblock'}</p>
			</div>
		{/if}
	</div>
<script type="text/javascript">
	var xprtonsaleproductblock = $("#xprtonsaleproductblock_{$xprtonsaleproductblock.id_xprtonsaleproductblock}");
	var sliderSelect = xprtonsaleproductblock.find('ul.product_list.carousel'); 
	var arrowSelect = xprtonsaleproductblock.find('.heading_carousel_arrow'); 

	{if isset($xprtonsaleproductblock.nav_arrow_style) && ($xprtonsaleproductblock.nav_arrow_style == 'arrow_top')}
		var appendArrows = arrowSelect;
	{else}
		var appendArrows = sliderSelect;
	{/if}
	if (!!$.prototype.slick)
	sliderSelect.slick( { 
		infinite: {if isset($xprtonsaleproductblock.play_again)}{$xprtonsaleproductblock.play_again|boolval|var_export:true}{else}false{/if},
		autoplay: {if isset($xprtonsaleproductblock.autoplay)}{$xprtonsaleproductblock.autoplay|boolval|var_export:true}{else}false{/if},
		pauseOnHover: {if isset($xprtonsaleproductblock.pause_on_hover)}{$xprtonsaleproductblock.pause_on_hover|boolval|var_export:true}{else}true{/if},
		dots: {if isset($xprtonsaleproductblock.navigation_dots)}{$xprtonsaleproductblock.navigation_dots|boolval|var_export:true}{else}false{/if},
		arrows: {if isset($xprtonsaleproductblock.navigation_arrow)}{$xprtonsaleproductblock.navigation_arrow|boolval|var_export:true}{else}false{/if},
		appendArrows: appendArrows,
		nextArrow : '<i class="slick-next arrow-double-right"></i>',
		prevArrow : '<i class="slick-prev arrow-double-left"></i>',
		rows: {if isset($xprtonsaleproductblock.product_rows)}{$xprtonsaleproductblock.product_rows|intval}{else}1{/if},
		// slidesPerRow: 3,
		slidesToShow : {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
		slidesToScroll : {if isset($xprtonsaleproductblock.product_scroll) && ($xprtonsaleproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
		responsive:[
			 { 
				breakpoint: 1200,
				settings:  { 
					slidesToShow: {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtonsaleproductblock.product_scroll) && ($xprtonsaleproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
					// slidesToShow : prd_per_column,
				 } 
			 } ,
			 { 
				breakpoint: 993,
				settings:  { 
					slidesToShow: {if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtonsaleproductblock.product_scroll) && ($xprtonsaleproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 769,
				settings:  { 
					slidesToShow: {if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if},
					slidesToScroll : {if isset($xprtonsaleproductblock.product_scroll) && ($xprtonsaleproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 641,
				settings:  { 
					slidesToShow: {if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if},
					slidesToScroll : {if isset($xprtonsaleproductblock.product_scroll) && ($xprtonsaleproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 481,
				settings:  { 
					slidesToShow: 1,
					slidesToScroll : 1,
					// slidesToShow : 1,
				 } 
			 } 
		]
	 } );
</script>
{/if}