
    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour {name},</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Commande {order_name} - Votre étiquette de transport</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> <span style="color:#333;"><strong>Félicitations pour cette belle vente sur Ditwee.</strong></span> <br /><br /> Vous trouverez ci-joint l’étiquette à coller sur le colis DITWEE {order_name} à l’attention de {firstname} {lastname} <br /><br /> N’oubliez pas que le packaging reste très important pour communiquer une image rassurante et de qualité à notre client ! <br /><br /> Nous vous souhaitons une belle journée et restons à votre disposition. </span> </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>