#enabled_filters {
  margin: 0 0 10px 0;
  padding: 0; }

#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
    color:#bababa;
  float: right;
  cursor: pointer; }

#layered_block_left .layered_close {
    position: absolute;
    right: 0;
    top: 18px; }

#layered_block_left span.layered_close a {
  display: block;
  position: relative;
  height: 20px;
  text-decoration: none;
  text-indent: -1000px; }

#layered_block_left span.layered_close a:before {
  content: "\f068";
  font-family: "FontAwesome";
  font-size: 14px;
  display: block;
  vertical-align: middle;
  height: 13px;
  color: #ddd;
  line-height: 19px;
  text-indent: 0;
  text-align: center; }

#layered_block_left span.closed a:before {
  content: "\f0c9";
  font-size: 16px;
  line-height: 23px;
}

#layered_block_left .layered_subtitle_heading {
    margin-bottom:10px; }
#layered_block_left .layered_subtitle {
    font-size:1.2em;
    display: inline-block;
    font-weight: 500;
    text-transform:uppercase; }

#layered_block_left ul {
  clear: both;
  padding: 5px 0 11px; }

#layered_block_left ul li {
  padding: 4px 0; }

#layered_block_left ul li label {
    display:inline;
  cursor: pointer; }

#layered_block_left ul {
  margin-bottom:0;
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; }

#layered_block_left div > form > div > div {
    position: relative;
    border-top: 1px solid #eee; }

#layered_block_left div > form > div > div:first-of-type {
  border-top:none;
    padding-top:4px;
    margin-top: 0; }

#layered_block_left div > form > div > div:first-of-type .layered_close { top:3px; }

#layered_block_left #enabled_filters, #layered_url_filter_block {
  margin-bottom: 20px;
  margin-top: 4px; }

#layered_block_left #enabled_filters ul {
  margin: 10px 0;
}

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
    border:1px solid #e5e5e5;
    padding:7px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:3px;
}
#layered_block_left #enabled_filters ul li:last-child {
    margin-bottom:0;
}

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_form div.checker, #layered_form div.radio {
    width:20px;
    height:20px;
	cursor:pointer;
  margin-right:4px;
}
#layered_form div.checker span, #layered_form div.radio span {
    display:inline-block;
    background:#ffffff;
    border:1px solid #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width:22px;
    height:22px;
    position: relative;
	text-align:left;
}
#layered_form div.radio span {
	top:2px;
}
#layered_form div.checker span.checked {
    background:#343a41;
    border-color:#343a41;
}
#layered_form div.radio span.checked {
    background:#fff;
    border-color:#343a41;
	border-width:2px;
}
#layered_form div.checker span.checked:before {
    display:inline-block;
    content:'\f00c';
    font-family: "FontAwesome";
    width:100%;
    height:100%;
    line-height:21px;
    font-size:10px;
    color:#ffffff;
    text-align: center;
    position:absolute;
}
#layered_form div.radio span.checked:before {
    display:inline-block;
    content:' ';
    width:10px;
    height:10px;
    line-height:20px;
    font-size:13px;
    background:#343a41;	
    text-align: center;
    position:absolute;
	   top:3px;
	   left:3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#layered_form div.checker span input, #layered_form div.radio span input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    width:20px;
    height:20px;
}


#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  font-size:13px;
  display: inline; }

#layered_form div.selector {
  width: 100%; }
#layered_form .select {
     }

#layered_form .color-option {
    width: 34px;
    height: 34px;
    padding: 0;
    border-radius: 50%;
    margin:0;
    border: 1px solid #e5e5e5; }
#layered_form .color-option:hover {
  border-color: #000000; }

#layered_form .color-option.on {
    border: 2px solid #ffffff;     
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}

#layered_form .color-option.on:before {
    content: '\f122';
    font-family: "Ionicons";
    position: absolute;
    top: 0;
    line-height: 44px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ffffff;
}
#layered_block_left ul.color-group {
    display:inline-block;
}

#layered_block_left ul.color-group li {
    display:inline-block;
    float:left;
    position:relative;
    width:34px;
    height:34px;
    padding:0;
    margin:0 8px 8px 0;
    border-radius: 50%;
}
#layered_block_left ul.color-group li.on_check:before {
    display: inline-block;
    position: absolute;
    content: '\f122';
    font-family: "Ionicons";
    top: 0;
    line-height: 35px;
    left: 52%;
    transform: translate(-50%, 0);
    color: #ffffff;
    font-size: 12px;
}

#layered_block_left ul li label.layered_color {
    white-space: nowrap;
    position:absolute;
    display:inline-block;
    z-index:2;
    bottom:-134%;
    left:-34%;
    padding:14px 20px;
    background:#343a41;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.3);
    visibility:hidden;
	opacity:0;
    -webkit-transition: all 120ms linear;
    -moz-transition: all 120ms linear;
    -o-transition: all 120ms linear;
    transition: all 120ms linear;
}
#layered_block_left ul li:hover label.layered_color {
    bottom:-130%;
	opacity:1;
    visibility:visible;
}
#layered_block_left ul li label.layered_color:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-bottom: 7px solid #343a41;
    border-right: 6px solid transparent;
    position: absolute;
    top: -5px;
    left: 9px;
}
#layered_block_left ul li label.layered_color a {
	color:#ffffff;
}
#layered_block_left ul li label.layered_color span{
    display:none;
}


#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 9px 0 6px 4px;
  width: 99%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  /*max-height: 200px;*/
  /*overflow-x: auto; */
}

.layered_price {
  padding: 20px 10px 10px 4px; }

.layered_filter {
  padding:20px 4px 9px 4px;
  border-top: 1px solid #eee; }
  .layered_filter label {
    font-weight: normal;}
  .layered_filter .layered_subtitle {
    font-size: 1.2em; }

#layered_block_left .ui-slider .ui-slider-handle {
	width:24px;
	height:24px;
	top:-11px;
	display:inline-block;
	margin-left:-10px;
	cursor:pointer;
	border:3px solid #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
	background:#343a41;    
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15), 0px 6px 6px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15), 0px 6px 6px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15), 0px 6px 6px 0px rgba(0,0,0,0.11); }

  @media (min-width: 992px) and (max-width: 1199px) {
  #layered_block_left .ui-slider .ui-slider-handle {
    top:-6px;
    margin-left:-10px;
    width:17px;
    height:17px; } }
    
.ui-slider-horizontal, .ui-slider-horizontal .ui-widget-content {
  background:#e5e5e5;
  height:3px;
  border:none; }

.ui-slider-horizontal .ui-widget-header {
    background: #efefef;
    border-top: 2px solid #ddd!important;
    margin-top: -2px;
    height: 7px!important;
    border-bottom: 2px solid #ddd!important; }

#layered_block_left .layered_price label {
  color:#888888;
    font-size:14px;
  font-weight:normal;
  margin-bottom:9px; }

#layered_block_left .layered_price span#layered_price_range {
width:100%;
display:inline-block;
text-align:center;
margin-bottom:10px;
    font-size:16px;
  color:#656565;
  font-weight:normal; }

/*  Added for Prestashop 1.6.0.11+  */ 
  
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
}

