/* prestatill money module CSS stylesheet */

.prestatill_payment_interface[data-module-name="prestatillreceipt"] .numeric_keyboard {
	margin-left:60px;
}

.prestatillreceipt_area {
	border:solid 5px red;
	width:400px;
	height:400px;
	background-color:#FFF;
}