{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillamx','payment')|escape:'html'}" class="prestatillamex">
				{l s='Pay with module prestatill american express' mod='prestatillamex'}
			</a>
		</p>
	</div>
</div>*}