<div id="paymentModePrestatillAmex" class="button prestatill_payment_button" data-module-name="prestatillamex">
	    <i class="fa fa-cc-amex"></i>
	    <div class="label">American Express</div>
</div>