
                                                                                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bravo !</span> </span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> Une nouvelle commande a été passée sur votre boutique {shop_name} par ce client : {firstname} {lastname} ({email}) </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;" colspan="3">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Détails de la commande</p>
<span style="color:#777;"> <span style="color:#333;"><strong>Commande :</strong></span> {order_name} passée le {date}<br /><br /><span style="color:#333;"><strong>Paiement :</strong></span> {payment} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td style="padding:7px 0;">
<table class="table table-recap" style="width:100%;border-collapse:collapse;" bgcolor="#ffffff"><!-- Title --><thead><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Référence</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Produit</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Prix unitaire</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Quantité</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Prix total</th></tr></thead><tbody><tr><td style="border:1px solid #D6D4D4;color:#777;padding:7px 0;" colspan="5">  {items}</td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Produits</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" align="right" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_products} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Réductions</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_discounts} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Paquet cadeau</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_wrapping} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Livraison</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_shipping} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>TVA totale</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_tax_paid} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td style="color:#333;padding:0;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Total payé</strong> </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" colspan="4" bgcolor="#f8f8f8">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td style="color:#333;padding:0;" width="10"> </td>
<td class="total_amount" style="color:#333;padding:0;font-size:21px;font-weight:500;font-family:'Open-sans', sans-serif;" align="right"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:large;"> {total_paid} </span></td>
<td style="color:#333;padding:0;" width="10"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;" colspan="3">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Transporteur :</p>
<span style="color:#777;"> {carrier} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td class="box address" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;" width="310">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Adresse de livraison</p>
<span style="color:#777;"> {delivery_block_html} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
<td class="space_address" style="padding:7px 0;" width="20"> </td>
<td class="box address" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;" width="310">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Adresse de facturation</p>
<span style="color:#777;"> {invoice_block_html} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;" colspan="3">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Message du client :</p>
<span style="color:#777;"> {message} </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>