
                                                                            <table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
    <td align="center" style="padding:7px 0;">
      <table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
            <a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
              <img src="{shop_logo}" alt="{shop_name}" /></a>
          </td>
        </tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
            <font size="2" face="Open-sans, sans-serif" color="#555454">
              <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour {firstname} {lastname},</span>
            </font>
          </td>
        </tr><tr><td class="space_footer" style="padding:0;"> </td>
        </tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
            <table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
                <td style="padding:7px 0;">
                  <font size="2" face="Open-sans, sans-serif" color="#555454">
                    </font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
                      Commande {order_name} - Traitement de l'expédition en cours						</p>
						<span style="color:#777;">
							La préparation de l'envoi de votre commande ayant pour référence <span style="color:#333;"><strong>{order_name}</strong></span> est en cours. <br /><br />
							Vous pourrez suivre prochainement la progression de votre livraison à l'adresse suivante : <a href="{followup}" style="color:#337ff1;">{followup}</a>
						</span>
                  
                </td>
                <td width="10" style="padding:7px 0;"> </td>
              </tr></table></td>
        </tr><tr><td class="space_footer" style="padding:0;"> </td>
        </tr><tr><td class="linkbelow" style="padding:7px 0;">
            <font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a href="{history_url}" style="color:#337ff1;">"Historique des commandes"</a> de la rubrique <a href="{my_account_url}" style="color:#337ff1;">"Mon compte"</a> sur notre site.			</span>
            </font>
          </td>
        </tr><tr><td class="linkbelow" style="padding:7px 0;">
            <font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Si vous avez un compte invité, vous pouvez suivre votre commande dans la section <a href="{guest_tracking_url}?id_order={order_name}" style="color:#337ff1;">"Suivi invité"</a> de notre site.			</span>
            </font>
          </td>
        </tr><tr><td class="space_footer" style="padding:0;"> </td>
        </tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
            <span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> réalisé avec amour</span>
          </td>
        </tr></table></td>
    <td class="space" style="width:20px;padding:7px 0;"> </td>
  </tr></table>