{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillcb','payment')|escape:'html'}" class="prestatillcb">
				{l s='Pay with module prestatillcb' mod='prestatillcb'}
			</a>
		</p>
	</div>
</div>*}