{if isset($xprtrelatedproductblock) && !empty($xprtrelatedproductblock)}
		<li><a data-toggle="tab" href="#xprt_relatedproductsblock_tab_{if isset($xprtrelatedproductblock.id_xprtrelatedproductblock)}{$xprtrelatedproductblock.id_xprtrelatedproductblock}{/if}" class="xprt_relatedproductsblock">{$xprtrelatedproductblock.title}</a></li>
{/if}