{if isset($xprtbestratedproductblock) && !empty($xprtbestratedproductblock)}
	{if isset($xprtbestratedproductblock.device)}
		{assign var=device_data value=$xprtbestratedproductblock.device|json_decode:true}
	{/if}
	<div id="xprtbestratedproductblock_{$xprtbestratedproductblock.id_xprtbestratedproductblock}" class="xprtbestratedproductblock xprt_default_products_block" style="margin:{$xprtbestratedproductblock.section_margin};">
		<div class="page_title_area {$xprt.home_title_style}">
			{if isset($xprtbestratedproductblock.title)}
				<h3 class="page-heading">
					<em>{$xprtbestratedproductblock.title}</em>
					<span class="heading_carousel_arrow"></span>
				</h3>
			{/if}
			{if isset($xprtbestratedproductblock.sub_title)}
				<p class="page_subtitle d_none">{$xprtbestratedproductblock.sub_title}</p>
			{/if}
			<div class="heading-line d_none"><span></span></div>
		</div>
		{if isset($xprtbestratedproductblock) && $xprtbestratedproductblock}
			<div id="xprt_bestratedproductsblock" class="xprt_default_products_block_content">
				{include file="$tpl_dir./product-list.tpl" xprtprdcolumnclass=$device_data products=$xprtbestratedproductblock.products id='' class="xprt_bestratedproductsblock {if $xprtbestratedproductblock.enable_carousel == 1}carousel{/if}"}
			</div>
		{else}
			<div class="xprt_default_products_block_content">
				<p class="alert alert-info">{l s='No special products at this time.' mod='xprtbestratedproductblock'}</p>
			</div>
		{/if}
	</div>
<script type="text/javascript">
	var xprtbestratedproductblock = $("#xprtbestratedproductblock_{$xprtbestratedproductblock.id_xprtbestratedproductblock}");
	var sliderSelect = xprtbestratedproductblock.find('ul.product_list.carousel'); 
	var arrowSelect = xprtbestratedproductblock.find('.heading_carousel_arrow'); 

	{if isset($xprtbestratedproductblock.nav_arrow_style) && ($xprtbestratedproductblock.nav_arrow_style == 'arrow_top')}
		var appendArrows = arrowSelect;
	{else}
		var appendArrows = sliderSelect;
	{/if}
	
	if (!!$.prototype.slick)
	sliderSelect.slick( { 
		infinite: {if isset($xprtbestratedproductblock.play_again)}{$xprtbestratedproductblock.play_again|boolval|var_export:true}{else}false{/if},
		autoplay: {if isset($xprtbestratedproductblock.autoplay)}{$xprtbestratedproductblock.autoplay|boolval|var_export:true}{else}false{/if},
		pauseOnHover: {if isset($xprtbestratedproductblock.pause_on_hover)}{$xprtbestratedproductblock.pause_on_hover|boolval|var_export:true}{else}true{/if},
		dots: {if isset($xprtbestratedproductblock.navigation_dots)}{$xprtbestratedproductblock.navigation_dots|boolval|var_export:true}{else}false{/if},
		arrows: {if isset($xprtbestratedproductblock.navigation_arrow)}{$xprtbestratedproductblock.navigation_arrow|boolval|var_export:true}{else}false{/if},
		appendArrows: appendArrows,
		nextArrow : '<i class="slick-next arrow-double-right"></i>',
		prevArrow : '<i class="slick-prev arrow-double-left"></i>',
		rows: {if isset($xprtbestratedproductblock.product_rows)}{$xprtbestratedproductblock.product_rows|intval}{else}1{/if},
		// slidesPerRow: 3,
		slidesToShow : {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
		slidesToScroll : {if isset($xprtbestratedproductblock.product_scroll) && ($xprtbestratedproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
		responsive:[
			 { 
				breakpoint: 1200,
				settings:  { 
					slidesToShow: {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtbestratedproductblock.product_scroll) && ($xprtbestratedproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
					// slidesToShow : prd_per_column,
				 } 
			 } ,
			 { 
				breakpoint: 993,
				settings:  { 
					slidesToShow: {if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtbestratedproductblock.product_scroll) && ($xprtbestratedproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 769,
				settings:  { 
					slidesToShow: {if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if},
					slidesToScroll : {if isset($xprtbestratedproductblock.product_scroll) && ($xprtbestratedproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 641,
				settings:  { 
					slidesToShow: {if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if},
					slidesToScroll : {if isset($xprtbestratedproductblock.product_scroll) && ($xprtbestratedproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 481,
				settings:  { 
					slidesToShow: 1,
					slidesToScroll : 1,
					// slidesToShow : 1,
				 } 
			 } 
		]
	 } );
</script>
{/if}