{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillespece','payment')|escape:'html'}" class="prestatillespece">
				{l s='Pay with module prestatillespece' mod='prestatillespece'}
			</a>
		</p>
	</div>
</div>*}