{if isset($xprtonsaleproductblock) && !empty($xprtonsaleproductblock)}
		<li><a data-toggle="tab" href="#xprt_onsaleproductsblock_tab_{if isset($xprtonsaleproductblock.id_xprtonsaleproductblock)}{$xprtonsaleproductblock.id_xprtonsaleproductblock}{/if}" class="xprt_onsaleproductsblock">{$xprtonsaleproductblock.title}</a></li>
{/if}