﻿.notexist { }
.countcontainer {
    position:absolute;
    display:inline-block;
    width:100%;
    bottom:0;
    left:0;
	padding: 12px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	z-index: 2;
}
.county {
    width:100%!important;
    position:relative;
    height:54px;    
    padding:5px 8px 0;    
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
}
#product .county {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.roycountdown:before, .roycountoff:before {
    position:absolute;
    left:0;
    top:0;
    content:' ';
    width: 100%;
    height: 100%;
    z-index:0;
    opacity:1;
    background: #fafafa;
    border-radius: 2px;
}
.product_count_block .countcontainer .roycountoff:before {
    display:none;
}
.roycountoff
{
    height:54px;
    width:100%;
    text-align: center;
    line-height: 54px;
    color:#888;
    position:relative;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.07);
}
.roycountoff > span
{
    position:relative;
}

.county > span
{
    display: inline-block;
    position: relative;
    padding: 0;
    width:25%!important;
}

.county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
{
    position: relative !important;
    display: inline-block !important;
}
.county > span > span
{
    display: block;
    text-align: center;
    overflow: hidden;
	width: 100%!important;
}
.county-label-days, .county-label-hours, .county-label-minutes, .county-label-seconds
{
    font-size: 11px !important;
    line-height: 16px !important;
    text-align: center !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: transparent !important;
    display: inline-block !important;
    width:25%!important;
    color:#888;
}

.county .titles
{
    margin:0;
    padding:0 8px;
    display:inline-block;
    width:100%;
    position: absolute;
    bottom: 7px;
    left: 0;
}
.county .county-days-wrapper, .county .county-hours-wrapper, .county .county-minutes-wrapper, .county .county-seconds-wrapper
{
    color: #888;
    height: 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    padding:0;
    position: relative;
}

/* product page count */
.product_count_block {
    display:inline-block;
    width:100%;
    height:auto;
    overflow: visible;
    position: relative;
	margin-top:20px;
}
.product_count_block .countcontainer {
    position: relative;
	padding:0;
	border:none;	
}

.product_count_block .countcontainer .roycounttitle,
.product_count_block .countcontainer .roycountoff {
    position: relative;
    width:100%;
    background:#323232;
    color:#ffffff;
    text-align: center;
    font-size:14px;
    line-height: 32px;
    height:auto;
    padding:12px;
    text-transform: uppercase;
}
.product_count_block .countcontainer .county {
	border:2px solid #e5e5e5;
    border-top:none;
	height:58px;
	padding-top:5px;
}
.product_count_block .countcontainer .county .titles {
	bottom:8px;
}

.county-reflection
{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
}
@media (min-width:1200px) {
    ul.product_list.grid > li:hover .product-container .product-image-container .countcontainer,
    #index .rv_carousel_container div.owl-item > li:hover .product-container .product-image-container .countcontainer {
        opacity:0;
    } }

@media (max-width: 479px) {
    ul.product_list:not(.carousel-home) .roycountdown > div, ul.product_list:not(.carousel-home) .roycountdown > span, ul.product_list:not(.carousel-home) .roycountoff > span { display: none!important; }
    ul.product_list:not(.carousel-home) .roycountdown, ul.product_list:not(.carousel-home) .roycountoff { width: 54px!important; float:right; text-align: center; }
    ul.product_list:not(.carousel-home) .roycountdown:after, ul.product_list:not(.carousel-home) .roycountoff:after {         
            display: block;
            content: "\f3b3";
            font-family: "IonIcons";
            font-size: 26px;
            line-height: 54px;
            cursor: pointer;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 50%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    }
}

/* /product page count */
