{foreach from=$back_css item=vpb_css}
	<link href="{$vpb_css}" rel="stylesheet" type="text/css"/>
{/foreach}
{foreach from=$back_js item=vpb_js}
	<script type="text/javascript" src="{$vpb_js}"></script>
{/foreach}