<div class="xprtblocklogo header_logo">
	<a href="{$base_dir}" title="{if isset($shop_name)}{$shop_name}{/if}">
	{if isset($xprtlogo_img)}
		<img class="img-responsive" src="{$xprtlogo_img|escape:'htmlall':'UTF-8'}" alt="{if isset($shop_name)}{$shop_name}{/if}" title="{if isset($shop_name)}{$shop_name}{/if}"/>
	{/if}
	</a>
</div>