<div class="header_logo col-sm-12">
	<a href="{$base_dir}" title="{if isset($xprtlogo_desc)}{$xprtlogo_desc|escape:'htmlall':'UTF-8'}{/if}">
	{if isset($xprtlogo_img)}
		<img class="img-responsive" src="{$xprtlogo_img|escape:'htmlall':'UTF-8'}" alt="{if isset($xprtlogo_desc)}{$xprtlogo_desc|escape:'htmlall':'UTF-8'}{/if}" title="{if isset($xprtlogo_desc)}{$xprtlogo_desc|escape:'htmlall':'UTF-8'}{/if}"/>
	{/if}
	</a>
</div>