
                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour {firstname} {lastname},</span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Programme de parrainage</p>
<span style="color:#777;"> Nous vous informons de la génération d'un bon de réduction à votre nom relatif à votre parrainage.<br /> Voici le numéro de votre bon de réduction : <span style="color:#333;"><strong>{voucher_num}</strong></span>, d'un montant total de <span style="color:#333;"><strong>{voucher_amount}</strong></span>.<br /><br /> Copiez-collez ce numéro dans le panier de votre prochain achat avant de régler la commande. </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>