
{if isset($roythemes.g_position_test[0])}
  {include file="./row_"|cat:$roythemes.g_position_test[0]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[1])}
  {include file="./row_"|cat:$roythemes.g_position_test[1]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[2])}
  {include file="./row_"|cat:$roythemes.g_position_test[2]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[3])}
  {include file="./row_"|cat:$roythemes.g_position_test[3]|cat:".tpl"}
{/if}

	    </div>	
  </div>
  {if $page_name = 'index'}
    </div><!-- .container -->
  {/if}
  </div>

</div>

<div class="columns-container-bottom hidden">
		<div id="bottomcolumns">
			<div class="row">
				<div id="bottom_center_column" class="center_column col-xs-12 col-sm-12">

{if isset($roythemes.g_position_test[4])}
  {include file="./row_"|cat:$roythemes.g_position_test[4]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[5])}
  {include file="./row_"|cat:$roythemes.g_position_test[5]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[6])}
  {include file="./row_"|cat:$roythemes.g_position_test[6]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[7])}
  {include file="./row_"|cat:$roythemes.g_position_test[7]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[8])}
  {include file="./row_"|cat:$roythemes.g_position_test[8]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[9])}
  {include file="./row_"|cat:$roythemes.g_position_test[9]|cat:".tpl"}
{/if}

{if isset($roythemes.g_position_test[10])}
  {include file="./row_"|cat:$roythemes.g_position_test[10]|cat:".tpl"}
{/if}

