            <div id="row-info">
                <div class="container" data-class="li_i">
                    <div class="row">
                        {hook h='displayInfo'}
                    </div>
                </div>
            </div>