{if isset($xprtsupplierwiseproductblock) && !empty($xprtsupplierwiseproductblock)}
	<li><a data-toggle="tab" href="#xprt_specialproductsblock_tab_{if isset($xprtsupplierwiseproductblock.id_xprtsupplierwiseproductblock)}{$xprtsupplierwiseproductblock.id_xprtsupplierwiseproductblock}{/if}" class="xprt_specialproductsblock">{$xprtsupplierwiseproductblock.title}</a></li>
{/if}