.main_table, .main_table table, .main_table th, .main_table td {
   text-align: center;
   vertical-align: top;
   border-collapse: collapse;
}
.main_table{
	border-spacing: 15px;
	padding: 15px;
}
.main_table > tbody > tr > td{
	/*border-right: 1px solid #ccc;*/
}
.main_table > tbody > tr > td:first-child{
	/*border-left: 1px solid #ccc;*/
}
.main_table table tr:first-child td:first-child{
	/*border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	/*padding: 10px 15px;*/
}
.main_table table tr td{
	/*border-bottom: 1px solid #ccc;*/
	border: 1px solid #ccc;
	padding: 10px 15px;
}
.main_table table tr td + td{
	/*border-left: 1px solid #ccc;*/
}
.main_table table tr.table_elements td {
    padding: 3px 0px;
}