{if isset($xprtfeaturedproductblock) && !empty($xprtfeaturedproductblock)}
	{* {foreach from=$xprtfeaturedproductblock item=xprt_products} *}
		<li><a data-toggle="tab" href="#xprt_featuredproductsblock_tab_{if isset($xprtfeaturedproductblock.id_xprtfeaturedproductblock)}{$xprtfeaturedproductblock.id_xprtfeaturedproductblock}{/if}" class="xprt_newproductsblock">{$xprtfeaturedproductblock.title}</a></li>
	{* {/foreach} *}
{/if}