<a disabled style="opacity:0.5;" title="Gestions de permissions (bientôt disponible)" alt="Gestions de permissions (bientôt disponible)" href="{$href_right}"><img src="{$action_icon}" title="{$action_right}" /></a>