<style>
todo {
  font-family:FontB21, "Open Sans", "sans-serif" !important;
}
</style>
<table>
	<tbody>
		<tr>
			<td style="text-align: left;float:left;"><img src="../modules/acaisse/uploads/ticket_logo/{$address->common_picture_path}" width="150" height="auto"></td>
			<td style="text-align:right;float: right;">
				{$customer->firstname} {$customer->lastname}
				<br>{$customer_address->address1} {if $customer_address->address2}- {$customer_address->address2}{/if}
				<br>{$customer_address->postcode} {$customer_address->city}
				<br>{$customer_address->country}
				<br>{$customer_address->phone} {if $customer_address->phone_mobile}- {$customer_address->phone_mobile}{/if}
			</td>
		</tr>
	</tbody>
</table>
<div >
	
</div>
<div>
	
</div>

