<style>
br {
	display: inline;height:5px;
    padding-left: 10px!important;
}
</style>
<table style="margin-bottom: 200px;">
	<tbody>
		<tr style="min-height: 500px;">
			<td style="text-align: center;">{$footer}</td>
		</tr>
	</tbody>
</table>

