<div id="container" class="usbscr">
{*
	<div id="PLV">
		<!-- hml pour les particules -->
		<div class="particules" id="grosses_particules"></div>
		<div class="particules" id="petites_particules"></div>	
		<div class="container">			
			<div class="A1">
				<div class="B1">A1</div>
			</div>
			
			<div class="A2">
				<div class="B2">A2</div>
			</div>
			
			<div class="A3">
				<div class="B3">A3</div>
			</div>
			
			<div class="A4">
				<div class="B4">A4</div>
			</div>
		</div>
	</div>
*}

	
	<div id="topBar">
		<h1>{* Bienvenue à *}{$shop_name}</h1>
		<div id="__descript"></div>
	</div>
	<div id="pubBox"><div>{if isset($logo_img_src)}<img src="{$logo_img_src}" />{/if}</div></div>
	<div id="contentUsb">
		<ul>

		</ul>
	</div>
	<div class="clearfix"></div>
	<div id="total_usb_screen"><div>Total {* (hors réductions) *}<span>0.00€ TTC</span></div></div>
</div>