{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillcheque','payment')|escape:'html'}" class="prestatillcheque">
				{l s='Pay with module prestatillcheque' mod='prestatillcheque'}
			</a>
		</p>
	</div>
</div>*}