
                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bonjour,</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="border:none;padding:7px 0;">Vous avez reçu une nouvelle demande de retour pour {shop_name}.</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;" colspan="3">
<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Détails du retour</p>
<span style="color:#777;"> <span style="color:#333;"><strong>Commande :</strong></span> {order_name} passée le {date}<br /><span style="color:#333;"><strong>Client :</strong></span> {firstname} {lastname}, ({email}) </span></td>
</tr><tr><td style="border:none;padding:7px 0;">
<table class="table table-recap" style="width:100%;background-color:#fff;border-collapse:collapse;" bgcolor="#ffffff"><!-- Title --><thead><tr><th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Référence</th><th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Produit</th><th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Quantité</th></tr></thead><tbody><tr><td style="color:#777;padding:7px 0;border:1px solid #DDD;" colspan="5">{items}</td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td style="border:none;padding:7px 0;">
<table class="table" style="width:100%;background-color:#fff;"><tbody><tr><td class="box address" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;" width="310">
<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Adresse de livraison</p>
<span style="color:#777;"> {delivery_block_html} </span></td>
<td class="space_address" style="border:none;padding:7px 0;" width="20"> </td>
<td class="box address" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;" width="310">
<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Adresse de facturation</p>
<span style="color:#777;"> {invoice_block_html} </span></td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="box" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;" colspan="3">
<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Message du client :</p>
<span style="color:#777;"> {message} </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>