
                                                                                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a style="color:#337ff1;" title="{shop_name}" href="{shop_url}"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Bravo !</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span style="color:#777;"> Votre filleul(e) <span style="color:#333;"><strong>{sponsored_firstname} {sponsored_lastname}</strong></span> a effectué son premier achat sur <a style="color:#337ff1;" href="{shop_url}">{shop_name}</a>!<br /><br /> Nous avons le plaisir de vous offrir un bon d'achat de <span style="color:#333;"><strong>{discount_display} (bon de réduction # {discount_name})</strong></span>, que vous pourrez utiliser à l'occasion de votre prochaine commande. </span> </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> Bien cordialement, </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>