
    <div class="mj-container">
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:250px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{shop_logo}" alt="{shop_name}" width="250" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">Est-ce que {product_1_name} a répondu à vos attentes?</div>
</td>
</tr><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<p>Bonjour {prénom},</p>
<p>Merci pour votre achat récent de {shop_name}. Nous espérons que vous partagerez votre<br />expérience avec d'autres clients en laissant un avis.</p>
<p>Pour créer un avis, veuillez visiter cette URL {product_1_rate5}</p>
<p>Have a nice shop ;) </p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
</div>
