
            <div class="mj-container">
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:250px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{shop_logo}" alt="{shop_name}" width="250" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">{shop_name} - a répondu à votre avis</div>
</td>
</tr><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<p>Salut!</p>
<p>Merci beaucoup pour votre avis!</p>
<p>Nous venons de répondre à ce qui suit:</p>
<p style="width:100%;padding:20px;background-color:#ebf3f8;margin-top:10px;">{reply}</p>
<p>Nous sommes extrêmement reconnaissants que vous ayez pris le temps de noter notre produit.</p>
<p>N'hésitez pas à noter d'autres produits,</p>
<p>Have a nice shop ;)</p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;"> </div>
</div>


