
                <div class="mj-container">
<blockquote>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:250px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{shop_logo}" alt="{shop_name}" width="250" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
</blockquote>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">{shop_name} - Votre avis a été rejeté </div>
</td>
</tr><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<p>Bonjour ! </p>
<p>Merci d'avoir pris le temps de soumettre votre avis. Cependant, nous pensons que celui-ci n'est pas approprié il n'a donc pas été approuvé.</p>
<p>Pour rappel, ceci était votre avis:</p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-25 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:100px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{product_image}" alt="" width="100" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
<div class="mj-column-per-75 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<h3 style="font-weight:bold;margin-top:0;margin-bottom:0;">{title}</h3>
<p style="margin:0;">by <strong>{display_name}</strong></p>
<p style="margin:0;">ratings: <strong>{ratings} / 5</strong></p>
<p style="font-size:14px;">{content}</p>
<p>N'hésitez pas à nous écrire si vous pensez que ceci était une erreur.</p>
<p>A Bientôt sur Ditwee.fr</p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;"> </div>
</div>



