
                                        <div class="mj-container">
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:250px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{shop_logo}" alt="{shop_name}" width="250" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
<div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">{shop_name} - Review has been modified</div>
</td>
</tr><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<p>Customer <strong>{author_name}</strong> has updated review for <a style="font-weight:bold;color:#616161;text-decoration:none;" href="{product_url}">{product_name}</a></p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-25 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:100px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{product_image}" alt="" width="100" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
<div class="mj-column-per-75 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<h3 style="font-weight:bold;margin-top:0;margin-bottom:0;">{title}</h3>
<p style="margin:0;">by <strong>{display_name}</strong></p>
<p style="margin:0;">ratings: <strong>{ratings} / 5</strong></p>
<p style="font-size:14px;">{content}</p>
</div>
</td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;"> </td>
</tr></tbody></table></div>
</td>
</tr></tbody></table></div>
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:0;line-height:0;text-align:left;width:100%;">
<div class="mj-column-per-80 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:80%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">Revws - your <a style="font-weight:bold;color:#616161;text-decoration:none;" href="https://www.getdatakick.com/?utm_campaign=revws&amp;utm_medium=email">datakick</a> review module</div>
</td>
</tr></tbody></table></div>
<div class="mj-column-per-20 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:20%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<table style="color:#000;font-family:Roboto, Helvetica, sans-serif;font-size:13px;line-height:22px;table-layout:auto;" border="0" width="50" cellspacing="0" cellpadding="0"><tbody><tr style="list-style:none;line-height:1;"><td><a href="https://twitter.com/datakick"><img src="https://cdn.recast.ai/newsletter/twitter.png" alt="twitter.png" width="25" /></a></td>
<td><a href="https://www.facebook.com/datakick"><img src="https://cdn.recast.ai/newsletter/facebook.png" alt="facebook.png" width="25" /></a></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
</div>
</td>
</tr></tbody></table></div>
</div>









