
                    <div class="mj-container"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:300px;">
      <![endif]-->
<blockquote>
<div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:250px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{shop_logo}" alt="{shop_name}" width="250" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></blockquote>
</td>
</tr></tbody></table></div>
<blockquote><!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:390px;">
      <![endif]-->
<div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">{shop_name} - Votre avis a été approuvé</div>
</td>
</tr><tr><td style="font-size:0;padding:10px 25px;">
<p style="font-size:1px;margin:0 auto;border-top:2px solid #616161;width:100%;"> </p>
<!-- [if mso | IE]><table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" style="font-size:1px;margin:0px auto;border-top:2px solid #616161;width:100%;" width="390"><tr><td style="height:0;line-height:0;"> </td></tr></table><![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></td>
</tr></tbody></table></div>
</blockquote>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:600px;">
      <![endif]-->
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<p>Votre avis a été approuvé.</p>
<p>Merci encore d'avoir pris le temps laisser un avis à propos de notre produit.</p>
<p>Pour rappel, ceci était votre avis:</p>
</div>
</td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:600px;">
      <![endif]-->
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;">
<p style="font-size:1px;margin:0 auto;border-top:1px solid #e0e0e0;width:100%;"> </p>
<!-- [if mso | IE]><table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" style="font-size:1px;margin:0px auto;border-top:1px solid #E0E0E0;width:100%;" width="600"><tr><td style="height:0;line-height:0;"> </td></tr></table><![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:150px;">
      <![endif]-->
<div class="mj-column-per-25 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
<table style="border-collapse:collapse;border-spacing:0;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="width:100px;"><img style="border:none;font-size:13px;text-decoration:none;height:auto;" src="{product_image}" alt="" width="100" /></td>
</tr></tbody></table></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td><td style="vertical-align:top;width:450px;">
      <![endif]-->
<div class="mj-column-per-75 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
<div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
<h3 style="font-weight:bold;margin-top:0;margin-bottom:0;">{title}</h3>
<p style="margin:0;">by <strong>{display_name}</strong></p>
<p style="margin:0;">ratings: <strong>{ratings} / 5</strong></p>
<p style="font-size:14px;">{content}</p>
<p>N'hésitez pas à nous laisser d'autres avis sur des produits que vous avez appréciés !</p>
<p>Have a nice shop ;)</p>
</div>
</td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;">
<table style="font-size:0;width:100%;" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;"><!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="vertical-align:top;width:600px;">
      <![endif]-->
<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
<table border="0" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td style="font-size:0;padding:10px 25px;">
<p style="font-size:1px;margin:0 auto;border-top:1px solid #e0e0e0;width:100%;"> </p>
<!-- [if mso | IE]><table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" style="font-size:1px;margin:0px auto;border-top:1px solid #E0E0E0;width:100%;" width="600"><tr><td style="height:0;line-height:0;"> </td></tr></table><![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></td>
</tr></tbody></table></div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--> <!-- [if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="margin:0 auto;"> </div>
<!-- [if mso | IE]>
      </td></tr></table>
      <![endif]--></div>




