
                                                              <div class="mj-container">
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
              
              <div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;" align="center" border="0"><tbody><tr><td style="width:250px;"><img alt="{shop_name}" src="{shop_logo}" style="border:none;font-size:13px;text-decoration:none;height:auto;" width="250" /></td>
                            </tr></tbody></table></td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;padding-top:30px;">
              
              <div class="mj-column-per-65 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:0;" align="center">
                        <div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;">{shop_name} - New Review</div>
                      </td>
                    </tr><tr><td style="font-size:0;padding:10px 25px;">
                        <p style="font-size:1px;margin:0 auto;border-top:2px solid #616161;width:100%;"></p>
                        
                      </td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
              
              <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
                        <div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
                          <p>You got a new review for <a style="font-weight:700;color:#616161;text-decoration:none;" href="{product_url}">{product_name}</a> from <strong>{author_name}</strong></p>
                        </div>
                      </td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
              
              <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;">
                        <p style="font-size:1px;margin:0 auto;border-top:1px solid #e0e0e0;width:100%;"></p>
                        
                      </td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
              
              <div class="mj-column-per-25 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="center">
                        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;" align="center" border="0"><tbody><tr><td style="width:100px;"><img alt="" src="{product_image}" style="border:none;font-size:13px;text-decoration:none;height:auto;" width="100" /></td>
                            </tr></tbody></table></td>
                    </tr></tbody></table></div>
              
              <div class="mj-column-per-75 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
                        <div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">
                          <h3 style="font-weight:700;margin-top:0;margin-bottom:0;">{title}</h3>
                          <p style="margin:0;">by <strong>{display_name}</strong></p>
                          <p style="margin:0;">ratings: <strong>{ratings} / 5</strong></p>
                          <p style="font-size:14px;">{content}</p>
                        </div>
                      </td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
              
              <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:100%;">
                <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;">
                        <p style="font-size:1px;margin:0 auto;border-top:1px solid #e0e0e0;width:100%;"></p>
                        
                      </td>
                    </tr></tbody></table></div>
              
            </td>
          </tr></tbody></table></div>
    
    
    <div style="margin:0 auto;">
      <table cellpadding="0" cellspacing="0" style="font-size:0;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;font-size:0;padding:0;">
              
              <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;font-size:0;line-height:0;text-align:left;width:100%;">
                
                <div class="mj-column-per-80 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:80%;">
                  <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
                          <div style="color:#616161;font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;">Revws - your <a style="font-weight:700;color:#616161;text-decoration:none;" href="https://www.getdatakick.com/?utm_campaign=revws&amp;utm_medium=email">datakick</a> review module</div>
                        </td>
                      </tr></tbody></table></div>
                
                <div class="mj-column-per-20 outlook-group-fix" style="vertical-align:top;font-size:13px;text-align:left;width:20%;">
                  <table cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="font-size:0;padding:10px 25px;" align="left">
                          <table cellpadding="0" cellspacing="0" style="color:#000;font-family:Roboto, Helvetica, sans-serif;font-size:13px;line-height:22px;table-layout:auto;" width="50" border="0"><tr style="list-style:none;line-height:1;"><td><a href="https://twitter.com/datakick"><img width="25" src="https://cdn.recast.ai/newsletter/twitter.png" alt="twitter.png" /></a></td>
                              <td><a href="https://www.facebook.com/datakick"><img width="25" src="https://cdn.recast.ai/newsletter/facebook.png" alt="facebook.png" /></a></td>
                            </tr></table></td>
                      </tr></tbody></table></div>
                
              </div>
              
            </td>
          </tr></tbody></table></div>
    
  </div>















