.ui-selector-container {
	display:flex;
}


.ui-selector-container>.item {
	flex: 1 1;
    height: 60px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin: 0 3px;    
    line-height: inherit;
    padding-top: 18px;
    background: #252525;
    color: #FFF;
    cursor: pointer;
}
.ui-selector-container>.item.disabled {
	flex: 1 1;
    height: 60px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin: 0 3px;    
    line-height: inherit;
    padding-top: 18px;
    background: #252525;
    color: #555;
    cursor: not-allowed;
}

.ui-selector-container>.item.selected {
	color:#FFF;	
	bottom: -5px;
    background: #181818
	
}

.ui-selector-container>input {
	display:none;
}

.ui-selector-container .item sub {
	display:block;
}


.ui-selector-container .item i {
	font-size: 32px;
    position: absolute;
    margin-top: 3px;
    color: #FFF;
    bottom: -6px;
    opacity: 0.2;
    left: 0;
    
}

.ui-selector-container .item.disabled i {
    opacity: 0.1;
    
}


.ui-selector-container .item i.fa {
    transform: rotate(15deg);
    font-size:50px;
}

.ui-selector-container .item sub {
	font-weight:300;
}


.ui-selector-container .item i.avatar {
	margin-left:inherit;
	font-size: 50px;
    width: 60px;
    height: 60px;
    line-height: 58px;
    left: -8px;
    opacity: 0.5;
}

.ui-selector-container .item i.fa-ticket {
	font-size: 62px;
    left: -10px;
    bottom: -10px;
}

.ui-selector-container .item i.fa-space-shuttle {
	transform:rotate(-23deg);
}


 
