/**
 * 	Composant spinner
 * 
 * Travail avec une structure suivante
 *   -  <= en ::before
 *   <input name="...." class="ui-spinner" data-min="" data-max="" [data-increment=""] [data-double-increment=""] [data-allow-press="false"]/>
 * 	 +  <= en ::after
 */

.ui-spinner-group {
	display: flex;
	position:relative;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.ui-spinner-group input {
	flex:2;
	height:38px;
    border-radius: 0;
    margin-right:3px;
}

.ui-spinner-group .ui-spinner-minus,
.ui-spinner-group .ui-spinner-plus {
    display: inline-block;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    color: #FFF;
    font-weight: bold;
    flex: 1;
    line-height: 40px;
    font-size:24px;
    border-radius: 4px;
    margin:0 2px;
}

.ui-spinner-group .ui-spinner-minus {
	content:"-";
    background-color:#CA442D;
	
}

.ui-spinner-group .ui-spinner-plus {
	content:"+";
    background-color:#93b728;
	
}
