

.ui-tab {
	color:#FFF;
	background-color:#333;
}

.ui-tab.ui-tab-horizontal {
	
}


ul.ui-tab-menu {
	display:flex;
	list-style-type:none;
	margin:0;
	padding:0;
}


.ui-tab.ui-tab-horizontal ul.ui-tab-menu {
}


ul.ui-tab-menu li {
	background-color:#181818;
	flex: 1 1 100%;
	height:75px;
	line-height:75px;
	margin:0;
	padding:0;
}

.ui-tab.ui-tab-horizontal ul.ui-tab-menu li {
	text-decoration:center;
}


ul.ui-tab-menu li.current {
	background-color:#333;	
}

.ui-tab-content {
	border:solid 1px #333;
	padding:15px 0;
}


.ui-tab-content .ui-tab-item {
	display:none;
}

.ui-tab-content .ui-tab-item.current {
	display:block;
}
