{if isset($xprtmostvisitedproductblock) && !empty($xprtmostvisitedproductblock)}
		<li><a data-toggle="tab" href="#xprt_mostviewedproductsblock_tab_{if isset($xprtmostvisitedproductblock.id_xprtmostvisitedproductblock)}{$xprtmostvisitedproductblock.id_xprtmostvisitedproductblock}{/if}" class="xprt_mostviewedproductsblock">{$xprtmostvisitedproductblock.title}</a></li>
{/if}

