/* 
block mega menu
**************************************************************/

.xprt_mega_menu_area{
	display: block;
	text-align: center;
}

.xprt_mega_menu {
    display: inline-block;
    position: relative;
    z-index: 11;
}

.xprt_mega_menu ul.sf-menu {
    margin: 0;
    padding: 13px 0px 8px;
    list-style: none;
}

.xprt_mega_menu ul.sf-menu > li {
    float: left;
}

.xprt_mega_menu ul.sf-menu > li.sf_regular_with_ul {
    position: relative;
}

.xprt_mega_menu ul.sf-menu > li > a {
    margin: 0px 20px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #4b4b4b;
    position: relative;
}

/*.xprt_mega_menu ul.sf-menu > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 0px;
    height: 2px;
    background-color: #333333;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

.xprt_mega_menu ul.sf-menu > li > a.sf-with-ul:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 13px;
    vertical-align: -1px;
    margin-left: 1px;
}

.xprt_mega_menu ul.sf-menu > li > a:hover {
    color: #6B869D;
}

/*.xprt_mega_menu ul.sf-menu > li > a:hover:before {
    width: 25px;
    opacity: 1;
}*/

.xprt_mega_menu ul.sf-menu > li ul {
    display: none;
}

.xprt_mega_menu ul.sf-menu > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 53px;
    background: #fff;
}

.xprt_mega_menu ul.sf-menu > li > ul > li {
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul > li > a {
    font-size: 1.7rem;
    color: #333333;
    margin-bottom: 10px;
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul > li > ul {
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul > li > ul li a {
    display: block;
    padding: 0px 0px 8px;
}

.xprt_mega_menu ul.sf-menu > li > ul > li ul {
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu {
    width: 250px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: left;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu li {
    padding: 0px;
    position: relative;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu li > a {
    display: block;
    color: #333333;
    margin-bottom: 0px;
    font-size: 1.4rem;
    /*text-transform: uppercase;*/
    padding: 10px 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu li > a:hover {
    background-color: #6B869D;
    color: #fff;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 250px;
    background-color: #fff;
    margin-left: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-regular.sf_regular_menu li ul li {
    position: relative;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu {
    width: 100%;
    text-align: left;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(153, 153, 153, 0.3);
    padding: 30px 15px 0px;
    border-top: 3px solid #6B869D;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li {
    width: 100%;
    float: none;
    display: block;
    padding: 0px 15px 30px;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li > a {
    font-size: 1.7rem;
    color: #8e8e8e;
    margin-bottom: 10px;
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li ul.list_item {
    display: block;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li ul.list_item li a {
    display: block;
    padding: 0px 0px 8px;
    font-size: 1.5rem;
    color: #8e8e8e;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li ul.list_item li a:hover {
    color: #6B869D;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li ul.list_item li .title a {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: #383838;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu > li ul.list_item li .title a:hover {
    color: #6B869D;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logotext li,
.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logo li {
    width: 20%;
    clear: none;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logotext li a,
.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logo li a {
    text-align: center;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logotext li a img,
.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logo li a img {
    margin: 0 auto;
}

.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logotext li:nth-of-type(5n+1),
.xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu.brand_logo li:nth-of-type(5n+1) {
    clear: left;
}

.xprt_mega_menu ul.sf-menu > li.sfHoverForce > a {
    color: #6B869D;
}

@media only screen and (min-width: 992px) {
    .slicknav_menu {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .xprt_mega_menu_area {
        display: none;
    }
    header .slicknav_menu {
        background-color: #F7F7F7;
        /*color: #fff;*/
        padding: 12px 13px;
    }
    header .slicknav_menu a {
        color: #646464;
    }
    header .slicknav_menu a:hover {
        color: #6B869D;
    }
    header .slicknav_menu > a.slicknav_btn {
        font-size: 16px;
        display: block;
    }
    header .slicknav_menu > a.slicknav_btn .slicknav_icon {
        float: right;
        font-size: 20px;
        line-height: 1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    header .slicknav_menu > a.slicknav_btn .slicknav_icon:before {
        content: "\62";
        font-family: 'ElegantIcons';
    }
    header .slicknav_menu > a.slicknav_btn.slicknav_open .slicknav_icon {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    header .slicknav_menu ul.slicknav_nav {
        margin: 0;
        padding: 0px;
        list-style: none;
        font-size: 15px;
    }
    header .slicknav_menu ul.slicknav_nav .slicknav_arrow {
        float: right;
    }
    header .slicknav_menu ul.slicknav_nav > li {
        margin: 10px 0px;
    }
    header .slicknav_menu ul.slicknav_nav > li > a {
        /*text-transform: uppercase;*/
    }
    header .slicknav_menu ul.slicknav_nav > li > a .slicknav_arrow {
        float: right;
    }
    header .slicknav_menu ul.slicknav_nav ul.list_item {
        margin-bottom: 20px;
    }
    header .slicknav_menu ul.slicknav_nav ul.list_item h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    header .slicknav_menu ul.slicknav_nav ul.list_item a {
        display: block;
    }
    header .slicknav_menu ul.slicknav_nav ul.list_item li {
        margin-left: 10px;
    }
    header .slicknav_menu ul.slicknav_nav ul.list_item li > a {
        margin-left: 10px;
    }
    header .slicknav_menu ul.slicknav_nav ul.submenu-regular {
        margin-left: 10px;
    }
    header .slicknav_menu ul.slicknav_nav ul.submenu-regular li {
        margin: 5px 0px;
    }
    header .slicknav_menu ul.slicknav_nav ul.submenu-regular li ul {
        margin-left: 10px;
    }
    header .slicknav_menu ul.slicknav_nav li img,
    header .slicknav_menu ul.slicknav_nav li iframe,
    header .slicknav_menu ul.slicknav_nav li .embed-responsive {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .xprt_mega_menu {
        display: block;
        float: none;
        clear: both;
        padding: 20px 0px 15px;
    }
    .xprt_mega_menu .cat-title {
        cursor: pointer;
        /*text-transform: uppercase;*/
        font-size: 1.8rem;
        color: #747474;
        font-family: "Roboto", sans-serif;
        text-align: left;
        line-height: 1;
    }
    .xprt_mega_menu .cat-title i {
        float: right;
        font-size: 24px;
        width: 25px;
        height: 25px;
        margin-top: -5px;
        display: block;
    }
    .xprt_mega_menu .cat-title:hover {
        color: #6B869D;
    }
    .xprt_mega_menu ul.sf-menu {
        text-align: left;
    }
    .xprt_mega_menu ul.sf-menu > li {
        display: block;
        float: none;
        margin: 12px 0px;
    }
    .xprt_mega_menu ul.sf-menu > li > a {
        margin-left: 0px;
    }
    .xprt_mega_menu ul.sf-menu > li > a:hover {
        color: #6B869D;
    }
    .xprt_mega_menu ul.sf-menu > li .menu-mobile-grover {
        display: block;
        float: right;
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        cursor: pointer;
    }
    .xprt_mega_menu ul.sf-menu > li .menu-mobile-grover:before {
        content: '+';
    }
    .xprt_mega_menu ul.sf-menu > li .menu-mobile-grover.active:before {
        content: "\2013";
    }
    .xprt_mega_menu ul.sf-menu > li .menu-mobile-grover:hover {
        color: #6B869D;
    }
    .xprt_mega_menu ul.sf-menu > li ul.menu-mobile {
        display: none;
        position: static;
        margin-left: 10px;
    }
    .xprt_mega_menu ul.sf-menu > li ul.menu-mobile li {
        margin: 10px 0px;
    }
    .xprt_mega_menu ul.sf-menu > li ul.menu-mobile li a:hover {
        color: #fff;
    }
    .xprt_mega_menu ul.sf-menu > li ul.menu-mobile li.category-thumbnail {
        display: none;
    }
    .header-container.header_style_full_boxed header .xprt_mega_menu .cat-title {
        color: #000;
    }
    .header-container.header_style_full_boxed header .xprt_mega_menu .cat-title:hover {
        color: #747474;
    }
    .header-container.header_style_full_boxed header .xprt_mega_menu ul.sf-menu > li > a:hover {
        color: #000;
    }
    .header-container.header_style_full_boxed header .xprt_mega_menu ul.sf-menu > li .menu-mobile-grover:hover {
        color: #000;
    }
    .header-container.header_style_full_boxed header .xprt_mega_menu ul.sf-menu > li ul.menu-mobile li a:hover {
        color: #000;
    }
}

.header-container.header_full_boxed_black header .nav .xprt_mega_menu ul.sf-menu > li > a:hover {
    color: #fff;
}

.xprt_mega_menu_area.sticky {
    -webkit-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.xprt_mega_menu_area.sticky.headroom--not-top {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    min-height: 55px;
    padding-top: 11px;
    z-index: 5003;
    background-color: #fff;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    text-align: center;
}

.xprt_mega_menu_area.sticky.headroom--not-top .xprt_mega_menu {
    float: none;
    display: inline-block;
}

.xprt_mega_menu_area.sticky.headroom--not-top .xprt_mega_menu ul.sf-menu > li > ul {
    top: 44px;
}

.xprt_mega_menu_area.sticky.headroom--pinned.headroom--not-top {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.xprt_mega_menu_area.sticky.headroom--unpinned {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
}





/* // for header classic */
.header-container.header_classic header .header_top_area .header_top .xprt_mega_menu {
    float: left;
    text-align: left;
    margin-left: 20px;
    padding: 33px 0 38px;
}

.header-container.header_classic header .header_top_area .header_top .xprt_mega_menu ul.sf-menu {
    display: block;
    padding: 0px;   
}

.header-container.header_classic header .header_top_area .header_top .xprt_mega_menu ul.sf-menu > li > ul.submenu-container.sf_mega_menu{
	top: 95px;
}