{if isset($xprtnewproductblock) && !empty($xprtnewproductblock)}
		<li><a data-toggle="tab" href="#xprt_newproductsblock_tab_{if isset($xprtnewproductblock.id_xprtnewproductblock)}{$xprtnewproductblock.id_xprtnewproductblock}{/if}" class="xprt_newproductsblock">{$xprtnewproductblock.title}</a></li>
{/if}