{if $combinations|count>0}
<div class="clearfix">
	
	{foreach $combinations as $k=>$v name="combinationss"}
	<div style="display:inline-block;    ">
		{if $v.qte ==0}
			<span style="text-decoration: line-through !important;">{$v.attribute_name}</span>
		{else}
			<a
			href="{$link->getProductLink($v.id_product, null, null, null, null, null, $v.id_product_attribute)|escape:'html':'UTF-8'}"
			>{$v.attribute_name}
			</a>
		{/if}
			</div>
		{if !$smarty.foreach.combinationss.last} 
			/
		{/if} 

	{/foreach}
</div>
{/if}