
/* color */
.color_white{
 color: #fff;
}

.color_black{
 color: #000;
}

.color_gray{
	color:#eee;
}

.o_hidden{
	overflow: hidden;
}



/* float */
.f_none {
    float: none;
}
.f_left {
    float: left;
}
.f_right {
    float: right;
}

/* display block */
.d_block {
    display: block;
}
.d_inline_b{
    display: inline-block;
}
.d_inline_m {
    display: inline-block;
    vertical-align: middle;
}
.d_none{
    display: none;
}

.d_table {
    display: table;
}

.d_table_cell {
    display: table-cell;
}

.d_table_row {
    display: table-row;
}
.d_table > [class*="col-"]:last-child {
    padding-right: 0px;
}
.d_table > [class*="col-"]:first-child {
    padding-left: 0px;
}

.bdr_none{
	border:none !important;
}

.bdr_b_none{
	border-bottom:0 !important;
}

.bdr_t_none{
	border-top:0 !important;
}

/* vertical align */
.v_align_m {
    vertical-align: middle;
}
.v_align_b {
    vertical-align: bottom;
}
.v_align_t {
    vertical-align: top;
}


/* text align */
.t_align_c{
    text-align: center;
}
.t_align_r {
    text-align: right;
}
.t_align_l{
    text-align: left;
}

.f_style_i{
	font-style: italic;
}
.f_style_n{
	font-style: normal;
}

/* text decoration */
.t_d_underline{
	text-decoration: underline;
}

.t_d_none{
	text-decoration: none;
}

/* line height */
.lh_inherit {
    line-height: inherit;
}
.lh_small {
    line-height: 1.18em;
}
.lh_normal {
    line-height: 1;
}
.lh_medium {
    line-height: 1.125em;
}
.lh_large {
    line-height: 1.375em;
}

/* font size */
.fs_ex_small{
    font-size: 0.75em;
}
.fs_small {
    font-size: 0.812em;
}
.fs_medium{
    font-size: 0.875em;
}

/* font weight */
.fw_ex_light {
    font-weight: 100;
}
.fw_light {
    font-weight: 300;
}


.fw_normal {
    font-weight: 400;
}

.fw_bold {
    font-weight: 700;
}


.fw_ex_bold {
    font-weight: 900;
}

.bg_transparent{
	background: transparent;
}



/* padding */
.p_top_0 {
    padding-top: 0px !important;
}
.p_right_2 {
    padding-right: 2px;
}
.p_right_5 {
    padding-right: 5px;
}
.p_right_8 {
    padding-right: 8px;
}
.p_right_10 {
    padding-right: 10px;
}
.p_right_15 {
    padding-right: 15px;
}
.p_right_20 {
    padding-right: 20px;
}
.p_right_30 {
    padding-right: 30px;
}
.p_right_40 {
    padding-right: 40px;
}
.p_right_60 {
    padding-right: 60px;
}
.p_left_5 {
    padding-left: 5px;
}
.p_left_8 {
    padding-left: 8px;
}
.p_left_10 {
    padding-left: 10px;
}

.p_left_15 {
    padding-left: 15px;
}
.p_left_20 {
    padding-left: 20px;
}

.p_right_15{
	padding-right: 15px;
}


.p_right_30{
	padding-right: 30px;
}


.p_bottom_0 {
    padding-bottom: 0px !important;
}
.p_bottom_3 {
    padding-bottom: 3px;
}
.p_bottom_5 {
    padding-bottom: 5px;
}
.p_bottom_8 {
    padding-bottom: 8px;
}
.p_bottom_10 {
    padding-bottom: 10px;
}
.p_bottom_12 {
    padding-bottom: 12px;
}
.p_bottom_15 {
    padding-bottom: 15px;
}
.p_bottom_20 {
    padding-bottom: 20px;
}
.p_bottom_23 {
    padding-bottom: 23px;
}
.p_bottom_25 {
    padding-bottom: 25px;
}
.p_bottom_30 {
    padding-bottom: 30px;
}
.p_bottom_35 {
    padding-bottom: 35px;
}
.p_bottom_40 {
    padding-bottom: 40px;
}
.p_bottom_45 {
    padding-bottom: 45px;
}
.p_bottom_50 {
    padding-bottom: 50px;
}
.p_bottom_55 {
    padding-bottom: 55px;
}
.p_bottom_70 {
    padding-bottom: 70px;
}
.p_bottom_100 {
    padding-bottom: 100px;
}
.p_top_0 {
    padding-top: 0px !important;
}
.p_top_5 {
    padding-top: 5px;
}
.p_top_8 {
    padding-top: 8px;
}
.p_top_10 {
    padding-top: 10px;
}
.p_top_15 {
    padding-top: 15px;
}
.p_top_20 {
    padding-top: 20px;
}
.p_top_25 {
    padding-top: 25px;
}
.p_top_30 {
    padding-top: 30px;
}

.p_top_35 {
    padding-top: 35px;
}

.p_top_40 {
    padding-top: 40px;
}

.p_top_45 {
    padding-top: 45px;
}

.p_top_50 {
    padding-top: 50px;
}

.p_top_60 {
    padding-top: 60px;
}
.p_top_70 {
    padding-top: 70px;
}

.p_top_80 {
    padding-top: 80px;
}

.p_top_90 {
    padding-top: 90px;
}
.p_top_100 {
    padding-top: 100px;
}


/* margin */

.margin_0{
	margin:0 !important;
}

.margin_0_auto{
	margin:0 auto !important;
}

.m_right_2 {
    margin-right: 2px;
}
.m_right_5 {
    margin-right: 5px;
}
.m_right_8 {
    margin-right: 8px;
}
.m_right_10 {
    margin-right: 10px;
}
.m_right_15 {
    margin-right: 15px;
}
.m_right_20 {
    margin-right: 20px;
}
.m_right_30 {
    margin-right: 30px;
}
.m_right_40 {
    margin-right: 40px;
}
.m_right_60 {
    margin-right: 60px;
}
.m_left_5 {
    margin-left: 5px;
}
.m_left_8 {
    margin-left: 8px;
}
.m_left_10 {
    margin-left: 10px;
}
.m_left_15 {
    margin-left: 15px;
}
.m_bottom_0 {
    margin-bottom: 0px !important;
}
.m_bottom_3 {
    margin-bottom: 3px;
}
.m_bottom_5 {
    margin-bottom: 5px;
}
.m_bottom_8 {
    margin-bottom: 8px;
}
.m_bottom_10 {
    margin-bottom: 10px;
}
.m_bottom_12 {
    margin-bottom: 12px;
}
.m_bottom_15 {
    margin-bottom: 15px;
}
.m_bottom_20 {
    margin-bottom: 20px;
}
.m_bottom_23 {
    margin-bottom: 23px;
}
.m_bottom_25 {
    margin-bottom: 25px;
}
.m_bottom_30 {
    margin-bottom: 30px;
}
.m_bottom_35 {
    margin-bottom: 35px;
}
.m_bottom_40 {
    margin-bottom: 40px;
}
.m_bottom_45 {
    margin-bottom: 45px;
}
.m_bottom_50 {
    margin-bottom: 50px;
}
.m_bottom_55 {
    margin-bottom: 55px;
}
.m_bottom_60 {
    margin-bottom: 60px;
}
.m_bottom_70 {
    margin-bottom: 70px;
}
.m_bottom_80 {
    margin-bottom: 80px;
}
.m_bottom_90 {
    margin-bottom: 90px;
}
.m_bottom_100 {
    margin-bottom: 100px;
}
.m_top_0 {
    margin-top: 0px !important;
}
.m_top_5 {
    margin-top: 5px;
}
.m_top_8 {
    margin-top: 8px;
}
.m_top_10 {
    margin-top: 10px;
}
.m_top_15 {
    margin-top: 15px;
}
.m_top_20 {
    margin-top: 20px;
}
.m_top_30 {
    margin-top: 30px;
}

.m_top_35 {
    margin-top: 35px;
}

.m_top_40 {
    margin-top: 40px;
}
.m_top_45 {
    margin-top: 45px;
}
.m_top_50 {
    margin-top: 50px;
}
.m_top_55 {
    margin-top: 55px;
}
.m_top_60 {
    margin-top: 60px;
}
.m_top_70 {
    margin-top: 70px;
}
.m_top_80 {
    margin-top: 80px;
}
.m_top_90 {
    margin-top: 90px;
}
.m_top_100 {
    margin-top: 100px;
}





/* extra typo */


.m_height_0{
	min-height: 0;
}

.m_height_auto{
	min-height: auto;
}


.tt_uppercase {
    text-transform: uppercase;
}
.tt_none {
    text-transform: none;
}
.db_centered {
    margin-left: auto;
    margin-right: auto;
}
.relative {
    position: relative;
    z-index: 1;
}
.half_column {
    width: 50%;
}
.im_half_container .half_column:last-child {
    margin-left: -5px;
}
.ie9 .im_half_container .half_column:last-child {
    margin-left: -4px;
}
.counter {
    counter-reset: counter;
}
.counter_inc {
    counter-increment: counter;
}
.ls_medium {
    letter-spacing: -1px;
}

.w_auto {
    width: auto;
}
.w_quater{
	width: 25%;
}
.w_half{
	width: 50%;
}
.w_full {
    width: 100%;
}
.list_view {
    width: 100%;
}
.translucent {
    opacity: .5;
}
.wrapper {
    overflow: hidden;
}
.ellipsis {
    text-overflow: ellipsis;
}
.w_break {
    word-break: break-all;
}


/* Responsive class */

/* very Small screen (phone) */
@media only screen and (max-width: 767px) {
	
	/* float */
	.f_xs_none {
	    float: none;
	}
	.f_xs_left {
	    float: left;
	}
	.f_xs_right {
	    float: right;
	}

	/* display block */
	.d_xs_block {
	    display: block;
	}
	.d_xs_table {
	    display: table;
	}
	.d_xs_inline_b{
	    display: inline-block;
	}
	.d_xs_inline_m {
	    display: inline-block;
	    vertical-align: middle;
	}
	.d_xs_none{
	    display: none;
	}
	.d_xs_table_cell {
	    display: table-cell;
	}
	.d_xs_table > [class*="col-"]:last-child {
	    padding-right: 0px;
	}
	.d_xs_table > [class*="col-"]:first-child {
	    padding-left: 0px;
	}


	/* vertical align */
	.v_xs_align_m {
	    vertical-align: middle;
	}
	.v_xs_align_b {
	    vertical-align: bottom;
	}
	.v_xs_align_t {
	    vertical-align: top;
	}


	/* text align */
	.t_xs_align_c{
	    text-align: center;
	}
	.t_xs_align_r {
	    text-align: right;
	}
	.t_xs_align_l{
	    text-align: left;
	}

	/* line height */
	.lh_xs_inherit {
	    line-height: inherit;
	}
	.lh_xs_small {
	    line-height: 1.18em;
	}
	.lh_xs_normal {
	    line-height: 1;
	}
	.lh_xs_medium {
	    line-height: 1.125em;
	}
	.lh_xs_large {
	    line-height: 1.375em;
	}

	/* font size */
	.fs_xs_ex_small{
	    font-size: 0.75em;
	}
	.fs_xs_small {
	    font-size: 0.812em;
	}
	.fs_xs_medium{
	    font-size: 0.875em;
	}

	.fs_small{
	    font-size: 0.923em;
	}

	/* font weight */
	.fw_xs_ex_light {
	    font-weight: 100;
	}
	.fw_xs_light {
	    font-weight: 300;
	}
	.fw_xs_normal {
	    font-weight: 400;
	}
	.fw_xs_ex_bold {
	    font-weight: 900;
	}

	/* margin */

	.margin_xs_0{
		margin:0 !important;
	}
	.margin_xs_0_auto{
		margin:0 auto !important;
	}
	.m_xs_right_2 {
	    margin-right: 2px;
	}
	.m_xs_right_5 {
	    margin-right: 5px;
	}
	.m_xs_right_8 {
	    margin-right: 8px;
	}
	.m_xs_right_10 {
	    margin-right: 10px;
	}
	.m_xs_right_15 {
	    margin-right: 15px;
	}
	.m_xs_right_20 {
	    margin-right: 20px;
	}
	.m_xs_right_30 {
	    margin-right: 30px;
	}
	.m_xs_right_40 {
	    margin-right: 40px;
	}
	.m_xs_right_60 {
	    margin-right: 60px;
	}
	.m_xs_left_5 {
	    margin-left: 5px;
	}
	.m_xs_left_8 {
	    margin-left: 8px;
	}
	.m_xs_left_10 {
	    margin-left: 10px;
	}
	.m_xs_left_15 {
	    margin-left: 15px;
	}
	.m_xs_bottom_0 {
	    margin-bottom: 0px !important;
	}
	.m_xs_bottom_3 {
	    margin-bottom: 3px;
	}
	.m_xs_bottom_5 {
	    margin-bottom: 5px;
	}
	.m_xs_bottom_8 {
	    margin-bottom: 8px;
	}
	.m_xs_bottom_10 {
	    margin-bottom: 10px;
	}
	.m_xs_bottom_12 {
	    margin-bottom: 12px;
	}
	.m_xs_bottom_15 {
	    margin-bottom: 15px;
	}
	.m_xs_bottom_20 {
	    margin-bottom: 20px;
	}
	.m_xs_bottom_23 {
	    margin-bottom: 23px;
	}
	.m_xs_bottom_25 {
	    margin-bottom: 25px;
	}
	.m_xs_bottom_30 {
	    margin-bottom: 30px;
	}
	.m_xs_bottom_35 {
	    margin-bottom: 35px;
	}
	.m_xs_bottom_40 {
	    margin-bottom: 40px;
	}
	.m_xs_bottom_45 {
	    margin-bottom: 45px;
	}
	.m_xs_bottom_50 {
	    margin-bottom: 50px;
	}
	.m_xs_bottom_55 {
	    margin-bottom: 55px;
	}
	.m_xs_bottom_70 {
	    margin-bottom: 70px;
	}
	.m_xs_top_0 {
	    margin-top: 0px !important;
	}
	.m_xs_top_5 {
	    margin-top: 5px;
	}
	.m_xs_top_8 {
	    margin-top: 8px;
	}
	.m_xs_top_10 {
	    margin-top: 10px;
	}
	.m_xs_top_15 {
	    margin-top: 15px;
	}
	.m_xs_top_20 {
	    margin-top: 20px;
	}
	.m_xs_top_35 {
	    margin-top: 35px;
	}

	/* padding */
	.p_xs_right_2 {
	    padding-right: 2px;
	}
	.p_xs_right_5 {
	    padding-right: 5px;
	}
	.p_xs_right_8 {
	    padding-right: 8px;
	}
	.p_xs_right_10 {
	    padding-right: 10px;
	}
	.p_xs_right_15 {
	    padding-right: 15px;
	}
	.p_xs_right_20 {
	    padding-right: 20px;
	}
	.p_xs_right_30 {
	    padding-right: 30px;
	}
	.p_xs_right_40 {
	    padding-right: 40px;
	}
	.p_xs_right_60 {
	    padding-right: 60px;
	}
	.p_xs_left_5 {
	    padding-left: 5px;
	}
	.p_xs_left_8 {
	    padding-left: 8px;
	}
	.p_xs_left_10 {
	    padding-left: 10px;
	}
	.p_xs_left_15 {
	    padding-left: 15px;
	}
	.p_xs_bottom_0 {
	    padding-bottom: 0px !important;
	}
	.p_xs_bottom_3 {
	    padding-bottom: 3px;
	}
	.p_xs_bottom_5 {
	    padding-bottom: 5px;
	}
	.p_xs_bottom_8 {
	    padding-bottom: 8px;
	}
	.p_xs_bottom_10 {
	    padding-bottom: 10px;
	}
	.p_xs_bottom_12 {
	    padding-bottom: 12px;
	}
	.p_xs_bottom_15 {
	    padding-bottom: 15px;
	}
	.p_xs_bottom_20 {
	    padding-bottom: 20px;
	}
	.p_xs_bottom_23 {
	    padding-bottom: 23px;
	}
	.p_xs_bottom_25 {
	    padding-bottom: 25px;
	}
	.p_xs_bottom_30 {
	    padding-bottom: 30px;
	}
	.p_xs_bottom_35 {
	    padding-bottom: 35px;
	}
	.p_xs_bottom_40 {
	    padding-bottom: 40px;
	}
	.p_xs_bottom_45 {
	    padding-bottom: 45px;
	}
	.p_xs_bottom_50 {
	    padding-bottom: 50px;
	}
	.p_xs_bottom_55 {
	    padding-bottom: 55px;
	}
	.p_xs_bottom_70 {
	    padding-bottom: 70px;
	}
	.p_xs_top_0 {
	    padding-top: 0px !important;
	}
	.p_xs_top_5 {
	    padding-top: 5px;
	}
	.p_xs_top_8 {
	    padding-top: 8px;
	}
	.p_xs_top_10 {
	    padding-top: 10px;
	}
	.p_xs_top_15 {
	    padding-top: 15px;
	}
	.p_xs_top_20 {
	    padding-top: 20px;
	}
	.p_xs_top_35 {
	    padding-top: 35px;
	}


	/* extra typo */
	.tt_xs_uppercase {
	    text-transform: uppercase;
	}
	.db_xs_center {
	    margin-left: auto;
	    margin-right: auto;
	}
	.half_xs_column {
	    width: 50%;
	}
	.w_xs_auto {
	    width: auto;
	}
	.w_xs_full {
	    width: 100%;
	}
	
	.img-responsive-xs{
		display: block;
		max-width: 100%;
		height: auto;
	}


}



/* Small Screen   */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/* float */
	.f_sm_none {
	    float: none;
	}
	.f_sm_left {
	    float: left;
	}
	.f_sm_right {
	    float: right;
	}

	/* display block */
	.d_sm_block {
	    display: block;
	}
	.d_sm_table {
	    display: table;
	}
	.d_sm_inline_b{
	    display: inline-block;
	}
	.d_sm_inline_m {
	    display: inline-block;
	    vertical-align: middle;
	}
	.d_sm_none{
	    display: none;
	}
	.d_sm_table_cell {
	    display: table-cell;
	}
	.d_sm_table > [class*="col-"]:last-child {
	    padding-right: 0px;
	}
	.d_sm_table > [class*="col-"]:first-child {
	    padding-left: 0px;
	}


	/* vertical align */
	.v_sm_align_m {
	    vertical-align: middle;
	}
	.v_sm_align_b {
	    vertical-align: bottom;
	}
	.v_sm_align_t {
	    vertical-align: top;
	}


	/* text align */
	.t_sm_align_c{
	    text-align: center;
	}
	.t_sm_align_r {
	    text-align: right;
	}
	.t_sm_align_l{
	    text-align: left;
	}

	/* line height */
	.lh_sm_inherit {
	    line-height: inherit;
	}
	.lh_sm_small {
	    line-height: 1.18em;
	}
	.lh_sm_normal {
	    line-height: 1;
	}
	.lh_sm_medium {
	    line-height: 1.125em;
	}
	.lh_sm_large {
	    line-height: 1.375em;
	}

	/* font size */
	.fs_sm_ex_small{
	    font-size: 0.75em;
	}
	.fs_sm_small {
	    font-size: 0.812em;
	}
	.fs_sm_medium{
	    font-size: 0.875em;
	}

	/* font weight */
	.fw_sm_ex_light {
	    font-weight: 100;
	}
	.fw_sm_light {
	    font-weight: 300;
	}
	.fw_sm_normal {
	    font-weight: 400;
	}
	.fw_sm_ex_bold {
	    font-weight: 900;
	}

	/* margin */
	.margin_sm_0{
		margin:0 !important;
	}
	.margin_sm_0_auto{
		margin:0 auto !important;
	}
	.m_sm_right_2 {
	    margin-right: 2px;
	}
	.m_sm_right_5 {
	    margin-right: 5px;
	}
	.m_sm_right_8 {
	    margin-right: 8px;
	}
	.m_sm_right_10 {
	    margin-right: 10px;
	}
	.m_sm_right_15 {
	    margin-right: 15px;
	}
	.m_sm_right_20 {
	    margin-right: 20px;
	}
	.m_sm_right_30 {
	    margin-right: 30px;
	}
	.m_sm_right_40 {
	    margin-right: 40px;
	}
	.m_sm_right_60 {
	    margin-right: 60px;
	}
	.m_sm_left_5 {
	    margin-left: 5px;
	}
	.m_sm_left_8 {
	    margin-left: 8px;
	}
	.m_sm_left_10 {
	    margin-left: 10px;
	}
	.m_sm_left_15 {
	    margin-left: 15px;
	}
	.m_sm_bottom_0 {
	    margin-bottom: 0px !important;
	}
	.m_sm_bottom_3 {
	    margin-bottom: 3px;
	}
	.m_sm_bottom_5 {
	    margin-bottom: 5px;
	}
	.m_sm_bottom_8 {
	    margin-bottom: 8px;
	}
	.m_sm_bottom_10 {
	    margin-bottom: 10px;
	}
	.m_sm_bottom_12 {
	    margin-bottom: 12px;
	}
	.m_sm_bottom_15 {
	    margin-bottom: 15px;
	}
	.m_sm_bottom_20 {
	    margin-bottom: 20px;
	}
	.m_sm_bottom_23 {
	    margin-bottom: 23px;
	}
	.m_sm_bottom_25 {
	    margin-bottom: 25px;
	}
	.m_sm_bottom_30 {
	    margin-bottom: 30px;
	}
	.m_sm_bottom_35 {
	    margin-bottom: 35px;
	}
	.m_sm_bottom_40 {
	    margin-bottom: 40px;
	}
	.m_sm_bottom_45 {
	    margin-bottom: 45px;
	}
	.m_sm_bottom_50 {
	    margin-bottom: 50px;
	}
	.m_sm_bottom_55 {
	    margin-bottom: 55px;
	}
	.m_sm_bottom_70 {
	    margin-bottom: 70px;
	}
	.m_sm_top_0 {
	    margin-top: 0px !important;
	}
	.m_sm_top_5 {
	    margin-top: 5px;
	}
	.m_sm_top_8 {
	    margin-top: 8px;
	}
	.m_sm_top_10 {
	    margin-top: 10px;
	}
	.m_sm_top_15 {
	    margin-top: 15px;
	}
	.m_sm_top_20 {
	    margin-top: 20px;
	}
	.m_sm_top_35 {
	    margin-top: 35px;
	}

	/* padding */
	.p_sm_right_2 {
	    padding-right: 2px;
	}
	.p_sm_right_5 {
	    padding-right: 5px;
	}
	.p_sm_right_8 {
	    padding-right: 8px;
	}
	.p_sm_right_10 {
	    padding-right: 10px;
	}
	.p_sm_right_15 {
	    padding-right: 15px;
	}
	.p_sm_right_20 {
	    padding-right: 20px;
	}
	.p_sm_right_30 {
	    padding-right: 30px;
	}
	.p_sm_right_40 {
	    padding-right: 40px;
	}
	.p_sm_right_60 {
	    padding-right: 60px;
	}
	.p_sm_left_5 {
	    padding-left: 5px;
	}
	.p_sm_left_8 {
	    padding-left: 8px;
	}
	.p_sm_left_10 {
	    padding-left: 10px;
	}
	.p_sm_left_15 {
	    padding-left: 15px;
	}
	.p_sm_bottom_0 {
	    padding-bottom: 0px !important;
	}
	.p_sm_bottom_3 {
	    padding-bottom: 3px;
	}
	.p_sm_bottom_5 {
	    padding-bottom: 5px;
	}
	.p_sm_bottom_8 {
	    padding-bottom: 8px;
	}
	.p_sm_bottom_10 {
	    padding-bottom: 10px;
	}
	.p_sm_bottom_12 {
	    padding-bottom: 12px;
	}
	.p_sm_bottom_15 {
	    padding-bottom: 15px;
	}
	.p_sm_bottom_20 {
	    padding-bottom: 20px;
	}
	.p_sm_bottom_23 {
	    padding-bottom: 23px;
	}
	.p_sm_bottom_25 {
	    padding-bottom: 25px;
	}
	.p_sm_bottom_30 {
	    padding-bottom: 30px;
	}
	.p_sm_bottom_35 {
	    padding-bottom: 35px;
	}
	.p_sm_bottom_40 {
	    padding-bottom: 40px;
	}
	.p_sm_bottom_45 {
	    padding-bottom: 45px;
	}
	.p_sm_bottom_50 {
	    padding-bottom: 50px;
	}
	.p_sm_bottom_55 {
	    padding-bottom: 55px;
	}
	.p_sm_bottom_70 {
	    padding-bottom: 70px;
	}
	.p_sm_top_0 {
	    padding-top: 0px !important;
	}
	.p_sm_top_5 {
	    padding-top: 5px;
	}
	.p_sm_top_8 {
	    padding-top: 8px;
	}
	.p_sm_top_10 {
	    padding-top: 10px;
	}
	.p_sm_top_15 {
	    padding-top: 15px;
	}
	.p_sm_top_20 {
	    padding-top: 20px;
	}
	.p_sm_top_35 {
	    padding-top: 35px;
	}

	/* extra typo */
	.tt_sm_uppercase {
	    text-transform: uppercase;
	}
	.db_sm_center {
	    margin-left: auto;
	    margin-right: auto;
	}
	.half_sm_column {
	    width: 50%;
	}
	.w_sm_auto {
	    width: auto;
	}
	.w_sm_full {
	    width: 100%;
	}

	.img-responsive-sm{
		display: block;
		max-width: 100%;
		height: auto;
	}


}



/* Mediam Screen   */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	/* float */
	.f_md_none {
	    float: none;
	}
	.f_md_left {
	    float: left;
	}
	.f_md_right {
	    float: right;
	}

	/* display block */
	.d_md_block {
	    display: block;
	}
	.d_md_table {
	    display: table;
	}
	.d_md_inline_b{
	    display: inline-block;
	}
	.d_md_inline_m {
	    display: inline-block;
	    vertical-align: middle;
	}
	.d_md_none{
	    display: none;
	}
	.d_md_table_cell {
	    display: table-cell;
	}
	.d_md_table > [class*="col-"]:last-child {
	    padding-right: 0px;
	}
	.d_md_table > [class*="col-"]:first-child {
	    padding-left: 0px;
	}


	/* vertical align */
	.v_md_align_m {
	    vertical-align: middle;
	}
	.v_md_align_b {
	    vertical-align: bottom;
	}
	.v_md_align_t {
	    vertical-align: top;
	}


	/* text align */
	.t_md_align_c{
	    text-align: center;
	}
	.t_md_align_r {
	    text-align: right;
	}
	.t_md_align_l{
	    text-align: left;
	}

	/* line height */
	.lh_md_inherit {
	    line-height: inherit;
	}
	.lh_md_small {
	    line-height: 1.18em;
	}
	.lh_md_normal {
	    line-height: 1;
	}
	.lh_md_medium {
	    line-height: 1.125em;
	}
	.lh_md_large {
	    line-height: 1.375em;
	}

	/* font size */
	.fs_md_ex_small{
	    font-size: 0.75em;
	}
	.fs_md_small {
	    font-size: 0.812em;
	}
	.fs_md_medium{
	    font-size: 0.875em;
	}

	/* font weight */
	.fw_md_ex_light {
	    font-weight: 100;
	}
	.fw_md_light {
	    font-weight: 300;
	}
	.fw_md_normal {
	    font-weight: 400;
	}
	.fw_md_ex_bold {
	    font-weight: 900;
	}

	/* margin */
	.m_md_right_2 {
	    margin-right: 2px;
	}
	.m_md_right_5 {
	    margin-right: 5px;
	}
	.m_md_right_8 {
	    margin-right: 8px;
	}
	.m_md_right_10 {
	    margin-right: 10px;
	}
	.m_md_right_15 {
	    margin-right: 15px;
	}
	.m_md_right_20 {
	    margin-right: 20px;
	}
	.m_md_right_30 {
	    margin-right: 30px;
	}
	.m_md_right_40 {
	    margin-right: 40px;
	}
	.m_md_right_60 {
	    margin-right: 60px;
	}
	.m_md_left_5 {
	    margin-left: 5px;
	}
	.m_md_left_8 {
	    margin-left: 8px;
	}
	.m_md_left_10 {
	    margin-left: 10px;
	}
	.m_md_left_15 {
	    margin-left: 15px;
	}
	.m_md_bottom_0 {
	    margin-bottom: 0px !important;
	}
	.m_md_bottom_3 {
	    margin-bottom: 3px;
	}
	.m_md_bottom_5 {
	    margin-bottom: 5px;
	}
	.m_md_bottom_8 {
	    margin-bottom: 8px;
	}
	.m_md_bottom_10 {
	    margin-bottom: 10px;
	}
	.m_md_bottom_12 {
	    margin-bottom: 12px;
	}
	.m_md_bottom_15 {
	    margin-bottom: 15px;
	}
	.m_md_bottom_20 {
	    margin-bottom: 20px;
	}
	.m_md_bottom_23 {
	    margin-bottom: 23px;
	}
	.m_md_bottom_25 {
	    margin-bottom: 25px;
	}
	.m_md_bottom_30 {
	    margin-bottom: 30px;
	}
	.m_md_bottom_35 {
	    margin-bottom: 35px;
	}
	.m_md_bottom_40 {
	    margin-bottom: 40px;
	}
	.m_md_bottom_45 {
	    margin-bottom: 45px;
	}
	.m_md_bottom_50 {
	    margin-bottom: 50px;
	}
	.m_md_bottom_55 {
	    margin-bottom: 55px;
	}
	.m_md_bottom_70 {
	    margin-bottom: 70px;
	}
	.m_md_top_0 {
	    margin-top: 0px !important;
	}
	.m_md_top_5 {
	    margin-top: 5px;
	}
	.m_md_top_8 {
	    margin-top: 8px;
	}
	.m_md_top_10 {
	    margin-top: 10px;
	}
	.m_md_top_15 {
	    margin-top: 15px;
	}
	.m_md_top_20 {
	    margin-top: 20px;
	}
	.m_md_top_35 {
	    margin-top: 35px;
	}

	/* padding */
	.p_md_right_2 {
	    padding-right: 2px;
	}
	.p_md_right_5 {
	    padding-right: 5px;
	}
	.p_md_right_8 {
	    padding-right: 8px;
	}
	.p_md_right_10 {
	    padding-right: 10px;
	}
	.p_md_right_15 {
	    padding-right: 15px;
	}
	.p_md_right_20 {
	    padding-right: 20px;
	}
	.p_md_right_30 {
	    padding-right: 30px;
	}
	.p_md_right_40 {
	    padding-right: 40px;
	}
	.p_md_right_60 {
	    padding-right: 60px;
	}
	.p_md_left_5 {
	    padding-left: 5px;
	}
	.p_md_left_8 {
	    padding-left: 8px;
	}
	.p_md_left_10 {
	    padding-left: 10px;
	}
	.p_md_left_15 {
	    padding-left: 15px;
	}
	.p_md_bottom_0 {
	    padding-bottom: 0px !important;
	}
	.p_md_bottom_3 {
	    padding-bottom: 3px;
	}
	.p_md_bottom_5 {
	    padding-bottom: 5px;
	}
	.p_md_bottom_8 {
	    padding-bottom: 8px;
	}
	.p_md_bottom_10 {
	    padding-bottom: 10px;
	}
	.p_md_bottom_12 {
	    padding-bottom: 12px;
	}
	.p_md_bottom_15 {
	    padding-bottom: 15px;
	}
	.p_md_bottom_20 {
	    padding-bottom: 20px;
	}
	.p_md_bottom_23 {
	    padding-bottom: 23px;
	}
	.p_md_bottom_25 {
	    padding-bottom: 25px;
	}
	.p_md_bottom_30 {
	    padding-bottom: 30px;
	}
	.p_md_bottom_35 {
	    padding-bottom: 35px;
	}
	.p_md_bottom_40 {
	    padding-bottom: 40px;
	}
	.p_md_bottom_45 {
	    padding-bottom: 45px;
	}
	.p_md_bottom_50 {
	    padding-bottom: 50px;
	}
	.p_md_bottom_55 {
	    padding-bottom: 55px;
	}
	.p_md_bottom_70 {
	    padding-bottom: 70px;
	}
	.p_md_top_0 {
	    padding-top: 0px !important;
	}
	.p_md_top_5 {
	    padding-top: 5px;
	}
	.p_md_top_8 {
	    padding-top: 8px;
	}
	.p_md_top_10 {
	    padding-top: 10px;
	}
	.p_md_top_15 {
	    padding-top: 15px;
	}
	.p_md_top_20 {
	    padding-top: 20px;
	}
	.p_md_top_35 {
	    padding-top: 35px;
	}

	/* extra typo */
	.tt_md_uppercase {
	    text-transform: uppercase;
	}
	.db_md_center {
	    margin-left: auto;
	    margin-right: auto;
	}
	.half_md_column {
	    width: 50%;
	}
	.w_md_auto {
	    width: auto;
	}
	.w_md_full {
	    width: 100%;
	}


}



/* Large Screen   */
@media (min-width: 1200px) {


}
/*Helper class End*/



/* Additional font size style */
.f_size_10{
	font-size: 10px;
}

.f_size_12{
	font-size: 12px;
}

.f_size_13{
	font-size: 13px;
}

.f_size_14{
	font-size: 14px;
}

.f_size_15{
	font-size: 15px;
}

.f_size_16{
	font-size: 16px;
}


.f_size_17{
	font-size: 17px;
}

.f_size_18{
	font-size: 18px;
}

.f_size_19{
	font-size: 19px;
}

.f_size_20{
	font-size: 20px;
}


.f_size_21{
	font-size: 21px;
}

.f_size_22{
	font-size: 22px;
}

.f_size_24{
	font-size: 24px;
}

.f_size_25{
	font-size: 25px;
}

.f_size_26{
	font-size: 26px;
}

.f_size_28{
	font-size: 28px;
}

.f_size_30{
	font-size: 30px;
}

.f_size_32{
	font-size: 32px;
}

.f_size_34{
	font-size: 34px;
}

.f_size_35{
	font-size: 35px;
}

.f_size_36{
	font-size: 36px;
}

.f_size_38{
	font-size: 38px;
}

.f_size_40{
	font-size: 40px;
}

.f_size_44{
	font-size: 44px;
}

.f_size_45{
	font-size: 45px;
}

.f_size_48{
	font-size: 48px;
}

.f_size_50{
	font-size: 50px;
}

.f_size_54{
	font-size: 54px;
}

.f_size_55{
	font-size: 55px;
}

.f_size_58{
	font-size: 58px;
}

.f_size_60{
	font-size: 60px;
}
