/*********************************************************************
					Maintenance Page Styles
**********************************************************************/

body {
    background-repeat: no-repeat;
    background-color: #666;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Jura", Arial, Helvetica, sans-serif;
}

#maintenance {
    max-width: 550px;
    /*width: 100%;*/
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
    padding: 30px;
}


/*@media (min-width: 1200px) {
  #maintenance {
    margin: 126px 0 0 0;
    padding: 50px;
  }
}*/

#maintenance .header_logo {
    margin: 0 0 30px 0;
    text-align: center;
}

#maintenance h1 {
    font: 28px "Montserrat", sans-serif;
    color: #fff;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

#maintenance .maintanance_text {
    /*font: 14px "Montserrat", sans-serif;*/
    padding: 0 0 20px 0px;
    color: #fff;
    text-align: center;
}

#maintenance .prod_countdown {
    overflow: hidden;
}

#maintenance .prod_countdown .countdown_list {
    width: 25%;
    float: left;
    margin-bottom: 30px;
}

#maintenance .prod_countdown .countdown_list .countdown_digit {
    display: block;
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
}

#maintenance .prod_countdown .countdown_list .countdown_label {
    display: block;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 767px) {
    #maintenance {
        left: 0px;
    }
}

@media (max-width: 479px) {
    #maintenance .prod_countdown .countdown_list {
        width: 50%;
    }
}


/*
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}*/

.social_block {
    display: block;
    text-align: center;
    margin-top: 8px;
}

.social_block h4 {
	display: none;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.social_block ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.social_block ul li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.social_block ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    margin: 0px 7px;
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    line-height: 28px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}

.social_block ul li a span {
    display: none;
}

.social_block ul li a:before {
    width: 100%;
    height: 100%;
    /*line-height: 26px;*/
    background-color: transparent;
    color: #fff;
    display: block;
    border-radius: 50%;
    /*margin: 3px;*/
    font-family: "FontAwesome";
    vertical-align: middle;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social_block ul li a:hover {
    border-color: #fff;
}

.social_block ul li a:hover:before {
    background-color: #fff;
    color: #f1766a;
}

.social_block ul li.facebook a:before {
    content: "\f09a";
}

.social_block ul li.twitter a:before {
    content: "\f099";
}

.social_block ul li.rss a:before {
    content: "\f09e";
}

.social_block ul li.youtube a:before {
    content: "\f167";
}

.social_block ul li.google-plus a:before {
    content: "\f0d5";
}

.social_block ul li.pinterest a:before {
    content: "\f231";
}

.social_block ul li.vimeo a:before {
    content: "\f27d";
}

.social_block ul li.instagram a:before {
    content: "\f16d";
}
