#my-account .addresses-lists {
  margin-bottom: 30px;
}
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px;
}
#my-account ul.myaccount-link-list li a {
  display: block;
  overflow: hidden;
  font: 600 16px/20px "Montserrat", sans-serif;
  color: #555454;
  text-shadow: 0px 1px white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border: 1px solid;
  border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
}
#my-account ul.myaccount-link-list li a img {
  font-size: 25px;
  color: #384548 ;
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 100%;
  padding: 10px ;
  text-align: center;
  border: 1px solid #E5E5E5;
}

#my-account ul.myaccount-link-list li a i {
  font-size: 25px;
  color: #384548 ;
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 100%;
  padding: 10px 0 0 0;
  text-align: center;
  border: 1px solid #E5E5E5;
}
#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 13px 15px 15px 17px;
  overflow: hidden;
  border: 1px solid;
  margin-left: 52px;
  border-color: #E5E5E5 #E5E5E5 #E5E5E5 #c8c8c8;
}
#my-account ul.myaccount-link-list li a:hover {
  filter: none;
  background: #e7e7e7;
  border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
}
