/*******************************************************
Product list column Styles
********************************************************/
@media only screen and (max-width: 767px) {
  ul.product_list li.ajax_block_product.col-xs-6:nth-of-type(2n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-xs-4:nth-of-type(3n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-xs-3:nth-of-type(4n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-xs-2:nth-of-type(6n+1) {
    clear: left; }

  .col-xs-2s4 {
    width: 20%;
    float: left; }

  ul.product_list li.ajax_block_product.col-xs-2s4:nth-of-type(5n+1) {
    clear: left; } }
@media only screen and (min-width: 300px) and (max-width: 480px) {
  ul.product_list li.ajax_block_product {
    clear: none; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  ul.product_list li.ajax_block_product.col-sm-6:nth-of-type(2n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-sm-4:nth-of-type(3n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-sm-3:nth-of-type(4n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-sm-2:nth-of-type(6n+1) {
    clear: left; }

  .col-sm-2s4 {
    width: 20%;
    float: left; }

  ul.product_list li.ajax_block_product.col-sm-2s4:nth-of-type(5n+1) {
    clear: left; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ul.product_list li.ajax_block_product.col-md-6:nth-of-type(2n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-md-4:nth-of-type(3n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-md-3:nth-of-type(4n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-md-2:nth-of-type(6n+1) {
    clear: left; }

  .col-md-2s4 {
    width: 20%;
    float: left; }

  ul.product_list li.ajax_block_product.col-md-2s4:nth-of-type(5n+1) {
    clear: left; } }
@media (min-width: 1200px) {
  ul.product_list li.ajax_block_product.col-lg-6:nth-of-type(2n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-lg-4:nth-of-type(3n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-lg-3:nth-of-type(4n+1) {
    clear: left; }

  ul.product_list li.ajax_block_product.col-lg-2:nth-of-type(6n+1) {
    clear: left; }

  .col-lg-2s4 {
    width: 20%;
    float: left; }

  ul.product_list li.ajax_block_product.col-lg-2s4:nth-of-type(5n+1) {
    clear: left; } }
/*******************************************************
Product list Styles
********************************************************/
ul.product_list {
  margin-bottom: 0; }
  ul.product_list .product-manufacturer {
  margin-bottom: -5px; }
  ul.product_list .product-name {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
  ul.product_list .availability {
    font-size: 1.3rem; }
    ul.product_list .availability label {
      font-weight: 400;
      color: #999; }
    ul.product_list .availability span {
      display: inline-block; }
  ul.product_list .color-list-container {
    margin-bottom: 12px; }
    ul.product_list .color-list-container ul li {
      display: inline-block;
      border: 1px solid #EBEBEB;
      width: 26px;
      height: 26px; }
      ul.product_list .color-list-container ul li a {
        display: block;
        width: 22px;
        height: 22px;
        margin: 1px; }
        ul.product_list .color-list-container ul li a img {
          display: block;
          width: 22px;
          height: 22px; }
  ul.product_list .product-image-container {
    text-align: center;
    position: relative; }
    ul.product_list .product-image-container img {
      margin: 0 auto; }
    ul.product_list .product-image-container .prod_img_nav {
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      ul.product_list .product-image-container .prod_img_nav .kr_prev, ul.product_list .product-image-container .prod_img_nav .kr_next {
        display: block;
        width: 25px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 2;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        ul.product_list .product-image-container .prod_img_nav .kr_prev:before, ul.product_list .product-image-container .prod_img_nav .kr_next:before {
          display: block;
          font-family: "ElegantIcons";
          color: #a8a8a8;
          font-size: 20px; }
        ul.product_list .product-image-container .prod_img_nav .kr_prev:hover:before, ul.product_list .product-image-container .prod_img_nav .kr_next:hover:before {
          color: #f1766a; }
      ul.product_list .product-image-container .prod_img_nav .kr_prev:before {
        content: "\34"; }
      ul.product_list .product-image-container .prod_img_nav .kr_prev i {
        margin-left: 5px; }
      ul.product_list .product-image-container .prod_img_nav .kr_next {
        left: auto;
        right: 0; }
        ul.product_list .product-image-container .prod_img_nav .kr_next:before {
          content: "\35"; }
        ul.product_list .product-image-container .prod_img_nav .kr_next i {
          margin-right: 5px; }
    ul.product_list .product-image-container .kr_counter {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      padding: 4px 8px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    ul.product_list .product-image-container .quick-view {
      text-align: center; }
    ul.product_list .product-image-container img.extra_img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
      z-index: 1; }
    ul.product_list .product-image-container .prod_countdown_area {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-color: rgba(255, 255, 255, 0.8);
      left: 0px;
      right: 0px;
      padding: 7px 0px;
      visibility: visible;
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      ul.product_list .product-image-container .prod_countdown_area .prod_countdown {
        display: block;
        text-align: center; }
        ul.product_list .product-image-container .prod_countdown_area .prod_countdown .countdown_list {
          display: inline-block;
          padding: 1px 8px; }
          ul.product_list .product-image-container .prod_countdown_area .prod_countdown .countdown_list .countdown_digit {
            margin-right: 1px;
            display: inline-block; }
          ul.product_list .product-image-container .prod_countdown_area .prod_countdown .countdown_list .countdown_label {
            display: inline-block; }
    ul.product_list .product-image-container .right_box_container {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 1; }
      ul.product_list .product-image-container .right_box_container .quick-view-wrapper {
        display: none; }
    ul.product_list .product-image-container .left_box_container {
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 1; }
      ul.product_list .product-image-container .left_box_container .quick-view-wrapper {
        display: none; }
  ul.product_list .functional-buttons {
    display: block; }
    ul.product_list .functional-buttons > div {
      display: block;
      margin: 0px 5px; }
      ul.product_list .functional-buttons > div a, ul.product_list .functional-buttons > div label {
        width: 38px;
        height: 38px;
        line-height: 37px;
        text-align: center;
        overflow: hidden;
        color: #868687;
        border: 1px solid #DCDCDC;
        cursor: pointer;
        font-size: 0;
        display: block;
        background-color: #fff;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        ul.product_list .functional-buttons > div a:before, ul.product_list .functional-buttons > div label:before {
          font-size: 13px;
          font-family: "FontAwesome";
          display: block;
          line-height: inherit; }
        ul.product_list .functional-buttons > div a:hover, ul.product_list .functional-buttons > div label:hover {
          color: #fff;
          border-color: #f1766a;
          background-color: #f1766a;
          box-shadow: 0px 0px 0px 3px #fff inset; }
      ul.product_list .functional-buttons > div.quick-view-wrapper a:before {
        content: "\f06e"; }
      ul.product_list .functional-buttons > div.wishlist a:before {
        content: "\f004"; }
      ul.product_list .functional-buttons > div.wishlist a.checked:before {
        content: "\f00c"; }
      ul.product_list .functional-buttons > div.compare a:before {
        content: "\f079"; }
      ul.product_list .functional-buttons > div.compare a.checked:before {
        content: "\f00c"; }
  ul.product_list .comments_note {
    text-align: left;
    overflow: hidden; }
    ul.product_list .comments_note .star_content {
      float: left; }
    ul.product_list .comments_note .nb-comments {
      overflow: hidden;
      font-style: italic; }
  ul.product_list.gray_image_bg li.ajax_block_product .product-image-container .product_img_link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    pointer-events: none;
    opacity: .03;
    -moz-opacity: .03;
    -khtml-opacity: .03;
    -ms-filter: "alpha(opacity=3)";
    filter: alpha(opacity=3); }
  ul.product_list.product_small_padding {
    margin-left: 0px;
    margin-right: 0px; }
    ul.product_list.product_small_padding li.ajax_block_product {
      padding-left: 1px;
      padding-right: 1px; }
  ul.product_list.product_no_padding {
    margin-left: 0px;
    margin-right: 0px; }
    ul.product_list.product_no_padding li.ajax_block_product {
      padding-left: 0px;
      padding-right: 0px; }

/*******************************************************
Product list(Grid) Styles
********************************************************/
ul.product_list.grid li.ajax_block_product {
  margin-bottom: 30px;
  text-align: center; }
  ul.product_list.grid li.ajax_block_product .product-container {
    background: #fff;
    padding: 0;
    position: relative; }
    ul.product_list.grid li.ajax_block_product .product-container .product-image-container {
      position: relative; }
      @media (max-width: 767px) {
        ul.product_list.grid li.ajax_block_product .product-container .product-image-container {
          margin-left: auto;
          margin-right: auto; } }
      ul.product_list.grid li.ajax_block_product .product-container .product-image-container:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 2;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      ul.product_list.grid li.ajax_block_product .product-container .product-image-container .center_box_container {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 2; }
        ul.product_list.grid li.ajax_block_product .product-container .product-image-container .center_box_container h5 {
          margin-bottom: 4px; }
        ul.product_list.grid li.ajax_block_product .product-container .product-image-container .center_box_container .comments_note {
          display: block;
          text-align: center; }
          ul.product_list.grid li.ajax_block_product .product-container .product-image-container .center_box_container .comments_note .star_content {
            display: inline-block;
            float: none;
            line-height: 1;
            margin-bottom: 6px; }
          ul.product_list.grid li.ajax_block_product .product-container .product-image-container .center_box_container .comments_note .nb-comments {
            display: none; }
      ul.product_list.grid li.ajax_block_product .product-container .product-image-container .functional-buttons {
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
      ul.product_list.grid li.ajax_block_product .product-container .product-image-container .button-container {
        position: absolute;
        bottom: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        ul.product_list.grid li.ajax_block_product .product-container .product-image-container .button-container a.ajax_add_to_cart_button {
          width: 50px;
          height: 50px;
          line-height: 50px;
          background-color: #f1766a;
          border-color: #f1766a;
          display: block;
          text-align: center;
          padding: 0;
          margin: 0;
          font-size: 19px;
          color: #fff;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          ul.product_list.grid li.ajax_block_product .product-container .product-image-container .button-container a.ajax_add_to_cart_button:before {
            content: "a";
            font-family: "ecommerceIcons";
            font-weight: normal;
            text-transform: none; }
          ul.product_list.grid li.ajax_block_product .product-container .product-image-container .button-container a.ajax_add_to_cart_button span {
            display: none; }
          ul.product_list.grid li.ajax_block_product .product-container .product-image-container .button-container a.ajax_add_to_cart_button:hover {
            box-shadow: 0px 0px 0px 3px #fff inset; }
      ul.product_list.grid li.ajax_block_product .product-container .product-image-container .content_price {
		  display:none;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #fff;
        padding: 4px 6px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block h5 {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 0px;
      /*display: none;*/ }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .hook-reviews {
      display: none; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .availability {
      display: none; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .product-flags {
      display: none; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .comments_note .star_content {
      margin: 0 3px 12px 59px; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .product-desc {
      display: none; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .content_price {
      margin-bottom: 20px;
      line-height: 1;
      display: block; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .product-flags {
      display: none; }
    ul.product_list.grid li.ajax_block_product .product-container .right-block .button-container {
      display: none; }
      ul.product_list.grid li.ajax_block_product .product-container .right-block .button-container .ajax_add_to_cart_button + .lnk_view {
        display: none; }
  ul.product_list.grid li.ajax_block_product.hovered .product-container {
    position: relative;
    z-index: 10; }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container:before {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container .center_box_container {
      visibility: visible;
      opacity: 1; }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container .button-container {
      visibility: visible;
      opacity: 1; }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container .content_price {
      opacity: 0;
      visibility: hidden; }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container img.extra_img {
      visibility: visible;
      opacity: 1; }
    ul.product_list.grid li.ajax_block_product.hovered .product-container .product-image-container .prod_countdown_area {
      visibility: hidden;
      opacity: 0; }
  @media (min-width: 992px) {
    ul.product_list.grid li.ajax_block_product.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid li.ajax_block_product.first-item-of-tablet-line {
      clear: left; } }
ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .left-block {
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .left-block .product-image-container .center_box_container h5 {
    display: none; }
  ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .left-block .product-image-container .content_price {
    display: none; }
ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .right-block h5 {
  display: block;
  margin-bottom: 5px; }
ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .right-block .content_price {
  display: block;
  margin-bottom: 0px; }
  ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .right-block .content_price .price.product-price {
    font-size: 1.6rem;
    color: #f1766a; }
  ul.product_list.grid.prod_grid_regular li.ajax_block_product .product-container .right-block .content_price .old-price.product-price {
    font-size: 1.4rem; }
ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block {
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container:before {
    display: none; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link img.extra_img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
    visibility: hidden;
    opacity: 0; }
    ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev, ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      z-index: 3; }
    ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
      left: -25px; }
    ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      right: -25px; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .kr_counter {
    visibility: hidden;
    opacity: 0; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container h5 {
    display: none; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .hook-reviews {
    display: none; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view {
    border-radius: 50%;
    border-color: transparent; }
    ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view:before {
      content: "\f002"; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .wishlist, ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .compare {
    display: none; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .left-block .product-image-container .content_price {
    display: none; }
ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .right-block h5 {
  display: block;
  margin-bottom: 5px; }
ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .right-block .content_price {
  display: block;
  margin-bottom: 0px; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .right-block .content_price .price.product-price {
    font-size: 1.6rem;
    color: #f1766a; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product .product-container .right-block .content_price .old-price.product-price {
    font-size: 1.4rem; }
ul.product_list.grid.prod_grid_classic li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
  visibility: visible;
  opacity: 1; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
    left: 0px; }
  ul.product_list.grid.prod_grid_classic li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
    right: 0px; }
ul.product_list.grid.prod_grid_classic li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .kr_counter {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block {
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container:before {
    display: none; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link img.extra_img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
    visibility: hidden;
    opacity: 0; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev, ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      z-index: 3; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
      left: -25px; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      right: -25px; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .kr_counter {
    visibility: hidden;
    opacity: 0; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container {
    display: none; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container h5 {
      display: none; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .hook-reviews {
      display: none; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view {
      border-radius: 50%; }
      ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view:before {
        content: "\f002"; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .wishlist, ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .compare {
      display: none; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .button-container {
    display: none; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .content_price {
    display: none; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper {
    display: block; }
    ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view {
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: #f1766a;
      border: 1px solid;
      border-color: #f1766a;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 17px;
      color: #fff;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      visibility: hidden;
      opacity: 0; }
      ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view:before {
        content: "\f06e";
        font-family: "FontAwesome"; }
      ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view span {
        display: none; }
      ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view:hover {
        box-shadow: 0px 0px 0px 3px #fff inset; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .right-block h5 {
  display: block;
  margin-bottom: 5px; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .right-block .content_price {
  display: block;
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .right-block .content_price .price.product-price {
    font-size: 1.6rem;
    color: #f1766a; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .right-block .content_price .old-price.product-price {
    font-size: 1.4rem; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product .product-container .right-block .button-container {
  display: block; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
  visibility: visible;
  opacity: 1; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
    left: 0px; }
  ul.product_list.grid.prod_grid_creative li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
    right: 0px; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .kr_counter {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_creative li.ajax_block_product.hovered .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block {
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container:before {
    display: none; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .product_img_link img.extra_img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
    visibility: hidden;
    opacity: 0; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev, ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      z-index: 3; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .kr_counter {
    visibility: hidden;
    opacity: 0; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container {
    display: none; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container h5 {
      display: none; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .hook-reviews {
      display: none; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view {
      border-radius: 50%; }
      ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view:before {
        content: "\f002"; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .wishlist, ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .compare {
      display: none; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .button-container {
    display: none; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .content_price {
    display: none; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper {
    display: block; }
    ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view {
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-color: #fff;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 13px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      visibility: hidden;
      opacity: 0;
      box-shadow: none; }
      ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view:before {
        content: "\f002";
        font-family: "FontAwesome"; }
      ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view span {
        display: none; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .right-block h5 {
  display: block;
  margin-bottom: 5px; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .right-block .content_price {
  display: block;
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .right-block .content_price .price.product-price {
    font-size: 1.6rem;
    color: #f1766a; }
  ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .right-block .content_price .old-price.product-price {
    font-size: 1.4rem; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product .product-container .right-block .button-container {
  display: block; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .kr_counter {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_expand li.ajax_block_product.hovered .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper .quick-view {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block {
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container:before {
    display: none; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link img.extra_img {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
    visibility: hidden;
    opacity: 0; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev, ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      z-index: 3; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
      left: -25px; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
      right: -25px; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .product_img_link .kr_counter {
    visibility: hidden;
    opacity: 0;
    display: none; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container {
    display: none; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container h5 {
      display: none; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .hook-reviews {
      display: none; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view {
      border-radius: 50%; }
      ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .quick-view-wrapper .quick-view:before {
        content: "\f002"; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .wishlist, ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .center_box_container .functional-buttons .compare {
      display: none; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .button-container {
    display: block; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .content_price {
    display: none; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .right_box_container .quick-view-wrapper {
    display: none; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .left_box_container .quick-view-wrapper {
    display: block; }
    ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .left_box_container .quick-view-wrapper .quick-view {
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-color: #fff;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 13px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      visibility: hidden;
      opacity: 0;
      box-shadow: none; }
      ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .left_box_container .quick-view-wrapper .quick-view:before {
        content: "\f002";
        font-family: "FontAwesome"; }
      ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .left-block .product-image-container .left_box_container .quick-view-wrapper .quick-view span {
        display: none; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .right-block h5 {
  display: block;
  margin-bottom: 5px; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .right-block .content_price {
  display: block;
  margin-bottom: 15px; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .right-block .content_price .price.product-price {
    font-size: 1.6rem;
    color: #f1766a; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .right-block .content_price .old-price.product-price {
    font-size: 1.4rem; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product .product-container .right-block .button-container {
  display: none; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav {
  visibility: visible;
  opacity: 1; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_prev {
    left: 0px; }
  ul.product_list.grid.prod_grid_extream li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .prod_img_nav .kr_next {
    right: 0px; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product.hovered .product-container .left-block .product-image-container .product_img_link .kr_counter {
  visibility: visible;
  opacity: 1; }
ul.product_list.grid.prod_grid_extream li.ajax_block_product.hovered .product-container .left-block .product-image-container .left_box_container .quick-view-wrapper .quick-view {
  visibility: visible;
  opacity: 1; }

@media (min-width: 1200px) {
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none; }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left; } }

/*******************************************************
Product list(List) Styles
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list li.ajax_block_product .left-block {
    width: 100%; } }
ul.product_list.list li.ajax_block_product .product-container {
  padding: 0px 0 30px; }
ul.product_list.list li.ajax_block_product .product-image-container {
  position: relative; }
  ul.product_list.list li.ajax_block_product .product-image-container .content_price {
    display: none !important; }
  ul.product_list.list li.ajax_block_product .product-image-container .center_box_container {
    display: none; }
  ul.product_list.list li.ajax_block_product .product-image-container .button-container {
    display: none; }
  ul.product_list.list li.ajax_block_product .product-image-container .content_price {
    display: none; }
ul.product_list.list li.ajax_block_product .product-flags .discount {
  color: #f13340; }
ul.product_list.list li.ajax_block_product .right-block h5 {
  font-weight: 400;
  margin-bottom: 5px; }
  ul.product_list.list li.ajax_block_product .right-block h5 a {
    line-height: 1;
    font-size: 1.6rem; }
ul.product_list.list li.ajax_block_product .right-block .product-desc {
  margin: 10px 0px 30px; }
ul.product_list.list li.ajax_block_product .right-block .comments_note {
  margin-bottom: 15px; }
  ul.product_list.list li.ajax_block_product .right-block .comments_note .star_content {
    float: left; }
    ul.product_list.list li.ajax_block_product .right-block .comments_note .star_content .star {
      overflow: visible; }
  ul.product_list.list li.ajax_block_product .right-block .comments_note .nb-comments {
    display: block;
    float: left;
    margin: -3px 0px 0px 5px;
    font-style: normal; }
ul.product_list.list li.ajax_block_product .right-block .content_price {
  padding-bottom: 10px; }
  @media (max-width: 991px) {
    ul.product_list.list li.ajax_block_product .right-block .content_price {
      padding-top: 13px;
      padding-bottom: 0; } }
  @media (max-width: 479px) {
    ul.product_list.list li.ajax_block_product .right-block .content_price {
      padding-top: 0;
      width: 100%; } }
  ul.product_list.list li.ajax_block_product .right-block .content_price .price {
    display: inline-block;
    font-size: 1.8rem; }
    ul.product_list.list li.ajax_block_product .right-block .content_price .price.old-price {
      margin-right: 8px; }
ul.product_list.list li.ajax_block_product .right-block .availability {
  display: block; }
ul.product_list.list li.ajax_block_product .right-block .button-container {
  overflow: hidden;
  padding-bottom: 20px; }
  ul.product_list.list li.ajax_block_product .right-block .button-container .btn-default.ajax_add_to_cart_button {
    color: #fff;
    background-color: #f1766a;
    border-color: #f1766a; }
  ul.product_list.list li.ajax_block_product .right-block .button-container .lnk_view {
    display: none; }
ul.product_list.list li.ajax_block_product .right-block .functional-buttons {
  display: inline-block;
  vertical-align: middle; }
  ul.product_list.list li.ajax_block_product .right-block .functional-buttons > div {
    margin: 0px 0px 0px 8px;
    display: inline-block;
    vertical-align: middle; }
@media (min-width: 1200px) {
  ul.product_list.list li.ajax_block_product:hover .product-image-container .prod_img_nav {
    display: block;
    visibility: visible;
    opacity: 1; }
  ul.product_list.list li.ajax_block_product:hover .product-image-container .functional-buttons {
    visibility: visible;
    opacity: 1; }
    ul.product_list.list li.ajax_block_product:hover .product-image-container .functional-buttons > div {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
  ul.product_list.list li.ajax_block_product:hover .product-image-container img.extra_img {
    visibility: visible;
    opacity: 1; }
  ul.product_list.list li.ajax_block_product:hover .product-image-container .prod_countdown_area {
    visibility: hidden;
    opacity: 0; } }
@media (max-width: 479px) {
  ul.product_list.list li.ajax_block_product {
    text-align: center; } }

/*******************************************************
Product list(Index page) Styles
********************************************************/
/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #EBEBEB; }
