/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 40px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Jura", Arial, Helvetica, sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto; }

a.fancybox-nav {
  outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
  background: #fff; }
  .pb-left-column #image-block img {
    background: #fbfbfb;
    width: 100%; }
  .pb-left-column #image-block ul {
    margin: 0px; }
  .pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    text-align: center;
    font-size: 0px;
    width: 37px;
    height: 37px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #f1766a;
    background: #f1766a;
    z-index: 9991;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0.5; }
    .pb-left-column #image-block #view_full_size .span_link a {
      display: block; }
      .pb-left-column #image-block #view_full_size .span_link a:after {
        content: "\31";
        font-family: "ElegantIcons";
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block; }
    .pb-left-column #image-block #view_full_size .span_link:hover {
      opacity: 1;
      border: 1px solid #f1766a;
      background: #f1766a;
      box-shadow: 0px 0px 0px 3px #fff inset; }
      .pb-left-column #image-block #view_full_size .span_link:hover a:after {
        color: #fff; }
  .pb-left-column #image-block #view_full_size .slick-prev, .pb-left-column #image-block #view_full_size .slick-next {
    display: block;
    background: #fff;
    border: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    font-size: 0px;
    z-index: 9991;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pb-left-column #image-block #view_full_size .slick-prev:before, .pb-left-column #image-block #view_full_size .slick-next:before {
      font-size: 23px;
      color: #a8a8a8;
      font-family: "ElegantIcons"; }
  .pb-left-column #image-block #view_full_size .slick-prev {
    left: -30px; }
    .pb-left-column #image-block #view_full_size .slick-prev:before {
      content: "\34"; }
  .pb-left-column #image-block #view_full_size .slick-next {
    right: -30px; }
    .pb-left-column #image-block #view_full_size .slick-next:before {
      content: "\35"; }
  .pb-left-column #image-block #view_full_size.arrow_show .slick-prev, .pb-left-column #image-block #view_full_size.arrow_show .slick-next {
    opacity: 1;
    visibility: visible; }
  .pb-left-column #image-block #view_full_size.arrow_show .slick-prev {
    left: 0px; }
  .pb-left-column #image-block #view_full_size.arrow_show .slick-next {
    right: -1px; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important; }

/* miniatures */
.pb-left-column #views_block {
  width: 100px;
  float: left;
  margin-right: 30px;
  position: relative;
  padding: 30px 0px 50px; }

#thumbs_list {
  display: block;
  margin: 0px 30px; }
  #thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: 0; }
  #thumbs_list li {
    cursor: pointer;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #thumbs_list li a {
      display: block;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #fbfbfb; }
      #thumbs_list li a:hover, #thumbs_list li a.shown {
        opacity: 1; }
    #thumbs_list li img {
      opacity: 0.7;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #thumbs_list li.slick-center img, #thumbs_list li:hover img {
      opacity: 1; }

.show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
  width: 294px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 194px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 82px; } }
  @media (max-width: 767px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 196px; } }

#view_scroll_left,
#view_scroll_right {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding-top: 6px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -16px;
  z-index: 2; }
  #view_scroll_left.disable,
  #view_scroll_right.disable {
    pointer-events: none; }

#view_scroll_right {
  top: auto;
  bottom: 0; }

.resetimg {
  padding: 10px 0 0; }
  .resetimg #resetImages i {
    margin-right: 6px; }

/* link list */
#usefull_link_block {
  list-style-type: none;
  margin: 5px 0px 15px; }
  #usefull_link_block p a {
    color: #8f8f8f;
    font-weight: 400;
    position: relative;
    width: 37px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #ECECEC;
    display: block;
    font-size: 0px;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    #usefull_link_block p a:before {
      font-family: "FontAwesome";
      font-size: 13px; }
    #usefull_link_block p a:hover {
      color: #fff;
      background-color: #f1766a;
      border-color: #f1766a;
      box-shadow: 0px 0px 0px 3px #fff inset; }
  #usefull_link_block p.print {
    display: block;
    float: left;
    margin: 0px 0px 0px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block p.print {
        margin: 0px 0 0;
        padding: 0;
        border: none; } }
    #usefull_link_block p.print a:before {
      content: "\f02f"; }
  #usefull_link_block p.sendtofriend {
    display: block;
    float: left;
    margin-right: 10px; }
    #usefull_link_block p.sendtofriend a:before {
      content: "\f0e0"; }
  #usefull_link_block p#left_share_fb {
    clear: both;
    float: none; }
    #usefull_link_block p#left_share_fb a {
      padding-left: 18px; }
    #usefull_link_block p#left_share_fb a:before {
      content: "\f09a"; }
  #usefull_link_block p#favoriteproducts_block_extra_remove, #usefull_link_block p#favoriteproducts_block_extra_add, #usefull_link_block p#favoriteproducts_block_extra_removed, #usefull_link_block p#favoriteproducts_block_extra_added {
    cursor: pointer;
    font-weight: 700;
    clear: both;
    float: none;
    margin: 0 0 8px 0;
    border: none;
    padding: 0;
    position: relative; }
    #usefull_link_block p#favoriteproducts_block_extra_remove:before, #usefull_link_block p#favoriteproducts_block_extra_add:before, #usefull_link_block p#favoriteproducts_block_extra_removed:before, #usefull_link_block p#favoriteproducts_block_extra_added:before {
      font-family: "FontAwesome";
      color: #8f8f8f;
      font-size: 19px;
      line-height: 24px;
      position: absolute;
      top: -2px;
      left: 0;
      font-weight: normal;
      content: "\f08a"; }
    #usefull_link_block p#favoriteproducts_block_extra_remove:hover, #usefull_link_block p#favoriteproducts_block_extra_add:hover, #usefull_link_block p#favoriteproducts_block_extra_removed:hover, #usefull_link_block p#favoriteproducts_block_extra_added:hover {
      color: #000; }
  #usefull_link_block p#favoriteproducts_block_extra_removed:before {
    content: "\f004"; }
  #usefull_link_block p.product_size_chart {
    float: none;
    margin-bottom: 15px; }
    #usefull_link_block p.product_size_chart a {
      font-size: 1.3rem;
      border: 0px;
      width: auto;
      text-align: left;
      padding: 0;
      height: auto;
      line-height: 1; }
      #usefull_link_block p.product_size_chart a:before {
        content: "\f11c";
        font-size: 14px;
        margin-right: 10px; }
      #usefull_link_block p.product_size_chart a:hover {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        color: #f1766a; }

/* pb-center-column ****************************************************************************** */
.pb-center-column {
  margin-bottom: 30px;
  /* prices */
  /* form */ }
  .pb-center-column h1 {
    font-size: 1.8rem;
    color: #616161;
    font-family: "Jura", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 400; }
  .pb-center-column .prev_next_product {
    position: absolute;
    right: 15px;
    top: 0; }
    .pb-center-column .prev_next_product .prev_product, .pb-center-column .prev_next_product .next_product {
      display: block;
      width: 22px;
      height: 22px;
      line-height: 22px;
      float: left;
      margin-left: 5px;
      text-align: center;
      position: relative;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .pb-center-column .prev_next_product .prev_product .prev_product_content, .pb-center-column .prev_next_product .prev_product .next_product_content, .pb-center-column .prev_next_product .next_product .prev_product_content, .pb-center-column .prev_next_product .next_product .next_product_content {
        display: block;
        position: absolute;
        top: 35px;
        width: 82px;
        border: 1px solid #f1766a;
        background-color: #f1766a;
        color: #fff;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .pb-center-column .prev_next_product .prev_product .prev_product_content img, .pb-center-column .prev_next_product .prev_product .next_product_content img, .pb-center-column .prev_next_product .next_product .prev_product_content img, .pb-center-column .prev_next_product .next_product .next_product_content img {
          width: 100%;
          height: auto; }
        .pb-center-column .prev_next_product .prev_product .prev_product_content h4, .pb-center-column .prev_next_product .prev_product .next_product_content h4, .pb-center-column .prev_next_product .next_product .prev_product_content h4, .pb-center-column .prev_next_product .next_product .next_product_content h4 {
          color: #fff;
          padding: 4px 0px;
          font-size: 1.2rem;
          text-transform: none;
          margin-bottom: 0px;
          line-height: 1.1;
          font-weight: 400; }
        .pb-center-column .prev_next_product .prev_product .prev_product_content .content_price, .pb-center-column .prev_next_product .prev_product .next_product_content .content_price, .pb-center-column .prev_next_product .next_product .prev_product_content .content_price, .pb-center-column .prev_next_product .next_product .next_product_content .content_price {
          display: none;
          line-height: 1;
          padding: 3px 0px 5px; }
          .pb-center-column .prev_next_product .prev_product .prev_product_content .content_price .price, .pb-center-column .prev_next_product .prev_product .next_product_content .content_price .price, .pb-center-column .prev_next_product .next_product .prev_product_content .content_price .price, .pb-center-column .prev_next_product .next_product .next_product_content .content_price .price {
            font-size: 1.2rem;
            color: #fff; }
          .pb-center-column .prev_next_product .prev_product .prev_product_content .content_price .old-price, .pb-center-column .prev_next_product .prev_product .next_product_content .content_price .old-price, .pb-center-column .prev_next_product .next_product .prev_product_content .content_price .old-price, .pb-center-column .prev_next_product .next_product .next_product_content .content_price .old-price {
            font-size: 1.2rem; }
      .pb-center-column .prev_next_product .prev_product .prev_product_content, .pb-center-column .prev_next_product .next_product .prev_product_content {
        right: 0; }
      .pb-center-column .prev_next_product .prev_product .next_product_content, .pb-center-column .prev_next_product .next_product .next_product_content {
        left: 0px; }
      .pb-center-column .prev_next_product .prev_product:hover .prev_product_content, .pb-center-column .prev_next_product .prev_product:hover .next_product_content, .pb-center-column .prev_next_product .next_product:hover .prev_product_content, .pb-center-column .prev_next_product .next_product:hover .next_product_content {
        display: block;
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
  .pb-center-column p {
    margin-bottom: 10px; }
  .pb-center-column label {
    color: #8f8f8f;
    font-weight: 400; }
  .pb-center-column .comments_note {
    float: left;
    margin-right: 10px; }
  .pb-center-column .comments_advices {
    float: left;
    margin: 0; }
    .pb-center-column .comments_advices li {
      line-height: 1;
      float: left; }
      .pb-center-column .comments_advices li a {
        color: #a8a8a8;
        padding-right: 6px;
        margin-right: 6px;
        font-size: 1.2rem;
        font-family: "Jura", Arial, Helvetica, sans-serif;
        border-right: 1px solid #EBEBEB; }
        .pb-center-column .comments_advices li a:hover {
          color: #f1766a; }
      .pb-center-column .comments_advices li:last-child a {
        border: 0; }
  .pb-center-column .discount {
    display: none; }
  .pb-center-column .our_price_display {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1;
    font-family: "Jura", Arial, Helvetica, sans-serif;
    color: #7a7a7a;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px; }
    .pb-center-column .our_price_display .price {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 1;
      color: #7a7a7a; }
  .pb-center-column #old_price {
    padding-bottom: 10px;
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
    line-height: 23px; }
    .pb-center-column #old_price .price {
      color: #a1a1a1;
      font-size: 1.6rem;
      font-weight: 300; }
  .pb-center-column #reduction_percent,
  .pb-center-column #reduction_amount {
    margin-right: 10px;
    padding: 1px 4px;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    background: #f1766a; }
    .pb-center-column #reduction_percent span,
    .pb-center-column #reduction_amount span {
      display: block; }
    .hide-left-column.hide-right-column .pb-center-column #reduction_percent, .hide-left-column.hide-right-column
    .pb-center-column #reduction_amount {
      display: inline-block; }
  .pb-center-column #product_reference, .pb-center-column #product_condition, .pb-center-column #pQuantityAvailable {
    margin-bottom: 3px; }
  .pb-center-column #short_description_block {
    color: #666;
    margin: 20px 0px;
    padding: 20px 0px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC; }
    .pb-center-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content {
      padding: 0 0 0px;
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
        margin-bottom: 0; }
  .pb-center-column #buy_block {
    margin-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
    overflow: hidden; }
    .pb-center-column #buy_block label {
      display: block;
      margin: 6px 0px;
      min-width: 50px;
      float: left; }
    .pb-center-column #buy_block p.price {
      padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }
  .pb-center-column .socialsharing_product {
    margin: 0px 0px 0px;
    float: left; }
    .pb-center-column .socialsharing_product label {
      font-weight: normal;
      min-width: 50px;
      vertical-align: middle; }
    .pb-center-column .socialsharing_product button {
      width: 37px;
      height: 37px;
      line-height: 35px;
      border: 1px solid #ECECEC;
      background-color: #fff;
      color: #8f8f8f;
      margin-right: 10px;
      margin-bottom: 10px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .pb-center-column .socialsharing_product button i {
        color: #8f8f8f; }
      .pb-center-column .socialsharing_product button:hover {
        color: #fff;
        border-color: #f1766a;
        background-color: #f1766a;
        box-shadow: 0px 0px 0px 3px #fff inset; }
        .pb-center-column .socialsharing_product button:hover i {
          color: #fff; }
  .pb-center-column .prod_countdown_area {
    margin-top: 20px; }
    .pb-center-column .prod_countdown_area .prod_page_countdown > div {
      display: inline-block;
      margin-right: 10px;
      background-color: #f1766a;
      text-align: center;
      padding: 7px 13px;
      color: #fff;
      line-height: 1.3; }
    .pb-center-column .prod_countdown_area .prod_page_countdown .prod_count_label {
      font-weight: 700;
      display: none; }
    .pb-center-column .prod_countdown_area .prod_page_countdown .countdown_list .countdown_digit {
      margin-right: 0px;
      font-size: 16px;
      display: block; }
    .pb-center-column .prod_countdown_area .prod_page_countdown .countdown_list .countdown_label {
      display: block;
      text-transform: capitalize; }
  .pb-center-column .product_details_bottom_tab {
    margin-top: 30px; }

.product_details_bottom_tab {
  margin-bottom: 60px; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
    color: #8f8f8f; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
  padding: 0 20px 20px;
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 1em;
    min-height: 1px; }

#attributes {
  margin-bottom: 20px; }
  #attributes fieldset {
    margin-bottom: 20px; }
    #attributes fieldset label {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      min-width: 38px;
      width: 11%; }
  #attributes .attribute_list {
    max-width: 132px;
    width: 88%;
    display: inline-block;
    vertical-align: middle; }
    #attributes .attribute_list .form-control {
      max-width: 100%;
      width: 100%; }
      #attributes .attribute_list .form-control option {
        background: #fff;
        color: #666; }
    #attributes .attribute_list ul {
      clear: both;
      margin: 0; }
      #attributes .attribute_list ul li {
        float: left;
        margin-right: 10px; }
    #attributes .attribute_list input.attribute_radio {
      float: left;
      margin-left: 3px; }
    #attributes .attribute_list div.radio,
    #attributes .attribute_list div.radio span,
    #attributes .attribute_list div.radio input {
      float: none;
      display: inline-block; }
    #attributes .attribute_list #color_to_pick_list {
      list-style-type: none;
      margin: 0; }
      #attributes .attribute_list #color_to_pick_list li {
        float: left;
        margin: 0 5px 0px 0;
        border: 0px solid transparent;
        clear: none;
        width: 31px;
        height: 31px; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick {
          display: block;
          height: 100%;
          width: 100%;
          cursor: pointer; }
          #attributes .attribute_list #color_to_pick_list li a.color_pick img {
            display: block;
            height: 100%;
            width: 100%; }
        #attributes .attribute_list #color_to_pick_list li a[name*="White"] {
          border: 1px solid #ccc; }
        #attributes .attribute_list #color_to_pick_list li.selected {
          position: relative; }
          #attributes .attribute_list #color_to_pick_list li.selected a:after {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0%;
            left: 0%;
            margin-top: 3px;
            margin-left: 3px;
            border: 2px solid #384548; }
          #attributes .attribute_list #color_to_pick_list li.selected a[name*="White"]:after {
            border-color: #f1766a; }
    #attributes .attribute_list li {
      position: relative;
      margin-right: 15px !important; }
      #attributes .attribute_list li div.radio {
        width: auto;
        height: auto;
        display: block;
        margin: 0;
        padding: 0; }
        #attributes .attribute_list li div.radio > span {
          width: 32px;
          height: 32px;
          padding: 0;
          margin: 0;
          top: 0;
          display: block;
          background: #d4d5d5;
          z-index: 2; }
          #attributes .attribute_list li div.radio > span input {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer; }
          #attributes .attribute_list li div.radio > span.checked {
            background: #a2a2a2;
		


			}
        #attributes .attribute_list li div.radio + span {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          display: block;
          text-align: center;
          line-height: 32px;
          pointer-events: none; 
		  color: #fff
		}
          #attributes .attribute_list li div.radio + span.checked {
            color: #fff; }
    #attributes .attribute_list.group_style_color, #attributes .attribute_list.group_style_radio {
      max-width: 100%; }

.box-cart-bottom {
  padding: 0; }
  .box-cart-bottom .sendtofriend {
    display: block;
    float: left; }
    .box-cart-bottom .sendtofriend a {
      display: block;
      text-align: center;
      font-size: 0px;
      width: 37px;
      height: 37px;
      line-height: 37px;
      border: 1px solid #ECECEC;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .box-cart-bottom .sendtofriend a:before {
        content: "\f0e0";
        font-family: "FontAwesome";
        font-size: 13px; }
      .box-cart-bottom .sendtofriend a:hover {
        background-color: #f1766a;
        border-color: #f1766a;
        color: #fff;
        box-shadow: 0px 0px 0px 3px #fff inset; }

#short_description_content a,
.page-product-box .rte a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
  text-decoration: none; }

.box-info-product p {
  margin-bottom: 0px; }
.box-info-product .box_add_to_cart {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }
  .box-info-product .box_add_to_cart .exclusive.added:before {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-right: 2px; }
  .box-info-product .box_add_to_cart .exclusive.added.disabled:before, .box-info-product .box_add_to_cart .exclusive.disabled:before {
    height: 51px;
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none; }
  .box-info-product .box_add_to_cart .exclusive:hover {
    background-position: 0 0; }
.box-info-product .buttons_bottom_block {
  float: left; }
  .box-info-product .buttons_bottom_block #wishlist_button_nopop, .box-info-product .buttons_bottom_block .add_to_compare,.box-info-product .buttons_bottom_block #wishlist_button {
    width: 37px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #ECECEC;
    color: #868687;
    background: #fff;
    display: block;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .box-info-product .buttons_bottom_block #wishlist_button_nopop i, .box-info-product .buttons_bottom_block .add_to_compare i,.box-info-product .buttons_bottom_block #wishlist_button i {
      color: #868687; }
    .box-info-product .buttons_bottom_block #wishlist_button_nopop:hover, .box-info-product .buttons_bottom_block .add_to_compare:hover,.box-info-product .buttons_bottom_block #wishlist_button:hover {
      color: #fff;
      background-color: #f1766a;
      border-color: #f1766a;
      box-shadow: 0px 0px 0px 3px #fff inset; }
      .box-info-product .buttons_bottom_block #wishlist_button_nopop:hover i, .box-info-product .buttons_bottom_block .add_to_compare:hover i,.box-info-product .buttons_bottom_block #wishlist_button:hover i {
        color: #fff; }
  .box-info-product .buttons_bottom_block .add_to_compare.checked i:before {
    content: "\f00c"; }

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    position: relative;
    display: block; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
      font-family: "FontAwesome";
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      color: #fff;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: none; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
      background: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-top: 1px solid #006fa8;
      text-shadow: 0 1px #015883;
      padding: 12px 16px 14px;
      color: #fff;
      display: block !important;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          font-size: 16px; } }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: center; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
      background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #EBEBEB;
  width: 100%;
  margin: 0 0 20px;
  background: #fff; }
  .table-data-sheet tr {
    border-top: 1px solid #EBEBEB; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #EBEBEB;
        width: 30%;
        font-weight: 700;
        color: #8f8f8f; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #8f8f8f;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #EBEBEB;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #EBEBEB;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
  margin-bottom: 5px; }
  .accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #616161; }
    .accessories-block .product-name a:hover {
      color: #f1766a; }
.accessories-block div ul li a {
  display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
  font-weight: 700; }

/* quantity_wanted */
#quantity_wanted_p {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }
  #quantity_wanted_p input {
    width: 60px;
    height: 37px;
    padding: 0px;
    float: left;
    text-align: center;
    border: 0 !important;
    border-top: 1px solid #ECECEC !important;
    border-bottom: 1px solid #ECECEC !important;
    line-height: 37px;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield; }
    #quantity_wanted_p input:hover {
      appearance: textfield;
      -webkit-appearance: textfield;
      -moz-appearance: textfield; }
  #quantity_wanted_p .btn {
    float: left;
    margin: 0;
    border: 0; }
    #quantity_wanted_p .btn span {
      width: 37px;
      height: 37px;
      line-height: 37px;
      border: 1px solid #ECECEC;
      background-color: #F9F9F9; }
      #quantity_wanted_p .btn span i:before {
        font-family: "Jura", Arial, Helvetica, sans-serif; }
    #quantity_wanted_p .btn.button-minus i:before {
      content: '-';
      font-size: 30px;
      line-height: 33px; }
    #quantity_wanted_p .btn.button-plus i:before {
      content: '+';
      font-size: 21px;
      line-height: 35px; }
  #quantity_wanted_p label {
    display: block;
    margin-bottom: 0px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  color: #8f8f8f; }

#quantityAvailable {
  color: #8f8f8f;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value {
  color: #f1766a; }

#availability_value,
#last_quantities {
  display: inline-block;
  margin-left: 5px; }

#last_quantities {
  color: #FE9126;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
  margin-left: 0px; }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable span {
  font-weight: 400;
  color: #8f8f8f; }

/* box-security */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0; }
  #send_friend_form .product p {
    padding: 0;
    color: #8f8f8f; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #EBEBEB;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #8f8f8f; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid #EBEBEB;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EBEBEB; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #EBEBEB;
    color: #8f8f8f; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin-bottom: 0;
  margin: 0; }
  @media (max-width: 991px) {
    #product.content_only div.primary_block {
      margin-right: 0; } }
  #product.content_only div.primary_block div.pb-left-column {
    width: 45%;
    padding-left: 0px;
    float: left; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-left-column #image-block {
      max-width: 384px;
      width: 100%;
      cursor: default; }
      #product.content_only div.primary_block div.pb-left-column #image-block ul li img {
        max-width: 395px; }
  #product.content_only div.primary_block div.pb-center-column {
    padding-right: 0px;
    margin-bottom: 0;
    width: 55%;
    min-height: 623px;
    height: 100%;
    float: left; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-center-column h1 {
      cursor: pointer; }
    #product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
      padding-right: 0; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
      #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
    #product.content_only div.primary_block div.pb-center-column #ShareDiv {
      position: absolute;
      bottom: 8px; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media only screen and (max-width: 641px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 396px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      float: none; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
      width: 90px;
      height: 90px; }
      #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
      #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px; }
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #EBEBEB; }
.ie8 .box-security {
  filter: none; }

/******************************************************************
Product thumb variation
******************************************************************/
@media only screen and (max-width: 767px) {
  .primary_block.prod_thumb_left .pb-left-column {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; } }
.primary_block.prod_thumb_left .pb-left-column #image-block {
  float: right;
  max-width: 438px;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_left .pb-left-column #image-block {
      max-width: 312px;
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .primary_block.prod_thumb_left .pb-left-column #image-block {
      max-width: 312px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .primary_block.prod_thumb_left .pb-left-column #image-block {
      max-width: 428px; } }
  .primary_block.prod_thumb_left .pb-left-column #image-block #view_full_size {
    display: block;
    width: 100%;
    position: relative; }
.primary_block.prod_thumb_left .pb-left-column #views_block {
  float: left;
  margin-left: 0px;
  margin-right: 30px;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: auto;
  padding: 35px 0px 35px; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_left .pb-left-column #views_block {
      width: 80px;
      margin-top: 0px;
      margin-right: 10px; } }
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .primary_block.prod_thumb_left .pb-left-column #views_block {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .primary_block.prod_thumb_left .pb-left-column #views_block {
      width: 80px;
      margin-top: 0px;
      margin-right: 15px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .primary_block.prod_thumb_left .pb-left-column #views_block {
      margin-right: 20px; } }
  .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list {
    margin: 0;
    padding: 0px 0px 0px;
    height: 460px;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list {
        height: 383px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list {
        height: 383px; } }
    .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
      float: none;
      width: 100px;
      padding: 0px 0px 20px;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
          width: 80px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .primary_block.prod_thumb_left .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
          width: 80px; } }
  .primary_block.prod_thumb_left .pb-left-column #views_block #view_scroll_left, .primary_block.prod_thumb_left .pb-left-column #views_block #view_scroll_right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
@media only screen and (max-width: 767px) {
  .primary_block.prod_thumb_right .pb-left-column {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; } }
.primary_block.prod_thumb_right .pb-left-column #image-block {
  float: left;
  max-width: 438px;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_right .pb-left-column #image-block {
      max-width: 312px;
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .primary_block.prod_thumb_right .pb-left-column #image-block {
      max-width: 312px; } }
  .primary_block.prod_thumb_right .pb-left-column #image-block #view_full_size {
    display: block;
    width: 100%;
    position: relative; }
.primary_block.prod_thumb_right .pb-left-column #views_block {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: auto;
  padding: 35px 0px 35px; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_right .pb-left-column #views_block {
      width: 80px;
      margin-top: 0px;
      margin-left: 10px; } }
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .primary_block.prod_thumb_right .pb-left-column #views_block {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .primary_block.prod_thumb_right .pb-left-column #views_block {
      width: 80px;
      margin-top: 0px; } }
  .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list {
    margin: 0;
    padding: 0px 0px 0px;
    height: 460px;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list {
        height: 383px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list {
        height: 383px; } }
    .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
      float: none;
      width: 100px;
      padding: 0px 0px 20px;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
          width: 80px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .primary_block.prod_thumb_right .pb-left-column #views_block #thumbs_list #thumbs_list_frame li {
          width: 80px; } }
  .primary_block.prod_thumb_right .pb-left-column #views_block #view_scroll_left, .primary_block.prod_thumb_right .pb-left-column #views_block #view_scroll_right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.primary_block.prod_thumb_bottom .pb-left-column #image-block {
  float: none; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_bottom .pb-left-column #image-block {
      max-width: 400px;
      margin: 0 auto; } }
  .primary_block.prod_thumb_bottom .pb-left-column #image-block .zoomPad {
    width: 100%; }
.primary_block.prod_thumb_bottom .pb-left-column #views_block {
  float: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width: 412px;
  margin: 0 auto; }
  .primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0px 40px; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list {
        max-width: 295px; } }
    .primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame {
      display: block;
      overflow: hidden;
      text-align: center; }
      .primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
        width: 100px;
        margin-bottom: 0px;
        padding: 0;
        margin: 0px 10px;
        display: inline-block; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
            width: 80px; } }
  .primary_block.prod_thumb_bottom .pb-left-column #views_block #view_scroll_left, .primary_block.prod_thumb_bottom .pb-left-column #views_block #view_scroll_right {
    left: 0%;
    top: 50%;
    margin-top: -16px;
    margin-left: 0px; }
  .primary_block.prod_thumb_bottom .pb-left-column #views_block #view_scroll_right {
    left: auto;
    right: 0%; }
.primary_block.prod_thumb_bottom_sidebar .pb-left-column #image-block {
  float: none; }
  @media only screen and (max-width: 767px) {
    .primary_block.prod_thumb_bottom_sidebar .pb-left-column #image-block {
      max-width: 400px;
      margin: 0 auto; } }
  .primary_block.prod_thumb_bottom_sidebar .pb-left-column #image-block .zoomPad {
    width: 100%; }
.primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block {
  float: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width: 370px;
  margin: 0 auto; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block {
      max-width: 295px; } }
  .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0px 32px; }
    .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame {
      display: block;
      overflow: hidden;
      text-align: center; }
      .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
        width: 100px;
        margin-bottom: 0px;
        padding: 0px 10px;
        display: inline-block; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
            width: 80px; } }
  .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #view_scroll_left, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #view_scroll_right {
    left: 0%;
    top: 50%;
    margin-top: -16px;
    margin-left: 0px; }
  .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #view_scroll_right {
    left: auto;
    right: 0%; }
.primary_block.prod_layout_multi_image .pb-left-column #image-block {
  float: none;
  max-width: 100%; }
  .primary_block.prod_layout_multi_image .pb-left-column #image-block ul {
    margin: 0px -10px 0px -10px; }
    .primary_block.prod_layout_multi_image .pb-left-column #image-block ul li {
      display: block;
      float: left;
      width: 50%;
      padding: 0px 10px 20px; }
      @media only screen and (min-width: 300px) and (max-width: 480px) {
        .primary_block.prod_layout_multi_image .pb-left-column #image-block ul li {
          width: 100%; } }
.primary_block.prod_layout_multi_image .pb-left-column #views_block {
  float: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  margin: 0 auto; }
  .primary_block.prod_layout_multi_image .pb-left-column #views_block #thumbs_list {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0px 32px; }
    .primary_block.prod_layout_multi_image .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame {
      display: block;
      overflow: hidden;
      text-align: center; }
      .primary_block.prod_layout_multi_image .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
        width: 100px;
        margin-bottom: 0px;
        padding: 0px 10px;
        display: inline-block; }
  .primary_block.prod_layout_multi_image .pb-left-column #views_block #view_scroll_left, .primary_block.prod_layout_multi_image .pb-left-column #views_block #view_scroll_right {
    left: 0%;
    top: 50%;
    margin-top: -16px;
    margin-left: 0px; }
  .primary_block.prod_layout_multi_image .pb-left-column #views_block #view_scroll_right {
    left: auto;
    right: 0%; }
.primary_block.prod_layout_full_style .pb-left-column #image-block {
  float: none;
  max-width: 100%; }
.primary_block.prod_layout_full_style .pb-left-column #views_block {
  float: none;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width: 470px;
  margin: 0 auto; }
  .primary_block.prod_layout_full_style .pb-left-column #views_block #thumbs_list {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0px 32px; }
    .primary_block.prod_layout_full_style .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame {
      display: block;
      overflow: hidden;
      text-align: center; }
      .primary_block.prod_layout_full_style .pb-left-column #views_block #thumbs_list ul#thumbs_list_frame li {
        width: 100px;
        margin-bottom: 0px;
        padding: 0px 10px;
        display: inline-block; }
  .primary_block.prod_layout_full_style .pb-left-column #views_block #view_scroll_left, .primary_block.prod_layout_full_style .pb-left-column #views_block #view_scroll_right {
    left: 0%;
    top: 50%;
    margin-top: -16px;
    margin-left: 0px; }
  .primary_block.prod_layout_full_style .pb-left-column #views_block #view_scroll_right {
    left: auto;
    right: 0%; }
.primary_block.prod_layout_full_style .pb-center-column {
  text-align: center; }
  .primary_block.prod_layout_full_style .pb-center-column h1 {
    font-size: 2.8rem;
    color: #383838; }
  .primary_block.prod_layout_full_style .pb-center-column .comments_note {
    float: none;
    display: block;
    text-align: center; }
    .primary_block.prod_layout_full_style .pb-center-column .comments_note .star_content {
      display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column .comments_advices {
    display: inline-block;
    float: none; }
  .primary_block.prod_layout_full_style .pb-center-column #buy_block label {
    display: block;
    float: none;
    text-align: center;
    min-width: 100%;
    margin-bottom: 10px; }
  .primary_block.prod_layout_full_style .pb-center-column #attributes .attribute_list ul {
    display: block;
    text-align: center; }
    .primary_block.prod_layout_full_style .pb-center-column #attributes .attribute_list ul li {
      float: none;
      display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column #attributes .attribute_list #color_to_pick_list li {
    float: none;
    display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column #quantity_wanted_p {
    float: none;
    display: inline-block;
    margin-right: 0; }
  .primary_block.prod_layout_full_style .pb-center-column .box-info-product .box_add_to_cart {
    float: none;
    margin-right: 0px; }
    .primary_block.prod_layout_full_style .pb-center-column .box-info-product .box_add_to_cart .btn {
      padding: 12px 70px; }
  .primary_block.prod_layout_full_style .pb-center-column .box-info-product .buttons_bottom_block {
    float: none;
    display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column .box-info-product .buttons_bottom_block #wishlist_button_nopop, .primary_block.prod_layout_full_style .pb-center-column .box-info-product .buttons_bottom_block .add_to_compare {
    float: none;
    display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column .box-cart-bottom .sendtofriend {
    float: none;
    display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column .socialsharing_product {
    float: none;
    display: inline-block; }
    .primary_block.prod_layout_full_style .pb-center-column .socialsharing_product label {
      display: block;
      margin-bottom: 10px; }
  .primary_block.prod_layout_full_style .pb-center-column #usefull_link_block p.print {
    float: none;
    display: inline-block; }
  .primary_block.prod_layout_full_style .pb-center-column .align_center {
    text-align: center; }

.prod_brand_image {
  margin-bottom: 30px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB; }

.prod_brand_image img {
  margin: 0 auto; }

.view_full_size_list {
  position: relative; }
  .view_full_size_list .span_link {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 9999; }

.product_size_chart_table .main_table > tbody > tr > td {
  padding: 0; }

.product_size_chart_table .main_table table tr td, .product_size_chart_table .main_table table tr.table_elements td {
  padding: 6px 20px;
  height: 36px; }

.product_size_chart_table .main_table table {
  margin-right: 2px; }

body.loading .pb-left-column #image-block ul li:not(:first-child) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0; }

.primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom #quantity_wanted_p {
  display: block;
  float: none;
  width: 100%;
  overflow: hidden; }
  .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom #quantity_wanted_p label {
    display: none; }
  .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom #quantity_wanted_p .btn {
    width: 15%; }
    .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom #quantity_wanted_p .btn span {
      width: 100%; }
  .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom #quantity_wanted_p input {
    width: 70%; }
.primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .box_add_to_cart {
  display: block;
  float: none;
  margin-right: 0;
  width: 100%; }
  .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .box_add_to_cart .btn {
    width: 100%;
    padding: 12px 24px; }
.primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .buttons_bottom_block {
  width: 100%;
  float: none; }
  .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .buttons_bottom_block a {
    width: 48.5% !important; }
    .primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .buttons_bottom_block a:last-child {
      margin-right: 0px; }
.primary_block.prod_layout_multi_image .pb-center-column .box-info-product .box-cart-bottom .sendtofriend {
  display: none; }
