/* Small screen (phone) container 100% */ 
@media only screen and (max-width: 767px) {
	
	.header-container.header_full_boxed_black header .container {
	    max-width: 100%;
	    margin-left: 15px;
	    margin-right: 15px;
	}
	
	header .nav .header_logo{
		display: block;
		float: none;
		text-align: center;
		margin: 30px 0px 35px;
	}

	header .nav .header_logo img{
		margin: 0 auto;
	}
	
	.block_top_menu .cat-title{
	    margin: 0px;
	    text-align: left;
	}

	.block_top_menu ul.sf-menu{
		display: none;
	}

	.header-container.header_classic header .header_top_area .header_top .block_top_menu{
		display: none;
	}

	.header-container.header_classic header .main_menu_area{
		display: block;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_left, .header-container.header_classic header .header_top_area .header_top .header_top_right{
		width: 100%;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_left{
		border-bottom: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.header-container.header_classic header .header_top_area .header_top .header_logo{
		float: none;
	    margin: 0 auto;
	    border: 0;
        padding-right: 25px;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_right_bottom .search_block_top{
		float: left;
	}

	.header-container.header_classic header .search_block_top .header_block_content .search_block_content .search_query{
		text-align: left;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_right_bottom .header_icon_block{
		border: 0px;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_right_bottom .shopping_cart_area{
		border: 0px;
	}

	#languages-block-top, #currencies-block-top, .header-container.header_full_boxed_black header .nav .header_user_info, header .nav .header_user_info{
		float: right;
		display: block;
		margin: 0px 5px;
	}

	header .header_top_area .header_top .header_icon_block{
		margin-top: 0px;
	}
	
	header .header_top_area .header_top{
		padding-top: 12px;
	}

	header .header_top_left{
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 12px;
		margin-bottom: 25px;
	}

	header .header_top_area .header_top .header_top_right .header_top_right_two .shopping_cart_area{
		display: none;
	}
	
	header .header_top_area .header_top .header_top_left .shopping_cart_area{
		display: block;
	}

	header .nav .search_block_top{
		float: none;
		display: block;
		clear: both;
		margin: 20px 0px 10px;
	}

	header .nav .search_block_top .search_icon{
		margin: 0 auto;
	}

	header .nav .search_block_top .toogle_content{
		position: static;
		width: 100%;
		box-shadow: none;
		/*display: block !important;*/
	}

	header .nav .search_block_top .toogle_content .search_block_content .search_query{
		padding: 0px 10px 0px 0px;
		background-color: transparent;
		border-bottom-width: 1px;
	}

	header .nav nav{
		display: block;
		text-align: center; 
	}


	header .header_top_area .header_top .header_top_right .header_top_right_two .search_block_top {
	    float: none;
	    margin-top: 7%;
	    display: block;
	    text-align: center;
	}

	header .search_block_top .search_icon{
	    margin: 0 auto;
	}

	header .search_block_top .header_block_content{
	    top: 20px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    text-align: center;
	}

	header .search_block_top .header_block_content .search_block_content .search_query{
		text-align: center;
	}
	
	.footer_blog_area .footer_blog_title{
		display: none;
	}

	.footer_blog_area .footer_blog_post .blog_post {
	    padding: 20px 0px 0px 0px;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_left, .kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right{
	    width: 100%;
	}
	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content{
		max-width: 552px;
		margin: 10% auto 0px;
		padding: 0px 15px;
	}
	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_left, .kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_right{
		width: 100%;
	}
	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_left .kr_product_layout_default_left_content {
	    max-width: 270px;
	    margin: 10% auto 0px;
	}

	.kr_product_layout_default .view_all{
		margin-bottom: 50px;
	}

	.kr_product_layout_default .kr_product_layout_default_right .kr_product_layout_default_right_content {
	    margin-top: 12%;
	}
	
	.kr_home_video_popup {
	    /*max-width: 1000px;
	    width: 100%;*/
	}

	.kr_home_video_inner{
		/*max-width: 1000px;
		width: 100%;
		position: relative;
		height: 100%;*/
	}

	.kr_home_video_inner iframe{
		/*max-width: 100%;*/
		/*width: 100%;
		height: auto;*/
	}

	/*demo-1*/
	.header-container.header_style_full_boxed header .container, .columns-container.header_style_full_boxed .top_column_area .container{
		margin-left: auto;
		margin-right: auto;
	}


	/* home tabs */
	#home-page-tabs > li{
		display: block;
		/*text-align: left;*/
		border-bottom: 1px solid transparent;
	}

	/*#home-page-tabs > li.active{
		border-bottom-color: #000;
	}
*/
	#home-page-tabs > li a{
		border: 0;
		margin: 10px 0px;
		padding: 5px 0px;
	}

	.home_product_tab .heading_carousel_arrow .slick-prev, .home_product_tab .heading_carousel_arrow .slick-next{
		z-index: 1;
	}

	.footer .footer_bottom_area .footer_bottom .block{
		margin-bottom: 30px;
	}

	.footer_payment_block .footer_payment_logo{
		margin-top: 0px;
		text-align: left;
	}

	.footer .footer_bottom_area .social_block ul{
		float: none;
	}

	.footer .footer_bottom_area .footer_bottom .social_block{
		margin-top: 0px;
	}

	.newsletter_block .block_content .form-group{
		width: 95%;
	}

	.newsletter_block .block_content .form-group button{
		padding: 0px 15px;
	}


	.header-container.header_style_full_boxed .page_heading_area {
	    margin-left: 15px;
	    margin-right: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.block .block_content{
		padding-left: 0px;
    	padding-right: 0px; 
	}
	
	.content_sortPagiBar .sortPagiBar .sortPagiBar_item{
		width: 50%;
		margin-bottom: 15px;
	}
	
	.content_sortPagiBar .sortPagiBar .sortPagiBar_item.productsSortForm {
		width: 100%;
	}

	.blog_post_area .blog_post .post_content .post_meta > p{
		margin: 3px 0px;
	}


	.pb-left-column{
		margin-bottom: 60px;
	}

	.pb-center-column .prev_next_product .prev_product .next_product_content, .pb-center-column .prev_next_product .next_product .next_product_content{
		left: auto;
		right: 0px;
	}
	
	.nav-tabs{
		border-bottom: 0px;
	}

	.nav-tabs > li{
		display: block;
		float: none;
		border-bottom: 1px solid #e9e9e9;
	}

	.nav-tabs > li > a{
		padding: 15px 10px 15px;
	    margin-right: 0px;
	}
	
	.kr_promotional_block .image_thumnail.general > a img{
		width: 100%;
		height: auto;
	}

	.kr_testimonial_content {
	    padding: 0px 15px;
	}

	.header-container.header_simple_black header .header_top .block_top_menu {
		padding: 0px 15px 30px;
	}

	.header-container.header_simple_black header .header_top .block_top_menu .cat-title:hover{
		color: #000;
	}
	
	.header-container.header_simple_black header .header_top .block_top_menu ul.sf-menu > li .menu-mobile-grover:hover{
		color: #000;
	}
	
	.header-container.header_simple_black header .header_top .block_top_menu ul.sf-menu > li ul.menu-mobile li a:hover{
		color: #000;
	}

	.header-container.header_simple_black header .nav .header_contact_nav{
		display: block;
		float: none;
		margin-bottom: 10px;
	}

	.sidebar_panel .header_logo{
	    margin-bottom: 80px;
	}
	

	.kr_parallax_area .kr_parallax_section{
		background-attachment: scroll;
	}

	/*.primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list{
		margin: 0 6% 0;
	}
*/
	/*.primary_block.prod_thumb_bottom .pb-left-column #views_block, .primary_block.prod_thumb_bottom .pb-left-column #image-block, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #image-block{
		max-width: 400px;
		margin: 0 auto;
	}*/
	
	.page-heading.product-listing .heading-counter{
		display: none;
	}

	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block{
		width: 50%;
		clear: none;
	}

	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block:nth-of-type(2n+1){
		clear: left;
	}

	.footer .footer_bottom_area .footer_custom_link{
		width: 100%;
	}

	.home_promo_countdown_block_area .home_promo_countdown_block .home_promo_countdown_block_left{
		float: none;
		width: 100%;
	}
	
	.home_promo_countdown_block_area .home_promo_countdown_block .home_promo_countdown_block_right{
		display: none;
	}

	.header-container.header_nav_classic header .nav{
		border-bottom: 0px;
	}

	.instragram_block ul[class*="instagram_col_"] li{
		width: 33.33%;
	}


	.header-container.header_transparent .block_top_menu ul.sf-menu{
		background-color: #fff;
		padding-left: 15px;
		margin-top: 10px;
	}

	.header-container.header_transparent .block_top_menu ul.sf-menu > li > a{
		color: #666;
	}

	.header-container.header_transparent .block_top_menu ul.sf-menu > li ul.menu-mobile li a:hover{
		color: #f1766a;
	}

	body.index .header-container.header_transparent{
	    background: #000;
	    position: static;
	}
	
	.header-container.header_transparent .main_menu_area.stickyclass.sticky{
		background: #000;
	}


} /* End Small screen (phone) */




/* very small Mobile Layout: 320px. */
@media only screen and (min-width: 300px) and (max-width: 480px) {

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6{
		/*width: 100%;*/
	}

	
	/*#languages-block-top ul, #currencies-block-top ul, header .nav .header_user_info ul{
		width: 100px;
	}*/
	

	.block_various_links_footer ul li{
		display: block;
		text-align: left;
		margin: 11px 0px;
	}

	.footer .social_block{
		margin-bottom: 40px;
	}

	.box-info-product .buttons_bottom_block{
		float: left;
		margin-top: 0px;
	}



	.box-info-product .buttons_bottom_block #wishlist_button_nopop, .box-info-product .buttons_bottom_block .add_to_compare{
		margin-left: 0px;
		margin-right: 10px;
	}
	
	header .header_top_area .header_top .header_icon_block .header_icon_content{
		width: 210px;
	}

	

	.box-info-product .box_add_to_cart {
	    /*float: left;*/
	    margin-top: 0px;
	    margin-bottom: 15px;
	    margin-right: 10px;
	}
	
	#quantity_wanted_p{
		margin-bottom: 15px;
	}

	

	#testimonial_block_area{
	    padding: 50px 0px 50px 0px !important;
	    /*min-height: 401px !important;*/
	}

	.kr_parallax_content .f_size_60{
		font-size: 40px;
	}

	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block{
		width: 100%;
		clear: none;
	}
	
	.tab-pane >table{
		display: block;
		overflow: scroll;  
	}

	.tab-content{
	    padding: 10px 10px;
	}

	.tab-pane .main_table{
		width: 100%;
		display: block;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.kr_promotional_block .image_thumnail .thumnail_content.layout_style_three.center_right{
		right: 10px;
	}

	.kr_promotional_block .image_thumnail .thumnail_content.layout_style_three.center_left{
		left: 10px;
	}

	.home_parallax_product_area.home_simple_prod_paralax .home_parallax_product .home_parallax_product_content .home_parallax_product_content_inner .home_parallax_product_content_left{
		text-align: center;
	    margin-bottom: 20px;
	}
	
	.home_parallax_product_area.home_simple_prod_paralax .home_parallax_product .home_parallax_product_content .home_parallax_product_content_inner .home_parallax_product_content_right .product-image-container .product_img_link{
		margin: 0 auto;
	}

	.home_parallax_product_area.home_simple_prod_paralax .home_parallax_product .home_parallax_product_content .home_parallax_product_content_inner .home_parallax_product_content_left .home_parallax_product_content_left_inner{
		margin-top: 0px;
	}

	header .nav .welcome_block_nav{
		float: none;
		display: block;
		margin: 10px 0px 15px;
	}

	header .nav .search_block_top{
		float: left;
		margin-top: 6px;
		clear: none;
	}

	.instragram_block ul[class*="instagram_col_"] li{
		width: 50%;
	}

} /* End very small Mobile Layout: 320px. */




/* Small tablet Screen  container 750px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.header-container.header_full_boxed_black header .container{
		max-width: 100%;
	    margin-left: 15px;
	    margin-right: 15px;
	}

	header .nav .header_logo{
		margin-right: 1%;
	}
	
	.header-container.header_simple_black header .header_top .block_top_menu {
		padding: 0px 15px 30px;
	}

	.header-container.header_simple_black header .header_top .block_top_menu .cat-title:hover{
		color: #000;
	}
	
	.header-container.header_simple_black header .header_top .block_top_menu ul.sf-menu > li .menu-mobile-grover:hover{
		color: #000;
	}
	
	.header-container.header_simple_black header .header_top .block_top_menu ul.sf-menu > li ul.menu-mobile li a:hover{
		color: #000;
	}
	
	.block_top_menu ul.sf-menu{
		display: none;
	}

	.header-container.header_classic header .header_top_area .header_top .block_top_menu{
		display: none;
	}

	.header-container.header_classic header .main_menu_area{
		display: block;
	}

	.header-container.header_classic header .header_top_area .header_top .header_top_left, .header-container.header_classic header .header_top_area .header_top .header_top_right{
		width: 50%;
	}
	
	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block:nth-of-type(4n+1){
		clear: none;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_left, .kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right{
	    width: 100%;
	}
	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content{
		max-width: 552px;
		margin: 10% auto 0px;
	}
	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_left, .kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_right{
		width: 100%;
	}
	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_left .kr_product_layout_default_left_content {
	    max-width: 80%;
	    margin: 10% auto 0;
	}

	.kr_product_layout_default .view_all{
		margin-bottom: 50px;
	}

	.kr_product_layout_default .kr_product_layout_default_right .kr_product_layout_default_right_content {
	    margin-top: 12%;
	}


	/*demo-1*/
	.header-container.header_style_full_boxed header .container, .columns-container.header_style_full_boxed .top_column_area .container{
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	.kr_home_promo_area .kr_home_promo .kr_home_promo_left{
	    margin-right: 0px;
	    margin-bottom: 40px;
	}

	.kr_home_promo_area .kr_home_promo .kr_home_promo_left .promo_image img{
		float: none;
		margin: 0 auto;
	}
	
	.kr_home_promo_area .kr_home_promo .kr_home_promo_right{
		margin-bottom: 40px;
	}

	.kr_home_promo_area .kr_home_promo .kr_home_promo_heading{
		position: static;
	}

	.newsletter_block .block_content .form-group{
	    width: 95%;
	}


	.header-container.header_style_full_boxed .page_heading_area {
	    margin-left: 15px;
	    margin-right: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.block .block_content{
		padding-left: 0px;
    	padding-right: 0px; 
	}

	/*.content_sortPagiBar .sortPagiBar #productsSortForm{
		margin-top: 10px
	}*/

	.content_sortPagiBar .sortPagiBar .sortPagiBar_item{
		width: 50%;
		margin-bottom: 15px;
	}
	
	.content_sortPagiBar .sortPagiBar .sortPagiBar_item.productsSortForm > div{
		float: right;
	}


	.block.blog_block .block_content.products-block ul li .products-block-image{
		float: left;
		margin-right: 15px;
	}


	/* Product page ess */
	/*.primary_block.prod_thumb_right .pb-left-column #image-block{
		
	}*/

	
	.primary_block.prod_thumb_bottom .pb-left-column #image-block, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #image-block{
		max-width: 100%;
	}

	.pb-left-column #views_block{
		margin-right: 15px;
	}
	
	.primary_block.prod_thumb_right .pb-left-column #views_block{
		margin-left: 15px;
	}

	.pb-center-column .prev_next_product .prev_product .next_product_content, .pb-center-column .prev_next_product .next_product .next_product_content{
		left: auto;
		right: 0px;
	}

/*	.box-info-product .buttons_bottom_block{
		float: left;
		margin-top: 15px;
	}
*/
	.box-info-product .buttons_bottom_block #wishlist_button_nopop, .box-info-product .buttons_bottom_block .add_to_compare{
		margin-left: 0px;
		margin-right: 10px;
	}
	
	/*.pb-left-column #views_block{
		width: 80px;
	}*/

/*	#thumbs_list{
		width: 80px;
	    height: 234px;
	}*/

	/*#thumbs_list li{
		width: 80px;
		height: 102px;
	}*/

	.box-info-product .box_add_to_cart {
	    margin-right: 10px;
	}

	.primary_block.prod_thumb_bottom .pb-center-column .box-info-product .box_add_to_cart, .primary_block.prod_thumb_bottom_sidebar .pb-center-column .box-info-product .box_add_to_cart{
		margin-top: 0px;
	}

	/*.primary_block.prod_thumb_bottom .pb-left-column #views_block #thumbs_list, .primary_block.prod_thumb_bottom_sidebar .pb-left-column #views_block #thumbs_list{
		width: 300px;
	}*/
	
	.sidebar_panel .header_logo{
	    margin-bottom: 80px;
	}

	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block{
		width: 33.33%;
		clear: none;
	}

	.content_sortPagiBar .top-pagination-content .layered_block .block_content_fluid .block:nth-of-type(3n+1){
		clear: left;
	}
	
	.kr_promotional_block .image_thumnail .thumnail_content.layout_style_three.center_right{
		right: 10px;
	}

	.kr_promotional_block .image_thumnail .thumnail_content.layout_style_three.center_left{
		left: 10px;
	}

	.instragram_block ul[class*="instagram_col_"] li{
		width: 25%;
	}

	.footer .footer_middle_area .instragram_block ul.block_content li{
		width: 50%;
	}

	.header-container.header_transparent .block_top_menu ul.sf-menu{
		background-color: #fff;
		padding-left: 15px;
		margin-top: 10px;
	}

	.header-container.header_transparent .block_top_menu ul.sf-menu > li > a{
		color: #666;
	}

	.header-container.header_transparent .block_top_menu ul.sf-menu > li ul.menu-mobile li a:hover{
		color: #f1766a;
	}

	.header-container.header_transparent .main_menu_area.stickyclass.sticky .block_top_menu .cat-title{
		color: #666;
	}


} /* End Small tablet Screen   */



/* Mediam Screen  container 970px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	

	/* demo-6 */
	.header-container.header_full_boxed_black header .container{
		max-width: 100%;
	    margin-left: 15px;
	    margin-right: 15px;
	}

	header .nav .header_logo{
		margin-right: 1%;
	}
	
	.block_top_menu ul.sf-menu > li > a{
		margin: 0px 12px;
	}

	.header-container.header_classic header .header_top_area .header_top .block_top_menu{
		margin-left: 10px;
	}

	.header-container.header_classic header .header_top_area .header_top .header_logo {
	    max-width: 190px;
	    padding-left: 15px;
	    padding-right: 20px;
	}


	.block_top_menu ul.sf-menu{
		
	}
	.block_top_menu ul.sf-menu > li{
		float: none;
		display: inline-block;
	}

	#sidebar_panel .block_top_menu ul.sf-menu{
		text-align: left;
	}

	.header-container.header_full_boxed_black header .nav .block_top_menu ul.sf-menu > li ul.submenu-container {
	    top: 55px;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content {
	    max-width: 300px;
	    margin: 12% auto 0px;
	    display: block;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content h2 {
	    font-size: 3.0rem;
	    line-height: 1.2;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content .hr{
		margin: 30px 0px 50px;
	}

	.kr_home_video_block_area .kr_home_video_block .kr_home_video_block_right .kr_home_video_block_right_content a{
		margin-top: 50px;
	}

	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_left .kr_product_layout_default_left_content {
	    max-width: 86%;
	    margin: 12% auto 0;
	}

	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_right .kr_product_layout_default_right_img{
		min-height: 760px;
	}

	.kr_product_layout_default .kr_product_layout_default_left .kr_product_layout_default_left_img{
		min-height: 790px;
	}

	/* demo-1 */
	.kr_home_promo_area .kr_home_promo .kr_home_promo_left{
		max-width: 580px;
	}

	.header-container.header_style_full_boxed header .container, .columns-container.header_style_full_boxed .top_column_area .container{
		max-width: 970px;
		margin-left: auto;
		margin-right: auto;
	}

	.header-container.header_style_full_boxed .page_heading_area {
	    margin-left: 30px;
	    margin-right: 30px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.block .block_content{
		padding-left: 0px;
    	padding-right: 0px; 
	}


	/* Product page */
	.pb-left-column #image-block{
		max-width: 410px;
	}

	.primary_block.prod_thumb_right .pb-left-column #image-block{
		max-width: 400px;
	}

	.pb-left-column #views_block{
		margin-right: 20px;
	}

	.pb-center-column .prev_next_product .prev_product .next_product_content, .pb-center-column .prev_next_product .next_product .next_product_content{
		left: auto;
		right: 0px;
	}

	.box-info-product .buttons_bottom_block{
		float: left;
		/*margin-top: 15px;*/
	}

	.box-info-product .buttons_bottom_block #wishlist_button_nopop, .box-info-product .buttons_bottom_block .add_to_compare{
		margin-left: 0px;
		margin-right: 10px;
	}

	.primary_block.prod_thumb_bottom .pb-center-column .box-info-product .box_add_to_cart, .primary_block.prod_thumb_bottom_sidebar .pb-center-column .box-info-product .box_add_to_cart{
		float: none;
	}

	.header-container.header_simple_black header .header_top .block_top_menu ul.sf-menu{
		padding-top: 0px;
	}

	.sidebar_panel .header_logo{
	    margin-bottom: 80px;
	}
	

	.primary_block.prod_thumb_bottom_sidebar.prod_sidebar .pb-center-column .box-info-product .box_add_to_cart{
		margin-top: 15px;
		margin-right: 10px;
		float: left;
	}

	.show-left-column .content_sortPagiBar .sortPagiBar .sortPagiBar_item, .show-right-column .content_sortPagiBar .sortPagiBar .sortPagiBar_item{
		width: 50%;
		margin-bottom: 10px;
	}

} /* End Mediam Screen   */



/* Large Screen  container 1170px */
@media (min-width: 1200px) {


} /* End Large Screen   */




/* xLarge screen container 1170px */
@media only screen and (min-width: 1200px) and (max-width: 1440px){
	.kr_product_layout_default .kr_product_layout_default_inner .kr_product_layout_default_right .kr_product_layout_default_right_img{
		min-height: 760px;
	}
	.kr_product_layout_default .kr_product_layout_default_left .kr_product_layout_default_left_img{
		min-height: 715px;
	}

	.sidebar_panel .header_logo{
	    margin-bottom: 80px;
	}
	
}



/* xxLarge screen container 1440px */
@media only screen and (min-width: 1441px) and (max-width: 1920px){
	
}

/* xxxLarge screen */
@media (min-width: 1921px){
	
}