html, body {
  overflow-x: hidden; }

body.boxed_classic .displayhometopleftright_area > .container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 3px solid #f1766a;
  margin-bottom: -212px; }
body.boxed_classic .footer_middle_area {
  padding-top: 275px; }
body.boxed_classic:not(.index) .columns-container .columns > .container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 3px solid #f1766a;
  margin-bottom: -212px; }

#page {
  position: relative; }

.label-success {
  background-color: #f1766a;
  border: 1px solid #f1766a; }

.header-container.header_classic header .header_top_area .header_top, .header-container.header_classic header .header_top_area .header_top .header_logo, .header-container.header_classic header .header_top_area .header_top .header_top_right_bottom > div {
  min-height: 95px; }

.fancybox-overlay, #layer_cart {
  z-index: 9993; }

.fancybox-opened {
  z-index: 99999; }

.heading-line {
  position: relative;
  margin-top: -9px;
  height: 17px;
  margin-bottom: 10px; }
  .heading-line:before {
    content: '';
    display: block;
    width: 24px;
    border-bottom: 1px solid #e9e9e9;
    position: absolute;
    left: 50%;
    margin-left: 23px;
    top: 5px; }
  .heading-line:after {
    content: '';
    display: block;
    width: 24px;
    border-bottom: 1px solid #e9e9e9;
    position: absolute;
    right: 50%;
    margin-right: 23px;
    top: 5px; }
  .heading-line span {
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #d0d0d0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    margin-bottom: 31px;
    margin-top: 18px; }
    .heading-line span:before {
      content: '';
      width: 7px;
      height: 7px;
      display: block;
      border: 1px solid #d0d0d0;
      position: absolute;
      top: 11px;
      right: 11px; }
    .heading-line span:after {
      content: '';
      width: 7px;
      height: 7px;
      display: block;
      border: 1px solid #d0d0d0;
      position: absolute;
      top: -10px;
      left: 11px; }

/* Module product carousel style */
ul.product_list.grid.carousel li.ajax_block_product, ul.product_list.grid.slick-slider li.ajax_block_product {
  clear: none; }

.slick-slider *:focus, .slick-slider *:active {
  outline: 0; }

ul.product_list.grid.carousel .slick-prev, ul.product_list.grid.carousel .slick-next, .kr_brands .slick-prev, .kr_brands .slick-next, #home-page-tab-content ul.product_list.grid .slick-prev, #home-page-tab-content ul.product_list.grid .slick-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  margin-top: -20px;
  color: #8f8f8f;
  border: 2px solid rgba(107, 134, 157, 0.9);
  border-radius: 50%;
  display: block;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  ul.product_list.grid.carousel .slick-prev:before, ul.product_list.grid.carousel .slick-next:before, .kr_brands .slick-prev:before, .kr_brands .slick-next:before, #home-page-tab-content ul.product_list.grid .slick-prev:before, #home-page-tab-content ul.product_list.grid .slick-next:before {
    content: "";
    display: block;
    margin: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1766a;
    margin: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: rotate(0);
    border: 0; }
  ul.product_list.grid.carousel .slick-prev:after, ul.product_list.grid.carousel .slick-next:after, .kr_brands .slick-prev:after, .kr_brands .slick-next:after, #home-page-tab-content ul.product_list.grid .slick-prev:after, #home-page-tab-content ul.product_list.grid .slick-next:after {
    content: "\35";
    display: block;
    font-family: "ElegantIcons";
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 1;
    transform: rotate(0);
    width: auto;
    height: auto;
    right: auto;
    left: auto;
    border: 0; }
  ul.product_list.grid.carousel .slick-prev:hover, ul.product_list.grid.carousel .slick-next:hover, .kr_brands .slick-prev:hover, .kr_brands .slick-next:hover, #home-page-tab-content ul.product_list.grid .slick-prev:hover, #home-page-tab-content ul.product_list.grid .slick-next:hover {
    border-color: rgba(0, 0, 0, 0.3); }
    ul.product_list.grid.carousel .slick-prev:hover:before, ul.product_list.grid.carousel .slick-next:hover:before, .kr_brands .slick-prev:hover:before, .kr_brands .slick-next:hover:before, #home-page-tab-content ul.product_list.grid .slick-prev:hover:before, #home-page-tab-content ul.product_list.grid .slick-next:hover:before {
      background-color: rgba(0, 0, 0, 0.3); }
  ul.product_list.grid.carousel .slick-prev.slick-disabled, ul.product_list.grid.carousel .slick-next.slick-disabled, .kr_brands .slick-prev.slick-disabled, .kr_brands .slick-next.slick-disabled, #home-page-tab-content ul.product_list.grid .slick-prev.slick-disabled, #home-page-tab-content ul.product_list.grid .slick-next.slick-disabled {
    cursor: default;
    color: #8f8f8f; }
ul.product_list.grid.carousel .slick-prev, .kr_brands .slick-prev, #home-page-tab-content ul.product_list.grid .slick-prev {
  left: 0px; }
  ul.product_list.grid.carousel .slick-prev:after, .kr_brands .slick-prev:after, #home-page-tab-content ul.product_list.grid .slick-prev:after {
    content: "\34"; }
ul.product_list.grid.carousel .slick-next, .kr_brands .slick-next, #home-page-tab-content ul.product_list.grid .slick-next {
  right: 0px; }
ul.product_list.grid.carousel:hover .slick-prev, ul.product_list.grid.carousel:hover .slick-next, .kr_brands:hover .slick-prev, .kr_brands:hover .slick-next, #home-page-tab-content ul.product_list.grid:hover .slick-prev, #home-page-tab-content ul.product_list.grid:hover .slick-next {
  opacity: 1; }
ul.product_list.grid.carousel:hover .slick-prev, .kr_brands:hover .slick-prev, #home-page-tab-content ul.product_list.grid:hover .slick-prev {
  left: 20px; }
ul.product_list.grid.carousel:hover .slick-next, .kr_brands:hover .slick-next, #home-page-tab-content ul.product_list.grid:hover .slick-next {
  right: 20px; }

ul.product_list.grid.slick-slider .slick-dots {
  display: block;
  margin: 15px 0px;
  text-align: center; }
  ul.product_list.grid.slick-slider .slick-dots li {
    display: inline-block;
    margin: 0px 3px; }
    ul.product_list.grid.slick-slider .slick-dots li button {
      width: 10px;
      height: 10px;
      display: block;
      border: 1px solid #f1766a;
      background-color: transparent;
      border-radius: 50%;
      font-size: 0px;
      padding: 0px; }
    ul.product_list.grid.slick-slider .slick-dots li.slick-active button {
      background-color: #f1766a; }

.block.carousel .title_block .slick-arrow, .block.carousel .title_block .arrow-next, .block.carousel > h4 .slick-arrow, .block.carousel > h4 .arrow-next {
  width: 9px;
  height: 19px;
  line-height: 18px;
  display: block;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: "FontAwesome";
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }
  .block.carousel .title_block .slick-arrow:hover, .block.carousel .title_block .arrow-next:hover, .block.carousel > h4 .slick-arrow:hover, .block.carousel > h4 .arrow-next:hover {
    color: #f1766a;
    border-color: #f1766a; }
  .block.carousel .title_block .slick-arrow.slick-disabled, .block.carousel .title_block .arrow-next.slick-disabled, .block.carousel > h4 .slick-arrow.slick-disabled, .block.carousel > h4 .arrow-next.slick-disabled {
    opacity: 0.7;
    cursor: default; }
    .block.carousel .title_block .slick-arrow.slick-disabled:hover, .block.carousel .title_block .arrow-next.slick-disabled:hover, .block.carousel > h4 .slick-arrow.slick-disabled:hover, .block.carousel > h4 .arrow-next.slick-disabled:hover {
      opacity: 0.7;
      color: #f1766a;
      border-color: #f1766a; }
.block.carousel .title_block .arrow-prev, .block.carousel > h4 .arrow-prev {
  right: 20px; }
.block.carousel .title_block a:before, .block.carousel .title_block em:before, .block.carousel > h4 a:before, .block.carousel > h4 em:before {
  content: '';
  position: absolute;
  background-color: #fff;
  right: 0px;
  width: 35px;
  height: 25px;
  z-index: 1;
  pointer-events: none; }
.block.carousel .products-block .slick-slide > div:last-of-type li:last-of-type {
  margin-bottom: 0px; }

.sidebar .block[class*='col-'] {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

@font-face {
  font-family: 'ElegantIcons';
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.arrow_up, .arrow_down, .arrow_left, .arrow_right, .arrow_left-up, .arrow_right-up, .arrow_right-down, .arrow_left-down, .arrow-up-down, .arrow_up-down_alt, .arrow_left-right_alt, .arrow_left-right, .arrow_expand_alt2, .arrow_expand_alt, .arrow_condense, .arrow_expand, .arrow_move, .arrow_carrot-up, .arrow_carrot-down, .arrow_carrot-left, .arrow_carrot-right, .arrow_carrot-2up, .arrow_carrot-2down, .arrow_carrot-2left, .arrow_carrot-2right, .arrow_carrot-up_alt2, .arrow_carrot-down_alt2, .arrow_carrot-left_alt2, .arrow_carrot-right_alt2, .arrow_carrot-2up_alt2, .arrow_carrot-2down_alt2, .arrow_carrot-2left_alt2, .arrow_carrot-2right_alt2, .arrow_triangle-up, .arrow_triangle-down, .arrow_triangle-left, .arrow_triangle-right, .arrow_triangle-up_alt2, .arrow_triangle-down_alt2, .arrow_triangle-left_alt2, .arrow_triangle-right_alt2, .arrow_back, .icon_minus-06, .icon_plus, .icon_close, .icon_check, .icon_minus_alt2, .icon_plus_alt2, .icon_close_alt2, .icon_check_alt2, .icon_zoom-out_alt, .icon_zoom-in_alt, .icon_search, .icon_box-empty, .icon_box-selected, .icon_minus-box, .icon_plus-box, .icon_box-checked, .icon_circle-empty, .icon_circle-slelected, .icon_stop_alt2, .icon_stop, .icon_pause_alt2, .icon_pause, .icon_menu, .icon_menu-square_alt2, .icon_menu-circle_alt2, .icon_ul, .icon_ol, .icon_adjust-horiz, .icon_adjust-vert, .icon_document_alt, .icon_documents_alt, .icon_pencil, .icon_pencil-edit_alt, .icon_pencil-edit, .icon_folder-alt, .icon_folder-open_alt, .icon_folder-add_alt, .icon_info_alt, .icon_error-oct_alt, .icon_error-circle_alt, .icon_error-triangle_alt, .icon_question_alt2, .icon_question, .icon_comment_alt, .icon_chat_alt, .icon_vol-mute_alt, .icon_volume-low_alt, .icon_volume-high_alt, .icon_quotations, .icon_quotations_alt2, .icon_clock_alt, .icon_lock_alt, .icon_lock-open_alt, .icon_key_alt, .icon_cloud_alt, .icon_cloud-upload_alt, .icon_cloud-download_alt, .icon_image, .icon_images, .icon_lightbulb_alt, .icon_gift_alt, .icon_house_alt, .icon_genius, .icon_mobile, .icon_tablet, .icon_laptop, .icon_desktop, .icon_camera_alt, .icon_mail_alt, .icon_cone_alt, .icon_ribbon_alt, .icon_bag_alt, .icon_creditcard, .icon_cart_alt, .icon_paperclip, .icon_tag_alt, .icon_tags_alt, .icon_trash_alt, .icon_cursor_alt, .icon_mic_alt, .icon_compass_alt, .icon_pin_alt, .icon_pushpin_alt, .icon_map_alt, .icon_drawer_alt, .icon_toolbox_alt, .icon_book_alt, .icon_calendar, .icon_film, .icon_table, .icon_contacts_alt, .icon_headphones, .icon_lifesaver, .icon_piechart, .icon_refresh, .icon_link_alt, .icon_link, .icon_loading, .icon_blocked, .icon_archive_alt, .icon_heart_alt, .icon_star_alt, .icon_star-half_alt, .icon_star, .icon_star-half, .icon_tools, .icon_tool, .icon_cog, .icon_cogs, .arrow_up_alt, .arrow_down_alt, .arrow_left_alt, .arrow_right_alt, .arrow_left-up_alt, .arrow_right-up_alt, .arrow_right-down_alt, .arrow_left-down_alt, .arrow_condense_alt, .arrow_expand_alt3, .arrow_carrot_up_alt, .arrow_carrot-down_alt, .arrow_carrot-left_alt, .arrow_carrot-right_alt, .arrow_carrot-2up_alt, .arrow_carrot-2dwnn_alt, .arrow_carrot-2left_alt, .arrow_carrot-2right_alt, .arrow_triangle-up_alt, .arrow_triangle-down_alt, .arrow_triangle-left_alt, .arrow_triangle-right_alt, .icon_minus_alt, .icon_plus_alt, .icon_close_alt, .icon_check_alt, .icon_zoom-out, .icon_zoom-in, .icon_stop_alt, .icon_menu-square_alt, .icon_menu-circle_alt, .icon_document, .icon_documents, .icon_pencil_alt, .icon_folder, .icon_folder-open, .icon_folder-add, .icon_folder_upload, .icon_folder_download, .icon_info, .icon_error-circle, .icon_error-oct, .icon_error-triangle, .icon_question_alt, .icon_comment, .icon_chat, .icon_vol-mute, .icon_volume-low, .icon_volume-high, .icon_quotations_alt, .icon_clock, .icon_lock, .icon_lock-open, .icon_key, .icon_cloud, .icon_cloud-upload, .icon_cloud-download, .icon_lightbulb, .icon_gift, .icon_house, .icon_camera, .icon_mail, .icon_cone, .icon_ribbon, .icon_bag, .icon_cart, .icon_tag, .icon_tags, .icon_trash, .icon_cursor, .icon_mic, .icon_compass, .icon_pin, .icon_pushpin, .icon_map, .icon_drawer, .icon_toolbox, .icon_book, .icon_contacts, .icon_archive, .icon_heart, .icon_profile, .icon_group, .icon_grid-2x2, .icon_grid-3x3, .icon_music, .icon_pause_alt, .icon_phone, .icon_upload, .icon_download, .social_facebook, .social_twitter, .social_pinterest, .social_googleplus, .social_tumblr, .social_tumbleupon, .social_wordpress, .social_instagram, .social_dribbble, .social_vimeo, .social_linkedin, .social_rss, .social_deviantart, .social_share, .social_myspace, .social_skype, .social_youtube, .social_picassa, .social_googledrive, .social_flickr, .social_blogger, .social_spotify, .social_delicious, .social_facebook_circle, .social_twitter_circle, .social_pinterest_circle, .social_googleplus_circle, .social_tumblr_circle, .social_stumbleupon_circle, .social_wordpress_circle, .social_instagram_circle, .social_dribbble_circle, .social_vimeo_circle, .social_linkedin_circle, .social_rss_circle, .social_deviantart_circle, .social_share_circle, .social_myspace_circle, .social_skype_circle, .social_youtube_circle, .social_picassa_circle, .social_googledrive_alt2, .social_flickr_circle, .social_blogger_circle, .social_spotify_circle, .social_delicious_circle, .social_facebook_square, .social_twitter_square, .social_pinterest_square, .social_googleplus_square, .social_tumblr_square, .social_stumbleupon_square, .social_wordpress_square, .social_instagram_square, .social_dribbble_square, .social_vimeo_square, .social_linkedin_square, .social_rss_square, .social_deviantart_square, .social_share_square, .social_myspace_square, .social_skype_square, .social_youtube_square, .social_picassa_square, .social_googledrive_square, .social_flickr_square, .social_blogger_square, .social_spotify_square, .social_delicious_square, .icon_printer, .icon_calulator, .icon_building, .icon_floppy, .icon_drive, .icon_search-2, .icon_id, .icon_id-2, .icon_puzzle, .icon_like, .icon_dislike, .icon_mug, .icon_currency, .icon_wallet, .icon_pens, .icon_easel, .icon_flowchart, .icon_datareport, .icon_briefcase, .icon_shield, .icon_percent, .icon_globe, .icon_globe-2, .icon_target, .icon_hourglass, .icon_balance, .icon_rook, .icon_printer-alt, .icon_calculator_alt, .icon_building_alt, .icon_floppy_alt, .icon_drive_alt, .icon_search_alt, .icon_id_alt, .icon_id-2_alt, .icon_puzzle_alt, .icon_like_alt, .icon_dislike_alt, .icon_mug_alt, .icon_currency_alt, .icon_wallet_alt, .icon_pens_alt, .icon_easel_alt, .icon_flowchart_alt, .icon_datareport_alt, .icon_briefcase_alt, .icon_shield_alt, .icon_percent_alt, .icon_globe_alt, .icon_clipboard {
  font-family: 'ElegantIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.arrow_up:before {
  content: "\21"; }

.arrow_down:before {
  content: "\22"; }

.arrow_left:before {
  content: "\23"; }

.arrow_right:before {
  content: "\24"; }

.arrow_left-up:before {
  content: "\25"; }

.arrow_right-up:before {
  content: "\26"; }

.arrow_right-down:before {
  content: "\27"; }

.arrow_left-down:before {
  content: "\28"; }

.arrow-up-down:before {
  content: "\29"; }

.arrow_up-down_alt:before {
  content: "\2a"; }

.arrow_left-right_alt:before {
  content: "\2b"; }

.arrow_left-right:before {
  content: "\2c"; }

.arrow_expand_alt2:before {
  content: "\2d"; }

.arrow_expand_alt:before {
  content: "\2e"; }

.arrow_condense:before {
  content: "\2f"; }

.arrow_expand:before {
  content: "\30"; }

.arrow_move:before {
  content: "\31"; }

.arrow_carrot-up:before {
  content: "\32"; }

.arrow_carrot-down:before {
  content: "\33"; }

.arrow_carrot-left:before {
  content: "\34"; }

.arrow_carrot-right:before {
  content: "\35"; }

.arrow_carrot-2up:before {
  content: "\36"; }

.arrow_carrot-2down:before {
  content: "\37"; }

.arrow_carrot-2left:before {
  content: "\38"; }

.arrow_carrot-2right:before {
  content: "\39"; }

.arrow_carrot-up_alt2:before {
  content: "\3a"; }

.arrow_carrot-down_alt2:before {
  content: "\3b"; }

.arrow_carrot-left_alt2:before {
  content: "\3c"; }

.arrow_carrot-right_alt2:before {
  content: "\3d"; }

.arrow_carrot-2up_alt2:before {
  content: "\3e"; }

.arrow_carrot-2down_alt2:before {
  content: "\3f"; }

.arrow_carrot-2left_alt2:before {
  content: "\40"; }

.arrow_carrot-2right_alt2:before {
  content: "\41"; }

.arrow_triangle-up:before {
  content: "\42"; }

.arrow_triangle-down:before {
  content: "\43"; }

.arrow_triangle-left:before {
  content: "\44"; }

.arrow_triangle-right:before {
  content: "\45"; }

.arrow_triangle-up_alt2:before {
  content: "\46"; }

.arrow_triangle-down_alt2:before {
  content: "\47"; }

.arrow_triangle-left_alt2:before {
  content: "\48"; }

.arrow_triangle-right_alt2:before {
  content: "\49"; }

.arrow_back:before {
  content: "\4a"; }

.icon_minus-06:before {
  content: "\4b"; }

.icon_plus:before {
  content: "\4c"; }

.icon_close:before {
  content: "\4d"; }

.icon_check:before {
  content: "\4e"; }

.icon_minus_alt2:before {
  content: "\4f"; }

.icon_plus_alt2:before {
  content: "\50"; }

.icon_close_alt2:before {
  content: "\51"; }

.icon_check_alt2:before {
  content: "\52"; }

.icon_zoom-out_alt:before {
  content: "\53"; }

.icon_zoom-in_alt:before {
  content: "\54"; }

.icon_search:before {
  content: "\55"; }

.icon_box-empty:before {
  content: "\56"; }

.icon_box-selected:before {
  content: "\57"; }

.icon_minus-box:before {
  content: "\58"; }

.icon_plus-box:before {
  content: "\59"; }

.icon_box-checked:before {
  content: "\5a"; }

.icon_circle-empty:before {
  content: "\5b"; }

.icon_circle-slelected:before {
  content: "\5c"; }

.icon_stop_alt2:before {
  content: "\5d"; }

.icon_stop:before {
  content: "\5e"; }

.icon_pause_alt2:before {
  content: "\5f"; }

.icon_pause:before {
  content: "\60"; }

.icon_menu:before {
  content: "\61"; }

.icon_menu-square_alt2:before {
  content: "\62"; }

.icon_menu-circle_alt2:before {
  content: "\63"; }

.icon_ul:before {
  content: "\64"; }

.icon_ol:before {
  content: "\65"; }

.icon_adjust-horiz:before {
  content: "\66"; }

.icon_adjust-vert:before {
  content: "\67"; }

.icon_document_alt:before {
  content: "\68"; }

.icon_documents_alt:before {
  content: "\69"; }

.icon_pencil:before {
  content: "\6a"; }

.icon_pencil-edit_alt:before {
  content: "\6b"; }

.icon_pencil-edit:before {
  content: "\6c"; }

.icon_folder-alt:before {
  content: "\6d"; }

.icon_folder-open_alt:before {
  content: "\6e"; }

.icon_folder-add_alt:before {
  content: "\6f"; }

.icon_info_alt:before {
  content: "\70"; }

.icon_error-oct_alt:before {
  content: "\71"; }

.icon_error-circle_alt:before {
  content: "\72"; }

.icon_error-triangle_alt:before {
  content: "\73"; }

.icon_question_alt2:before {
  content: "\74"; }

.icon_question:before {
  content: "\75"; }

.icon_comment_alt:before {
  content: "\76"; }

.icon_chat_alt:before {
  content: "\77"; }

.icon_vol-mute_alt:before {
  content: "\78"; }

.icon_volume-low_alt:before {
  content: "\79"; }

.icon_volume-high_alt:before {
  content: "\7a"; }

.icon_quotations:before {
  content: "\7b"; }

.icon_quotations_alt2:before {
  content: "\7c"; }

.icon_clock_alt:before {
  content: "\7d"; }

.icon_lock_alt:before {
  content: "\7e"; }

.icon_lock-open_alt:before {
  content: "\e000"; }

.icon_key_alt:before {
  content: "\e001"; }

.icon_cloud_alt:before {
  content: "\e002"; }

.icon_cloud-upload_alt:before {
  content: "\e003"; }

.icon_cloud-download_alt:before {
  content: "\e004"; }

.icon_image:before {
  content: "\e005"; }

.icon_images:before {
  content: "\e006"; }

.icon_lightbulb_alt:before {
  content: "\e007"; }

.icon_gift_alt:before {
  content: "\e008"; }

.icon_house_alt:before {
  content: "\e009"; }

.icon_genius:before {
  content: "\e00a"; }

.icon_mobile:before {
  content: "\e00b"; }

.icon_tablet:before {
  content: "\e00c"; }

.icon_laptop:before {
  content: "\e00d"; }

.icon_desktop:before {
  content: "\e00e"; }

.icon_camera_alt:before {
  content: "\e00f"; }

.icon_mail_alt:before {
  content: "\e010"; }

.icon_cone_alt:before {
  content: "\e011"; }

.icon_ribbon_alt:before {
  content: "\e012"; }

.icon_bag_alt:before {
  content: "\e013"; }

.icon_creditcard:before {
  content: "\e014"; }

.icon_cart_alt:before {
  content: "\e015"; }

.icon_paperclip:before {
  content: "\e016"; }

.icon_tag_alt:before {
  content: "\e017"; }

.icon_tags_alt:before {
  content: "\e018"; }

.icon_trash_alt:before {
  content: "\e019"; }

.icon_cursor_alt:before {
  content: "\e01a"; }

.icon_mic_alt:before {
  content: "\e01b"; }

.icon_compass_alt:before {
  content: "\e01c"; }

.icon_pin_alt:before {
  content: "\e01d"; }

.icon_pushpin_alt:before {
  content: "\e01e"; }

.icon_map_alt:before {
  content: "\e01f"; }

.icon_drawer_alt:before {
  content: "\e020"; }

.icon_toolbox_alt:before {
  content: "\e021"; }

.icon_book_alt:before {
  content: "\e022"; }

.icon_calendar:before {
  content: "\e023"; }

.icon_film:before {
  content: "\e024"; }

.icon_table:before {
  content: "\e025"; }

.icon_contacts_alt:before {
  content: "\e026"; }

.icon_headphones:before {
  content: "\e027"; }

.icon_lifesaver:before {
  content: "\e028"; }

.icon_piechart:before {
  content: "\e029"; }

.icon_refresh:before {
  content: "\e02a"; }

.icon_link_alt:before {
  content: "\e02b"; }

.icon_link:before {
  content: "\e02c"; }

.icon_loading:before {
  content: "\e02d"; }

.icon_blocked:before {
  content: "\e02e"; }

.icon_archive_alt:before {
  content: "\e02f"; }

.icon_heart_alt:before {
  content: "\e030"; }

.icon_star_alt:before {
  content: "\e031"; }

.icon_star-half_alt:before {
  content: "\e032"; }

.icon_star:before {
  content: "\e033"; }

.icon_star-half:before {
  content: "\e034"; }

.icon_tools:before {
  content: "\e035"; }

.icon_tool:before {
  content: "\e036"; }

.icon_cog:before {
  content: "\e037"; }

.icon_cogs:before {
  content: "\e038"; }

.arrow_up_alt:before {
  content: "\e039"; }

.arrow_down_alt:before {
  content: "\e03a"; }

.arrow_left_alt:before {
  content: "\e03b"; }

.arrow_right_alt:before {
  content: "\e03c"; }

.arrow_left-up_alt:before {
  content: "\e03d"; }

.arrow_right-up_alt:before {
  content: "\e03e"; }

.arrow_right-down_alt:before {
  content: "\e03f"; }

.arrow_left-down_alt:before {
  content: "\e040"; }

.arrow_condense_alt:before {
  content: "\e041"; }

.arrow_expand_alt3:before {
  content: "\e042"; }

.arrow_carrot_up_alt:before {
  content: "\e043"; }

.arrow_carrot-down_alt:before {
  content: "\e044"; }

.arrow_carrot-left_alt:before {
  content: "\e045"; }

.arrow_carrot-right_alt:before {
  content: "\e046"; }

.arrow_carrot-2up_alt:before {
  content: "\e047"; }

.arrow_carrot-2dwnn_alt:before {
  content: "\e048"; }

.arrow_carrot-2left_alt:before {
  content: "\e049"; }

.arrow_carrot-2right_alt:before {
  content: "\e04a"; }

.arrow_triangle-up_alt:before {
  content: "\e04b"; }

.arrow_triangle-down_alt:before {
  content: "\e04c"; }

.arrow_triangle-left_alt:before {
  content: "\e04d"; }

.arrow_triangle-right_alt:before {
  content: "\e04e"; }

.icon_minus_alt:before {
  content: "\e04f"; }

.icon_plus_alt:before {
  content: "\e050"; }

.icon_close_alt:before {
  content: "\e051"; }

.icon_check_alt:before {
  content: "\e052"; }

.icon_zoom-out:before {
  content: "\e053"; }

.icon_zoom-in:before {
  content: "\e054"; }

.icon_stop_alt:before {
  content: "\e055"; }

.icon_menu-square_alt:before {
  content: "\e056"; }

.icon_menu-circle_alt:before {
  content: "\e057"; }

.icon_document:before {
  content: "\e058"; }

.icon_documents:before {
  content: "\e059"; }

.icon_pencil_alt:before {
  content: "\e05a"; }

.icon_folder:before {
  content: "\e05b"; }

.icon_folder-open:before {
  content: "\e05c"; }

.icon_folder-add:before {
  content: "\e05d"; }

.icon_folder_upload:before {
  content: "\e05e"; }

.icon_folder_download:before {
  content: "\e05f"; }

.icon_info:before {
  content: "\e060"; }

.icon_error-circle:before {
  content: "\e061"; }

.icon_error-oct:before {
  content: "\e062"; }

.icon_error-triangle:before {
  content: "\e063"; }

.icon_question_alt:before {
  content: "\e064"; }

.icon_comment:before {
  content: "\e065"; }

.icon_chat:before {
  content: "\e066"; }

.icon_vol-mute:before {
  content: "\e067"; }

.icon_volume-low:before {
  content: "\e068"; }

.icon_volume-high:before {
  content: "\e069"; }

.icon_quotations_alt:before {
  content: "\e06a"; }

.icon_clock:before {
  content: "\e06b"; }

.icon_lock:before {
  content: "\e06c"; }

.icon_lock-open:before {
  content: "\e06d"; }

.icon_key:before {
  content: "\e06e"; }

.icon_cloud:before {
  content: "\e06f"; }

.icon_cloud-upload:before {
  content: "\e070"; }

.icon_cloud-download:before {
  content: "\e071"; }

.icon_lightbulb:before {
  content: "\e072"; }

.icon_gift:before {
  content: "\e073"; }

.icon_house:before {
  content: "\e074"; }

.icon_camera:before {
  content: "\e075"; }

.icon_mail:before {
  content: "\e076"; }

.icon_cone:before {
  content: "\e077"; }

.icon_ribbon:before {
  content: "\e078"; }

.icon_bag:before {
  content: "\e079"; }

.icon_cart:before {
  content: "\e07a"; }

.icon_tag:before {
  content: "\e07b"; }

.icon_tags:before {
  content: "\e07c"; }

.icon_trash:before {
  content: "\e07d"; }

.icon_cursor:before {
  content: "\e07e"; }

.icon_mic:before {
  content: "\e07f"; }

.icon_compass:before {
  content: "\e080"; }

.icon_pin:before {
  content: "\e081"; }

.icon_pushpin:before {
  content: "\e082"; }

.icon_map:before {
  content: "\e083"; }

.icon_drawer:before {
  content: "\e084"; }

.icon_toolbox:before {
  content: "\e085"; }

.icon_book:before {
  content: "\e086"; }

.icon_contacts:before {
  content: "\e087"; }

.icon_archive:before {
  content: "\e088"; }

.icon_heart:before {
  content: "\e089"; }

.icon_profile:before {
  content: "\e08a"; }

.icon_group:before {
  content: "\e08b"; }

.icon_grid-2x2:before {
  content: "\e08c"; }

.icon_grid-3x3:before {
  content: "\e08d"; }

.icon_music:before {
  content: "\e08e"; }

.icon_pause_alt:before {
  content: "\e08f"; }

.icon_phone:before {
  content: "\e090"; }

.icon_upload:before {
  content: "\e091"; }

.icon_download:before {
  content: "\e092"; }

.social_facebook:before {
  content: "\e093"; }

.social_twitter:before {
  content: "\e094"; }

.social_pinterest:before {
  content: "\e095"; }

.social_googleplus:before {
  content: "\e096"; }

.social_tumblr:before {
  content: "\e097"; }

.social_tumbleupon:before {
  content: "\e098"; }

.social_wordpress:before {
  content: "\e099"; }

.social_instagram:before {
  content: "\e09a"; }

.social_dribbble:before {
  content: "\e09b"; }

.social_vimeo:before {
  content: "\e09c"; }

.social_linkedin:before {
  content: "\e09d"; }

.social_rss:before {
  content: "\e09e"; }

.social_deviantart:before {
  content: "\e09f"; }

.social_share:before {
  content: "\e0a0"; }

.social_myspace:before {
  content: "\e0a1"; }

.social_skype:before {
  content: "\e0a2"; }

.social_youtube:before {
  content: "\e0a3"; }

.social_picassa:before {
  content: "\e0a4"; }

.social_googledrive:before {
  content: "\e0a5"; }

.social_flickr:before {
  content: "\e0a6"; }

.social_blogger:before {
  content: "\e0a7"; }

.social_spotify:before {
  content: "\e0a8"; }

.social_delicious:before {
  content: "\e0a9"; }

.social_facebook_circle:before {
  content: "\e0aa"; }

.social_twitter_circle:before {
  content: "\e0ab"; }

.social_pinterest_circle:before {
  content: "\e0ac"; }

.social_googleplus_circle:before {
  content: "\e0ad"; }

.social_tumblr_circle:before {
  content: "\e0ae"; }

.social_stumbleupon_circle:before {
  content: "\e0af"; }

.social_wordpress_circle:before {
  content: "\e0b0"; }

.social_instagram_circle:before {
  content: "\e0b1"; }

.social_dribbble_circle:before {
  content: "\e0b2"; }

.social_vimeo_circle:before {
  content: "\e0b3"; }

.social_linkedin_circle:before {
  content: "\e0b4"; }

.social_rss_circle:before {
  content: "\e0b5"; }

.social_deviantart_circle:before {
  content: "\e0b6"; }

.social_share_circle:before {
  content: "\e0b7"; }

.social_myspace_circle:before {
  content: "\e0b8"; }

.social_skype_circle:before {
  content: "\e0b9"; }

.social_youtube_circle:before {
  content: "\e0ba"; }

.social_picassa_circle:before {
  content: "\e0bb"; }

.social_googledrive_alt2:before {
  content: "\e0bc"; }

.social_flickr_circle:before {
  content: "\e0bd"; }

.social_blogger_circle:before {
  content: "\e0be"; }

.social_spotify_circle:before {
  content: "\e0bf"; }

.social_delicious_circle:before {
  content: "\e0c0"; }

.social_facebook_square:before {
  content: "\e0c1"; }

.social_twitter_square:before {
  content: "\e0c2"; }

.social_pinterest_square:before {
  content: "\e0c3"; }

.social_googleplus_square:before {
  content: "\e0c4"; }

.social_tumblr_square:before {
  content: "\e0c5"; }

.social_stumbleupon_square:before {
  content: "\e0c6"; }

.social_wordpress_square:before {
  content: "\e0c7"; }

.social_instagram_square:before {
  content: "\e0c8"; }

.social_dribbble_square:before {
  content: "\e0c9"; }

.social_vimeo_square:before {
  content: "\e0ca"; }

.social_linkedin_square:before {
  content: "\e0cb"; }

.social_rss_square:before {
  content: "\e0cc"; }

.social_deviantart_square:before {
  content: "\e0cd"; }

.social_share_square:before {
  content: "\e0ce"; }

.social_myspace_square:before {
  content: "\e0cf"; }

.social_skype_square:before {
  content: "\e0d0"; }

.social_youtube_square:before {
  content: "\e0d1"; }

.social_picassa_square:before {
  content: "\e0d2"; }

.social_googledrive_square:before {
  content: "\e0d3"; }

.social_flickr_square:before {
  content: "\e0d4"; }

.social_blogger_square:before {
  content: "\e0d5"; }

.social_spotify_square:before {
  content: "\e0d6"; }

.social_delicious_square:before {
  content: "\e0d7"; }

.icon_printer:before {
  content: "\e103"; }

.icon_calulator:before {
  content: "\e0ee"; }

.icon_building:before {
  content: "\e0ef"; }

.icon_floppy:before {
  content: "\e0e8"; }

.icon_drive:before {
  content: "\e0ea"; }

.icon_search-2:before {
  content: "\e101"; }

.icon_id:before {
  content: "\e107"; }

.icon_id-2:before {
  content: "\e108"; }

.icon_puzzle:before {
  content: "\e102"; }

.icon_like:before {
  content: "\e106"; }

.icon_dislike:before {
  content: "\e0eb"; }

.icon_mug:before {
  content: "\e105"; }

.icon_currency:before {
  content: "\e0ed"; }

.icon_wallet:before {
  content: "\e100"; }

.icon_pens:before {
  content: "\e104"; }

.icon_easel:before {
  content: "\e0e9"; }

.icon_flowchart:before {
  content: "\e109"; }

.icon_datareport:before {
  content: "\e0ec"; }

.icon_briefcase:before {
  content: "\e0fe"; }

.icon_shield:before {
  content: "\e0f6"; }

.icon_percent:before {
  content: "\e0fb"; }

.icon_globe:before {
  content: "\e0e2"; }

.icon_globe-2:before {
  content: "\e0e3"; }

.icon_target:before {
  content: "\e0f5"; }

.icon_hourglass:before {
  content: "\e0e1"; }

.icon_balance:before {
  content: "\e0ff"; }

.icon_rook:before {
  content: "\e0f8"; }

.icon_printer-alt:before {
  content: "\e0fa"; }

.icon_calculator_alt:before {
  content: "\e0e7"; }

.icon_building_alt:before {
  content: "\e0fd"; }

.icon_floppy_alt:before {
  content: "\e0e4"; }

.icon_drive_alt:before {
  content: "\e0e5"; }

.icon_search_alt:before {
  content: "\e0f7"; }

.icon_id_alt:before {
  content: "\e0e0"; }

.icon_id-2_alt:before {
  content: "\e0fc"; }

.icon_puzzle_alt:before {
  content: "\e0f9"; }

.icon_like_alt:before {
  content: "\e0dd"; }

.icon_dislike_alt:before {
  content: "\e0f1"; }

.icon_mug_alt:before {
  content: "\e0dc"; }

.icon_currency_alt:before {
  content: "\e0f3"; }

.icon_wallet_alt:before {
  content: "\e0d8"; }

.icon_pens_alt:before {
  content: "\e0db"; }

.icon_easel_alt:before {
  content: "\e0f0"; }

.icon_flowchart_alt:before {
  content: "\e0df"; }

.icon_datareport_alt:before {
  content: "\e0f2"; }

.icon_briefcase_alt:before {
  content: "\e0f4"; }

.icon_shield_alt:before {
  content: "\e0d9"; }

.icon_percent_alt:before {
  content: "\e0da"; }

.icon_globe_alt:before {
  content: "\e0de"; }

.icon_clipboard:before {
  content: "\e0e6"; }

.glyph {
  float: left;
  text-align: center;
  padding: .75em;
  margin: .4em 1.5em .75em 0;
  width: 6em;
  text-shadow: none; }

.glyph_big {
  font-size: 128px;
  color: #59c5dc;
  float: left;
  margin-right: 20px; }

.glyph div {
  padding-bottom: 10px; }

.glyph input {
  font-family: consolas, monospace;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border: 0;
  box-shadow: 0 0 0 1px #ccc;
  padding: .2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.glyph .fs1 {
  font-size: 2em; }

@font-face {
  font-family: "ecommerceIcons";
  src: url("../fonts/ecommerceIcons.eot");
  src: url("../fonts/ecommerceIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecommerceIcons.woff") format("woff"), url("../fonts/ecommerceIcons.ttf") format("truetype"), url("../fonts/ecommerceIcons.svg#ecommerceIcons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-ecommerce-bag, .icon-ecommerce-bag-check, .icon-ecommerce-bag-cloud, .icon-ecommerce-bag-download, .icon-ecommerce-bag-minus, .icon-ecommerce-bag-plus, .icon-ecommerce-bag-refresh, .icon-ecommerce-bag-remove, .icon-ecommerce-bag-search, .icon-ecommerce-bag-upload, .icon-ecommerce-banknote, .icon-ecommerce-banknotes, .icon-ecommerce-basket, .icon-ecommerce-basket-check, .icon-ecommerce-basket-cloud, .icon-ecommerce-basket-download, .icon-ecommerce-basket-minus, .icon-ecommerce-basket-plus, .icon-ecommerce-basket-refresh, .icon-ecommerce-basket-remove, .icon-ecommerce-basket-search, .icon-ecommerce-basket-upload, .icon-ecommerce-bath, .icon-ecommerce-cart, .icon-ecommerce-cart-check, .icon-ecommerce-cart-cloud, .icon-ecommerce-cart-content, .icon-ecommerce-cart-download, .icon-ecommerce-cart-minus, .icon-ecommerce-cart-plus, .icon-ecommerce-cart-refresh, .icon-ecommerce-cart-remove, .icon-ecommerce-cart-search, .icon-ecommerce-cart-upload, .icon-ecommerce-cent, .icon-ecommerce-colon, .icon-ecommerce-creditcard, .icon-ecommerce-diamond, .icon-ecommerce-dollar, .icon-ecommerce-euro, .icon-ecommerce-franc, .icon-ecommerce-gift, .icon-ecommerce-graph1, .icon-ecommerce-graph2, .icon-ecommerce-graph3, .icon-ecommerce-graph-decrease, .icon-ecommerce-graph-increase, .icon-ecommerce-guarani, .icon-ecommerce-kips, .icon-ecommerce-lira, .icon-ecommerce-megaphone, .icon-ecommerce-money, .icon-ecommerce-naira, .icon-ecommerce-pesos, .icon-ecommerce-pound, .icon-ecommerce-receipt, .icon-ecommerce-receipt-bath, .icon-ecommerce-receipt-cent, .icon-ecommerce-receipt-dollar, .icon-ecommerce-receipt-euro, .icon-ecommerce-receipt-franc, .icon-ecommerce-receipt-guarani, .icon-ecommerce-receipt-kips, .icon-ecommerce-receipt-lira, .icon-ecommerce-receipt-naira, .icon-ecommerce-receipt-pesos, .icon-ecommerce-receipt-pound, .icon-ecommerce-receipt-rublo, .icon-ecommerce-receipt-rupee, .icon-ecommerce-receipt-tugrik, .icon-ecommerce-receipt-won, .icon-ecommerce-receipt-yen, .icon-ecommerce-receipt-yen2, .icon-ecommerce-recept-colon, .icon-ecommerce-rublo, .icon-ecommerce-rupee, .icon-ecommerce-safe, .icon-ecommerce-sale, .icon-ecommerce-sales, .icon-ecommerce-ticket, .icon-ecommerce-tugriks, .icon-ecommerce-wallet, .icon-ecommerce-won, .icon-ecommerce-yen, .icon-ecommerce-yen2 {
  font-family: "ecommerceIcons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ecommerce-bag:before {
  content: "a"; }

.icon-ecommerce-bag-check:before {
  content: "b"; }

.icon-ecommerce-bag-cloud:before {
  content: "c"; }

.icon-ecommerce-bag-download:before {
  content: "d"; }

.icon-ecommerce-bag-minus:before {
  content: "e"; }

.icon-ecommerce-bag-plus:before {
  content: "f"; }

.icon-ecommerce-bag-refresh:before {
  content: "g"; }

.icon-ecommerce-bag-remove:before {
  content: "h"; }

.icon-ecommerce-bag-search:before {
  content: "i"; }

.icon-ecommerce-bag-upload:before {
  content: "j"; }

.icon-ecommerce-banknote:before {
  content: "k"; }

.icon-ecommerce-banknotes:before {
  content: "l"; }

.icon-ecommerce-basket:before {
  content: "m"; }

.icon-ecommerce-basket-check:before {
  content: "n"; }

.icon-ecommerce-basket-cloud:before {
  content: "o"; }

.icon-ecommerce-basket-download:before {
  content: "p"; }

.icon-ecommerce-basket-minus:before {
  content: "q"; }

.icon-ecommerce-basket-plus:before {
  content: "r"; }

.icon-ecommerce-basket-refresh:before {
  content: "s"; }

.icon-ecommerce-basket-remove:before {
  content: "t"; }

.icon-ecommerce-basket-search:before {
  content: "u"; }

.icon-ecommerce-basket-upload:before {
  content: "v"; }

.icon-ecommerce-bath:before {
  content: "w"; }

.icon-ecommerce-cart:before {
  content: "x"; }

.icon-ecommerce-cart-check:before {
  content: "y"; }

.icon-ecommerce-cart-cloud:before {
  content: "z"; }

.icon-ecommerce-cart-content:before {
  content: "A"; }

.icon-ecommerce-cart-download:before {
  content: "B"; }

.icon-ecommerce-cart-minus:before {
  content: "C"; }

.icon-ecommerce-cart-plus:before {
  content: "D"; }

.icon-ecommerce-cart-refresh:before {
  content: "E"; }

.icon-ecommerce-cart-remove:before {
  content: "F"; }

.icon-ecommerce-cart-search:before {
  content: "G"; }

.icon-ecommerce-cart-upload:before {
  content: "H"; }

.icon-ecommerce-cent:before {
  content: "I"; }

.icon-ecommerce-colon:before {
  content: "J"; }

.icon-ecommerce-creditcard:before {
  content: "K"; }

.icon-ecommerce-diamond:before {
  content: "L"; }

.icon-ecommerce-dollar:before {
  content: "M"; }

.icon-ecommerce-euro:before {
  content: "N"; }

.icon-ecommerce-franc:before {
  content: "O"; }

.icon-ecommerce-gift:before {
  content: "P"; }

.icon-ecommerce-graph1:before {
  content: "Q"; }

.icon-ecommerce-graph2:before {
  content: "R"; }

.icon-ecommerce-graph3:before {
  content: "S"; }

.icon-ecommerce-graph-decrease:before {
  content: "T"; }

.icon-ecommerce-graph-increase:before {
  content: "U"; }

.icon-ecommerce-guarani:before {
  content: "V"; }

.icon-ecommerce-kips:before {
  content: "W"; }

.icon-ecommerce-lira:before {
  content: "X"; }

.icon-ecommerce-megaphone:before {
  content: "Y"; }

.icon-ecommerce-money:before {
  content: "Z"; }

.icon-ecommerce-naira:before {
  content: "0"; }

.icon-ecommerce-pesos:before {
  content: "1"; }

.icon-ecommerce-pound:before {
  content: "2"; }

.icon-ecommerce-receipt:before {
  content: "3"; }

.icon-ecommerce-receipt-bath:before {
  content: "4"; }

.icon-ecommerce-receipt-cent:before {
  content: "5"; }

.icon-ecommerce-receipt-dollar:before {
  content: "6"; }

.icon-ecommerce-receipt-euro:before {
  content: "7"; }

.icon-ecommerce-receipt-franc:before {
  content: "8"; }

.icon-ecommerce-receipt-guarani:before {
  content: "9"; }

.icon-ecommerce-receipt-kips:before {
  content: "!"; }

.icon-ecommerce-receipt-lira:before {
  content: "\""; }

.icon-ecommerce-receipt-naira:before {
  content: "#"; }

.icon-ecommerce-receipt-pesos:before {
  content: "$"; }

.icon-ecommerce-receipt-pound:before {
  content: "%"; }

.icon-ecommerce-receipt-rublo:before {
  content: "&"; }

.icon-ecommerce-receipt-rupee:before {
  content: "'"; }

.icon-ecommerce-receipt-tugrik:before {
  content: "("; }

.icon-ecommerce-receipt-won:before {
  content: ")"; }

.icon-ecommerce-receipt-yen:before {
  content: "*"; }

.icon-ecommerce-receipt-yen2:before {
  content: "+"; }

.icon-ecommerce-recept-colon:before {
  content: ","; }

.icon-ecommerce-rublo:before {
  content: "-"; }

.icon-ecommerce-rupee:before {
  content: "."; }

.icon-ecommerce-safe:before {
  content: "/"; }

.icon-ecommerce-sale:before {
  content: ":"; }

.icon-ecommerce-sales:before {
  content: ";"; }

.icon-ecommerce-ticket:before {
  content: "<"; }

.icon-ecommerce-tugriks:before {
  content: "="; }

.icon-ecommerce-wallet:before {
  content: ">"; }

.icon-ecommerce-won:before {
  content: "?"; }

.icon-ecommerce-yen:before {
  content: "@"; }

.icon-ecommerce-yen2:before {
  content: "["; }

.arrow-double-left, .arrow-double-right {
  width: 10px;
  height: 20px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto; }
  .arrow-double-left:before, .arrow-double-left:after, .arrow-double-right:before, .arrow-double-right:after {
    content: "";
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #D7D7D7;
    position: absolute;
    top: 0; }
  .arrow-double-left:hover:before, .arrow-double-left:hover:after, .arrow-double-right:hover:before, .arrow-double-right:hover:after {
    border-color: #f1766a; }

.arrow-double-left:before {
  border-top: none;
  border-right: none;
  left: 9px; }
.arrow-double-left:after {
  border-top: none;
  border-right: none;
  left: 4px; }

.arrow-double-right:before {
  border-bottom: none;
  border-left: none;
  right: 9px; }
.arrow-double-right:after {
  border-bottom: none;
  border-left: none;
  right: 4px; }

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat .content_scene_cat_bg {
  min-height: 217px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px 20px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #E1E1E1; }
  .content_scene_cat .content_scene_cat_bg a {
    color: #fff; }
    .content_scene_cat .content_scene_cat_bg a:hover {
      color: #f1766a; }
  .content_scene_cat .content_scene_cat_bg.content_scene_cat_normal {
    background: none;
    min-height: 1px;
    padding: 0px;
    color: #8f8f8f; }
    .content_scene_cat .content_scene_cat_bg.content_scene_cat_normal span.category-name {
      font-size: 2.2rem;
      margin-bottom: 5px;
      color: #383838; }
    .content_scene_cat .content_scene_cat_bg.content_scene_cat_normal a {
      color: #8f8f8f; }
      .content_scene_cat .content_scene_cat_bg.content_scene_cat_normal a:hover {
        color: #f1766a; }
.content_scene_cat span.category-name {
  display: block;
  font-size: 4.2rem;
  margin-bottom: 5px; }
.content_scene_cat p {
  margin-bottom: 0; }
.content_scene_cat .content_scene {
  color: #8f8f8f; }
  .content_scene_cat .content_scene .cat_desc {
    padding-top: 20px; }
    .content_scene_cat .content_scene .cat_desc a {
      color: #8f8f8f; }
      .content_scene_cat .content_scene .cat_desc a:hover {
        color: #f1766a; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  margin-bottom: 30px; }
  #subcategories p.subcategory-heading {
    font-size: 1.4rem;
    color: #383838;
    border-bottom: 1px solid #EBEBEB;
    margin: 0 0 30px 0;
    padding-bottom: 10px;
    text-transform: uppercase; }
  #subcategories ul {
    margin: 0 -10px 0 -10px; }
    #subcategories ul li {
      float: left;
      width: 16.66%;
      padding: 0px 10px 0px 10px;
      text-align: center; }
      #subcategories ul li .subcategory-image {
        margin-bottom: 10px;
        opacity: 1;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #subcategories ul li .subcategory-image a {
          display: block; }
          #subcategories ul li .subcategory-image a img {
            display: block;
            max-width: 100%;
            height: auto;
            vertical-align: top;
            margin: 0 auto; }
      #subcategories ul li .subcategory-name {
        font-weight: 400;
        color: #383838;
        font-family: "Jura", Arial, Helvetica, sans-serif; }
        #subcategories ul li .subcategory-name:hover {
          color: #f1766a; }
      #subcategories ul li .cat_desc {
        display: none; }
      #subcategories ul li:hover .subcategory-image {
        border-color: #f1766a;
        opacity: 0.7; }
      #subcategories ul li:hover .subcategory-name {
        color: #f1766a; }

.content_sortPagiBar .sortPagiBar {
  clear: both;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 30px;
  padding-bottom: 15px;
  display: block; }
  .content_sortPagiBar .sortPagiBar .sortPagiBar_item {
    float: left;
    width: 25%;
    display: block; }
    .content_sortPagiBar .sortPagiBar .sortPagiBar_item ul.pagination {
      float: right; }
  .content_sortPagiBar .sortPagiBar #productsSortForm label {
    font-weight: 400;
    color: #8f8f8f; }
  .content_sortPagiBar .sortPagiBar #productsSortForm select {
    max-width: 148px;
    float: left; }
    @media (max-width: 991px) {
      .content_sortPagiBar .sortPagiBar #productsSortForm select {
        max-width: 148px; } }
  .content_sortPagiBar .sortPagiBar #productsSortForm .selector {
    float: left; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage label {
    font-weight: 400;
    color: #8f8f8f; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage select {
    max-width: 60px;
    float: left; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage .clearfix > span {
    padding: 3px 0 0 12px;
    display: inline-block;
    float: left; }
  .content_sortPagiBar .sortPagiBar .nbrItemPage #uniform-nb_item {
    float: left; }
  .content_sortPagiBar .sortPagiBar label,
  .content_sortPagiBar .sortPagiBar select {
    float: left; }
  .content_sortPagiBar .sortPagiBar label {
    padding: 4px 6px 0 0; }
  .content_sortPagiBar .sortPagiBar.instant_search #productsSortForm {
    display: none; }
  .content_sortPagiBar .sortPagiBar .product-count {
    float: left;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-family: "Jura", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin: 15px 0px; }
  .content_sortPagiBar .sortPagiBar div.selector select, .content_sortPagiBar .sortPagiBar div.selector span {
    height: 29px; }
  .content_sortPagiBar .sortPagiBar div.selector, .content_sortPagiBar .sortPagiBar div.selector span {
    height: 29px;
    line-height: 29px; }
  .content_sortPagiBar .sortPagiBar div.selector1 > div {
    background-position: 0px -471px; }
  .content_sortPagiBar .sortPagiBar div.selector1 > div span {
    background-position: right -413px; }
  .content_sortPagiBar .sortPagiBar div.selector1 > div.hover span, .content_sortPagiBar .sortPagiBar div.selector1 > div.focus span {
    background-position: right -442px; }
.content_sortPagiBar .display,
.content_sortPagiBar .display_m {
  margin: 0px; }
  .content_sortPagiBar .display li,
  .content_sortPagiBar .display_m li {
    float: left;
    padding-right: 10px;
    text-align: center; }
    .content_sortPagiBar .display li a,
    .content_sortPagiBar .display_m li a {
      color: #808080;
      font-size: 11px;
      line-height: 14px;
      cursor: pointer; }
      .content_sortPagiBar .display li a i,
      .content_sortPagiBar .display_m li a i {
        display: block;
        font-size: 14px;
        width: 29px;
        height: 29px;
        line-height: 29px;
        color: #CCCCCC;
        background-color: #fff;
        border: 1px solid #EBEBEB; }
      .content_sortPagiBar .display li a:hover i,
      .content_sortPagiBar .display_m li a:hover i {
        color: #000000; }
    .content_sortPagiBar .display li.selected a,
    .content_sortPagiBar .display_m li.selected a {
      cursor: default; }
    .content_sortPagiBar .display li.selected i,
    .content_sortPagiBar .display_m li.selected i {
      border-color: #f1766a;
      background-color: #f1766a;
      color: #fff; }
    .content_sortPagiBar .display li.selected:hover i,
    .content_sortPagiBar .display_m li.selected:hover i {
      color: #fff; }
    .content_sortPagiBar .display li#display-title,
    .content_sortPagiBar .display_m li#display-title {
      margin-top: 4px;
      pointer-events: none; }
.content_sortPagiBar .show_all_product {
  display: block;
  float: left; }
  .content_sortPagiBar .show_all_product .showall {
    display: block; }
    .content_sortPagiBar .show_all_product .showall .btn_show_all {
      background: none;
      border: 0;
      padding: 0;
      margin: 0;
      color: #8f8f8f; }
      .content_sortPagiBar .show_all_product .showall .btn_show_all:hover {
        color: #f1766a; }
.content_sortPagiBar .product_pagination {
  margin: 0;
  display: block;
  text-align: left; }
.content_sortPagiBar ul.pagination {
  margin: 0;
  padding: 0;
  float: left; }
  .content_sortPagiBar ul.pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 16px; }
    .content_sortPagiBar ul.pagination li > a,
    .content_sortPagiBar ul.pagination li > span {
      margin: 0px;
      padding: 0;
      display: block;
      text-align: center;
      background-color: transparent;
      font-size: 17px;
      border: 0; }
    .content_sortPagiBar ul.pagination li > a:hover span {
      color: #f1766a;
      display: block; }
    .content_sortPagiBar ul.pagination li.pagination_previous.disabled, .content_sortPagiBar ul.pagination li.pagination_next.disabled {
      display: none; }
    @media (max-width: 767px) {
      .content_sortPagiBar ul.pagination li.pagination_previous > a b,
      .content_sortPagiBar ul.pagination li.pagination_previous > span b, .content_sortPagiBar ul.pagination li.pagination_next > a b,
      .content_sortPagiBar ul.pagination li.pagination_next > span b {
        display: none; } }
    .content_sortPagiBar ul.pagination li.active > span {
      color: #f1766a;
      background-color: transparent; }

.top-pagination-content,
.bottom-pagination-content {
  text-align: center;
  padding: 0px 0 40px 0;
  position: relative; }
  .top-pagination-content .compare-form,
  .bottom-pagination-content .compare-form {
    float: right; }
    @media (max-width: 479px) {
      .top-pagination-content .compare-form,
      .bottom-pagination-content .compare-form {
        float: left;
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
        clear: both; } }
  .top-pagination-content .product-count,
  .bottom-pagination-content .product-count {
    padding: 0px 3px 0 0;
    float: left; }
    @media (max-width: 991px) {
      .top-pagination-content .product-count,
      .bottom-pagination-content .product-count {
        clear: left; } }

.bottom-pagination-content {
  border-top: 1px solid #EBEBEB;
  padding-top: 15px; }
  .bottom-pagination-content .product_pagination {
    display: block;
    float: right; }

.fancybox-skin {
  border-radius: 0px; }

.kr_parralax {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  z-index: 2; }

.sidebar_panel.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px; }

.sidebar_panel.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 260px; }

.sidebar_panel.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  background: #03A9F4; }

.sidebar_panel.top {
  left: 0;
  right: 0;
  top: 0;
  height: 270px;
  background: #03A9F4; }

.sidebar_panel {
  position: fixed;
  background-color: #fff;
  z-index: 9992;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 10px 0px 0px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2); }
  .sidebar_panel .sidebar_panel_wrap {
    position: relative;
    height: 100%;
    overflow: hidden; }
    .sidebar_panel .sidebar_panel_wrap .sidebar_panel_inner {
      display: block;
      height: 100%;
      padding: 25px 25px; }
      .sidebar_panel .sidebar_panel_wrap .sidebar_panel_inner .sidebar_panel_inner_content {
        position: absolute;
        width: 250px;
        padding-right: 8px;
        height: 100%;
        overflow-y: visible;
        overflow-x: hidden; }
    .sidebar_panel .sidebar_panel_wrap .sidebar_panel_close {
      text-align: center;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 5px; }
      .sidebar_panel .sidebar_panel_wrap .sidebar_panel_close i {
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 22px;
        line-height: 32px;
        color: #999;
        cursor: pointer;
        display: inline-block; }

.nav_icon {
  width: 40px;
  height: 40px;
  line-height: 43px;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 9;
  display: block;
  text-align: center;
  cursor: pointer; }
  .nav_icon i {
    font-size: 20px; }
  .nav_icon.active i:before {
    content: "+";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: block;
    font-size: 28px;
    line-height: 37px; }

.sidebar_panel .sidebar_panel_inner_content .header_nav_element {
  margin-bottom: 15px; }
  .sidebar_panel .sidebar_panel_inner_content .header_nav_element .title {
    font-family: "Jura", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    color: #545454;
    margin-bottom: 10px;
    font-weight: 400; }
  .sidebar_panel .sidebar_panel_inner_content .header_nav_element .header_nav_element_content ul li {
    margin-bottom: 5px; }
    .sidebar_panel .sidebar_panel_inner_content .header_nav_element .header_nav_element_content ul li img, .sidebar_panel .sidebar_panel_inner_content .header_nav_element .header_nav_element_content ul li i {
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      min-width: 16px; }
.sidebar_panel .header_logo {
  margin-top: 45px;
  margin-bottom: 140px; }
  .sidebar_panel .header_logo img {
    margin: 0 auto; }
.sidebar_panel .block_top_menu {
  float: none;
  margin-bottom: 100px; }
  .sidebar_panel .block_top_menu ul.sf-menu > li {
    float: none;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2A2A2A; }
    .sidebar_panel .block_top_menu ul.sf-menu > li > a {
      margin: 0;
      color: #8f8f8f; }
      .sidebar_panel .block_top_menu ul.sf-menu > li > a:hover {
        color: #fff; }
      .sidebar_panel .block_top_menu ul.sf-menu > li > a.sf-with-ul:after {
        content: "\f105";
        float: right; }
    .sidebar_panel .block_top_menu ul.sf-menu > li ul.submenu-container {
      position: static;
      background-color: transparent;
      padding: 0;
      box-shadow: none; }
      .sidebar_panel .block_top_menu ul.sf-menu > li ul.submenu-container > li {
        width: 100%;
        float: none;
        clear: none;
        padding: 10px 0px; }
        .sidebar_panel .block_top_menu ul.sf-menu > li ul.submenu-container > li a {
          color: #8f8f8f;
          font-size: 1.3rem; }
          .sidebar_panel .block_top_menu ul.sf-menu > li ul.submenu-container > li a:hover {
            color: #fff; }
.sidebar_panel .shopping_cart {
  margin-bottom: 70px; }
  .sidebar_panel .shopping_cart > a:first-child {
    display: none !important;
    color: #8f8f8f; }
    .sidebar_panel .shopping_cart > a:first-child:before {
      font-size: 20px; }
    .sidebar_panel .shopping_cart > a:first-child .ajax_cart_total {
      display: inline-block !important;
      font-size: 14px;
      margin-left: 5px; }
.sidebar_panel .cart_block {
  padding-right: 10px; }
  .sidebar_panel .cart_block dt {
    padding: 15px 0px 0px 0px; }
.sidebar_panel .social_block ul {
  margin: 0;
  display: block;
  text-align: center; }
  .sidebar_panel .social_block ul li {
    display: inline-block;
    margin: 0px 5px; }
    .sidebar_panel .social_block ul li a {
      font-size: 16px; }
      .sidebar_panel .social_block ul li a span {
        display: none; }
      .sidebar_panel .social_block ul li a:before {
        font-family: "ElegantIcons"; }
      .sidebar_panel .social_block ul li a:hover {
        color: #fff; }
    .sidebar_panel .social_block ul li.facebook a:before {
      content: "\e093"; }
    .sidebar_panel .social_block ul li.twitter a:before {
      content: "\e094"; }
    .sidebar_panel .social_block ul li.rss a:before {
      content: "\e09e"; }
    .sidebar_panel .social_block ul li.youtube a:before {
      content: "\e0a3"; }
    .sidebar_panel .social_block ul li.google-plus a:before {
      content: "\e096"; }
    .sidebar_panel .social_block ul li.pinterest a:before {
      content: "\e095"; }
    .sidebar_panel .social_block ul li.vimeo a:before {
      content: "\e09c"; }
    .sidebar_panel .social_block ul li.instagram a:before {
      content: "\e09a"; }

body.loading .sidebar_panel {
  visibility: hidden;
  opacity: 0; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.kr_scroll_top {
  display: block;
  position: fixed;
  right: 12px;
  bottom: 12px;
  width: 45px;
  height: 45px;
  z-index: 10; }
  .kr_scroll_top #scroll_top {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 3px;
    color: #fff;
    border: 2px solid #f1766a;
    display: block;
    text-align: center;
    font-size: 25px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .kr_scroll_top #scroll_top i {
      display: block;
      line-height: 35px;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: #f1766a;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .kr_scroll_top #scroll_top:hover {
      border-color: rgba(0, 0, 0, 0.3); }
      .kr_scroll_top #scroll_top:hover i {
        background-color: rgba(0, 0, 0, 0.3); }

.main_menu_area.stickyclass {
  display: block;
  position: relative;
  right: 0px;
  left: 0px;
  top: 0px;
  box-shadow: none;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }

@media (max-width: 767px) {
	.main_menu_area.stickyclass.sticky {
		max-height: calc(94%);
		overflow-y: auto;
	}
}
.main_menu_area.stickyclass.sticky {
  position: fixed;
  /*background-color: #fff;*/
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 9992; }

.xprt_parallax_section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1; }

.xprt_slider_container.loading .preloader {
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 2; }

#displayhomebottomleft .col-sm-4:first-child {
  padding-left: 0px; }

#displayhomebottomleft .col-sm-4:last-child {
  padding-right: 0px; }

.displayhometop_area .kr_service_block_area .kr_service_block .kr_service_block_inner .kr_service_block_single .kr_service_block_top .kr_service_block_icon {
  border-color: #ececec; }

body.show-left-column .content_sortPagiBar .display li#display-title, .content_sortPagiBar .display_m li#display-title, body.show-right-column .content_sortPagiBar .display li#display-title, .content_sortPagiBar .display_m li#display-title {
  display: none; }


/*additional css for fixing*/
#layer_cart{
 width: 100%;
}

.content_sortPagiBar .sortPagiBar .pagination .showall{
 display: none;
}
.content_sortPagiBar .sortPagiBar div.pagination {
      float: right;
    width: 25%;
    display: block;
margin-top:0px;
text-align:right;
}
.content_sortPagiBar .sortPagiBar div.pagination ul.pagination {
  float: none;
}
.content_sortPagiBar .bottom-pagination-content .pagination .showall{
 display: none;
}
.content_sortPagiBar .bottom-pagination-content div.pagination {
      float: right;
    width: 25%;
    display: block;
margin-top:0px;
text-align:right;
}
.content_sortPagiBar .bottom-pagination-content div.pagination ul.pagination {
  float: none;
}


/* // Additinal css fixed for support */
.contact_infos_footer.block .block_content ul li i{
   float:none;
    vertical-align: middle;
    display: inline-block;
}

header .main_menu_area{
    z-index: auto;
}

.block_top_menu{
   z-index: auto;
}

.block_top_menu ul.sf-menu > li ul.submenu-container{
   z-index: 9992;
}