.roymap {
	position:relative;
	width: 50%;
	float: left;
	padding: 0 15px;
	margin-bottom: 20px;
}
.mapwrapper {
    height:0;
    overflow:hidden;
}
.mapwrapper div#map {
    height:460px;
    width:100%;
}
.map_icon {
    width:74px;
    height:74px;
    /*background:url('../img/map_icon.jpg') no-repeat center center transparent;*/
    background:#464646;
    border:2px solid #282828;
    float:right;
    position:relative;
    margin-left:40px;
    cursor:pointer;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    filter: gray; /* IE6-9 */
    filter: grayscale(0.5); /* Firefox 35+ */
    -webkit-filter: grayscale(0.5); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.map_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.map_icon:before {
    font-family: 'Ionicons';
    font-size: 40px;
    font-weight:normal;
    line-height: 70px;
    width:100%;
    position:absolute;
    text-align: center;
    content: "\f203";
    color: #e5e5e5;
    display: inline-block;
    -webkit-transition: -webkit-transform 160ms linear, margin-top 160ms linear;
    -moz-transition: -moz-transform 160ms linear, margin-top 160ms linear;
    -ms-transition: -ms-transform 160ms linear, margin-top 160ms linear;
    -o-transition: -o-transform 160ms linear, margin-top 160ms linear;
    transition: transform 160ms linear, margin-top 160ms linear;
}
.map_icon:hover:before {
    -moz-transform: rotate(25deg); /* Для Firefox */
    -ms-transform: rotate(25deg); /* Для IE */
    -webkit-transform: rotate(25deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(25deg); /* Для Opera */
    transform: rotate(25deg);
}

.footer-wrapper .store-content-select {
    display:none;
}

.map_icon.opened {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:2px solid #ffffff;
}
.map_icon.opened:before {
    content: "\f10e";
}
.map_icon.opened:hover:before {
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);
    margin-top:-8px;
}