{*
* 1969-2018 Relais Colis
*
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to contact@relaiscolis.com so we can send you a copy immediately.
*
*  @author    Quadra Informatique <modules@quadra-informatique.fr>
*  @copyright 1969-2018 Relais Colis
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*}

<div class="relais-about">
    <h3>{l s='RelaisColis and RelaisColisMAX' mod='relaiscolis'}</h3>
    <div class="relais-warning col-sm-6 col-xs-6">
        <p>{l s='These carriers are intended to operate' mod='relaiscolis'} <b>{l s='weight' mod='relaiscolis'}</b> <i><b>{l s='only' mod='relaiscolis'}</b></i> !</p>
    </div>
    <br/><br/><br/><br/><br/>
    <h3>{l s='RelaisColis HOME and RELAISCOLIS HOME+' mod='relaiscolis'}</h3>
    <p>{l s='The price bands of these carriers are managed identically to a basic carrier of Prestashop.' mod='relaiscolis'}</p>
</div>