{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillreceipt','payment')|escape:'html'}" class="prestatillreceipt">
				{l s='Pay with module prestatillreceipt' mod='prestatillreceipt'}
			</a>
		</p>
	</div>
</div>*}