<div id="paymentModePrestatillEspece" class="button prestatill_payment_button" data-module-name="prestatillreceipt">
	    <i class="fa fa-handshake-o"></i>
	    <div class="label">Contre signature</div>
</div>