{if isset($xprtselectedproductblock) && !empty($xprtselectedproductblock)}
		<li><a data-toggle="tab" href="#xprt_specialproductsblock_tab_{if isset($xprtselectedproductblock.id_xprtselectedproductblock)}{$xprtselectedproductblock.id_xprtselectedproductblock}{/if}" class="xprt_specialproductsblock">{$xprtselectedproductblock.title}</a></li>
{/if}