<div id="xprtthemeeditor">
<div class="xprtthemeeditor_header panel">
	<h2 class="page-header">Great Store Powerfull Prestashop Theme Editor Panel</h2>
</div>
{* <style>
.infoheading_class {
    background-color: #E0DEDE;
    color: #666;
    padding: 10px 10px;
}
</style> *}
<div class="productTabs">
	<ul class="tab nav nav-tabs">
	{$tabk = 0}
		{foreach $fields as $fkey => $fvalue}
			<li class="tab-row">
				<a class="tab-page" id="cart_rule_link_{$tabk}" href="javascript:displaythemeeditorTab('{$tabk}');">
				{if isset($fvalue.form.legend.icon)}<i class="{$fvalue.form.legend.icon}"></i>{/if}  {$fvalue.form.legend.title}</a>
			</li>
			{$tabk = $tabk+1}
		{/foreach}
	</ul>
</div>
{if isset($fields.title)}<h3>{$fields.title}</h3>{/if}
{if isset($tabs) && $tabs|count}
<script type="text/javascript">
	var helper_tabs = {$tabs|json_encode};
	var unique_field_id = '';
</script>
{/if}
{block name="defaultForm"}
{if isset($identifier_bk) && $identifier_bk == $identifier}{capture name='identifier_count'}{counter name='identifier_count'}{/capture}{/if}
{assign var='identifier_bk' value=$identifier scope='parent'}
{if isset($table_bk) && $table_bk == $table}{capture name='table_count'}{counter name='table_count'}{/capture}{/if}
{assign var='table_bk' value=$table scope='parent'}
<form id="{if isset($fields.form.form.id_form)}{$fields.form.form.id_form|escape:'html':'UTF-8'}{else}{if $table == null}configuration_form{else}{$table}_form{/if}{if isset($smarty.capture.table_count) && $smarty.capture.table_count}_{$smarty.capture.table_count|intval}{/if}{/if}" class="defaultForm form-horizontal{if isset($name_controller) && $name_controller} {$name_controller}{/if}"{if isset($current) && $current} action="{$current|escape:'html':'UTF-8'}{if isset($token) && $token}&amp;token={$token|escape:'html':'UTF-8'}{/if}"{/if} method="post" enctype="multipart/form-data"{if isset($style)} style="{$style}"{/if} novalidate>
	{if $form_id}
		<input type="hidden" name="{$identifier}" id="{$identifier}{if isset($smarty.capture.identifier_count) && $smarty.capture.identifier_count}_{$smarty.capture.identifier_count|intval}{/if}" value="{$form_id}" />
	{/if}
	{if !empty($submit_action)}
		<input type="hidden" name="{$submit_action}" value="1" />
	{/if}
		<input type="hidden" name="color_group_name_sel" id ="color_group_name_sel" value="{$color_group_name_sel}" />
{$tabkey = 0}
	{foreach $fields as $f => $fieldset}
	<div id="cart_rule_{$tabkey}" class="{$submit_action} panel cart_rule_tab xprttheme_editor">
		{block name="fieldset"}
		{capture name='fieldset_name'}{counter name='fieldset_name'}{/capture}
		<div class="panel" id="fieldset_{$f}{if isset($smarty.capture.identifier_count) && $smarty.capture.identifier_count}_{$smarty.capture.identifier_count|intval}{/if}{if $smarty.capture.fieldset_name > 1}_{($smarty.capture.fieldset_name - 1)|intval}{/if}">
			{foreach $fieldset.form as $key => $field}

				{if $key == 'legend'}
					{block name="legend"}
						<!-- <div class="panel-heading">
							{if isset($field.image) && isset($field.title)}<img src="{$field.image}" alt="{$field.title|escape:'html':'UTF-8'}" />{/if}
							{if isset($field.icon)}<i class="{$field.icon}"></i>{/if}
							{$field.title}
						</div> -->
					{/block}
				{elseif $key == 'description' && $field}
					<!-- <div class="alert alert-info">{$field}</div> -->
				{elseif $key == 'input'}
					<div class="form-wrapper">
					{foreach $field as $input}
						{block name="input_row"}
						<div class="form-group{if isset($input.form_group_class)} {$input.form_group_class}{/if}{if $input.type == 'hidden'} hide{/if}"{if $input.name == 'id_state'} id="contains_states"{if !$contains_states} style="display:none;"{/if}{/if}{if isset($tabs) && isset($input.tab)} data-tab-id="{$input.tab}"{/if}>
						{if $input.type == 'hidden'}
							<input type="hidden" name="{$input.name}" id="{$input.name}" value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" />
						{elseif $input.type == 'infoheading'}
							<div class="infoheading_class col-sm-12 {if isset($input.colorclass)}{$input.colorclass}{/if} " data-name="{$input.name}" id="{$input.name}">
								<h3 class="infoheading_label">{$input.label}</h3>
								{if isset($input.sublabel)}
									<span class="infoheading_sublabel">{$input.sublabel}</span>
								{/if}
							</div>
						{else}
							{block name="label"}
								    {if $input.type == 'xprticon_type'}
								<div class="form-group">
								<label class="control-label col-lg-3">
								{$input.label}
								</label>
								<div class="col-lg-9 ">
								<input name="{$input.name}" type="text" value="{if isset($fields_value[$input.name])}{$fields_value[$input.name]|escape:'html':'UTF-8'}{/if}" id="icon_type_{$input.name}" class="xprticon_type_cls fixed-width-lg">
								<a href="#" class="toolbar_btn" data-toggle="modal" data-target="#icon_{$input.name}_id" title="Addons">Select icon</a>
								</div>
								</div>
								<div class="bootstrap">
								    <div class="modal fade in" id="icon_{$input.name}_id" tabindex="-1" aria-hidden="false" style="display: none;">
								        <div class="modal-dialog modal-md">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="icon_popup_cls close" data-dismiss="modal">×</button>
								                    <h4 class="modal-title">Select Icon</h4>
								                </div>
								                <div class="modal-body">
								                    <ul class="icon_type_list_{$input.name}">
								                        {foreach $icon_list as $icon_class}
								                            <li data-icon_class="{$icon_class}"><i class="{$icon_class}"></i></li>
								                        {/foreach}
								                    </ul>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>

								<style>
									ul.icon_type_list_{$input.name} { 
										list-style:none;
										padding:0;
										overflow: hidden;
										display: block;
										text-align: center;
									 } 
									ul.icon_type_list_{$input.name}  li { 
										display: inline-block;
										border: 1px solid #eee;
										margin: 0px 10px 10px 0px;
										width: 40px;
										height: 40px;
										line-height: 44px;
										text-align: center;
										cursor: pointer;
									 } 
									ul.icon_type_list_{$input.name} li i { 
										font-size: 20px;
									 } 
								</style>

								<script type="text/javascript">
								$("#icon_{$input.name}_id").hide();
								$("ul.icon_type_list_{$input.name} li").on('click',function(){
								var icc =  $(this).attr("data-icon_class");
								$("#icon_type_{$input.name}").val(icc);
								$(".icon_popup_cls").trigger( "click" );
								$(".modal-backdrop").remove();
								});
								</script>
									{else}
								        {if isset($input.label)}
        									<label class="control-label col-lg-3{if isset($input.required) && $input.required && $input.type != 'radio'} required{/if}">
        										{if isset($input.hint)}
        										<span class="label-tooltip" data-toggle="tooltip" data-html="true" title="{if is_array($input.hint)}
        													{foreach $input.hint as $hint}
        														{if is_array($hint)}
        															{$hint.text|escape:'html':'UTF-8'}
        														{else}
        															{$hint|escape:'html':'UTF-8'}
        														{/if}
        													{/foreach}
        												{else}
        													{$input.hint|escape:'html':'UTF-8'}
        												{/if}">
        										{/if}
        										{$input.label}
        											{if isset($input.doc)}
        												<span class="doc_class">
        													<a target="_blank" href="{$input.doc}">?</a>
        												</span>
        											{/if}
        										{if isset($input.hint)}
        										</span>
        										{/if}
        									</label>
        								{/if}
								    {/if}
							{/block}

							{block name="field"}
								<div class="col-lg-{if isset($input.col)}{$input.col|intval}{else}9{/if} {if !isset($input.label)}col-lg-offset-3{/if}">
								{block name="input"}
								{if $input.type == 'text' || $input.type == 'tags'}
									{if isset($input.lang) AND $input.lang}
									{if $languages|count > 1}
									<div class="form-group">
									{/if}
									{foreach $languages as $language}
										{assign var='value_text' value=$fields_value[$input.name][$language.id_lang]}
										{if $languages|count > 1}
										<div class="translatable-field lang-{$language.id_lang}" {if $language.id_lang != $defaultFormLanguage}style="display:none"{/if}>
											<div class="col-lg-9">
										{/if}
												{if $input.type == 'tags'}
													{literal}
														<script type="text/javascript">
															$().ready(function () {
																var input_id = '{/literal}{if isset($input.id)}{$input.id}_{$language.id_lang}{else}{$input.name}_{$language.id_lang}{/if}{literal}';
																$('#'+input_id).tagify({delimiters: [13,44], addTagPrompt: '{/literal}{l s='Add tag' js=1}{literal}'});
																$({/literal}'#{$table}{literal}_form').submit( function() {
																	$(this).find('#'+input_id).val($('#'+input_id).tagify('serialize'));
																});
															});
														</script>
													{/literal}
												{/if}
												{if isset($input.maxchar) || isset($input.prefix) || isset($input.suffix)}
												<div class="input-group{if isset($input.class)} {$input.class}{/if}">
												{/if}
												{if isset($input.maxchar)}
												<span id="{if isset($input.id)}{$input.id}_{$language.id_lang}{else}{$input.name}_{$language.id_lang}{/if}_counter" class="input-group-addon">
													<span class="text-count-down">{$input.maxchar}</span>
												</span>
												{/if}
												{if isset($input.prefix)}
													<span class="input-group-addon">
													  {$input.prefix}
													</span>
													{/if}
												<input type="text"
													id="{if isset($input.id)}{$input.id}_{$language.id_lang}{else}{$input.name}_{$language.id_lang}{/if}"
													name="{$input.name}_{$language.id_lang}"
													class="{if isset($input.class)}{$input.class}{/if}{if $input.type == 'tags'} tagify{/if}"
													value="{if isset($input.string_format) && $input.string_format}{$value_text|string_format:$input.string_format|escape:'html':'UTF-8'}{else}{$value_text|escape:'html':'UTF-8'}{/if}"
													onkeyup="if (isArrowKey(event)) return ;updateFriendlyURL();"
													{if isset($input.size)} size="{$input.size}"{/if}
													{if isset($input.maxchar)} data-maxchar="{$input.maxchar}"{/if}
													{if isset($input.maxlength)} maxlength="{$input.maxlength}"{/if}
													{if isset($input.readonly) && $input.readonly} readonly="readonly"{/if}
													{if isset($input.disabled) && $input.disabled} disabled="disabled"{/if}
													{if isset($input.autocomplete) && !$input.autocomplete} autocomplete="off"{/if}
													{if isset($input.required) && $input.required} required="required" {/if}
													{if isset($input.placeholder) && $input.placeholder} placeholder="{$input.placeholder}"{/if} />
													{if isset($input.suffix)}
													<span class="input-group-addon">
													  {$input.suffix}
													</span>
													{/if}
												{if isset($input.maxchar) || isset($input.prefix) || isset($input.suffix)}
												</div>
												{/if}
										{if $languages|count > 1}
											</div>
											<div class="col-lg-2">
												<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown">
													{$language.iso_code}
													<i class="icon-caret-down"></i>
												</button>
												<ul class="dropdown-menu">
													{foreach from=$languages item=language}
													<li><a href="javascript:hideOtherLanguage({$language.id_lang});" tabindex="-1">{$language.name}</a></li>
													{/foreach}
												</ul>
											</div>
										</div>
										{/if}
									{/foreach}
									{if isset($input.maxchar)}
									<script type="text/javascript">
									function countDown($source, $target) {
										var max = $source.attr("data-maxchar");
										$target.html(max-$source.val().length);

										$source.keyup(function(){
											$target.html(max-$source.val().length);
										});
									}

									$(document).ready(function(){
									{foreach from=$languages item=language}
										countDown($("#{if isset($input.id)}{$input.id}_{$language.id_lang}{else}{$input.name}_{$language.id_lang}{/if}"), $("#{if isset($input.id)}{$input.id}_{$language.id_lang}{else}{$input.name}_{$language.id_lang}{/if}_counter"));
									{/foreach}
									});
									</script>
									{/if}
									{if $languages|count > 1}
									</div>
									{/if}
									{else}
										{if $input.type == 'tags'}
											{literal}
											<script type="text/javascript">
												$().ready(function () {
													var input_id = '{/literal}{if isset($input.id)}{$input.id}{else}{$input.name}{/if}{literal}';
													$('#'+input_id).tagify({delimiters: [13,44], addTagPrompt: '{/literal}{l s='Add tag'}{literal}'});
													$({/literal}'#{$table}{literal}_form').submit( function() {
														$(this).find('#'+input_id).val($('#'+input_id).tagify('serialize'));
													});
												});
											</script>
											{/literal}
										{/if}
										{assign var='value_text' value=$fields_value[$input.name]}
										{if isset($input.maxchar) || isset($input.prefix) || isset($input.suffix)}
										<div class="input-group{if isset($input.class)} {$input.class}{/if}">
										{/if}
										{if isset($input.maxchar)}
										<span id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}_counter" class="input-group-addon"><span class="text-count-down">{$input.maxchar}</span></span>
										{/if}
										{if isset($input.prefix)}
										<span class="input-group-addon">
										  {$input.prefix}
										</span>
										{/if}
										<input type="text"
											name="{$input.name}"
											id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"
											value="{if isset($input.string_format) && $input.string_format}{$value_text|string_format:$input.string_format|escape:'html':'UTF-8'}{else}{$value_text|escape:'html':'UTF-8'}{/if}"
											class="{if isset($input.class)}{$input.class}{/if}{if $input.type == 'tags'} tagify{/if}"
											{if isset($input.size)} size="{$input.size}"{/if}
											{if isset($input.maxchar)} data-maxchar="{$input.maxchar}"{/if}
											{if isset($input.maxlength)} maxlength="{$input.maxlength}"{/if}
											{if isset($input.readonly) && $input.readonly} readonly="readonly"{/if}
											{if isset($input.disabled) && $input.disabled} disabled="disabled"{/if}
											{if isset($input.autocomplete) && !$input.autocomplete} autocomplete="off"{/if}
											{if isset($input.required) && $input.required } required="required" {/if}
											{if isset($input.placeholder) && $input.placeholder } placeholder="{$input.placeholder}"{/if}
											/>
										{if isset($input.suffix)}
										<span class="input-group-addon">
										  {$input.suffix}
										</span>
										{/if}
										
										{if isset($input.maxchar) || isset($input.prefix) || isset($input.suffix)}
										</div>
										{/if}
										{if isset($input.maxchar)}
										<script type="text/javascript">
										function countDown($source, $target) {
											var max = $source.attr("data-maxchar");
											$target.html(max-$source.val().length);

											$source.keyup(function(){
												$target.html(max-$source.val().length);
											});
										}
										$(document).ready(function(){
											countDown($("#{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"), $("#{if isset($input.id)}{$input.id}{else}{$input.name}{/if}_counter"));
										});
										</script>
										{/if}
									{/if}
								{elseif $input.type == 'upload_img'}
									<div class="temp_{$input.name}_class">
										<p>
											<input type="hidden" name="{$input.name}" id="{$input.name}_mid" value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" class="{$input.name}_mclass"/>

											<button class="btn btn-default" data-style="expand-right" data-size="s" type="button" id="temp_{$input.name}_id">
											<span class="ladda-label">
												<i class="icon-folder-open"></i>
												{l s='Add Image'}
											</span>
											<span class="ladda-spinner">
											</span>
											</button>
											<input type="file" name="temp_{$input.name}" data-url="{$type_upload_url}&type_name=temp_{$input.name}" id="temp_{$input.name}" style="display:none;" />
										</p>
										{foreach $type_bgimages as $image_val}
											<div class="{$input.name}_type_class {if $fields_value[$input.name] == $image_val} selected{/if}" data-image-url="{$image_val}" style="background: url({$xprtbgimagesurl}{$image_val});"></div>
										{/foreach}
										<style>
											.{$input.name}_type_class{
												height:50px;
												width:50px;
												background-repeat: no-repeat;
												background-position: center;
												background-size: contain;
												display: inline-block;
												border: 1px solid #ccc;
											}
											.{$input.name}_type_class:hover{
												border: 2px solid #f00;
												cursor: pointer;
											}
											.{$input.name}_type_class.selected {
												border: 3px solid #f00;
											}
										</style>
										</div>

										<script type="text/javascript">

										$(document).ready(function(){
										    var import_attach_skin_add_button = Ladda.create( document.querySelector("#temp_{$input.name}_id" ));
										    var import_attach_skin_total_files = 0;
										    var success_message = 'Upload successfully';
										    $("#temp_{$input.name}").fileupload({
										        dataType: 'json',
										        autoUpload: true,
										        singleFileUploads: true,
										        maxFileSize: 1000000000,
										        success: function (e) {
										            showSuccessMessage(success_message);
										            window.setTimeout(function() {
										                    location.reload();
										                }, 1000);
										        },
										        start: function (e){               
										            import_attach_skin_add_button.start();
										        },
										        fail: function (e,data){
										            showErrorMessage(data.errorThrown.message);
										        },
										        done: function (e, data){
										            if(data.result){
										               
										            }
										        },
										    }).on('fileuploadalways', function (e,data){
										        import_attach_skin_add_button.stop();
										    }).on('fileuploadprocessalways', function (e, data){
										        var index = data.index, file = data.files[index];
										    });
										    $("#temp_{$input.name}_id").on('click', function(e) {
										        e.preventDefault();
										        import_attach_skin_total_files = 0;            
										        $("#temp_{$input.name}").trigger('click');
										    });

										    $(".{$input.name}_type_class").click(function(){
										    	var bg_img_item_id = $("#{$input.name}_mid");
										    	$(this).addClass("selected");
										    	$(this).siblings().removeClass("selected");
										    	bg_img_item_id.val($(this).attr("data-image-url"));
										    });

										});

										</script>
								{elseif $input.type == 'bg_pattern'}
										<input type="hidden" name="{$input.name}" id="{$input.name}_id" value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" class="{$input.name}_class"/>
											{foreach $type_patterns as $pattern_val}
												<div class="{$input.name}_pttype_class {if $fields_value[$input.name] == $pattern_val} selected{/if}" data-image-url="{$pattern_val}" style="background: url({$xprtbgpatternurl}{$pattern_val});"></div>
											{/foreach}
											<style>
												.{$input.name}_pttype_class{
													height:50px;
													width:50px;
													display: inline-block;
													border: 1px solid #ccc;
												}
												.{$input.name}_pttype_class:hover{
													border: 2px solid #f00;
													cursor: pointer;
												}
												.{$input.name}_pttype_class.selected {
													border: 3px solid #f00;
												}
											</style>
											<script type="text/javascript">
											$(document).ready(function(){
												$(".{$input.name}_pttype_class").click(function(){
													var bg_pt_item_id = $("#{$input.name}_id");
													// alert('i am click');
													$(this).addClass("selected");
													$(this).siblings().removeClass("selected");
													bg_pt_item_id.val($(this).attr("data-image-url"));
												});
											});
											</script>
											<!-- START color_group -->
												{elseif $input.type == 'colorgroup'}
														<div class="color_group_con">
															{if isset($color_group)}
																<select id="color_group_id" name="color_group_name">
																	{foreach $color_group as $color => $group}
																			{if $color_group_name_sel == $color}
																				<option value="{$color}" selected="selected">{$group}</option>
																			{else}
																				<option value="{$color}">{$group}</option>
																			{/if}
																	{/foreach}
																</select>
															{/if}
														</div>
														<div id="color_group_sub_id" class="color_group_sub_class">Set Color</div>
														<style type="text/css">
															.color_group_sub_class{
																margin-top: 15px;
																width: 130px;
																padding: 15px 0px;
																color: #ffffff;
																text-align: center;
																background-color: #8BC954;
																border-radius: 3px;
																cursor: pointer;
																font-size: 13px;
																text-transform: uppercase;
															}
															.color_group_sub_class:hover{
																background-color: #222222;
															}
														</style>
													<script type="text/javascript">
													$("document").ready(function(){
															// ColorSchemasetFunc();
														$("#color_group_sub_id").on("click",function(){
															ColorSchemasetFunc();
														});
													});
													function ColorSchemasetFunc()
													{
														var color_group_id = $("#color_group_id option:selected").val();
														doAdminAjax({
																"action":"ColorSchemaset",
																"color_group":color_group_id,
																"configure":"{$module_name}",
																"token" : "{getAdminToken tab='AdminModules'}",
																"tab" : "AdminModules",
																"ajax" : 1 },function(res)
															{
																$("#color_group_name_sel").val(color_group_id);
																var sdfsfsf  = $.parseJSON(res);
																$.each(sdfsfsf,function(ssindex,ssvalue){
																	// if((typeof ssindex === "undefined") && (typeof ssvalue === "undefined")){
																  		$("[name='"+ssindex+"']").val(ssvalue);
																	// }
																});
															}
														);
													}		
													</script>
											<!-- End color_group -->
											<!-- START FONT TYPE -->
												{elseif $input.type == 'googlefont'}
													<div class="col-lg-9">
														<div class="col-lg-4">
															<label class="control-label gfonts_label">
																{l s='Select Fonts Family'}
															</label><br />
															<input type="hidden" id="{$input.name}fmlid" class="{$input.name}fmlcls" name="{$input.name}" value="">
															<select data-name ="{$input.name}" name="{$input.name}_family" id="{$input.name}tmpfmlid" class="{$input.name}tmpfmlcls">
																{foreach $gets_fonts_family as $gets_font_family}
																	{if isset(${$input.name}_family) && ${$input.name}_family == $gets_font_family.name}
																		<option value="{$gets_font_family.name}" selected="selected">{$gets_font_family.name}</option>
																	{else}
																		<option value="{$gets_font_family.name}">{$gets_font_family.name}</option>
																	{/if}
																{/foreach}
															</select>
														</div>
														<div class="col-lg-4">
															<label class="control-label gfonts_label">
																{l s='Select Fonts Subsets'}
															</label><br />
															<select name="{$input.name}_subsets[]" id="{$input.name}tmpsubid" class="{$input.name}tmpsubcls" multiple="multiple">
																{foreach $gets_fonts_subsets as $gets_font_subsets}
																	<option value="{$gets_font_subsets.name}">{$gets_font_subsets.name}</option>
																{/foreach}
															</select>
														</div>
														<div class="col-lg-4">
															<label class="control-label gfonts_label">
																{l s='Select Fonts Variants'}
															</label><br />
															<select name="{$input.name}_variants[]" id="{$input.name}tmpvrntid" class="{$input.name}tmpvrntcls" multiple="multiple">
																{foreach $gets_fonts_variants as $gets_font_variants}
																	<option value="{$gets_font_variants.name}">{$gets_font_variants.name}</option>
																{/foreach}
															</select>
														</div>
											<script type="text/javascript">
											$(document).ready(function(){
												{$input.name}func();
												$("#{$input.name}tmpfmlid").change(function(){
													{$input.name}func();
												});
											});
											function {$input.name}func() { 
													var  selectval = $("select#{$input.name}tmpfmlid option:selected").val();
													var  selectkey = $("#{$input.name}tmpfmlid").data("name");
													$.ajax( { 
														type:"POST",
														url: "ajax-tab.php",
														async: true,
														dataType: "json",
														data : { 
															ajax: "1",
															token: "{getAdminToken tab='AdminModules'}",
															controller: "AdminModules",
															configure: "{$module_name}",
															action: "FilterFonts",
															family: selectval,
															key: selectkey
														 } ,
														success : function(jsonData) { 
															$("#{$input.name}tmpsubid").html(jsonData.subsets);
															$("#{$input.name}tmpvrntid").html(jsonData.variants);
														} 
													} );
											};
											</script>
													</div>
											{* END FONT TYPE  *}
								{elseif $input.type == 'textbutton'}
									{assign var='value_text' value=$fields_value[$input.name]}
									<div class="row">
										<div class="col-lg-9">
										{if isset($input.maxchar)}
										<div class="input-group">
											<span id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}_counter" class="input-group-addon">
												<span class="text-count-down">{$input.maxchar}</span>
											</span>
										{/if}
										<input type="text"
											name="{$input.name}"
											id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"
											value="{if isset($input.string_format) && $input.string_format}{$value_text|string_format:$input.string_format|escape:'html':'UTF-8'}{else}{$value_text|escape:'html':'UTF-8'}{/if}"
											class="{if isset($input.class)}{$input.class}{/if}{if $input.type == 'tags'} tagify{/if}"
											{if isset($input.size)} size="{$input.size}"{/if}
											{if isset($input.maxchar)} data-maxchar="{$input.maxchar}"{/if}
											{if isset($input.maxlength)} maxlength="{$input.maxlength}"{/if}
											{if isset($input.readonly) && $input.readonly} readonly="readonly"{/if}
											{if isset($input.disabled) && $input.disabled} disabled="disabled"{/if}
											{if isset($input.autocomplete) && !$input.autocomplete} autocomplete="off"{/if}
											{if isset($input.placeholder) && $input.placeholder } placeholder="{$input.placeholder}"{/if}
											/>
										{if isset($input.suffix)}{$input.suffix}{/if}
										{if isset($input.maxchar)}
										</div>
										{/if}
										</div>
										<div class="col-lg-2">
											<button type="button" class="btn btn-default{if isset($input.button.attributes['class'])} {$input.button.attributes['class']}{/if}{if isset($input.button.class)} {$input.button.class}{/if}"
												{foreach from=$input.button.attributes key=name item=value}
													{if $name|lower != 'class'}
													 {$name|escape:'html':'UTF-8'}="{$value|escape:'html':'UTF-8'}"
													{/if}
												{/foreach} >
												{$input.button.label}
											</button>
										</div>
									</div>
									{if isset($input.maxchar)}
									<script type="text/javascript">
										function countDown($source, $target) {
											var max = $source.attr("data-maxchar");
											$target.html(max-$source.val().length);
											$source.keyup(function(){
												$target.html(max-$source.val().length);
											});
										}
										$(document).ready(function() {
											countDown($("#{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"), $("#{if isset($input.id)}{$input.id}{else}{$input.name}{/if}_counter"));
										});
									</script>
									{/if}
								{elseif $input.type == 'select'}
									{if isset($input.options.query) && !$input.options.query && isset($input.empty_message)}
										{$input.empty_message}
										{$input.required = false}
										{$input.desc = null}
									{else}
										<select name="{$input.name|escape:'html':'utf-8'}"
												class="{if isset($input.class)}{$input.class|escape:'html':'utf-8'}{/if} fixed-width-xl"
												id="{if isset($input.id)}{$input.id|escape:'html':'utf-8'}{else}{$input.name|escape:'html':'utf-8'}{/if}"
												{if isset($input.multiple)}multiple="multiple" {/if}
												{if isset($input.size)}size="{$input.size|escape:'html':'utf-8'}"{/if}
												{if isset($input.onchange)}onchange="{$input.onchange|escape:'html':'utf-8'}"{/if}>
											{if isset($input.options.default)}
												<option value="{$input.options.default.value|escape:'html':'utf-8'}">{$input.options.default.label|escape:'html':'utf-8'}</option>
											{/if}
											{if isset($input.options.optiongroup)}
												{foreach $input.options.optiongroup.query AS $optiongroup}
													<optgroup label="{$optiongroup[$input.options.optiongroup.label]}">
														{foreach $optiongroup[$input.options.options.query] as $option}
															<option value="{$option[$input.options.options.id]}"
																{if isset($input.multiple)}
																	{foreach $fields_value[$input.name] as $field_value}
																		{if $field_value == $option[$input.options.options.id]}selected="selected"{/if}
																	{/foreach}
																{else}
																	{if $fields_value[$input.name] == $option[$input.options.options.id]}selected="selected"{/if}
																{/if}
															>{$option[$input.options.options.name]}</option>
														{/foreach}
													</optgroup>
												{/foreach}
											{else}
												{foreach $input.options.query AS $option}
													{if is_object($option)}
														<option value="{$option->$input.options.id}"
															{if isset($input.multiple)}
																{foreach $fields_value[$input.name] as $field_value}
																	{if $field_value == $option->$input.options.id}
																		selected="selected"
																	{/if}
																{/foreach}
															{else}
																{if $fields_value[$input.name] == $option->$input.options.id}
																	selected="selected"
																{/if}
															{/if}
														>{$option->$input.options.name}</option>
													{elseif $option == "-"}
														<option value="">-</option>
													{else}
														<option value="{$option[$input.options.id]}"
															{if isset($input.multiple)}
																{foreach $fields_value[$input.name] as $field_value}
																	{if $field_value == $option[$input.options.id]}
																		selected="selected"
																	{/if}
																{/foreach}
															{else}
																{if $fields_value[$input.name] == $option[$input.options.id]}
																	selected="selected"
																{/if}
															{/if}
														>{$option[$input.options.name]}</option>

													{/if}
												{/foreach}
											{/if}
										</select>
									{/if}
								{elseif $input.type == 'radio'}
									{foreach $input.values as $value}
										<div class="radio {if isset($input.class)}{$input.class}{/if}">
											{strip}
											<label>
											<input type="radio"	name="{$input.name}" id="{$value.id}" value="{$value.value|escape:'html':'UTF-8'}"{if $fields_value[$input.name] == $value.value} checked="checked"{/if}{if isset($input.disabled) && $input.disabled} disabled="disabled"{/if}/>
												{$value.label}
											</label>
											{/strip}
										</div>
										{if isset($value.p) && $value.p}<p class="help-block">{$value.p}</p>{/if}
									{/foreach}
								{elseif $input.type == 'switch'}
									<span class="switch prestashop-switch fixed-width-lg">
										{foreach $input.values as $value}
										<input type="radio" name="{$input.name}"{if $value.value == 1} id="{$input.name}_on"{else} id="{$input.name}_off"{/if} value="{$value.value}"{if $fields_value[$input.name] == $value.value} checked="checked"{/if}{if isset($input.disabled) && $input.disabled} disabled="disabled"{/if}/>
										{strip}
										<label {if $value.value == 1} for="{$input.name}_on"{else} for="{$input.name}_off"{/if}>
											{if $value.value == 1}
												{l s='Yes'}
											{else}
												{l s='No'}
											{/if}
										</label>
										{/strip}
										{/foreach}
										<a class="slide-button btn"></a>
									</span>
								{elseif $input.type == 'textarea'}
									{assign var=use_textarea_autosize value=true}
									{if isset($input.lang) AND $input.lang}
									{foreach $languages as $language}
									{if $languages|count > 1}
									<div class="form-group translatable-field lang-{$language.id_lang}"{if $language.id_lang != $defaultFormLanguage} style="display:none;"{/if}>
										<div class="col-lg-9">
									{/if}
											<textarea name="{$input.name}_{$language.id_lang}" class="{if isset($input.autoload_rte) && $input.autoload_rte}rte autoload_rte{if isset($input.class)} {$input.class}{/if}{else}{if isset($input.class)} {$input.class}{else} textarea-autosize{/if}{/if}">{$fields_value[$input.name][$language.id_lang]|escape:'html':'UTF-8'}</textarea>
									{if $languages|count > 1}	
										</div>
										<div class="col-lg-2">
											<button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown">
												{$language.iso_code}
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												{foreach from=$languages item=language}
												<li>
													<a href="javascript:hideOtherLanguage({$language.id_lang});" tabindex="-1">{$language.name}</a>
												</li>
												{/foreach}
											</ul>
										</div>
									</div>
									{/if}
									{/foreach}

									{else}
										<textarea name="{$input.name}" id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}" {if isset($input.cols)}cols="{$input.cols}"{/if} {if isset($input.rows)}rows="{$input.rows}"{/if} class="{if isset($input.autoload_rte) && $input.autoload_rte}rte autoload_rte{if isset($input.class)} {$input.class}{/if}{else} textarea-autosize{/if}">{$fields_value[$input.name]|escape:'html':'UTF-8'}</textarea>
									{/if}
								{elseif $input.type == 'customtextarea'}
										<textarea name="{$input.name}" id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}" {if isset($input.cols)}cols="{$input.cols}"{/if} {if isset($input.rows)}rows="{$input.rows}"{/if} class="{if isset($input.class)} {$input.class}{/if}">{$fields_value[$input.name]|escape:'html':'UTF-8'}</textarea>
								{elseif $input.type == 'checkbox'}
									{if isset($input.expand)}
										<a class="btn btn-default show_checkbox{if strtolower($input.expand.default) == 'hide'} hidden{/if}" href="#">
											<i class="icon-{$input.expand.show.icon}"></i>
											{$input.expand.show.text}
											{if isset($input.expand.print_total) && $input.expand.print_total > 0}
												<span class="badge">{$input.expand.print_total}</span>
											{/if}
										</a>
										<a class="btn btn-default hide_checkbox{if strtolower($input.expand.default) == 'show'} hidden{/if}" href="#">
											<i class="icon-{$input.expand.hide.icon}"></i>
											{$input.expand.hide.text}
											{if isset($input.expand.print_total) && $input.expand.print_total > 0}
												<span class="badge">{$input.expand.print_total}</span>
											{/if}
										</a>
									{/if}
									{foreach $input.values.query as $value}
										{assign var=id_checkbox value=$input.name|cat:'_'|cat:$value[$input.values.id]}
										<div class="checkbox{if isset($input.expand) && strtolower($input.expand.default) == 'show'} hidden{/if}">
											{strip}
												<label for="{$id_checkbox}">
													<input type="checkbox" name="{$id_checkbox}" id="{$id_checkbox}" class="{if isset($input.class)}{$input.class}{/if}"{if isset($value.val)} value="{$value.val|escape:'html':'UTF-8'}"{/if}{if isset($fields_value[$id_checkbox]) && $fields_value[$id_checkbox]} checked="checked"{/if} />
													{$value[$input.values.name]}
												</label>
											{/strip}
										</div>
									{/foreach}
								{elseif $input.type == 'change-password'}
									<div class="row">
										<div class="col-lg-12">
											<button type="button" id="{$input.name}-btn-change" class="btn btn-default">
												<i class="icon-lock"></i>
												{l s='Change password...'}
											</button>
											<div id="{$input.name}-change-container" class="form-password-change well hide">
												<div class="form-group">
													<label for="old_passwd" class="control-label col-lg-2 required">
														{l s='Current password'}
													</label>
													<div class="col-lg-10">
														<div class="input-group fixed-width-lg">
															<span class="input-group-addon">
																<i class="icon-unlock"></i>
															</span>
															<input type="password" id="old_passwd" name="old_passwd" class="form-control" value="" required="required" autocomplete="off">
														</div>
													</div>
												</div>
												<hr />
												<div class="form-group">
													<label for="{$input.name}" class="required control-label col-lg-2">
														<span class="label-tooltip" data-toggle="tooltip" data-html="true" title="" data-original-title="Password should be at least 8 characters long.">						
															{l s='New password'}
														</span>
													</label>
													<div class="col-lg-9">
														<div class="input-group fixed-width-lg">
															<span class="input-group-addon">
																<i class="icon-key"></i>
															</span>
															<input type="password" id="{$input.name}" name="{$input.name}" class="{if isset($input.class)}{$input.class}{/if}" value="" required="required" autocomplete="off"/>
														</div>
														<span id="{$input.name}-output"></span>
													</div>
												</div>
												<div class="form-group">
													<label for="{$input.name}2" class="required control-label col-lg-2">
														{l s='Confirm password'}
													</label>
													<div class="col-lg-4">
														<div class="input-group fixed-width-lg">
															<span class="input-group-addon">
																<i class="icon-key"></i>
															</span>
															<input type="password" id="{$input.name}2" name="{$input.name}2" class="{if isset($input.class)}{$input.class}{/if}" value="" autocomplete="off"/>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-lg-10 col-lg-offset-2">
														<input type="text" class="form-control fixed-width-md pull-left" id="{$input.name}-generate-field" disabled="disabled">
														<button type="button" id="{$input.name}-generate-btn" class="btn btn-default">
															<i class="icon-random"></i>
															{l s='Generate password'}
														</button>
													</div>
												</div>
												<div class="form-group">
													<div class="col-lg-10 col-lg-offset-2">
														<p class="checkbox">
															<label for="{$input.name}-checkbox-mail">
																<input name="passwd_send_email" id="{$input.name}-checkbox-mail" type="checkbox" checked="checked">
																{l s='Send me this new password by Email'}
															</label>
														</p>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-12">
														<button type="button" id="{$input.name}-cancel-btn" class="btn btn-default">
															<i class="icon-remove"></i>
															{l s='Cancel'}
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<script>
										$(function(){
											var $oldPwd = $('#old_passwd');
											var $passwordField = $('#{$input.name}');
											var $output = $('#{$input.name}-output');
											var $generateBtn = $('#{$input.name}-generate-btn');
											var $generateField = $('#{$input.name}-generate-field');
											var $cancelBtn = $('#{$input.name}-cancel-btn');
											
											var feedback = [
												{ badge: 'text-danger', text: '{l s="Invalid" js=1}' },
												{ badge: 'text-warning', text: '{l s="Okay" js=1}' },
												{ badge: 'text-success', text: '{l s="Good" js=1}' },
												{ badge: 'text-success', text: '{l s="Fabulous" js=1}' }
											];
											$.passy.requirements.length.min = 8;
											$.passy.requirements.characters = 'DIGIT';
											$passwordField.passy(function(strength, valid) {
												$output.text(feedback[strength].text);
												$output.removeClass('text-danger').removeClass('text-warning').removeClass('text-success');
												$output.addClass(feedback[strength].badge);
												if (valid){
													$output.show();
												}
												else {
													$output.hide();
												}
											});
											var $container = $('#{$input.name}-change-container');
											var $changeBtn = $('#{$input.name}-btn-change');
											var $confirmPwd = $('#{$input.name}2');

											$changeBtn.on('click',function(){
												$container.removeClass('hide');
												$changeBtn.addClass('hide');
											});
											$generateBtn.click(function() {
												$generateField.passy( 'generate', 8 );
												var generatedPassword = $generateField.val();
												$passwordField.val(generatedPassword);
												$confirmPwd.val(generatedPassword);
											});
											$cancelBtn.on('click',function() {
												$container.find("input").val("");
												$container.addClass('hide');
												$changeBtn.removeClass('hide');
											});

											$.validator.addMethod('password_same', function(value, element) {
												return $passwordField.val() == $confirmPwd.val();
											}, '{l s="Invalid password confirmation" js=1}');

											$('#employee_form').validate({
												rules: {
													"email": {
														email: true
													},
													"{$input.name}" : {
														minlength: 8
													},
													"{$input.name}2": {
														password_same: true
													},
													"old_passwd" : {},
												},
												// override jquery validate plugin defaults for bootstrap 3
												highlight: function(element) {
													$(element).closest('.form-group').addClass('has-error');
												},
												unhighlight: function(element) {
													$(element).closest('.form-group').removeClass('has-error');
												},
												errorElement: 'span',
												errorClass: 'help-block',
												errorPlacement: function(error, element) {
													if(element.parent('.input-group').length) {
														error.insertAfter(element.parent());
													} else {
														error.insertAfter(element);
													}
												}
											});
										});
									</script>
								{elseif $input.type == 'password'}
									<div class="input-group fixed-width-lg">
										<span class="input-group-addon">
											<i class="icon-key"></i>
										</span>
										<input type="password"
											id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"
											name="{$input.name}"
											class="{if isset($input.class)}{$input.class}{/if}"
											value=""
											{if isset($input.autocomplete) && !$input.autocomplete}autocomplete="off"{/if}
											{if isset($input.required) && $input.required } required="required" {/if} />
									</div>

								{elseif $input.type == 'birthday'}
								<div class="form-group">
									{foreach $input.options as $key => $select}
									<div class="col-lg-2">
										<select name="{$key}" class="fixed-width-lg{if isset($input.class)} {$input.class}{/if}">
											<option value="">-</option>
											{if $key == 'months'}
												{*
													This comment is useful to the translator tools /!\ do not remove them
													{l s='January'}
													{l s='February'}
													{l s='March'}
													{l s='April'}
													{l s='May'}
													{l s='June'}
													{l s='July'}
													{l s='August'}
													{l s='September'}
													{l s='October'}
													{l s='November'}
													{l s='December'}
												*}
												{foreach $select as $k => $v}
													<option value="{$k}" {if $k == $fields_value[$key]}selected="selected"{/if}>{l s=$v}</option>
												{/foreach}
											{else}
												{foreach $select as $v}
													<option value="{$v}" {if $v == $fields_value[$key]}selected="selected"{/if}>{$v}</option>
												{/foreach}
											{/if}
										</select>
									</div>
									{/foreach}
								</div>
								{elseif $input.type == 'group'}
									{assign var=groups value=$input.values}
									{include file='helpers/form/form_group.tpl'}
								{elseif $input.type == 'shop'}
									{$input.html}
								{elseif $input.type == 'categories'}
									{$categories_tree}
								{elseif $input.type == 'file'}
									{$input.file}
								{elseif $input.type == 'categories_select'}
									{$input.category_tree}
								{elseif $input.type == 'asso_shop' && isset($asso_shop) && $asso_shop}
									{$asso_shop}
								{elseif $input.type == 'color'}
								<div class="form-group">
									<div class="col-lg-2">
										<div class="row">
											<div class="input-group">
												<input type="color"
												data-hex="true"
												{if isset($input.class)} class="{$input.class}"
												{else} class="color mColorPickerInput"{/if}
												name="{$input.name}"
												value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" />
											</div>
										</div>
									</div>
								</div>
								{elseif $input.type == 'date'}
									<div class="row">
										<div class="input-group col-lg-4">
											<input
												id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"
												type="text"
												data-hex="true"
												{if isset($input.class)} class="{$input.class}"
												{else}class="datepicker"{/if}
												name="{$input.name}"
												value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" />
											<span class="input-group-addon">
												<i class="icon-calendar-empty"></i>
											</span>
										</div>
									</div>
								{elseif $input.type == 'datetime'}
									<div class="row">
										<div class="input-group col-lg-4">
											<input
												id="{if isset($input.id)}{$input.id}{else}{$input.name}{/if}"
												type="text"
												data-hex="true"
												{if isset($input.class)} class="{$input.class}"
												{else} class="datetimepicker"{/if}
												name="{$input.name}"
												value="{$fields_value[$input.name]|escape:'html':'UTF-8'}" />
											<span class="input-group-addon">
												<i class="icon-calendar-empty"></i>
											</span>
										</div>
									</div>
								{elseif $input.type == 'free'}
									{$fields_value[$input.name]}
								{elseif $input.type == 'html'}
									{if isset($input.html_content)}
										{$input.html_content}
									{else}
										{$input.name}
									{/if}
								{/if}
								{/block}{* end block input *}
								{block name="description"}
									{if isset($input.desc) && !empty($input.desc)}
										<p class="help-block">
											{if is_array($input.desc)}
												{foreach $input.desc as $p}
													{if is_array($p)}
														<span id="{$p.id}">{$p.text}</span><br />
													{else}
														{$p}<br />
													{/if}
												{/foreach}
											{else}
												{$input.desc}
											{/if}
										</p>
									{/if}
								{/block}
								</div>
							{/block}{* end block field *}
						{/if}
						</div>
						{/block}
					{/foreach}
					{hook h='displayAdminForm' fieldset=$f}
					{if isset($name_controller)}
						{capture name=hookName assign=hookName}display{$name_controller|ucfirst}Form{/capture}
						{hook h=$hookName fieldset=$f}
					{elseif isset($smarty.get.controller)}
						{capture name=hookName assign=hookName}display{$smarty.get.controller|ucfirst|htmlentities}Form{/capture}
						{hook h=$hookName fieldset=$f}
					{/if}
				</div><!-- /.form-wrapper -->
				{elseif $key == 'desc'}
					<div class="alert alert-info col-lg-offset-3">
						{if is_array($field)}
							{foreach $field as $k => $p}
								{if is_array($p)}
									<span{if isset($p.id)} id="{$p.id}"{/if}>{$p.text}</span><br />
								{else}
									{$p}
									{if isset($field[$k+1])}<br />{/if}
								{/if}
							{/foreach}
						{else}
							{$field}
						{/if}
					</div>
				{/if}
				{block name="other_input"}{/block}
			{/foreach}
			{block name="footer"}
			{capture name='form_submit_btn'}{counter name='form_submit_btn'}{/capture}
				{if isset($fieldset['form']['submit']) || isset($fieldset['form']['buttons'])}
					<div class="panel-footer">
						{if isset($fieldset['form']['submit']) && !empty($fieldset['form']['submit'])}
						<button type="submit" value="1"	id="{if isset($fieldset['form']['submit']['id'])}{$fieldset['form']['submit']['id']}{else}{$table}_form_submit_btn{/if}{if $smarty.capture.form_submit_btn > 1}_{($smarty.capture.form_submit_btn - 1)|intval}{/if}" name="{if isset($fieldset['form']['submit']['name'])}{$fieldset['form']['submit']['name']}{else}{$submit_action}{/if}{if isset($fieldset['form']['submit']['stay']) && $fieldset['form']['submit']['stay']}AndStay{/if}" class="{if isset($fieldset['form']['submit']['class'])}{$fieldset['form']['submit']['class']}{else}btn btn-default pull-right{/if}">
							<i class="{if isset($fieldset['form']['submit']['icon'])}{$fieldset['form']['submit']['icon']}{else}process-icon-save{/if}"></i> {$fieldset['form']['submit']['title']}
						</button>
						{/if}
						{if isset($show_cancel_button) && $show_cancel_button}
						<a href="{$back_url|escape:'html':'UTF-8'}" class="btn btn-default" onclick="window.history.back();">
							<i class="process-icon-cancel"></i> {l s='Cancel'}
						</a>
						{/if}
						{if isset($fieldset['form']['reset'])}
						<button
							type="reset"
							id="{if isset($fieldset['form']['reset']['id'])}{$fieldset['form']['reset']['id']}{else}{$table}_form_reset_btn{/if}"
							class="{if isset($fieldset['form']['reset']['class'])}{$fieldset['form']['reset']['class']}{else}btn btn-default{/if}"
							>
							{if isset($fieldset['form']['reset']['icon'])}<i class="{$fieldset['form']['reset']['icon']}"></i> {/if} {$fieldset['form']['reset']['title']}
						</button>
						{/if}
						{if isset($fieldset['form']['buttons'])}
						{foreach from=$fieldset['form']['buttons'] item=btn key=k}
							{if isset($btn.href) && trim($btn.href) != ''}
								<a href="{$btn.href}" {if isset($btn['id'])}id="{$btn['id']}"{/if} class="btn btn-default{if isset($btn['class'])} {$btn['class']}{/if}" {if isset($btn.js) && $btn.js} onclick="{$btn.js}"{/if}>{if isset($btn['icon'])}<i class="{$btn['icon']}" ></i> {/if}{$btn.title}</a>
							{else}
								<button type="{if isset($btn['type'])}{$btn['type']}{else}button{/if}" {if isset($btn['id'])}id="{$btn['id']}"{/if} class="btn btn-default{if isset($btn['class'])} {$btn['class']}{/if}" name="{if isset($btn['name'])}{$btn['name']}{else}submitOptions{$table}{/if}"{if isset($btn.js) && $btn.js} onclick="{$btn.js}"{/if}>{if isset($btn['icon'])}<i class="{$btn['icon']}" ></i> {/if}{$btn.title}</button>
							{/if}
						{/foreach}
						{/if}
					</div>
				{/if}
			{/block}
		</div>
		{/block}
		{block name="other_fieldsets"}{/block}
		</div>
		{$tabkey = $tabkey+1}
	{/foreach}
</form>
{/block}
{block name="after"}{/block}

<script type="text/javascript">
	function displaythemeeditorTab(tab)
	{
		$('.cart_rule_tab').hide();
		$('.tab-row.active').removeClass('active');
		$('#cart_rule_' + tab).show();
		$('#cart_rule_link_' + tab).parent().addClass('active');
	}
</script>
<script type="text/javascript">
	displaythemeeditorTab('0');
</script>
{if isset($tinymce) && $tinymce}
<script type="text/javascript">
	var iso = '{$iso|addslashes}';
	var pathCSS = '{$smarty.const._THEME_CSS_DIR_|addslashes}';
	var ad = '{$ad|addslashes}';

	$(document).ready(function(){
		{block name="autoload_tinyMCE"}
			tinySetup({
				editor_selector :"autoload_rte"
			});
		{/block}
	});
</script>
{/if}
{if $firstCall}
	<script type="text/javascript">
		var module_dir = '{$smarty.const._MODULE_DIR_}';
		var id_language = {$defaultFormLanguage|intval};
		var languages = new Array();
		var vat_number = {if $vat_number}1{else}0{/if};
		// Multilang field setup must happen before document is ready so that calls to displayFlags() to avoid
		// precedence conflicts with other document.ready() blocks
		{foreach $languages as $k => $language}
			languages[{$k}] = {
				id_lang: {$language.id_lang},
				iso_code: '{$language.iso_code}',
				name: '{$language.name}',
				is_default: '{$language.is_default}'
			};
		{/foreach}
		// we need allowEmployeeFormLang var in ajax request
		allowEmployeeFormLang = {$allowEmployeeFormLang|intval};
		displayFlags(languages, id_language, allowEmployeeFormLang);

		$(document).ready(function() {

			$(".show_checkbox").click(function () {
				$(this).addClass('hidden')
				$(this).siblings('.checkbox').removeClass('hidden');
				$(this).siblings('.hide_checkbox').removeClass('hidden');
				return false;
			});
			$(".hide_checkbox").click(function () {
				$(this).addClass('hidden')
				$(this).siblings('.checkbox').addClass('hidden');
				$(this).siblings('.show_checkbox').removeClass('hidden');
				return false;
			});

			{if isset($fields_value.id_state)}
				if ($('#id_country') && $('#id_state'))
				{
					ajaxStates({$fields_value.id_state});
					$('#id_country').change(function() {
						ajaxStates();
					});
				}
			{/if}

			if ($(".datepicker").length > 0)
				$(".datepicker").datepicker({
					prevText: '',
					nextText: '',
					dateFormat: 'yy-mm-dd'
				});

			if ($(".datetimepicker").length > 0)
			$('.datetimepicker').datetimepicker({
				prevText: '',
				nextText: '',
				dateFormat: 'yy-mm-dd',
				// Define a custom regional settings in order to use PrestaShop translation tools
				currentText: '{l s='Now'}',
				closeText: '{l s='Done'}',
				ampm: false,
				amNames: ['AM', 'A'],
				pmNames: ['PM', 'P'],
				timeFormat: 'hh:mm:ss tt',
				timeSuffix: '',
				timeOnlyTitle: '{l s='Choose Time' js=1}',
				timeText: '{l s='Time' js=1}',
				hourText: '{l s='Hour' js=1}',
				minuteText: '{l s='Minute' js=1}',
			});
			{if isset($use_textarea_autosize)}
			$(".textarea-autosize").autosize();
			{/if}
		});
	state_token = '{getAdminToken tab='AdminStates'}';
	{block name="script"}{/block}
	</script>
	<script type="text/javascript">
		$('body').addClass('xprtbackoffice');
	</script>
{/if}
</div>

{* START FOOTER ELEMENTS *}
<div class="xprtthemeeditor_header panel demo_setup_footer">
	<h2 class="page-header"> {l s='Extra Features For Quick Demo Setup'}</h2>
</div>

<form id="submit_demo_form" class="defaultForm form-horizontal" action="{$current|escape:'html':'UTF-8'}{if isset($token) && $token}&amp;token={$token|escape:'html':'UTF-8'}{/if}" method="post" enctype="multipart/form-data">
<div class="panel" id="fieldset_demo_ready">
	<div class="panel-heading">
		<i class="icon-AdminParentPreferences"></i>  {l s='One Click Ready Demo Setup'}
	</div>
	<div class="form-wrapper">
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Demo For Setup'}
			</label>
			<div class="col-lg-9">
				<select name="select_demo_ready" class=" fixed-width-xl" id="select_demo_ready">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Please Select Which Demo You want to Setup.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				
			</div>
			<div class="col-lg-2">
				
			</div>
			<div class="col-lg-7">
				<button type="submit" value="1" id="submit_demo" name="submit_demo" class="submit_demo btn btn-default ">
					{l s='Submit'}
				</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".submit_demo").on("click",function(e){
			e.preventDefault();
			if(confirm("Please Confirm to continue because Your all theme settings and theme modules data will be changed.") == true){
				$("#submit_demo_form").submit();
			}
		});
	});
	</script>
	{* <div class="panel-footer">
		<button type="submit" value="1" id="submit_demo" name="submit_demo" class="btn btn-default pull-right">
			<i class="process-icon-save"></i> {l s='Save'}
		</button>
	</div> *}
</div>
</form>

{* <form id="submit_customdemo_form" class="defaultForm form-horizontal" action="{$current|escape:'html':'UTF-8'}{if isset($token) && $token}&amp;token={$token|escape:'html':'UTF-8'}{/if}" method="post" enctype="multipart/form-data">
<div class="panel" id="fieldset_customdemo_ready">
	<div class="panel-heading">
		<i class="icon-AdminParentPreferences"></i>  {l s='One Click Custom Demo Setup'}
	</div>
	<div class="form-wrapper">
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Header Style'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_header" class=" fixed-width-xl" id="select_customdemo_header">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Select Header Style.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Content Style'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_content" class=" fixed-width-xl" id="select_customdemo_content">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Select Content Style.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Footer Style'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_footer" class=" fixed-width-xl" id="select_customdemo_footer">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Please Select Footer Style.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Product Page Style'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_product" class=" fixed-width-xl" id="select_customdemo_product">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Select Product Page Style.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Category Page Style'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_category" class=" fixed-width-xl" id="select_customdemo_category">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Please Select Category Page Style.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				{l s='Select Color Schema'}
			</label>
			<div class="col-lg-9">
				<select name="select_customdemo_color" class=" fixed-width-xl" id="select_customdemo_color">
					{foreach $theme_all_demo as $dkey => $dvalue}
						{if $xprt_demo_number == $dkey}
							<option value="{$dkey}" selected="selected">{$dvalue}</option>
						{else}
							<option value="{$dkey}">{$dvalue}</option>
						{/if}
					{/foreach}
				</select>
				<p class="help-block">
					{l s='Please Select Color Schema.'}
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				
			</div>
			<div class="col-lg-2">
				
			</div>
			<div class="col-lg-7">
				<button type="submit" value="1" id="submit_customdemo" name="submit_customdemo" class="submit_customdemo btn btn-default ">
					{l s='Submit'}
				</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".submit_customdemo").on("click",function(e){
			e.preventDefault();
			if(confirm("Please Confirm to continue because Your all theme settings and theme modules data will be changed.") == true){
				$("#submit_customdemo_form").submit();
			}
		});
	});
	</script>
</div>
</form> *}

<style type="text/css">
	#fieldset_demo_ready .form-wrapper{
		min-height: 100px !important;
	}
	input#submit_demo {
	    padding: 17px;
	    font-size: 16px;
	}
</style>
{* END FOOTER ELEMENTS *}