
                                                                                    <table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tbody><tr><td align="left"><a title="{shop_name}" href="{shop_url}"><img style="border:none;" src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td> </td>
</tr><tr><td align="left">Bonjour,</td>
</tr><tr><td> </td>
</tr><tr><td style="background-color:#db3484;color:#fff;font-size:12px;font-weight:bold;padding:.5em 1em;" align="left">Rapport d'erreur à partir de votre module PayPalAPI</td>
</tr><tr><td> </td>
</tr><tr><td align="left"><strong>Un client a rencontré un problème avec le module PayPalAPI:</strong></td>
</tr><tr><td> </td>
</tr><tr><td align="left">{logs}</td>
</tr><tr><td> </td>
</tr><tr><td style="font-size:10px;border-top:1px solid #D9DADE;" align="center"><a style="color:#db3484;font-weight:bold;text-decoration:none;" href="{shop_url}">{shop_name}</a> réalisé avec amour</td>
</tr></tbody></table>