{if isset($xipbdp_title)}{$xipbdp_title}{/if}
{if isset($xipblogcategories)}
	{foreach from=$xipblogcategories item=xipblogcategory}
			{$xipblogcategory.id_xipcategory}<br>
			{$xipblogcategory.id_category}<br>
			{$xipblogcategory.name}<br>
			{$xipblogcategory.link}<br>
	{/foreach}
{/if}