<div class="row">
    <div class="col-xs-12">
        <div class="text-center" style="margin-bottom: 20px;">
            <a target="_blank" href="https://codecanyon.net/item/visual-composer-page-builder-for-prestashop/11336599?ref=smartdatasoft">
                <img src="{$modules_dir}/smartblog/images/VC_PrestaShop_Preview.png" alt="Visual Composer" />
            </a>
        </div>
    </div>
</div>