{if isset($xprtcrosssellingproductblock) && !empty($xprtcrosssellingproductblock)}
		<li><a data-toggle="tab" href="#xprt_crosssellproductsblock_tab_{if isset($xprtcrosssellingproductblock.id_xprtcrosssellingproductblock)}{$xprtcrosssellingproductblock.id_xprtcrosssellingproductblock}{/if}" class="xprt_crosssellproductsblock">{$xprtcrosssellingproductblock.title}</a></li>
{/if}