<form action="{$form_link}" method="post">
	<section>
		<table>		
			<tr>
				<td>Produits ajoutés après le</td>
				<td> <input name="date_add" type="date" /></td>
			<tr>
			<tr>
				<td>Produits mise à jour après le</td>
				<td> <input name="date_update" type="date" /></td>
			<tr>		
      <tr>
        <td>Produits de la catégorie (id)</td>
        <td><input name="id_category" />{*<select name="id_category">
          <option value="2"></option>
        </select>*}</td>
      <tr>
      <tr>
        <td>ID(s) produit (liste séparé par des virgules ,)</td>
        <td><input name="ids_product" /></td>
      <tr>		
			<tr>
				<td></td>
				<td><input type="submit" name="print_label" value="Imprimer" /></td>
			<tr>
		</table>
		
		
		<p>Module livré en version béta 1</p>
		
	</section>
</form>