/* 
    Document   : Social Loginizer custom CSS
    Created on : Sept 09, 2014
    Author     : Knowband
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#scratch_coupon_container{
    position:relative;
}
#velsof_supercheckout_container
{
    position:relative;
}

.navbar ul.pull-left {
    float: left !important;
    width: auto;
    position: absolute;
    list-style-type: none;
    margin: 7px 0 0;
    height:30px;
}

.themer_eyedropper{
    background: url("../img/eyedropper.png") no-repeat scroll 10px center transparent !important;
    height: 30px;
    width: 42px;
    cursor:pointer;
    position: absolute;
    margin-top: 10px;
}

.themer_btn{
    margin-left: 12px;
    width: 30px !important;
    height: 30px;
}

.themer_btn:hover{
    text-decoration:none !important;
}

.topbuttons{
  min-width:234px !important;
  width:auto !important;
}

.action-btn{
    max-width:100px !important;
    float:left;
    margin-left:9px;
}

.velsof-footer-strip{
    border-top:#ccc 1px solid;
    margin-top: 50px;
    text-align: center;
}

.footer-line-1{
    padding: 10px 0;
}

.footer-line-2{

}

.over_all_stats_block{
    width:23% !important;
}

.block{
    padding: 0 10px;
}


table.form{
    width:99.5%;
}

.settings{
    padding: 10px;
    width:75%;
}

.drag-col-2{
    padding: 10px 0 !important;
    width:35%;    
}

.col-pad-left{
    padding-left:8% !important;
}

.settings input, .settings select{
    margin-bottom:0 !important;
}

.input-row-margin-bottom{
    margin-bottom:7px;
}

.text-width{
    width: 97%;
    color: #333 !important;
    height:33px !important;
}

.color-input-width{
    width:150px !important;
}

.coupon_type_radio{
    display:inline !important;
    margin-top:0px;
    height:auto;
    margin-bottom:0;
    min-height:auto;
    font-weight: normal !important;
    
}

.coupon_type_radio div.radio{
    display: inline !important;
    height: auto;
    margin-bottom: 0 !important;
    margin-top: 0 !important;    
}

.column_text_align{
    padding-top:24px !important;
}

.vertical_top_align{
    vertical-align:top;
    padding-top: 10px;
}

.small_text{
    display: block;
    font-size: 10px;
    color: blue;
}

.widget-body label.checkbox{
    display:inline-block;
    width:70px;
}

.widget-body .checkbox + .checkbox{
    margin-top:10px;
}

p.help{
    color: #666;
    font-size: 11px;
}

.navbar {
    min-height:55px !important;
}

.navbar:before, .navbar:after {
display: table;
content: " ";
}

.navbar:after {
clear: both;
}


input[type=text], input[type=password], select, textarea{
    margin:0;
}


.mandatory_notify{
    color:#FF0000;
    font-size:13px;
}

.asterisk{
    color:#FF0000;
}

.error{
    color:#FF0000;
    font-size:11px;
}


.dataTables_wrapper .row{
    padding: 0 0 15px 9px;
}

.graph_container{
    padding:15px; 
    margin:0 auto; 
    text-align:center;
}

.filter_inline_div{
    width:auto !important;
}

.filter_inputs{
    width: 100px !important;
    margin-bottom: 0 !important;
    display: inline !important;
    margin-left: 10px !important;
}

.halfSpan{
    width:48.5% !important;
    margin-left:0;
    text-align:center;
}

.no_chart{
    width:100%;
    text-align:center;
    font-size:13px;
    margin-top:5%;
    margin-bottom:5%;
}

.filter_inline_div .btn{
    width: 75px;
    font-size: 12px;
}

.ajax_loader{
    background-image: url('../images/ajax_loader.gif');
    background-repeat: no-repeat;
    width:100%;
    height:200px;
    background-position: 50%;
}

.div svg text:last-child{
    display:none;
}

.topbuttons .bootstrap-select, .topbuttons .bootstrap-select .dropdown-menu{
    width:200px;
}

.topbuttons .bootstrap-select{
    margin-bottom:0;
}

.topbuttons .bootstrap-select .dropdown-menu{
    left:0px !important;
}

.blank_div{
    width: 100%;
    height: 80%;
    background-color: white;
    z-index: 1;
    position: absolute;
    padding-top:18%;
}


.table-bordered th:first-child, .table-bordered td:first-child{
    border-left:none !important;
}

.chart_memo{
    height: 20px;
    margin-top: 15px;
    width: 250px;    
}




.pad-right{
padding-right: 25px;
}


.velsof-tab-heading{
font-size: 18px !important;
}



.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}.pure-table caption{color:#000;font:italic 85%/1 arial,sans-serif;padding:1em 0;text-align:center}.pure-table td,.pure-table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em}.pure-table td:first-child,.pure-table th:first-child{border-left-width:0}.pure-table thead{background:#e0e0e0;color:#000;text-align:left;vertical-align:bottom}.pure-table td{background-color:transparent}.pure-table-odd td{background-color:#f2f2f2}.pure-table-striped tr:nth-child(2n-1) td{background-color:#f2f2f2}.pure-table-bordered td{border-bottom:1px solid #cbcbcb}.pure-table-bordered tbody>tr:last-child td,.pure-table-horizontal tbody>tr:last-child td{border-bottom-width:0}.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px;border-bottom:1px solid #cbcbcb}.pure-table-horizontal tbody>tr:last-child td{border-bottom-width:0}

/* Start - Custom Pagination Style */

.abd-pagination-left{float:left;}
.abd-pagination-right{float:right;}
.abd-paginate-summary{
    float: left;
    color: #474545;
    font-size: 11px;
    font-style: italic;
}
.abd-pagination{margin:0;padding:0;}
.abd-pagination li{
	display: inline;
	padding: 6px 10px 6px 10px;
	border: 1px solid #ddd;
	margin-right: -1px;
	font: 15px/20px Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	box-shadow: inset 1px 1px 5px #F4F4F4;
}
.abd-pagination li a{
    text-decoration:none;
    color: rgb(89, 141, 235);
}
.abd-pagination li.first {
    border-radius: 5px 0px 0px 5px;
}
.abd-pagination li.last {
    border-radius: 0px 5px 5px 0px;
}
.abd-pagination li:hover{
	background: #CFF;
}
.abd-pagination li.active{
	background: #F0F0F0;
	color: #333;
}

.accdiv
{
height:auto !important;	
overflow: hidden !important;
text-align: center;
}
.accdiv img
{
	border: 1px solid black;
}
.accdiv pre
{
text-align: left;	
}
/*
.free-disabled:hover{
    opacity:0.3 !important;
    cursor: not-allowed !important;
    
}*/
/* End - Custom Pagination Style */







