    
a.hover-link
{
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    padding: 8px 10px 0px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 18px;
    //font-size: 13px;

}

.velsof-sub-options{
    float: left;
    list-style:none;
    margin:0px;
    padding:0px;
    font-size: 11px;
}
#output
{
	text-align:center;
	margin-bottom:10px;
    /*display: inline-flex; to fix vertical align issue in safari browser..*/ 
}
#output li
{
    padding: 3px;
    //float:left;
	display:inline;
}

#output li a img
{
	margin-top:5px;
}

#head
{
        float:right;
}
@media only screen and (max-width : 437px) {

    a.hover-link
    {
        float: right;
        display: block;
        color: white;
        font-weight: bold;
        padding: 8px 10px 0px 10px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        line-height: 18px;
        font-size: 11px;
    }

    .velsof-sub-options{
        float: right;
        list-style:none;
        margin:0px;
        padding:0px;
        font-size: 11px;
    }
    #output
    {
        display: inline;
	text-align:center;
	margin-bottom:10px;
    }
    #output li
    {
        padding: 3px;
		display:block;
    }
}

@media only screen and (min-width : 437px) and (max-width : 580px) {
    a.hover-link
    {
        float: right;
        display: block;
        color: white;
        font-weight: bold;
        padding: 8px 10px 0px 10px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        line-height: 18px;
        font-size: 12px;
    }

    .velsof-sub-options{
        float: right;
        list-style:none;
        margin:0px;
        padding:0px;
        font-size: 11px;
    }
    #output
    {
        display: inline;
	text-align:center;
	margin-bottom:10px;
	
    }
    #output li
    {
        padding: 3px;
    }
}



