{if isset($categories)}
	<div class="xprthomeblockcategory home_categories_area m_bottom_30" style="{if isset($xprtsection_margin)}{$xprtsection_margin}{/if}">
		<div class="page_title_area {$xprt.home_title_style}">
			{if isset($xprthomecat_title)}
				<h3 class="page-heading">
					<em>{$xprthomecat_title}</em>
					<div class="heading_carousel_arrow"></div>
				</h3>
			{/if}
			{if isset($xprthomecat_subtitle)}
				<p class="page_subtitle d_none">{$xprthomecat_subtitle}</p>
			{/if}
			<div class="heading-line d_none"><span></span></div>
		</div>

		<ul class="product_list grid carousel home_categories row">
			{foreach from=$categories item=category}
				<li class="home_categories_list col-sm-{if isset($xprtnumber_col)}{$xprtnumber_col}{else}4{/if} m_bottom_30">
					<div class="home_categories_list_content">
						<div class="home_categories_list_title">
							<h4><a href="{$link->getCategoryLink($category.id_category, $category.link_rewrite)|escape:'html':'UTF-8'}">{$category.name}</a></h4>
							<p class="cat_view_link"><a href="{$link->getCategoryLink($category.id_category, $category.link_rewrite)|escape:'html':'UTF-8'}">{l s='View category' mod='xprthomeblockcategory'}</a></p>
						</div>
						<div class="home_categories_list_thumbnail">
							<a href="{$link->getCategoryLink($category.id_category, $category.link_rewrite)|escape:'html':'UTF-8'}">
								{assign var="catextraextrathumb" value="xprtcatextra{$category.id_category}extrathumb"}
								{assign var="catextraextrathumbimg" value="{Configuration::get({$catextraextrathumb})}"}
								{assign var="extraimage" value="{$modules_dir}xprtcategoryextraimg/images/{$catextraextrathumbimg}"}
								{if (isset($catextraextrathumbimg) && !empty($catextraextrathumbimg))}
									<img class="img-responsive" src="{$extraimage}" alt="{$category.name|escape:'html':'UTF-8'}">
								{else}
									<img class="replace-2x" src="{$img_dir}no-image.jpg" alt=""/>
								{/if}
							</a>
						</div>
					</div>
				</li>
			{/foreach}
		</ul>
	</div>
{/if}
{assign var="xprtnumber_cols" value={12/($xprtnumber_col)}}
{addJsDef homeblockcategoriescol=$xprtnumber_cols|intval}