{if isset($xprtvideoblock) && !empty($xprtvideoblock)}
	<li><a data-toggle="tab" href="#xprt_htmlblock_tab_{$xprtvideoblock.id_xprtvideoblock}" class="xprt_htmlblock">{$xprtvideoblock.title}</a></li>
{/if}