{if isset($xprtbestratedproductblock) && !empty($xprtbestratedproductblock)}
	<li><a data-toggle="tab" href="#xprt_bestratedproductsblock_tab_{if isset($xprtbestratedproductblock.id_xprtbestratedproductblock)}{$xprtbestratedproductblock.id_xprtbestratedproductblock}{/if}" class="xprt_bestratedproductsblock">{$xprtbestratedproductblock.title}</a></li>
{/if}