
          <div class="moz-forward-container">
         <br /><table style="background-color:#ffffff;" width="100%" border="0" cellpadding="0" cellspacing="0"><tbody><tr style="border-collapse:collapse;"><td style="border-collapse:collapse;" align="center">
                     <table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="20"><img src="{shop_logo}" alt="{shop_name}" width="0" height="0" /></td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td valign="middle">
								<h1 style="margin:0;color:#2f8bee;font-family:arial, sans-serif;">
									<img alt="SendinBlue" src="http://img.sendinblue.com/14406/images/529f2339c6ece.png" /></h1>
							</td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr></tbody></table><table width="540" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td align="left">
                                 <div style="font-family:arial, sans-serif;color:#2f8bee;font-size:18px;font-weight:bold;margin:0 0 10px 0;">Cet e-mail a été envoyé via SendinBlue SMTP. <br />
                                    Félicitations, la fonctionnalité SendinBlue SMTP est bien configurée. 
                                 </div>
                              </td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr></tbody></table><table width="540" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td align="right">
                                 <div style="font-family:arial, sans-serif;font-size:14px;color:#2f8bee;margin:0;font-weight:bold;line-height:18px;"> L'équipe
                                    de SendinBlue
                                 </div>
                              </td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="font-family:arial, sans-serif;" align="center"><hr /></td>
                           </tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="10"> </td>
                           </tr></tbody></table><table width="540" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="10"> </td>
                           </tr><tr><td align="left" valign="top" width="200">
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:16px;color:#7e7e7e;">
									<strong style="color:#2f8bee;">SendinBlue</strong></div>
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:16px;color:#7e7e7e;">
									59 rue Beaubourg</div>
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:16px;color:#7e7e7e;">
									75003 Paris - France</div>
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:16px;color:#7e7e7e;">
									Tél : 0 899 25 30 61</div>
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:16px;color:#7e7e7e;">
									<a href="https://www.sendinblue.com" style="color:#2f8bee;" target="_blank">www.sendinblue.com</a></div>
							</td>
							<td align="right" valign="top">
								<div style="font-family:arial, sans-serif;font-size:12px;margin:0;line-height:20px;color:#7e7e7e;">
                            <a href="http://www.facebook.com/SendinBlue" style="color:#2f8bee;text-decoration:none;" target="_blank"> <img alt="Facebook" src="https://my.sendinblue.com/public/upload/14406/images/523693143fe88.gif" style="border:none;" /></a>   <a href="https://twitter.com/SendinBlue" style="color:#2f8bee;text-decoration:none;" target="_blank"> <img alt="Twitter" src="https://my.sendinblue.com/public/upload/14406/images/5236931746c01.gif" style="border:none;" /></a>   <a href="http://www.linkedin.com/company/mailin" style="color:#2f8bee;text-decoration:none;" target="_blank"> <img alt="Linkedin" src="https://my.sendinblue.com/public/upload/14406/images/5236931ad253b.gif" style="border:none;" /></a>  <a href="http://sendinblue.tumblr.com/" style="color:#2f8bee;text-decoration:none;" target="_blank">Blog</a></div>
								<div style="font-family:arial, sans-serif;font-size:10px;margin:0;line-height:14px;color:#7e7e7e;"> © 2014-2015 SendinBlue, tous droits
                                    réservés.
                                 </div>
								<div style="font-family:arial, sans-serif;font-size:10px;margin:0;line-height:14px;color:#7e7e7e;"> Ceci est un message automatique
                                    généré par SendinBlue.
                                 </div>
								<div style="font-family:arial, sans-serif;font-size:10px;margin:0;line-height:14px;color:#7e7e7e;"> Ne pas y répondre, vous ne
                                    recevriez aucune réponse.
                                 </div>
								<div style="font-family:arial, sans-serif;font-size:10px;margin:0;line-height:14px;color:#7e7e7e;"><a href="https://www.sendinblue.com/legal/antispampolicy" style="color:#7e7e7e;" target="_blank">Politique
                                    anti-spam &amp; emailing</a> | <a href="https://www.sendinblue.com/legal/generalterms" style="color:#7e7e7e;" target="_blank">Conditions
                                    générales de ventes</a></div>
							</td>
						</tr></tbody></table><table width="570" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr><tr><td style="line-height:0;font-size:0;" height="20"> </td>
                           </tr></tbody></table></td>
               </tr></tbody></table><br /></div>
   
