<div id="paymentModePrestatillGiftCard" class="button prestatill_payment_button" data-module-name="prestatillgiftcard">
	    <i class="fa fa-gift"></i>
	    <div class="label">{l s='Chèque cadeau' mod='prestatillgiftcard'}</div>
</div>