{*
* Copyright (C) 2017-2018 Petr Hucik <petr@getdatakick.com>
*
* NOTICE OF LICENSE
*
* Licensed under the DataKick Regular License version 1.0
* For more information see LICENSE.txt file
*
* @author    Petr Hucik <petr@getdatakick.com>
* @copyright 2017-2018 Petr Hucik
* @license   Licensed under the DataKick Regular License version 1.0
*}

<tr class="comparison_header active">
  <td><b>{l s='Reviews' mod='revws'}</b></td>
  {foreach from=$list_ids_product item=productId}
    <td class='comparison_infos'>
      <div class="revws-comparison">
        {assign "grade" $averages[$productId][0]}
        {assign "count" $averages[$productId][1]}
        {if $count == 0}
          {l s='no review' mod='revws'}
        {else}
          {include file='modules/revws/views/templates/widgets/grading/grading.tpl' grade=$grade shape=$shape type='list'}
          <div class="revws-count-text">
            {if $count == 1}
              {l s='one review' mod='revws'}
            {else}
              {l s='%1$d reviews' sprintf=[$count] mod='revws'}
            {/if}
          </div>
        {/if}
      </div>
    </td>
  {/foreach}
</tr>
