#xprtthemeeditor{
	overflow : hidden;
}

#xprtthemeeditor .xprtthemeeditor_header{
	
}
#xprtthemeeditor .xprtthemeeditor_header .page-header{
	margin: 10px 0px 16px;
	color: #00aff0;
	padding-bottom: 10px;
	font-size: 30px;
}
#xprtthemeeditor .xprtthemeeditor_header .page-header:before,.demo_setup_footer.xprtthemeeditor_header .page-header:before{
	content: "\f013";
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
}

#xprtthemeeditor .productTabs{
	max-width: 230px;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 15px;
	margin-right: 20px;
	overflow: hidden;
}

#xprtthemeeditor .productTabs ul.nav-tabs{
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}

#xprtthemeeditor .productTabs ul.nav-tabs li.tab-row{
	display: block;
	float: none;
	margin:0;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}


#xprtthemeeditor .productTabs ul.nav-tabs li.tab-row a{
	margin-right: 0px;
	border: 0;
	background: none;
}

#xprtthemeeditor .productTabs ul.nav-tabs li.tab-row:hover{
	background-color: #eee;
}

#xprtthemeeditor .productTabs ul.nav-tabs li.tab-row.active{
	background-color: #00AFF0;
	
}
#xprtthemeeditor .productTabs ul.nav-tabs li.tab-row.active a{
	border:0;
	color: #fff;
}

/* #xprtthemeeditor .productTabs ul.nav-tabs li.tab-row:last-child a{
	border-bottom: 0px solid #ddd;
} */

#xprtthemeeditor form.xprtthemeeditormod{
	overflow: hidden;
}

#xprtthemeeditor form.xprtthemeeditormod .xprttheme_editor{
	padding: 0;
	border: 0;
}


/* Module admin icon */

/* promotional block */
.icon-Adminpromotional:before{
	content: "\f03e";
}

/* Category product */
.icon-Adminxprtcategoryprdclass:before{
	content: "\f0fc";
}


.mce-container iframe{
	height: auto !important;
}


.infoheading_class{
	margin-top:15px;
	margin-bottom: 20px;
}

.infoheading_class .infoheading_label{
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 8px !important;
	text-align: left;
	border-bottom: 1px solid #00AFF0 !important;
	color: #00AFF0 !important;
	/*width: 25%;*/
}

.infoheading_class .infoheading_sublabel{
	/*margin-left: -10px;
	width: 25%;
	margin-top: -10px;*/
	display: block;
	text-align: left;
}


.form-group + .help-block{
	margin-top: -10px;
}


.icon-Adminxprtdashboard:before{
	content: "\f1d1";
	font-size: 18px;
	padding-top: 5px;
	display: inline-block;
}