
{if $xprt.prod_tab_style == 'classic'}
	{if isset($results) && !empty($results)}
		{foreach from=$results item=result}
			<li><a href="#producttab_{$result.id_xprtproducttab}" role="tab" data-toggle="tab">{$result.title}</a></li>
		{/foreach}
	{/if}
{/if}