                    <div class="mapwrapper">
                        <div id="map"></div>
                        <div class="store-content-select selector3">
                            <select id="locationSelect" class="form-control">
                                <option>-</option>
                            </select>
                        </div>
                    </div>