{if isset($xprtbestsellproductblock) && !empty($xprtbestsellproductblock)}
		<li><a data-toggle="tab" href="#xprt_bestproductsblock_tab_{if isset($xprtbestsellproductblock.id_xprtbestsellproductblock)}{$xprtbestsellproductblock.id_xprtbestsellproductblock}{/if}" class="xprt_bestproductsblock_tab">{$xprtbestsellproductblock.title}</a></li>
{/if}