label,input[type="text"],.margin-form p{line-height:32px}
input[type="text"]{height:32px;width:300px;text-align:center;padding-left: 32px;background:#fff url('../../img/key.png') no-repeat left center}
.margin-form p,input[type="text"]{font-size:16px}
.margin-form p{margin-top:.2em}
div.infos{background: url("../../img/icon-info.png") no-repeat scroll 6px 6px #BDE5F8;border: 1px solid #00529B;border-radius: 3px 3px 3px 3px;color: #00529B;font-family: Arial,Verdana,Helvetica,sans-serif;font-size: 12px;margin-bottom: 15px;min-height: 32px;padding: 10px 5px 5px 40px}