{if isset($xprthtmlblock) && !empty($xprthtmlblock)}
	<li><a data-toggle="tab" href="#xprt_htmlblock_tab_{$xprthtmlblock.id_xprthtmlblock}" class="xprt_htmlblock">{$xprthtmlblock.title}</a></li>
{/if}