{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillslip','payment')|escape:'html'}" class="prestatillslip">
				{l s='Pay with module prestatillslip' mod='prestatillslip'}
			</a>
		</p>
	</div>
</div>*}