{*<div class="row">
	<div class="col-xs-12 col-md-6>
		<p class="payment_module>
			<a href="{$link->getModuleLink('prestatillbankwire','payment')|escape:'html'}" class="prestatillbankwire">
				{l s='Pay with module prestatillbankwire' mod='prestatillbankwire'}
			</a>
		</p>
	</div>
</div>*}