<div class="prestatill_payment_interface" data-module-name="prestatillbankwire">
	<div class="numeric_keyboard">
		<span>7</span>
		<span>8</span>
		<span>9</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span>0</span>
    <span>.</span>
    <span>C</span>
	</div>
</div>
