<div id="paymentModePrestatillBankwire" class="button prestatill_payment_button" data-module-name="prestatillbankwire">
	    <i class="fa fa-credit-card"></i>
	    <div class="label">Virement</div>
</div>