/* HOOK PRESTATILL */
#prestatill_advanced_stats table {
		width:100%;
		padding:0 0px 4px;
}

#prestatill_advanced_stats h3, 
#prestatill_advanced_stats .h3 {
	padding: 20px;
    background: #262626;
    margin: 5px 3px 0px 2px;
    font-weight: 300;
    font-size: 20px;
}

#prestatill_advanced_stats h3 span,
#prestatill_advanced_stats .h3 span {
	background: #93b728;
    font-size: 14px;
    position: relative;
    top: -5px;
    font-weight: bold;
    padding: 1px 5px;
}

#prestatill_advanced_stats td {
	padding: 20px;
    background: #262626;
    
}

#prestatill_advanced_stats td b {
	vertical-align: middle;
    color: #93b728;
    margin-top: 20px;
    font-size: 23px;
}

#prestatill_advanced_stats th {
	padding: 20px;
    background: #262626;
}
