.icon-AdminPrestatillExportCompta:before {
	content:"\f1fe";
}

#dashexportcompta nav {
	margin-bottom:10px;
}

#dashexportcompta .tab-content {
	overflow-x:auto;
}

.bootstrap #dashexportcompta button.btn-default.active {
    border-color: #008abd;
    color: #fff;
    font-weight: 700;
    background-color: #00aff0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.none {
	display:none!important;
}

#dashexportcompta .label {
	color:#444;
}

#dashexportcompta .table thead>tr>th {
	min-width: 72px;
}

#dashexportcompta #dash_by_hour .table thead>tr>th {
	left: -15px;
    position: relative;
}

#dashexportcompta .table>thead:first-child>tr>th:first-child {
	min-width: 80px;
}

.bootstrap .table tbody>tr>td span.no-sales {
	color:#aaa;
}

.bootstrap .table>tfoot>tr>td {
	min-width:80px;
}

#pointshopBox button {
	margin-left:20px;
}

#pointshopBox.options {
	background: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #eee;
}

#pointshopBox .pull-left {
	padding-top: 5px;
}

#pointshopBox .label {
	margin-right:15px;
}

#granularityBox {
	margin-top:3px;
}

#export-form button {
	max-width: 135px;
    white-space: inherit;
    line-height: 16px;
    margin-left: 10px;
}

 .panel #export-form .panel-footer {
	height:inherit!important;
}

#prestatill_report_heading .comment {
	font-style: italic;
    background: aliceblue;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 5px 0 30px;
    position: relative;
    font-size:1.2em;
    white-space: inherit;
    display:inline-block;
}

.bootstrap  #prestatill_report_heading .box-stats {
	height:inherit;
}

.print {display: none;}

@media print {

	* {
		font-family: Arial!important;
	}
	
	body {
		font-size:11px;
		padding:0!important;
		margin:0!important;
	}	
	
	.bootstrap .col-lg-12, .bootstrap .col-lg-6 {
		padding:0!important;
		margin:0!important;
	}
	
	.bootstrap h1, .bootstrap .h1 {
		font-size:24px;
	}
	
	.bootstrap .table tbody>tr>td {
		font-size:11px;
	}
	
	.print-together {
		page-break-inside: avoid;
	}
	
	#main #content.bootstrap .row, #main #content.bootstrap .multishop-well, #main #content.bootstrap #dashboard .data_list_vertical {
		margin-bottom:0!important;
	}
	
	#main #content.bootstrap .panel {
		margin-bottom:20px!important;
	}
	
	#main {
	    width: 10in !important;
	    float: none !important;
	    margin: 0 auto !important;
	    padding: 0 !important;
	}
	
	#prestatill_report_heading .comment {
		background:none;
	}
	
	.no-print {
		display:none;
	}
	
	.print {
		display: table-cell;
	}
}

