{if isset($xprtblockfootertext)}
<div id="footer_text" class="xprtblockfootertext block footer_copyright_info {if isset($xprtfootercopycolumn)}col-sm-{$xprtfootercopycolumn}{/if} {$xprtfootercopyfloat}">
	<div class="block_content">
		{$xprtblockfootertext}
	</div>
</div>
{/if}