/*******************************************************************
					Cart Block Styles
********************************************************************/
#carttop {
    position:relative;
    vertical-align: middle;
    width:auto;
	padding-left:14px;
	min-height:120px;
	height:100%;
	line-height:120px;
    z-index:1;
    -webkit-transition: all 440ms ease 0s;
    -moz-transition: all 440ms ease 0s;
    -o-transition: all 440ms ease 0s;
    transition: all 440ms ease 0s; }
.shopping_cart > a:first-child {
    background:none;
    padding: 0;
    text-align: center;
    color: #9c9c9c; }

    #header .shopping_cart > a > span {
		display:none; }
    #header .shopping_cart > a > span.ajax_cart_product_txt_s,
    #header .shopping_cart > a > span.ajax_cart_no_product {
		display:none!important; }
    #header .shopping_cart > a:first-child span.carticon {
        position: relative;
        height: 19px;
        width: 20px;
        margin-right:8px;
        vertical-align: -3px;
        border: 2px solid #323232;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display:inline-block;
        -webkit-transition: all 440ms ease;
        -moz-transition: all 440ms ease;
        -o-transition: all 440ms ease;
        transition: all 440ms ease; }
    #header .shopping_cart > a:first-child span.carticon:before {
        position: absolute;
        content: " ";
        display:inline-block;
        width: 12px;
        height: 8px;
        border: 2px solid #323232;
        border-bottom: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        top: -8px;
        left: 50%;
        margin-left: -6px;
        -webkit-transition: all 440ms ease;
        -moz-transition: all 440ms ease;
        -o-transition: all 440ms ease;
        transition: all 440ms ease;}
    #header .shopping_cart > a:first-child span.carticon:after {
        position: absolute;
        content: " ";
        display:inline-block;
        width: 12px;
        height: 11px;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-top-left-radius: 1px;
        top: 2px;
        left: 50%;
        margin-left: -6px;
        -webkit-transition: all 440ms ease;
        -moz-transition: all 440ms ease;
        -o-transition: all 440ms ease;
        transition: all 440ms ease; }
    #header .shopping_cart:hover > a:first-child > .carticon {
    }
    #header .shopping_cart > a:first-child span.ajax_cart_quantity {
        display:inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
        bottom: -8px;
        right: -10px;
        background:#343a41;
        color:#ffffff;
        font-size:11px;
        font-weight:700;
        line-height:16px;
        -webkit-border-radius: 90px;
        -moz-border-radius: 90px;
        border-radius: 90px;
        border: 2px solid #fff;
        -webkit-transition: background-color 440ms ease;
        -moz-transition: background-color 440ms ease;
        -o-transition: background-color 440ms ease;
        transition: background-color 440ms ease; }
    #header .shopping_cart .clearfix {
        height:0;
        margin-top:-3px; }
/* Styles for sticky header */
#index #header .shopping_cart > a:first-child span.carticon {
    border-color: #ffffff;
}
#index .shopping_cart > a:first-child span.carticon:before {
    border-color: #ffffff;
}
#index #header .shopping_cart > a:first-child span.carticon:after {
    border-color: #ffffff;
    opacity:0.5;
}
#index #header .shopping_cart > a:first-child span.ajax_cart_quantity {
    height: 16px;
    width: 16px;
    bottom: -7px;
    right: -10px;
    background: #ffffff;
    color: #777777;
    line-height:18px;
    padding-left: 1px;
    border:none; }

.header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon,
#index .header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon {
    border-color: #323232;
}
.header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon:before,
#index .header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon:before {
    border-color: #323232;
}
.header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon:after,
#index .header-wrapper.sticky #header .shopping_cart > a:first-child span.carticon:after {
    border-color: #cccccc;
    opacity:1;
}
.header-wrapper.sticky #header .shopping_cart > a:first-child span.ajax_cart_quantity,
#index .header-wrapper.sticky #header .shopping_cart > a:first-child span.ajax_cart_quantity {
    height: 18px;
    width: 18px;
    bottom: -8px;
    right: -10px;
    background:#343a41;
    color:#ffffff;
    line-height:16px;
    border: 2px solid #fff; }
/* /Styles for stucky header */

/*	Mobile styles	*/
@media (max-width: 479px) {
	.head .row .header-right-block #carttop  {
		min-height:80px;
		height:80px;
		line-height:80px;
		padding-left:10px;
		width:90px; }
	.shopping_cart > a:first-child {
		display:block;
		border:1px solid #bbbbbb;
	}
	.shopping_cart:hover > a:first-child {
		border-color:#000000; }
	#header .shopping_cart > a:first-child span.carticon {
		margin-right:2px;
	}
}

/*	/Mobile styles	*/


 /* Column Cart block */
     .column .shopping_cart > a:first-child {
         padding-left:22px;
         position:relative;; }
     .shopping_cart > a:first-child > span {
      font: 400 14px/14px Roboto, sans-serif;
      color: #999999; }
     .shopping_cart > a:first-child > span.cartname {
          color: #999999;
          font-size:16px;
         margin-bottom:8px;
          display:inline-block; }
  .shopping_cart .ajax_cart_total {
    display: none !important; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content: "\f107";
    font-family: "FontAwesome";
    position:absolute;
      top:22px;
      right:20px;
      font-size: 26px;
    padding:0 }
  .shopping_cart .block_cart_collapse:after {
      content: "\f106";
      font-family: "FontAwesome";
      font-size: 26px; }

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 12px;
    line-height:12px;
    margin-top:-6px;
  top: 50%; }
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #777777;
    display: block;
    width: 100%;
    height: 100%; }
    .cart_block .cart_block_list .remove_link a:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
        display: inline-block;
        content: "\f12a";
        font-family: "Ionicons";
        font-size: 13px;
        font-weight:bold;
        line-height: 13px;
        -webkit-transition: all 120ms linear;
        -moz-transition: all 120ms linear;
        -ms-transition: all 120ms linear;
        -o-transition: all 120ms linear;
        transition: all 120ms linear; }
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover:before {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
  .cart_block .cart_block_list .remove_link a:hover,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #515151; }
.cart_block .cart-images {
    float: left; }
.cart_block .cart-img {
    display:table-cell;
    width:60px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative; }
.cart_block .cart-info {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-left:4px;
    padding-right: 20px; }
    .cart_block .cart-info .product-name {
        padding-bottom: 0;
        margin-bottom:5px; }
    .cart_block .cart-info .product-name a {
        font-size: 15px;
        line-height: 16px;
        display: inline-block; }
    .cart_block .cart-info .quantity-formated {
        display: none;
        color: #9c9b9b;
        text-transform: uppercase;
        font-size: 10px;
        padding-right: 3px; }
    .cart_block .cart-info .quantity-formated .quantity {
        font-size: 14px;
        line-height: 18px; }
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 12px;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations {
    border-top: 1px dashed #333333; }
    .cart_block dd .cart_block_customizations li {
      padding: 10px 20px; }
      .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
        position: absolute;
        right: 10px; }
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
  .cart_block .cart-prices .cart-prices-line {
    font: 400 15px/17px "Roboto", sans-serif;
    color:#777777;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 16px; }
    #header .cart_block .cart-prices .cart-prices-line .price {
      margin-top:0;
    font: 400 15px/17px "Roboto", sans-serif; }
    .cart_block .cart-prices .cart-prices-line.last-line {
      border: none; }
.cart_block .cart-buttons {
      overflow: hidden;
      padding: 0;
      margin: 0; }
    .cart_block .cart-buttons a {
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 0px;
        margin-right: 10px; }
    .cart_block .cart-buttons a#button_order_cart {
        border-radius: 0;
        border:none;
        background:#343a41;
        margin-right: 0;
        -webkit-transition: all 220ms ease-in-out;
        -moz-transition: all 220ms ease-in-out;
        -o-transition: all 220ms ease-in-out;
        transition: all 220ms ease-in-out; }
        .cart_block .cart-buttons a#button_order_cart span {
            padding: 4px 0;
            color: white; }
    .cart_block .cart-buttons a#button_order_cart:hover {
        border-radius: 0;
        border:none;
        background:#000000; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/

#header .cart_block {
	position: absolute;
	top: 100px;
	right: 0;
	z-index: 99999;
	/*display: none;*/
	visibility:hidden;
	opacity:0;
	height: auto;
	width: 100%;
	min-width:270px;
	background-color:#ffffff;
	border-top:3px solid #343a41;
	color: #5e5e5e;
	-moz-box-shadow: 0 0 10px #e5e5e5;
	-webkit-box-shadow: 0 0 10px #e5e5e5;
	box-shadow: 0 0 10px #e5e5e5; }
.header-wrapper.sticky #header .cart_block {
	top: 70px; }
.animated_220 {
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}

#header .cart_block:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #343a41;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 9px; }
    @media (max-width: 767px) {
	#header .cart_block {
		display:none!important;	} }		
  #header .cart_block a {
    color: #777777; }
    #header .cart_block a:hover {
      color: #000000; }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #5b6868;
    outline: none;
    text-decoration: none; }
    #header .cart_block .cart_block_list .remove_link a:hover,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #000; }
  #header .cart_block .price {
      font-size:15px;
      margin-top:3px;
    color: #555; }
  #header .cart_block img {
      border:1px solid #e5e5e5; }
  #header .cart_block dl {
  margin-bottom:0; }
  #header .cart_block dt {
      width:100%;
      display:table;
    border-top:1px solid #e5e5e5; }
    #header .cart_block dt.first_item {
      border-top:none;
      background: none; }
  #header .cart_block .product-atributes {
    padding-bottom: 6px;
    font-size: 12px; }
    #header .cart_block .product-atributes a {
        font-style:italic;
        color: #ababab; }
      #header .cart_block .product-atributes a:hover {
        color: #5e5e5e; }
  #header .cart_block .cart-prices {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #fafafa; }
  #header .cart_block .cart-buttons {
    border:none;}
#header .block_content {
    padding:0;
    border-radius:0;
    border:none;
  background-color:#ffffff;
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  color:#333333;
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 90%;
    border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
      line-height:1.2em;
      padding: 12px 2px 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }
    .cart_block table.vouchers tr td.delete i:before {
        content: "\f12a";
        font-size:12px;
        font-weight:bold;
        -webkit-transition: all 120ms linear;
        -moz-transition: all 120ms linear;
        -ms-transition: all 120ms linear;
        -o-transition: all 120ms linear;
        transition: all 120ms linear;
        font-family: "Ionicons"; }
    .cart_block table.vouchers tr td.delete i:hover:before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #e5e5e5;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.4; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
    display: none;
    position: fixed;
    overflow: hidden;
    visibility: visible;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em 0 0 -4em;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    border-radius: 100em;
    opacity: 0;
	background:#323232;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
	z-index:99999;
    -webkit-transition: opacity 0.65s cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.65s cubic-bezier(0.23, 1, 0.32, 1),transform 0.65s cubic-bezier(0.23, 1, 0.32, 1); }
	
#layer_cart {
	display:block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
	
	
	
    #layer_cart .layer_cart_product .product-image-container {
      max-width: 178px;
      border: 1px solid #e5e5e5;
      float: left;
      margin-right: 20px; }
      @media (max-width: 479px) {
        #layer_cart .layer_cart_product .product-image-container {
          display:none; } }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 4px 0 0 0; }
      @media (max-width: 479px) {
        #layer_cart .layer_cart_product .layer_cart_product_info {
          display:none; } }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        color:#333333;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes {
        display: block;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 7px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong,
        #layer_cart .layer_cart_product .layer_cart_cart > div strong {
          color:#333333;
          padding-right: 3px; }
        #layer_cart .layer_cart_product .layer_cart_cart .layer_cart_row span {
          color:#888888; }
  #layer_cart .layer_cart_cart {
	  background:#323232;
	  width:100%;
	  height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative; }
    #layer_cart .layer_cart_cart h2 {
      font: 400 16px/22px Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      color: #888888;
      background:#ffffff;
	  border:1px solid #f2f2f2;
      margin: 0 0 26px 0;
      padding: 16px 20px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_cart h2 {
          font-size: 14px; } }
    #layer_cart .layer_cart_cart .layer_cart_row {
	  border:1px solid #f2f2f2;	
      color:#888888;
      background: #ffffff;
      margin-top:3px;
      padding: 8px 12px; }
    #layer_cart .layer_cart_cart .layer_cart_row .ajax_block_products_total,
    #layer_cart .layer_cart_cart .layer_cart_row .ajax_block_shipping_cost,
    #layer_cart .layer_cart_cart .layer_cart_row .ajax_block_cart_total {
      color:#333333;
      margin-left:8px; }
    #layer_cart .layer_cart_cart .button-container {
		opacity:0;
		visibility:hidden;
		max-width:200px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%; }
		#layer_cart .layer_cart_cart .button-container .btn {
				width:100%;
				clear:both; }		
		#layer_cart .layer_cart_cart .button-container .btn.bright {
				margin-top:30px; }		
          #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
            clear:both;
            text-align: center;
            width:100%; } }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #777777; }
  #layer_cart .cross {
    position: absolute;
    right: 4px;
    top: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    color:#323232;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 28px;
      line-height: 28px; }
    #layer_cart .cross:hover {
      color: #000000; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }

	#layer_cart i.cart {
		display:inline-block;
		line-height:7.8em;
	}	
	#layer_cart i.cart:before {
		content:'\f3f8';
		font-family: "Ionicons";
		display: block;
		font-size: 3.6em;
	}
	
	#layer_cart i.arrow {
		display:none;
		line-height:7.8em;
	}	
	#layer_cart i.arrow:before {
		content:'\f103';
		font-family: "Ionicons";
		display: block;
		font-size: 3.6em;
	}	
	
	#layer_cart i.done {
		display:none;
		line-height:7.8em;
	}	
	#layer_cart i.done:before {
		content:'\f3f8';
		font-family: "Ionicons";
		display: block;
		font-size: 3.6em;
	}
	
	
	
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
	text-align:center;
  border-top: 1px solid #f2f2f2;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
	text-align:center;
	font-size:22px;
    line-height: 26px;
	font-weight:400;
	text-transform:capitalize;
	color: #333;
	margin-top:0;
	margin-bottom: 26px; }	
    @media (max-width: 767px) {
#layer_cart .crossseling h2 {
	font-size:16px;
    line-height: 22px; } }
#layer_cart .crossseling #blockcart_list {
  max-width: 590px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }  
    @media (max-width: 991px) {
	#layer_cart .crossseling #blockcart_list {
		max-width: 384px; } }
    @media (max-width: 640px) {
	#layer_cart .crossseling #blockcart_list {
		max-width: 180px; } }
		
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        text-align: center;
          border:1px solid #e5e5e5;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          color:#333333;
          font-size: 15px;
          line-height: 20px; }
        #layer_cart .crossseling #blockcart_list ul li .price {
          color:#333333; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }



