

#acaissecmspopup {
    border:solid 1px gray;
    box-shadow: 0 0 10px #000;
    margin:0 auto;
    background-color:#FFF;
    display:none;
}

#acaissecmspopup label {
    width:120px;
}

#acaissecmspopup,#acaisse_options_panel,#acaisse_searchpanel {
    height:380px;
}

#acaissecmspopup {
	overflow:auto;
}

#acaisse_filter {
    position:absolute;
    top:0;
    border-bottom:solid 1px #DEDEDE;
    width:100%;
    height:35px;
    background-color:#FFF;
}

#acaisse_searchpanel_content {
    overflow:auto;
    height:345px; /*380-35*/
    margin-top:35px;
}



.acaisse_explain {
    font-weight:bold;
    font-size:150%;
    color:gray;
}

table#acaissepagecms {
    border:none;
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
    //height:652px;
    height: 100%;
    background:#eeeeee;
    border:6px solid #FFF;
}

table#acaissepagecms td {
    width:142px;
    height:121px;
    border:none;
    cursor:hand;
    overflow:hidden;
    border:5px solid #FFF;
}

table#acaissepagecms td.selected {
    box-shadow:0px 0px 40px 5px #000 inset;
}

.cellType2, .cellType3{
    background:#fff;
}

.cover {
    width:100%;
    height:100%;
}

/*style 1*/
.cellType1.cellStyle1 .cover {
    background-color: #FFF;
}

.cellType2.cellStyle1, .cellType3.cellStyle1{
    background-color: #FFF;
    color: #000;
}

/*style 2*/
.cellType1.cellStyle2 .cover, .cellStyle2 {
    background: #ffc750;
}
.cellType2.cellStyle2 .cover, .cellType3.cellStyle2 .cover {
    background: #ffc750;
}
/*style 3*/
.cellType1.cellStyle3 .cover, .cellStyle3 {
    background: #a9be00;
}
.cellType2.cellStyle3 .cover, .cellType3.cellStyle3 .cover{
    background: #a9be00;
}

/*style 4*/
.cellType1.cellStyle4 .cover, .cellStyle4 {
    background: #445200;
}
.cellType2.cellStyle4 .cover, .cellType3.cellStyle4 .cover{
    background: #445200;
}

/*style 5*/
.cellType1.cellStyle5 .cover, .cellStyle5 {
    background: #318dff;
}
.cellType2.cellStyle5 .cover, .cellType3.cellStyle5 .cover{
    background: #318dff;
}

/*style 6*/
.cellType1.cellStyle6 .cover, .cellStyle6 {
    background: #1036ff;
}
.cellType2.cellStyle6 .cover, .cellType3.cellStyle6 .cover{
    background: #1036ff;
}

/*style 7*/
.cellType1.cellStyle7 .cover, .cellStyle7 {
    background-color: #ff7317;
}
.cellType2.cellStyle7 .cover, .cellType3.cellStyle7 .cover{
    background: #ff7317;
}

/*style 8*/
.cellType1.cellStyle8 .cover, .cellStyle8 {
    background: #ff5a1c;
}
.cellType2.cellStyle8 .cover, .cellType3.cellStyle8 .cover{
    background: #ff5a1c;
}

/*style 9*/
.cellType1.cellStyle9 .cover, .cellStyle9 {
    background: #ff2a07;
}
.cellType2.cellStyle9 .cover, .cellType3.cellStyle9 .cover{
    background: #ff2a07;
}

/*style 10*/
.cellType1.cellStyle10 .cover, .cellStyle10 {
    background: #7d0707;
}
.cellType2.cellStyle10 .cover, .cellType3.cellStyle10 .cover{
    background: #7d0707;
}

/*style 11*/
.cellType1.cellStyle11 .cover, .cellStyle11 {
    background: #ba53e0;
}
.cellType2.cellStyle11 .cover, .cellType3.cellStyle11 .cover{
    background: #ba53e0;
}

/*style 12*/
.cellType1.cellStyle12 .cover, .cellStyle12{
    background: #4f1d78;
}
.cellType2.cellStyle12 .cover, .cellType3.cellStyle12 .cover{
    background: #4f1d78;
}

/*style 13*/
.cellType1.cellStyle13 .cover, .cellStyle13 {
    background: #53cadf;
}
.cellType2.cellStyle13 .cover, .cellType3.cellStyle13 .cover{
    background: #53cadf;
}

/*style 14*/
.cellType1.cellStyle14 .cover, .cellStyle14 {
    background: #1d5d76;
}
.cellType2.cellStyle14 .cover, .cellType3.cellStyle14 .cover{
    background: #1d5d76;
}

/*style 15*/
.cellType1.cellStyle15 .cover, .cellStyle15 {
    background: #dddddd;
}
.cellType2.cellStyle15 .cover, .cellType3.cellStyle15 .cover{
    background: #dddddd;
}

/*style 16*/
.cellType1.cellStyle16 .cover, .cellStyle16 {
    background: #737373;
}
.cellType2.cellStyle16 .cover, .cellType3.cellStyle16 .cover{
    background: #737373;
}




.cellStyle1, .cellStyle2, .cellStyle3, .cellStyle5, .cellStyle7, .cellStyle13, .cellStyle15 {
    color:#000;
}

.cellStyle4, .cellStyle6, .cellStyle8, .cellStyle9, .cellStyle10, .cellStyle12, .cellStyle14, .cellStyle16 {
    color:#FFF;
}

.cellType1 .name {
    font-weight:300;
}
.cellType1 .description {
    font-size:0.75em;
}

.acaisse_styleSelector {
    border:solid 2px #DDD;
    float: left;
    width:40px;
    height:40px;
    font-weight:bold;
    line-height:40px;
    text-align:center;
    margin-right:2px;
}

.acaisse_typeSelector {
    border:solid 2px #DDD;
    float: left;
    width:80px;
    height:40px;
    font-weight:bold;
    text-align:center;
    margin-right:2px;
}

.acaisse_styleSelector.selected,.acaisse_typeSelector.selected {
    border:solid 2px #000;
}

.acaisse_searchpanel, .acaisse_filter {
    display:none;
}

.acaisse_selectorTitle {
    font-weight:bold;
    width:100%;
    clear:left;
    height:30px;
    text-align:center;
    line-height:30px;
    margin-right:2px;
}

#acaissecms_selection_name {
    clear:left;
}

.acaisse-page-selector,.acaisse-product-selector,.acaisse-product-attribute-selector {
    min-height: 40px;
    overflow: auto;
}

.acaisse-page-selector span.ean13,.acaisse-product-selector span.ean13,.acaisse-product-attribute-selector span.ean13 {
    font-size:10px;
}

.acaisse-page-selector:hover,.acaisse-product-selector:hover,.acaisse-product-attribute-selector:hover {
    background-color:#DDD;

}


div.acaisse_productcell_content {
    width:100%;
    height:100%;
    position:relative;
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size:38%;
}

div.acaisse_productcell_content .product_price {
    color:#000;
    width:100%;
    text-align:center;
    font-weight:600;
    //height:50%;
    position:relative;
}

div.availability {
    height:50%;
    position:relative;
}

div.acaisse_productcell_content .product_stock {
    position: absolute;
    width: 38%;
    //height:37%;
    bottom:0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);;
}

div.acaisse_productcell_content span {
    display:inline-bock;
    color:#666;
}

div.acaisse_productcell_content .availability span{
    display: block;
}
div.acaisse_productcell_content span.stock_available {
    font-weight:bold;
}

div.acaisse_productcell_content span.error {
    color:red;
}

div.acaisse_productcell_content span.good {
    color:green;
}

div.acaisse_productcell_content span.warning {
    color:orange;
}


div.acaisse_productcell_content .stock_available {
}

div.acaisse_productcell_content .stock_real {
    font-size:75%;
}

div.acaisse_productcell_content .stock_inqueue {
    font-size:75%;
}

div.acaisse_productcell_content .product_name_container {
    position:absolute;
    top:0;
    right: 0;
    left:38%;
    text-align:center;
    font-size:80%;
    height:100%;
    padding:0 5px;
}

.with_attributes div.acaisse_productcell_content .product_name_container {
    position:absolute;
    top:0;
    right: 0;
    left:0;
    text-align:center;
    font-size:80%;
    height:100%;
    padding:0 5px;
}

div.acaisse_productcell_content .product_name_container_box {
    height:100%;
    width:100%;
    display:table;
}

div.acaisse_productcell_content .product_name {
    vertical-align:bottom;
    height:100%;
    display:table-cell;
    font-weight:300;
}

td.cellType2,td.cellType3 {
    /*background-color:#FFF; /* Old browsers */
} 

table#acaissepagecms td.rowspan2,table#acaissepagecms td.colspan2 { font-size:180%; }
table#acaissepagecms td.rowspan3,table#acaissepagecms td.colspan3 { font-size:210%; }
table#acaissepagecms td.rowspan4,table#acaissepagecms td.colspan4 { font-size:250%; }
table#acaissepagecms td.rowspan5,table#acaissepagecms td.colspan5 { font-size:280%; }

