@font-face {
    font-family: 'lbabcaisse';
    src:url('../fonts/lbabcaisse.eot?43q8it');
    src:url('../fonts/lbabcaisse.eot?#iefix43q8it') format('embedded-opentype'),
        url('../fonts/lbabcaisse.woff?43q8it') format('woff'),
        url('../fonts/lbabcaisse.ttf?43q8it') format('truetype'),
        url('../fonts/lbabcaisse.svg?43q8it#lbabcaisse') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-ACaisseMenu:before {
	content: "\e900";
    font-family: 'lbabcaisse';
} 

/* CSS DE LA PARTIE CONFIGURATION */
ul.payment_method_display {
	margin-left:0;
	padding-left:0;
}

ul.payment_method_display li,
#modulecontent .checkbox {
	float:left;
    list-style: none;
    background: #44bb00;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 2px;
    color: #FFF;
}

#modulecontent .checkbox.active {
	background:#8FB742;
	color:#FFF;
}

#modulecontent .checkbox {
	background:#ddd;
	color:#999;
}

#modulecontent .checkbox input {
	visibility:hidden;
	display:none;
}

#modulecontent .checkbox label {
	padding-left:0;
}


/* rendre scrollable le menu du BO si trop long
#nav-sidebar ul.menu
{
   overflow-y: auto;
}
*/

/** masqueage des élements Prestashop/ PUb, etc */
.bootstrap #header_employee_box>li>a.addons_connect {
	display:none;
}
#footer {
	display:none;
}
#header_shopversion {
	background-image:url("../img/logo.png");
	padding-left: 60px !important;
}
#shop_version {
	display:none;
}

