
/* global state color */
.selected {	
    background-color: #93b728; /* on passe un button classique selectionné en vert */
}
.disabled {
	background-color: #464646;
    color: #363636;
}

#ticketView .disabled {
	background-color: #464646!important;
    color: #363636!important;
}


/* semantique colors */
.danger,
.flex-danger .header-inner {
	background-color:#CA442D; /* rouge */
}
.warning,
.flex-warning .header-inner {
	background-color:#ca912d; /* orange */
}
.info,
.flex-info .header-inner {
	background-color:#2D92CA; /* bleu */
	color: #fff;
}	

.success,
.flex-success .header-inner {
	background-color:#93b728; /* vert aanis */
}

.help {
	background-color:#2D92CA;
	color:#FFF;
}

.box {
	border-radius:5px;
	padding:6px;
	margin:5px;
}

.box .fa {
	float:left;
}


/* disabled colors */	

.danger.disabled {
	background-color:#906b64;
}	
.warning.disabled  {
	background-color:#8c7854;
}
.info.disabled {
	background-color:#376077;
}
.success.disabled {
	background-color:#777e63;
}	
