@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@font-face {
    font-family: 'lbabcaisse';
    src:url('../fonts/lbabcaisse.eot?43q8it');
    src:url('../fonts/lbabcaisse.eot?#iefix43q8it') format('embedded-opentype'),
        url('../fonts/lbabcaisse.woff?43q8it') format('woff'),
        url('../fonts/lbabcaisse.ttf?43q8it') format('truetype'),
        url('../fonts/lbabcaisse.svg?43q8it#lbabcaisse') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'lbabcaisse';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide {
	display: none;
}

.icon-arrow483:before {
    content: "\e601";
}
.icon-cart2:before {
    content: "\e602";
}
.icon-cogs3:before {
    content: "\e603";
}
.icon-expand25:before {
    content: "\e604";
}
.icon-left207:before {
    content: "\e605";
}
.icon-next15:before {
    content: "\e606";
}
.icon-store5:before {
    content: "\e607";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-store:before {
    content: "\e900";
}


* {
    margin:0;
    padding:0;
}
body {
    font-family:Open Sans, sans-serif;
    text-align:center;
    background:url("../img/bg.png") repeat 0 0;
}

.hidden {
	display:none;
}

/* structure globale */
#content{
    margin: 0 auto;
    //width: 1280px;
    //height: 776px;
    position: relative;
}

#container {
    //margin:0 auto;
    width:100%;				/* à dynamiser */
    height:100%;                        /* à dynamiser */
    background-color:#FFF;
    //overflow: hidden;
}

#header,#footer {
    height:64px;
    overflow: hidden;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#middle {
    //height:648px; /* 162*4 */
    height:100%;
}

#footer #alertMessage{
    float: left;
    width: 302px;
    height: 64px;
    padding-right: 10px;
    transition: all ease-in-out 0.2s;
}

#header div,#footer div {
    height:64px;
}

#footer div {
    line-height:64px;
}

/* element globaux */
.separator {
    width:1px;
    background-color:#aaa;
}

.successMessage{
    background: rgb(158, 194, 2);
    color: #fff;
}


.errorMessage{
    background: #B26F6D;
    color: #fff;
}

#header .button,#footer .button {
    width:64px;
    font-size:12px;
    padding-top:10px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin:0;
    height:54px; /*64-12*/
    text-transform:uppercase;
    color:#5b5b5b;
    border-left:1px solid #aaa;
}

#footer .button {
    border-left:none;
    border-right:1px solid #aaa;
}

#header .button i,#footer .button i {
    //width:100px;
    font-size:30px;
    color:#aaaaaa;
    margin-bottom:3px;
    display:block;
}


/**
* FORMULAIRE
*/

input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #EEEEEE;
    padding-left: 10px;
    border: 1px rgb(229, 229, 229) solid;
}

input[type="submit"], button, input[type="button"]{
    background: #93B728;
    padding: 10px;
    border: none;
    color: #fff;
}
/* structure header */
#header {
    background-color:#eeeeee;
    color:#5f5f5f;
}

#fullscreen {
    float:left;
}

#logo {
    float:left;
    //width:165px;
    background:#FFF;
}

#logo img{
    float: left;
}

.change-pointshop{
    display: inline-block;
    min-width: 40px;
    background: #737373;
    height: 54px;
    line-height: 44px;
    color:#fff;
    float: left;
    margin-right: 1px;
    box-sizing:border-box;
}

#userBlock {
    margin-left:300px;
}

#userBlock>div {
    float:right;
}

#userName {
    line-height:64px;
    font-size:105%;
    font-weight:bold;
    padding:0 10px;
    border-left:1px solid #aaa;
    width:240px;
    text-transform:uppercase;
}

/* structure footer */
#preOrderNumber {
    float:left;
    width:200px;
    color:#5f5f5f;
    font-weight: 600;
}

#footer .button/*#openRootCategorie, #productResearch, #lastPrints, #openRootPageCaisse, #addNewProduct*/ {
	 float: left;
	 margin-left: 0;
	 padding-top: 18px !important;
	 height: 64px;
}

#footer #changeOrderButton {
    float:left;
    margin-left:0;
    padding-top:18px;
}

#totalBlock {
    background-color:#eeeeee;
    margin-left:240px;
    text-align:right;	
}

#totalItem {
    color:#FFF;
    font-size:16px;
    font-weight:bold;
    background:#e61d1d;
    border-radius:30px;
    display:block;
    text-align:center;
    width:30px;
    height:30px;
    line-height:30px;
    position:absolute;
    right:60px;
    top:30px;
}

#totalTitle, #totals {
    width:260px;
    line-height:64px;
    text-align:center;
    background-color:#23f96f;
    color:#FFF;
    font-weight:600;
}

#totalTitle {
	width:120px;
}

#totals {
    font-size:26px;
}

#totalBlock>div {
    float:right;
}

/* main zone */
#productList,#startScreen,#ticketView {
    //width:1280px;
    width: 100%;
    //height:648px;
    height:100%;
    float:left;
    position: relative;
}

#startScreen { background-color:#1D5D76; }
#ticketView { background-color:#4F1D78; }

.validTicket {
    background-color:#252525;
    color:#FFF;
}

#middleContainer {
    //width:1280px;
    width: 100%;
    //height:648px;
    overflow: hidden;
    //position: relative;
    position: absolute;
    top: 64px;
    bottom: 64px;
}
#middle {
    width:3840px;/*1280*3*/
    position:relative;
    left:-1280px;
}
/* product list screen */
#productList {
	position: relative;
	background:#FFF;
}

#productList .content {
    float:left;
    width:1068px;/*162*7*/
    background-color:#eeeeee;
    //height:648px;
    height: 100%;
}

#productList .inner-content,#ticketView .inner-content {
    overflow:auto;
    height:646px;	
}

#productList .switcher {
    float:left;
    width:203px;/*1280-162*7*/
    background-color:#eeeeee;
    height: calc(100% - 10px);
    border-top:6px solid #FFF;
    border-right:6px solid #FFF;
    border-bottom:6px solid #FFF; 
    border-left:3px solid #FFF;
}


#productList .switcher .boxCart {
    background-color: #252525;
    color:#FFF;
    position:relative;
}

#productList .switcher .boxCart i {
    font-size:64px;
    padding:20px 0 0 0;
    display:block;
}

#productList .switcher .boxCart h6 {
    font-size:18px;
    text-transform:uppercase;
    font-weight:300;
    padding:10px;
}

.addToBAsketIndicator b {
    position: relative;
    top: -32px;
    display: block;
    font-size: 13px;
    left: 50px;
    font-weight: normal;
    background-color: #FFF;
    height: 48px;
    width: 62px;
    padding-top: 2px;
}

.addToBAsketIndicator {
	padding-left: 55px;
    overflow: hidden;
    position: relative;
    line-height: 25px;
}

.addToBAsketIndicator .fa {
	position: absolute;
	top:9px;
	left:9px;
}

table.products {
    border:none;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.products td {
    width:167px;
    height:162px;
    border:none;

}

/*number product add to cart*/
#popupNumeric {
    display: none;
    width: 100%;
    height: 100%;
    //background: rgba(0, 0, 0, 0.77);
    position: absolute;
    z-index: 1004;
    top:0;
}

/* #popupNumeric td > div, #popupNumeric #closeKeyboard {
	z-index: 1004;
} */

#popupNumeric .container td{
    width: 50%;
}

#popupNumeric .container td:first-child{
    text-align: right;
}

#popupNumeric .container td:last-child{
    text-align: left; 
}

#popupProduct{
  -webkit-user-select: none;
  background: #F4F4F4;
  width: 50%;
  display: inline-block;
}

#popupNumeric .line .quantityRemove, #popupNumeric .line .quantityMinus, 
#popupNumeric .line .quantity, #popupNumeric .line .quantityPlus{
    display : none;
}

#popupNumeric .cmf {
	background:#F4F4F4!important;
}

/* ticket list screen */
#ticketView .content {
    float:left;
    //width:1068px;/*162*7*/
    background-color:#FFF;
    //height:648px;
    height: 100%;
}

#ticketView .inner-content {
    overflow:auto;
    height:648px;
    width:670px;
    float:left;
    padding:6px 3px 6px 0px;
}

#ticketView .switcher {
    float:left;
    width:203px;/*1280-162*7*/
    background-color:darkblue;
    height:648px;
    padding:6px 6px 6px 3px
}

#ticketView .lines {
    //width:672px;
    width:100%;
    max-height:648px;
    float:left;
    overflow-y: scroll;
    border-spacing:0;
}

#ticketView .lines tr {
    background-color:#F4F4F4;
}

#ticketView .lines tr:nth-child(odd) {
    background-color:#FFF;
}

#ticketView .lines .header {
    height:40px;
}

#ticketView .lines th {
    background:#252525;
    color:#FFF;
}

#ticketView .orderButtons {
    float: left;
    height: 648px;
    width: 395px;
    margin-top:1px;
}

#ticketView .line {
    border-bottom:solid 1px gray;
    margin-bottom:1px;
    clear:left;
}

#ticketView .line span {
    float:left;
    height:60px;
}

#ticketView .line .label {
    width: 400px; /* sur 670px */
    vertical-align: middle;
    text-align:left;
    padding:0 10px;
}

#ticketView .line img {
    padding-left:5px;
}

#ticketView .line .cost {
    width: 100px;
    text-align:center;
    color:#252525;
    font-weight:600;
    line-height:18px;
} 

#ticketView .line .cost i {
	color:#999;
	font-weight:400;
}

#ticketView .line .cost::after {
    /*content:"€";*/
    line-height:65px;
}


#ticketView .line .quantity {
    width: 35px;
    line-height:60px;
}


#ticketView .line .quantityMinus, #ticketView .line .quantityPlus {
    height:60px;
    width:60px;
    line-height:60px;
}

#ticketView .button {
    margin:5px;
    min-height:60px;
}

#ticketView .button .label {
    font-weight:bold;
    font-size:150%;
    padding:4px;
}
#ticketView .button .legend {
    font-weight:bold;
    font-size:70%;
    padding:0 5px 5px 5px;
}


/*#preOrderButtonsPanel,*/#orderButtonsPanel {
    display:none;
} 

#ticketView .newTicket {
    background-color:#c9dc9b;
}
#ticketView .cancelTicket {
    background-color:#CA442D;
    color:#FFF;
}

#preOrderListContainer, #printTickets, #searchProducts, #addNewProductContainer {
    position: absolute;
    top: 100%;
    //width: 1280px;
    //height: 648px;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
    transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
    background: #363636!important;
    color: #FFF;
}

#searchProducts {
 	width: calc( 100% - 213px );
 }
 
#searchProducts.al-left {
	left:207px;
	width: calc( 100% - 208px );
}

#preOrderListContainer.open, #printTickets.open, #searchProducts.open, #addNewProductContainer.open {
    top: 0;
}

#customerListContainer, #productListContainer {	
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
    background: #fff;
    transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#customerListContainer.open, #productListContainer.open {
    top: 0;
}

#defaultCustomersProfils,#customerSearchResults {
    height:190px;
    overflow:auto;
    padding:1px 6px;
}

#customerSearchResults {
    display:none;
}

#searchKeyboard,#searchKeyboardProduct {
    background: #fff;
}

/*les reponses sont de la forme
 <ul>
         <li data-id="'+customer.id+'" class="gender-'+customer.id_gender+'">
                 <span class="name">'+customer.firstname+' '+customer.lastname+'<span>
                 <span class="email">'+customer.email+'</span>
                 <span class="group">'+customer.id_default_group+'</span>
         </li>'
         //etc...
 </ul>
*/

#productSearchResults li,
#customerSearchResults li,
#defaultCustomersProfils li {
    display:inline-block;
    /*width:246px;*/
    width:23%;
    height:64px;
    margin:5px 1% 0 0;
    padding:5px;
    /*color:#000;*/
    position: relative;
    background-color: #CCC;
}

#productSearchResults li.gender-0
#customerSearchResults li.gender-0,
#defaultCustomersProfils li.gender-0 {
    /*background-color:#9A9B9A;*/
}
#customerSearchResults li.cutomerGroup_7{
    background: #65BF8D;
}

#defaultCustomersProfils li:before, #customerSearchResults li:before, #productSearchResults li:before{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index:0;
	left: -6px;
    top: 7px;
    opacity: 0.3;
    font-size: 404%;
    color: #FFF;
    clip: rect(0px,60px,200px,8px);
}
li.gender-0:before{
    content: "";
}
li.gender-1:before{
    content: "\f222";
}
li.gender-2:before,li.gender-3:before{
    content: "\f221";
}

#customerSearchResults li.gender-1,
#defaultCustomersProfils li.gender-1 {
    /*background-color:#0099FF;*/
}

#customerSearchResults li.gender-2,#customerSearchResults li.gender-3,
#defaultCustomersProfils li.gender-2,#defaultCustomersProfils li.gender-3 {
    /*background-color:#903E5B;*/
}


#customerSearchResults li span,
#defaultCustomersProfils li span {
    display: block;
    text-align:center;
}


#customerSearchResults li .name,
#defaultCustomersProfils li .name {
    font-size:110%;
    font-weight:bold;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#customerSearchResults li .email,
#defaultCustomersProfils li .email {
    font-size:75%;
    font-style:italic;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#customerSearchResults li .group,
#defaultCustomersProfils li .group {
    font-size:75%;
    font-style:italic;
    display;none;
}

#customerSearchResults li .group::before,
#defaultCustomersProfils li .group::before {
    content:"Groupe client n°";
}

#customerSearchResults li .card_number,
#defaultCustomersProfils li .card_number {
    font-size:80%;
    font-weight:normal; 
}



#customerSearchResultsFilter input {
    //width:905px;
    width: 974px;
    height:100%;
    display:block;
    border:none;
    background-color:#eee;
    //margin-left: 178px;
    margin: 0 auto;
    padding-left: 10px;
}

/******** panneaux actions *********/
#specialsContainer {	
    position: absolute;
    top: -100%;
    //width: 1280px;
    width: 100%;
    height: 648px;
    left: 0;
    z-index: 100;
    background:#252525;
    color:#FFF;
    transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#specialsContainer.open {
    top: 0;
}

#specialsContainer .content {
    height:580px;
    overflow:auto;
}

#specialsContainer .submitActionPanel{
    background: rgb(158, 194, 2);
    display:inline-block;
}

#lastCa{
    background: #eee;
    padding: 10px;
}

#lastCa span span{
    display:block;
    margin-bottom:5px;
}

/******** panneaux d'edition de l'utilisateur courant *********/
#userEditContainer {	
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
    background-color: transparent;
    transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
    background: #252525;
}

#userEditContainer.open {
    top: 0;
}

#editUserButton.button,#userEditContainer .content {
    //background-color:cyan;
}

#userEditContainer .content {
    height: 100%;
    background-color: #363636;
    overflow:auto;
}

/************** panneau de hoix de ticket de reduction *********/
#userEditContainer #pageUser1,#userEditContainer #pageUser2,#userEditContainer #pageUser3 {
	margin-left:calc( 20% + 5px );
	height: 100%;
	overflow-y:auto;
	background: #181818;
}

#discountContainer {
	margin-top:7px;
}

#discountContainer .discount {
    display: inline-block;
    background-color: #fff;
    width: calc(50% - 9px);
    margin-left: 6px;
    padding: 2px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    margin-bottom: 5px;
    min-height: 200px;
    position:relative;
}

#discountContainer .discount .inner {
	margin: 2px;
	padding-bottom: 4px;
	color:#000;
	vertical-align: top;
	border:dashed #333 1px;
	position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
}

#discountContainer .discount .fa {
	font-size: 35px;
    margin-top: -19px;
    margin-left: 10px;
    float: left;
    background-color: #FFF;
}

#discountContainer .no-discount {
	padding:15px;
	background:#444;
	display: block;
    box-sizing: border-box;
    width: 98%;
    margin-left: 1%;
}

/** liste des commandes **/

#userEditContainer #pageUser3 table {
	width: calc( 100% - 10px);
    line-height: 35px;
    font-size: 15px;
    margin: 0px 5px;
}

#discountContainer .discount h4, #pageUser3 .order h4 {
	text-transform:uppercase;
}

#discountContainer .discount .descript, #pageUser3 .order .descript {
	color:#777;
	font-style:italic;
	font-size:13px;
}

#discountContainer button, #pageUser3 .order button {
	background-color: #93b728;
}

#discountContainer button {
	background-color: #93b728;
    position: absolute;
    bottom: 15px	;
    left: 75%;
    margin-left: -48px;
    padding: 15px 15px 12px;
}

#discountContainer button:disabled, #pageUser3 .order button:disabled {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#discountContainer .discount .left_block {
	position: absolute;
    left: 4%;
	top: 10%;
	width: 41%;
}

#discountContainer .discount .price {
    font-size: 36px;
    font-family: Impact, sans-serif;
    display: block;
}

#discountContainer .discount .date_box {
	background: #444;
    margin: 5px 0;
    padding: 5px;
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
}

#discountContainer .discount .qte {
	position: absolute;
    top: 8px;
    right: 10px;
    background: red;
    color: #FFF;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 2;
}

#discountContainer .discount .infos {
	width: 50%;
    left: 50%;
    position: absolute;
    top: 0;
    background: #F4F4F4;
    padding: 40px 10px 10px;
    box-sizing: border-box;
    font-style: italic;
    font-size: 14px;
    bottom: 0;
    z-index: 0;
}

#discountContainer .discount .conditions {
	font-size:13px;
}

#discountContainer .discount .price .immediat,
#discountContainer .discount .price .date {
	font-size: 13px;
    font-family: Arial, sans-serif;
    display: block;
}

#discountContainer .discount .notYet, #discountContainer .discount .notEnough, #userEditContainer .tooMuch {
	color: red;
}

#discountContainer .discount .tooLate {
	background:red;
}

#userEditContainer #pageUser3 button {
	margin: 0px 5px;
	background:none;
	outline: none;
}

#userEditContainer #pageUser3 button .btLabel {
	display: block;
    font-size: 12px;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
}

#userEditContainer #pageUser3 button i {
	font-size: 26px;
    height: 30px;
}

#pageUser3 td.actions {
	text-align:right;
	padding-right: 10px;
}

#pageUser3 td .date,
#printTickets td .date {
	max-width: 100px;
    display: inline-block;
    line-height: 20px;
    background: #676767;
    padding: 3px 5px;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 14px;
    color: #ccc;
    text-align:center;
}

#pageUser3 tr {
	background:#181818;
}

#pageUser3 th {
	background:#181818;
}

#pageUser3 th.commande {
	max-width: 50px;
    line-height: initial;
    padding: 2px 10px;
}

#pageUser3 td {
	background: #5D5D5D;
    border-bottom: 3px solid #181818;
}

#pageUser3 td .paid,
#pageUser3 td .paid_real,
#printTickets td .paid {
	background: #93B728;
    padding: 3px 10px;
    border-radius: 16px;
}

#pageUser3 td .paid_real {
	background:none;
}

#pageUser3 td .paid.notAllPaid,
#pageUser3 td .paid.tooMuch {
	background:inherit;
	color:#FFF;
}

#pageUser3 td .paid_real.notAllPaid,
#pageUser3 td .paid_real.tooMuch {
	background:red;
	color:#FFF;
}

#pageUser3 td .state,
#printTickets td .state {
	background: #eee;
    color: #555;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
}

/************** panneau de changement d'utilisateur *********/
#customerListContainer .preview {
    height:242px;
    //width:1280px;
    width: 100%;
}

#customerListContainer .keyboard {
    height:338px;
    width:1280px;
}

#customerListContainer .preview,#customerListContainer .keyboard {
    background-color: #FFF;
}

#header #changeUserButton {
    margin:0;
    border:none;
    padding-top:18px;
    height:46px;
}

.horizontalCloseOverlay {
    background-color: #FFF;
    height: 68px;
    color: #FFF;
    line-height: 68px;
    font-size:20px;
    text-transform:uppercase;
}

#preOrderNumber,#footer #changeOrderButton {
    background-color: #eeeeee;
}
#preOrderListContainer .left,
#preOrderListContainer .right,
#printTickets .left,#printTickets .right {
    float: left;
    width: 50%;
    overflow: auto;
    background:#FFF;
}

#preOrderListContainer .left {
	width:calc( 100% - 264px );
	box-sizing: border-box;
    padding: 5px;
    overflow-y:hidden;
    
}

#preOrderListContainer .right {
	width:255px;
	margin-top:0!important;
}

#productKeyboardResearch {
	margin-top: 7px;
}

/*numeric keyboard*/
.numeric_keyboard {
    margin:6px auto;
    width:275px;
}

.numeric_keyboard > span {
    float:left;
    width:84px;
    height:84px;
    margin:0 0 1px 1px;
    display:block;
    background-color:#d1d1d1;
    line-height:84px;
    text-align:center;
}

.numeric_keyboard span .fa {
    line-height:84px;
}

.numeric_keyboard span.double {
    width:169px; /* (64+10)*2 */
}

.numeric_keyboard span.display{
    background:#eee;
}

#preOrderListContainer .left ul li, #printTickets .left .loaded tr {
    height:64px;
    line-height:64px;
    background:#eee;
    margin:5px 0;
    list-style-type:none;
}

#preOrderListContainer .left ul li {
    position:relative;
    overflow:hidden;
}

#preOrderListContainer .left ul li div {
	display:inline-block;
	width:20%;
}

#preOrderListContainer .left ul li i {
	position: absolute;
    left: -10px;
    bottom: -10px;
    font-size: 60px;
    color: #FFF;
    opacity: 0.3;
}

#preOrderListContainer .left ul li i.avatar {
	margin-left: 25px;
    font-style: normal;
    line-height: 40px;
    opacity: 1;
    text-transform:uppercase;
    font-size:50px;
    position: relative;
}

#printTickets .left .loaded table {
	width: calc(100% - 12px);
	box-sizing: border-box;
	border-collapse: separate;
    border-spacing: 0px 6px;
	margin: 0 6px;
}

#printTickets .left .ticket table,
#ticketDetail .ticket table {
	width: 90%;
	margin-left: 5%;
	border-spacing: 2px;
}

#printTickets button,
#ticketDetail button {
	width: 50%;
	height: 64px;
	line-height: 64px;
	padding: 0;
	cursor: pointer;
}

#printTickets .ticket.toPrint,
#ticketDetail .ticket.toPrint {
	overflow: auto;
	max-height: 386px;
}

/******** alphanumeric keyboard *****/
#customerListContainer .keyboard ul {
    margin: 0 auto;
    padding: 9px 178px;
    list-style: none;
}
#customerListContainer .keyboard ul li {
    float: left;
    margin: 0 1px 1px 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #d1d1d1;
    font-weight:bold;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#customerListContainer .keyboard ul .tab, #customerListContainer .keyboard ul .delete {
    width: 70px;
}
#customerListContainer .keyboard ul .capslock {
    width: 99px;
}
#customerListContainer .keyboard ul .return {
    width: 100px;
}
#customerListContainer .keyboard ul .left-shift {
    width: 133px;
}
#customerListContainer .keyboard ul .right-shift {
    width: 131px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#customerListContainer .keyboard ul .space {
    clear: left;
    width: 915px;
}
.on {
    display: none;
}
#customerListContainer .keyboard ul li:active {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
    box-shadow:0 0 0 0 #000;
}

/** extra action panel **/
#specialsContainer .tab-bar, #userEditContainer .tab-bar, #addNewProductContainer .tab-bar {
    float: left;
    display: block;
    height: 580px;
    width: 20%;
}

#userEditContainer .tab-bar {
	height: 400px;
}

#specialsContainer .tab-bar li, #userEditContainer .tab-bar li {
    height:64px;
    line-height:64px;
    margin:6px 0 6px 6px;
    overflow: hidden;
}

#specialsContainer .tab-bar li.button, #userEditContainer .tab-bar li.button {
	padding: 5px 0 5px;
}

#specialsContainer .tab-bar li.open, #userEditContainer .tab-bar li.open {
	background:#181818!important;
	right:-5px;
	position:relative;
}

#specialsContainer .tab-content, #userEditContainer .tab-content {
    float:left;
    display: block;
    height:580px;
    width: 80%;
    overflow-y:auto;
    position: relative;
}

#printTickets .rePrintZ {
	position:relative;
	overflow: hidden;
}

#printTickets .rePrintZ.disabled i {
	opacity:0.05;
}

#specialsContainer .tab-bar li i, #userEditContainer .tab-bar li i, #printTickets .rePrintZ i {
	position: absolute;
    margin-top: 3px;
    color: #FFF;
    bottom: -6px;
    opacity: 0.2;
    left: 0;
    transform: rotate(15deg);
    font-size: 50px;
}

#specialsContainer .tab-bar li.unselectable i {
	opacity: 0.05;
}

#specialsContainer .tab-content li, #userEditContainer .tab-content li {
    display: block;
    width: 100%;
    overflow-y:auto;
    display:none;
}

#specialsContainer .tab-content li.open { 
	    display: block;
    height: calc( 100% - 5px);
    padding: 0 4px;
    width: calc( 100% - 8px);
}

#specialsContainer .tab-button.unselectable{
  color: #E4E4E4;
  text-shadow: 0px -1px #D3D3D3;
}

#specialsContainer .tab-button.unselectable:active{
    background: #E5E5E5;
    color: #fff;
}

.alert_message{
    background: #B26F6D;
    position: relative;
    display: block;
    text-shadow: none;
    top:-65px;
    font-size:14px;
}

.alert_message strong{
    text-transform: uppercase;
}



.button.toggle-button.open:after {
	content: "+";
    transform: rotate(45deg);
    float: right;
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    top: -45px;
    background-color: rgba(255,0,0,0.75);
    color: white;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    display: block;
    line-height: 15px;
    font-size: 20px;
    left: -3px;
    transition:all 0.3s;
}

.button.toggle-button.open:hover:after {
    content: "+";
    transform: rotate(45deg);
    float: right;
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    top: -41px;
    background-color: rgba(255,0,0,0.75);
    color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 36px;
    font-size: 49px;
    left: -9px;
}


#specialsContainer .numeric_keyboard{
    position: absolute;
    right: 0;
    top : 100px;
}
/*action panel*/
.cash_action_table input{
    //width: 70px;
    width: 100%;
    height: 35px;
    border: none;
    background-color: #EEEEEE;
    padding-left: 10px;
    border: 1px rgb(229, 229, 229) solid;
}

.cash_action_right{
    width: 30%;
    right: 0px;
    top: 20px;
    position: absolute;
    text-align: left;
}


.cash_action_table{
    width: 70%;
    margin-top: 3px;
}

.cash_action_table th {
	padding:7px;
}

.cash_action_table .totalCash{
    width: 70px;
}


#cash_prepare_form th{
    width: 80px;
}

#cash_prepare_form td{
    position:relative;
}

.preselectMoney{
    position: absolute;
    color: #C7C7C7;
    width: 40px;
    text-align: center;
    top: 2px;
    left: 0;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border: 1px rgb(221, 221, 221) solid;
    border-width: 0 1px;
}

.preselectMoney + input{
    padding-left: 50px;
    //width:50px;
    width: 100%;
}


/** paiement panels **/
.calc {
    height:0;
    width: 290px;
    opacity:0;
    transition: all .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
    overflow: hidden;
    position:absolute;
    right: 385px;
    top:-50px;
}

#cashMessage.ok {
    background-color:#A9BE00;
}
#cashMessage.more {
    background-color:#318DFF;		
}
#cashMessage.less {
    background-color:#CA442D;		
}

#cashMessage{
    font-size: 100%;
    width:254px;
    color:#FFF;
}


/*#closeKeyboard{
    background-color: #D6D6D6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}*/

#closeKeyboard{
    background-color: #D6D6D6;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    height: 10px;
}

#showHideCalc {
	font-size:36px;
}

#setWithAndHeightOverlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: #fff;
}

/**
* EDIT CUSTOMER PANEL
*/




[id^="customer-edit-error-"]{
    display: none;
    color: red;
}

#customer-edit-success{
    display: none;
    height: 64px;
}
legend{
    font-size: 23px;
    font-weight: bold;
}
.checkbox-group {
    float: left;
    margin-bottom: 6px;
    width: 85px;
}

button[name="customer-lost-password"]{
    background: rgb(236, 102, 71);
}

.overlay,.strict-overlay, .overlayNumeric {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.77);
    position: absolute;
    z-index: 1000;
    top:0;
    left:0;
}

.overlayNumeric {
	z-index: 1003;
}

.closeOverlay{
    background-color: #D6D6D6;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer !important;
    height: 10px;
}

.contentOverlay {
	width: 80%;
	height: 80%;
	max-width: 80%;
    max-height: 80%;
    background: #FFFFFF;
    z-index: 1001;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    bottom: 10%;
    overflow-y: auto;
}

.contentOverlay button {
	cursor: pointer !important;
}

.contentOverlay table {
	max-height: 100%;
	width: 100%;
}

.contentOverlay table tr, .contentOverlay table tr.closeOverlay {
	cursor: pointer;
}

.contentOverlay table.cursorDefaultOnTr tr {
	cursor: default;
}

.contentOverlay .good {
	color: green;
}

.contentOverlay .error {
	color: red;
}

.contentOverlay .stock_inqueue, .contentDeclinaison .stock_real {
	font-size: 75%;
}

.no_internet {
	/*color: blue !important;*/
}

  /**************************************************/
 /********** Ticket de caisse imprimable ***********/
/**************************************************/

#printTicket {
	background-color: white;
	width: 100%;
	display: none;
	font-size: 4.3em;
	font-family: Arial, Helvetica, sans-serif;
}

#printTicket .detailsBons {
	border-top: 1px dotted black;
}

.printTicketHeader .infosPointshop, .printTicketHeader .infosCaisse, #printTicket .detailsBons {
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#printTicket table {
	width: 90%;
	margin-left: 5%;
	border-spacing: 2px;
}

#printTicket table td {
	margin: 3px 0px;
}

#printTicket .leftAlign, .printTicketLines td {
	text-align: left;
}

#printTicket .centerAlign, .printTicketHeader {
	text-align: center;
}

#printTicket .rightAlign {
	text-align: right;
} 

#printTicket .bold {
	font-weight: bold;
}

.printTicketLines .tab:nth-child(1) {
	padding-left: 5px;
}

/*#container {
	display: none;
}*/

@media print {
	#printTicket {
		display: inline-block;
	}
	
		/* !!!!! ATTENTION configuration STILIST !!!!! */
		
		/*
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 1em;
		width: 450px;
	}
	img.logo {
		max-width: 50%;
	}
	*/
	#container {
		display: none;
	}
	
	.strict-overlay {
		display: none;
	}
}

/*.l0 {font-family: Arial;}
.l1 {font-family: Impact;}
.l2 {font-family: sans-serif;}
.l3 {font-family: serif;}
.l4 {font-family: Tahoma;}
.l5 {font-family: Verdana;}
.l6 {font-family: "Comic Sans MS";}*/

:fullscreen {background: #000;}
:-moz-full-screen {background: #000;}
:-ms-fullscreen {background: #000;}
:-webkit-full-screen {background: #000;}
