@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@font-face {
	font-family: 'lbabcaisse';
	src:url('../fonts/lbabcaisse.eot?43q8it');
	src:url('../fonts/lbabcaisse.eot?#iefix43q8it') format('embedded-opentype'),
		url('../fonts/lbabcaisse.woff?43q8it') format('woff'),
		url('../fonts/lbabcaisse.ttf?43q8it') format('truetype'),
		url('../fonts/lbabcaisse.svg?43q8it#lbabcaisse') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'lbabcaisse';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow483:before {
	content: "\e601";
}
.icon-cart2:before {
	content: "\e602";
}
.icon-cogs3:before {
	content: "\e603";
}
.icon-expand25:before {
	content: "\e604";
}
.icon-left207:before {
	content: "\e605";
}
.icon-next15:before {
	content: "\e606";
}
.icon-store5:before {
	content: "\e607";
}
.icon-uniE600:before {
	content: "\e600";
}


* {
	margin:0;
	padding:0;
}
body {
	font-family:Open Sans, sans-serif;
	text-align:center;
	background:url("../img/bg.png") repeat 0 0;
}

/* structure globale */
#container {
	margin:0 auto;
	width:1280px;				/* à dynamiser */
	height:776px;				/* à dynamiser */
	background-color:#FFF;
	overflow: hidden;
}

#header,#footer {
	height:64px;
	overflow: hidden;
}

#middle {
	height:648px; /* 162*4 */
}
#header div,#footer div {
	height:64px;
}

#footer div {
	line-height:64px;
}

/* element globaux */
.separator {
	width:1px;
	background-color:#aaa;
}

#header .button,#footer .button {
	width:100px;
	font-size:12px;
	padding-top:10px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	margin:0;
	height:54px; /*64-12*/
	text-transform:uppercase;
	color:#5b5b5b;
	border-left:1px solid #aaa;
}

#footer .button {
	border-left:none;
	border-right:1px solid #aaa;
}

#header .button i,#footer .button i {
	width:100px;
	font-size:30px;
	color:#aaaaaa;
	margin-bottom:3px;
	display:block;
}

/* structure header */
#header {
	background-color:#eeeeee;
	color:#5f5f5f;
}

#fullscreen {
	float:left;
}

#logo {
	float:left;
	width:165px;
	background:#FFF;
}
#userBlock {
	margin-left:300px;
}

#userBlock>div {
	float:right;
}

#userName {
	line-height:64px;
	font-size:105%;
	font-weight:bold;
	padding:0 10px;
	border-left:1px solid #aaa;
	width:220px;
	text-transform:uppercase;
}

/* structure footer */
#preOrderNumber {
	float:left;
	width:240px;
	color:#5f5f5f;
	text-transform: uppercase;
	font-weight: 600;
}

#footer #changeOrderButton {
	float:left;
	margin-left:0;
	padding-top:18px;
}

#totalBlock {
	background-color:#eeeeee;
	margin-left:240px;
	text-align:right;	
}

#totalItem {
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	background:#e61d1d;
	border-radius:30px;
	display:block;
	text-align:center;
	width:30px;
	height:30px;
	line-height:30px;
	position:absolute;
	right:60px;
	top:30px;
}

#totalTitle, #totals {
	width:185px;
	line-height:64px;
	text-align:center;
	background-color:#23f96f;
	color:#FFF;
	font-weight:600;
}

#totals {
	font-size:26px;
}

#totalBlock>div {
	float:right;
}

/* main zone */
#productList,#startScreen,#ticketView {
	width:1280px;
	height:648px;
	float:left;
}

#productList { background-color:#008000; }
#startScreen { background-color:#1D5D76; }
#ticketView { background-color:#4F1D78; }

#middleContainer {
	width:1280px;
	height:648px;
	overflow: hidden;
}
#middle {
	width:3840px;/*1280*3*/
	position:relative;
	left:-1280px;
}
/* product list screen */
#productList .content {
	float:left;
	width:1068px;/*162*7*/
	background-color:#eeeeee;
	height:648px;
}

#productList .inner-content,#ticketView .inner-content {
	overflow:auto;
	height:646px;	
}

#productList .switcher {
	float:left;
	width:203px;/*1280-162*7*/
	background-color:#eeeeee;
	height:636px;
	border-top:6px solid #FFF;
	border-right:6px solid #FFF;
	border-bottom:6px solid #FFF;
	border-left:3px solid #FFF;
}


#productList .switcher .boxCart {
	background-color: #252525;
	color:#FFF;
	position:relative;
}

#productList .switcher .boxCart i {
	font-size:64px;
	padding:20px 0 0 0;
	display:block;
}

#productList .switcher .boxCart h6 {
	font-size:18px;
	text-transform:uppercase;
	font-weight:300;
	padding:10px;
}

.addToBAsketIndicator b {
	position: relative;
	top: -32px;
	display: block;
	font-size: 13px;
	left: 50px;
	font-weight: normal;
	background-color: #FFF;
	height: 48px;
	width: 62px;
	padding-top: 2px;
}

table.products {
	border:none;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.products td {
	width:167px;
	height:162px;
	border:none;

}


/* ticket list screen */
#ticketView .content {
	float:left;
	width:1068 px;/*162*7*/
	background-color:#FFF;
	height:648px;
}

#ticketView .inner-content {
	overflow:auto;
	height:648px;
	width:670px;
	float:left;
	padding:6px 3px 6px 0px;
}

#ticketView .switcher {
	float:left;
	width:203px;/*1280-162*7*/
	background-color:darkblue;
	height:648px;
	padding:6px 6px 6px 3px
}

#ticketView .lines {
	width:672px;
	max-height:648px;
	float:left;
	overflow-y: scroll;
	border-spacing:0;
}

#ticketView .lines tr {
	background-color:#F4F4F4;
}

#ticketView .lines tr:nth-child(odd) {
	background-color:#FFF;
}

#ticketView .lines .header {
	height:40px;
}

#ticketView .lines th {
	background:#252525;
	color:#FFF;
}

#ticketView .orderButtons {
    float: left;
    height: 648px;
    width: 395px;
    margin-top:1px;
}

#ticketView .line {
	border-bottom:solid 1px gray;
	margin-bottom:1px;
	clear:left;
}

#ticketView .line span {
	float:left;
	height:60px;
}

#ticketView .line .label {
	width: 400px; /* sur 670px */
    vertical-align: middle;
    text-align:left;
    padding:0 10px;
}

#ticketView .line img {
	padding-left:5px;
}

#ticketView .line .cost {
	width: 100px;
	line-height:60px;
	text-align:right;
	color:#252525;
    font-weight:600;
}
#ticketView .line .cost::after {
	content:"€";
	line-height:60px;
}


#ticketView .line .quantity {
	width: 35px;
	line-height:60px;
}


#ticketView .line .quantityRemove,#ticketView .line .quantityMinus, #ticketView .line .quantityPlus {
	height:60px;
	width:60px;
	line-height:60px;
}

#ticketView .button {
	margin:5px;
	min-height:60px;
}

#ticketView .button .label {
	font-weight:bold;
	font-size:150%;
	padding:4px;
}
#ticketView .button .legend {
	font-weight:bold;
	font-size:70%;
}


/*#preOrderButtonsPanel,*/#orderButtonsPanel {
	display:none;
} 

#ticketView .newTicket {
	background-color:#c9dc9b;
}
#ticketView .cancelTicket {
	background-color:#ca442d;
}

#preOrderListContainer {
	position: relative;
	top: 0;
	width: 1280px;
	height: 648px;
	left: 0;
	z-index: 100;
	background-color: transparent;
	transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#preOrderListContainer.open {
	top: -648px;
}

#customerListContainer {	
	position: relative;
	top: -1944px;
	width: 1280px;
	height: 648px;
	left: 0;
	z-index: 100;
	background-color: transparent;
	transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#customerListContainer.open {
	top: -1296px;
}

#customerSearchResultsFilter {
	height:40px;
	line-height:40px;
}

#defaultCustomersProfils,#customerSearchResults {
	height:200px;
	overflow:auto;
}

#customerSearchResults {
	display:none;
}

/*les reponses sont de la forme
 <ul>
	 <li data-id="'+customer.id+'" class="gender-'+customer.id_gender+'">
		 <span class="name">'+customer.firstname+' '+customer.lastname+'<span>
		 <span class="email">'+customer.email+'</span>
		 <span class="group">'+customer.id_default_group+'</span>
	 </li>'
	 //etc...
 </ul>
*/

#customerSearchResults li,
#defaultCustomersProfils li {
	float:left;
	display:block;
	width:250px;
	height:64px;
	border:solid 1px #333;
	margin:10px;
	padding:5px;
}

#customerSearchResults li.gender-0,
#defaultCustomersProfils li.gender-0 {
	background-color:#9A9B9A;
}

#customerSearchResults li.gender-1,


#defaultCustomersProfils li.gender-1 {
	background-color:#0099FF;
}

#customerSearchResults li.gender-2,#customerSearchResults li.gender-3,
#defaultCustomersProfils li.gender-2,#defaultCustomersProfils li.gender-3 {
	background-color:#903E5B;
}

#customerSearchResults li span,
#defaultCustomersProfils li span {
	display: block;
	text-align:center;
}


#customerSearchResults li .name,
#defaultCustomersProfils li .name {
	font-size:110%;
	font-weight:bold;	
}

#customerSearchResults li .email,
#defaultCustomersProfils li .email {
	font-size:75%;
	font-style:italic;
}
#customerSearchResults li .group,
#defaultCustomersProfils li .group {
	font-size:75%;
	font-style:italic;
}

#customerSearchResults li .group::before,
#defaultCustomersProfils li .group::before {
	content:"Groupe client n°";
}

#customerSearchResults li .card_number,
#defaultCustomersProfils li .card_number {
 font-size:80%;
 font-weight:normal; 
}



#customerSearchResultsFilter input {
	width:905px;
	height:100%;
	display:block;
	border:none;
	background-color:#FFF;
	margin-left: 178px;
	padding-left: 10px;
}

/******** panneaux actions *********/
#specialsContainer {	
	position: relative;
	top: -2592px;
	width: 1280px;
	height: 648px;
	left: 0;
	z-index: 100;
	background:#252525;
	color:#FFF;
	transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#specialsContainer.open {
	top: -1944px;
}

#specialsContainer .content {
	height:580px;
	overflow:auto;
}

/******** panneaux d'edition de l'utilisateur courant *********/
#userEditContainer {	
	position: relative;
	top: -3240px;
	width: 1280px;
	height: 648px;
	left: 0;
	z-index: 100;
	background-color: transparent;
	transition: top .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
}

#userEditContainer.open {
	top: -2592px;
}

#editUserButton.button,#userEditContainer .content {
	background-color:cyan;
}

#userEditContainer .content {
	height:580px;
	overflow:auto;
}

/************** panneau de changement d'utilisateur *********/
#customerListContainer .preview {
	height:240px;
	width:1280px;
}

#customerListContainer .keyboard {
	height:340px;
	width:1280px;
}

#customerListContainer .preview,#customerListContainer .keyboard {
	background-color: #252525;
}
#header #changeUserButton {
	margin:0;
	border:none;
	padding-top:18px;
	height:46px;
}

.horizontalCloseOverlay {
	background-color: #252525;
	height: 68px;
	color: #FFF;
	line-height: 68px;
	font-size:20px;
	text-transform:uppercase;
}

#preOrderNumber,#footer #changeOrderButton {
	background-color: #eeeeee;
}
#preOrderListContainer .left,#preOrderListContainer .right {
	float: left;
	width: 640px;
	height: 580px;
	overflow: auto;
}

#preOrderListContainer .left {
	background:#505050;
}

#preOrderListContainer .keyboard {
	margin:0 auto;
	width:252px;
}

#preOrderListContainer .keyboard span {
	float:left;
	width:64px;
	height:64px;
	margin:10px;
	display:block;
	background-color:green;
	line-height:64px;
	text-align:center;
	font-size:200%;
}

#preOrderListContainer .keyboard span .fa {
	line-height:64px;
}

#preOrderListContainer .keyboard span.double {
	width:148px; /* (64+10)*2 */
}

#preOrderListContainer .left ul li {
	height:64px;
	line-height:64px;
	background:#252525;
	margin:5px;
	list-style-type:none;
	text-transform:uppercase;
}

/******** alphanumeric keyboard *****/
#customerListContainer .keyboard ul {
margin: 0 auto;
padding: 9px 178px;
list-style: none;
}
    #customerListContainer .keyboard ul li {
    float: left;
    margin: 0 1px 1px 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #505050;
    font-weight:bold;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #customerListContainer .keyboard ul .tab, #customerListContainer .keyboard ul .delete {
            width: 70px;
            }
            #customerListContainer .keyboard ul .capslock {
            width: 99px;
            }
            #customerListContainer .keyboard ul .return {
            width: 100px;
            }
            #customerListContainer .keyboard ul .left-shift {
            width: 133px;
            }
            #customerListContainer .keyboard ul .right-shift {
            width: 131px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #customerListContainer .keyboard ul .space {
        clear: left;
        width: 915px;
        }
        .on {
        display: none;
        }
        #customerListContainer .keyboard ul li:active {
        position: relative;
        top: 1px;
        left: 1px;
        
        border-color: #e5e5e5;
        cursor: pointer;
       	box-shadow:0 0 0 0 #000;
        }

/** extra action panel **/
#specialsContainer .tab-bar {
	float:left;
	display: block;
	height:580px;
	width:280px;
	overflow-y:auto;
}

#specialsContainer .tab-bar li {
	height:64px;
	line-height:64px;
}

#specialsContainer .tab-content {
	float:left;
	display: block;
	height:580px;
	width:1000px;
	overflow-y:auto;
}

#specialsContainer .tab-content li {
	display: block;
	height:580px;
	width:1000px;
	overflow-y:auto;
	display:none;
}

#specialsContainer .tab-button.open,#specialsContainer .tab-content li.open  { background-color:#FFF; }
#specialsContainer .tab-content li.open { display:block; }

.open {background:#252525!important;color:#FFF!important;}


/** paiement panels **/
.calc {
	height:0;
	opacity:0;
	transition: all .3s ease-in; /*cubic-bezier(.5,2,.6,.5)*/
	overflow: hidden;
}
	.calc .calc-left {
	    width: 290px;
    	display: inline-block;
	}
	
	
	.calc .calc-right {
		width: 180px;
    	display: inline-block;
    	position:relative;
    	top:-50px;
	}
	
	#calc-keyboard span {
		height:60px;
		width:60px;
		display:inline-block;
		margin:2px;
		background-color:#FFF;
		font-size: 200%;
		line-height: 60px;
	}	
	
	#cashMessage.ok {
		background-color:#008000;
	}
	#cashMessage.more {
		background-color:#318DFF;		
	}
	#cashMessage.less {
		background-color:#CA442D;		
	}

/* ouverture de la calculette */
#orderButtonsPanel .paymentButton.selected .calc {
	height:210px;
	opacity:1;
}
	
#orderButtonsPanel .paymentButton.selected {
	background-color:#A9BE00;
}
#registerPayment.disabled {
	background-color:#737373;
	color:#333333;
}

#registerPayment {
	background:yellow;
}
