/* SCROLLBAR */
::-webkit-scrollbar {
   height: 4px;
   width: 4px;
   background: #000;
}

#edit_customer input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

#edit_customer input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

::-webkit-scrollbar-thumb {
   background: #d8d8d8;
   -webkit-border-radius: 1ex;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
   background: #000;
}

/* HEADER OVERRIDE */

#header,
#footer {
	background:#181818;
}

#logo {
	background:#181818;
}

#header .button i, #footer .button i,
#header .button, #footer .button {
	color:#FFF;
}

#header .button, #footer .button {
	border:none
}

#header .button {
	padding-top:18px;
}

#showPointshops.button,
#showEmployee.button {
	position: relative;
    z-index: 103;
    padding-top:0;
    height:64px;
    background:#363636;
    float:left;
}

#showPointshops.button.active i,
#showEmployee.button.active i {
	color:#93B728;
}

#showPointshops i,
#showEmployee i {
	position: absolute;
    width: 64px;
    height: 64px;
    line-height: 64px;
}

#showEmployee .avatar,
#preorder_option_block .avatar {
	width: 36px;
    height: 36px;
    background: #262626;
    margin-top: 14px;
    border-radius: 30px;
    margin-left: 14px;
    color:#FFF;
    line-height: 38px;
    font-style: inherit;
}

#preorder_option_block .avatar {
	display:inline-block;
	font-size: 30px;
    position: absolute;
    margin-left: -50px;
    line-height: 35px;
    font-weight: normal;
    font-family: Open Sans, sans-serif;
    text-transform:uppercase;
    margin-top:3px;
}


#preOrderListContainer .left ul {
	background: #181818;
    margin: 5px 3px 0;
    padding: 1px 5px;
    height:calc( 100% - 85px );
    overflow-y: auto;
}

#userName {
	color:#FFF;
	border-left:none;
}

/*#userName.open,*/
#preOrderNumber.open {
	color:#93b728!important;
}

.change-pointshop,
#customerListContainer .preview, 
#customerListContainer .keyboard {
	background-color:#363636;
}

#customerListContainer, 
#productListContainer {
	background-color:#363636!important;
}

.change-pointshop {
	padding:10px 20px;
	text-transform: uppercase;
    font-weight: 600;
}

.change-pointshop i {
	font-size: 30px;
	padding: 7px 10px 0 20px;
    float: right;
}

#totalBlock {
	background:inherit;
}

#preOrderNumber,
#footer #changeOrderButton {
	background:#93b728;
}

#ticketView .content,
#productList,#multi-payments-popup {
	background:#363636;
}

#footer #changeOrderButton {
	margin-right:20px;
}

/* FOOTER */

#footer .button {
	background:#181818;
}

#totalTitle, #totals {
	background:#93b728;
}

#preOrderNumber {
	color:#FFF;
}

#footer .separator {
	display:none;
} 

/* CORPS */
table#acaissepagecms {
	background:#363636;
	border-color:#363636;
	border:4px solid #363636;
}

table#acaissepagecms td {
	border-color:#363636!important;
}

#productList .content {
	background:#363636;
}

#productList .switcher {
	background-color: #363636;
    height: calc(100% - 8px);
    border-top: 4px solid #363636;
    border-right: 4px solid #363636;
    border-bottom: 4px solid #363636;
    border-left: 0px solid #363636;
}

#ticketView .inner-content {
    background: #5d5d5d;
    margin: 4px 0;
    padding: 0;
    overflow-x:hidden;
    height: calc(100% - 8px);
    position:relative;
}

#ticketView .inner-content:after {
	content:"";
	width: 500px;
    height: 282px;
    background: url(../img/logo-cover.png) no-repeat;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -141px;
	position:absolute;
}

#ticketView .lines {
	width:100%; /* PROVISOIRE */
	z-index: 1;
	position:relative;
}

#ticketView .line img {
	padding-top:5px;
	height: auto;
    width: 70px;
}

#ticketView .lines td {
	/* width:45px; */
}

#ticketView .orderButtons {
	width:220px;
	padding-right:4px;
}

#ticketView .line .quantity {
	min-width:180px;
}

#ticketView .line span {
    height: 54px;
    display: inline-block;
    background: #EEE;
    width: 70px;
    float:none;
}

#ticketView .line .quantityRemove i {
	width: 50px;
    height: 42px;
    margin-top: 5px;
    padding-top: 10px;
    color: red;
}

#ticketView .line .quantityMinus, #ticketView .line .quantityPlus {
	width: 50px;
    height: 53px;
    background: #FFF;
    color:#262626;
    position:relative;
    line-height:54px;
}

#ticketView .line .quantity i {
	font-size:30px;
}

#ticketView .line .quantity .fa-caret-left:before,
#ticketView .line .quantity .fa-caret-right:before {
	position: absolute;
    top: 11px;
    right: 20px;
}

#ticketView .line .quantity {
	line-height:54px;
	padding-top:2px;
}

#ticketView .line .cost, #ticketView .line .totalLineCost {
	color: #93b728;
	font-size: 20px;
	min-width:100px;
	position: relative;
	font-weight: bold;
}

#ticketView #popupNumeric .title {
	text-align: center;
}

#acaissepagecms .cover {
	display:table;
	box-sizing: border-box;
}

#acaissepagecms .cover:after {
	content:"";
}

#acaissepagecms .acaisse_categorycell_content,
#productSearchResultTr .acaisse_categorycell_content {
	display:table-cell;
	vertical-align:middle;
	position:relative;
}

#acaissepagecms .cover.withCategorieImage .acaisse_categorycell_content,
#productSearchResultTr .cover.withCategorieImage .acaisse_categorycell_content {
	vertical-align:middle;
	position:relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#acaissepagecms .cover .acaisse_categorycell_content span,
#acaissepagecms .cover .acaisse_productcell_content .product_name span,
#productSearchResultTr .cover .acaisse_categorycell_content span,
#productSearchResultTr .cover .acaisse_productcell_content .product_name span {
	padding:3px 10px 5px;
	color:#FFF;
	background:#737373;
	font-weight: 300;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
}

#acaissepagecms .cover .acaisse_categorycell_content i,
#acaissepagecms .cover .acaisse_productcell_content .product_name i,
#productSearchResultTr .cover .acaisse_categorycell_content i,
#productSearchResultTr .cover .acaisse_productcell_content .product_name i {
	position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    background: #737373;
    font-size: 20px;
    padding: 8px 6px 6px 8px;
    border-radius: 25px;
}

#acaissepagecms .cover .acaisse_productcell_content .product_name i,
#acaissepagecms .cover .acaisse_productcell_content .product_name span {
	background: #5d5d5d
}

#acaissepagecms td:active {
	opacity:0.8;
}

table#acaissepagecms tbody .cellType0 {
	background:#262626!important;
}

table#acaissepagecms tbody {
	background:#363636;
}

table#acaissepagecms td {
	cursor:pointer;
}

/* CELL STYLE DEFAULT FOR CAT & SEARCH */
.cellStyleDefault.cellStyle2 {
	background:#5d5d5d!important;
	color:#FFF;
}

.cellStyleDefault.cellStyle13 {
	background: #F99933;
    color: #FFF;
}

/* STOCK & PRICE */
div.acaisse_productcell_content .product_stock {
	left:inherit;
	position: absolute;
    bottom: 0;
    width:38%;
	padding-bottom: 2px;
    padding-top: 2px;
}

div.acaisse_productcell_content .availability span {
    border-radius: 0px 4px 4px 0;
    padding: 1px 5px;
}

div.acaisse_productcell_content span.stock_available {
	font-size:80%!important;
	line-height: 105%;
}

div.acaisse_productcell_content span.stock_real {
	font-size:75%!important;
	line-height: 100%;
}

div.acaisse_productcell_content .stock_inqueue {
    font-size: 70%!important;
    line-height: 95%;
}

div.acaisse_productcell_content span.good {
	color:#93b728;
}

div.acaisse_productcell_content .product_price {
	font-size:75%;
}

/*
 * POPUP NUMERIC
 */
.popupBox {
	float:left;
}

.popupBox:first-child {
	width:270px;
	display: inline-block;
    vertical-align: top;
    box-sizing:border-box;
    padding:0 5px;
}

.popupBox:nth-child(2) {
	width:calc( 100% - 535px );
}

#popupProduct,
#features,
#stocksPopup {
	position:relative;
	z-index: 1;
}

#popupNumeric #stocksPopup .oRef,
#popupNumeric #stocksPopup .oQtyE,
#popupNumeric #stocksPopup .oQtyR,
#popupNumeric #stocksPopup .oDate {
	font-style:italic;
}

#popupNumeric #stocksPopup .oRef {
	text-align:left!important;
}

#popupNumeric #stocksPopup .oDate {
	background:#23F96F;
}

.popupBox:last-child {
	width:265px;
}

#popupNumeric  div.acaisse_productcell_content span {
	font-size:100%!important;
}

#popupNumeric div.acaisse_productcell_content .product_price,
#popupNumeric div.acaisse_productcell_content .availability,
#popupEditCartLine div.acaisse_productcell_content .product_price,
#popupEditCartLine div.acaisse_productcell_content .availability {
	font-size:150%!important;
}

#popupNumeric div.acaisse_productcell_content .product_price,
#popupEditCartLine div.acaisse_productcell_content .product_price {
		border-radius:50px;
}

#popupNumeric  div.acaisse_productcell_content .product_name span,
#popupEditCartLine  div.acaisse_productcell_content .product_name span
 {
	padding: 3px 10px 2px;
    background: #737373;
    font-weight: 300;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
}

#productInfos .title, #popupEditCartLine .title,
#popup_epgloal__form .title  {
	display: block;
    background: #F4F4F4;
    color: #333;
    padding: 10px 5px;
    border-bottom: 3px dashed #FFF;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

#popupEditCartLine .title,
#popup_epgloal__form .title {
	padding:20px 5px;
}

#popupEditCartLine .popBox .title,
#popup_epgloal__form .popBox .title {
	padding:10px 5px;
}

#productInfos #details, #popupEditCartLine #details,
#popup_epgloal__form #details {
	float: left;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    text-align: left;
    font-size:14px;
    min-height:450px;
}

#productInfos #details p, #popupEditCartLine #details p,
#popup_epgloal__form #details p {
	margin-bottom:10px;
	font-size:14px;
	font-weight:300;
}

#productInfos #details ul,
#popup_epgloal__form #details ul {
	margin-left: 30px;
    font-weight: 300;
}

#productInfos #details .label,
#popupEditCartLine .label,
#popup_epgloal__form .label {
    background: #eee;
    display: inline-block;
    padding: 4px 10px;
    color: #757575;
    margin: 10px 0;
}

#popupEditCartLine .product_final_price,
#popupEditCartLine .product_price_reduction {
	position: absolute;
    bottom: -265px;
    width: 270px;
    font-size: 18px;
}

#popupEditCartLine .product_price_reduction {
	bottom:-240px;
}

#popupEditCartLine #whole_sale {
	background: #F8F8F8;
    padding: 15px;
    position: relative;
    color: #777;
}


#productInfos .title h3 {
	font-weight: 400;
    font-size: 16px;
}

#productInfos .label-info {
	background:#318DFF;
	color:#FFF;
	border-radius:15px;
	padding:3px 10px;
	margin:5px;
	display:inline-block;
}

#productInfos .label-info.productId {
	background:rgb(255, 0, 95);
}

#productInfos .label-info a {
	color:#FFF;
	text-decoration:none;	
}

#productInfos .title i {
    margin:0 5px;
    font-size:inherit;    
}
  
#productInfos .title .hashtag {
	font-size: 17px;
    font-weight: bold;
    top: -1px;
    position: relative;
    line-height: 14px;
}

.change-pointshop {
	border:none; 
	position: absolute;
    top: 64px;
    left: 149px;
    z-index: 103;
}

div.acaisse_productcell_content span.warning {
	color:#FFF;
}

/* ACTIONS DE CAISSE */
/*
#ticketView .newTicket,
#ticketView .cancelTicket {
	width:50%;
	display:table-cell;
}
*/

#ticketView .newTicket {
	/*
	border-left:6px solid #363636;
	border-top:4px solid #363636;
	border-right:3px solid #363636;
	*/
	background:#93b728;
	color:#FFF;
	padding:15px 10px
}

#ticketView i {
	font-size: 36px;
}

#ticketView .button {
	margin: 5px 0 0 5px;
}

#ticketView .button .label,
#ticketView .cancelTicket .label 
 {
    font-weight: 300;
    font-size: 130%;
    padding: 4px;
}

#ticketView .button .pastille .label {
	font-size:16px;
}

#ticketView .button .pastille .modify {
	font-size: 14px;
    display: inline-block;
    background: #FFF;
    color: red;
    border-radius: 15px;
    line-height: 23px;
    padding: 0px 10px;
    font-weight: normal;
}

#ticketView .cancelTicket {
	/*border-top:4px solid #363636;
	border-left:3px solid #363636;*/
}

#ticketView .newTicket {
	position:relative;
	padding:0 0 10px!important;
	overflow:hidden;
}

#ticketView .newTicket .label {
    margin-top:50px;
}

#ticketView .newTicket i,
#ticketView .isPending i,
#ticketView .isCommandeBloquee i,
#ticketView .isDevis i,
#ticketView .cancelTicket i {
	position: absolute;
    left: -10px;
    bottom: -10px;
    font-size: 60px;
    opacity: 0.3;
}

#ticketView .isPending i,
#ticketView .isCommandeBloquee i,
#ticketView .isDevis i,
#ticketView .cancelTicket i {
	transform: rotate(15deg);
}

#ticketView .isDevis .label {
	line-height: 54px;
}

#ticketView .isCommandeBloquee i {
	font-size: 82px;
	bottom:-15px;
}

.ticketBox div {
	position: relative;
	overflow: hidden;
	min-height: 55px;
}

.ticketBox div .label {
	padding:4px 33px 10px!important;
}

#orderButtonsPanel .paymentButton,#multi-payment-mode-list .paymentButton {
	width: calc(33.3% - 5px);
    float:left;
    background: #5d5d5d;
    color: #FFF;
    box-sizing: border-box;
}

#multiplePayment, #reductionGlobalOnCart {
	float: left;
	background: #5d5d5d;
    color: #FFF;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
    width: calc(100% - 5px)
}

#ticketView .contentOverlay button {
	margin: 5px;
}

#notif {
	display: inline-block;
}

.clearfix {
	clear:both;
}

/* PAYEMENTS */
#orderButtonsPanel .paymentButton.selected .calc {
	z-index:1000;
}

#ticketView .paymentButton,#multi-payment-mode-list .paymentButton {
	padding:10px 0 5px;
	margin:5px 0 0 5px
}

#registerPayment.button.disabled, #orderButtonsPanel .paymentButton.button.disabled, #multiplePayment.button.disabled {
    background-color: #464646;
    color: #363636;
}

#orderButtonsPanel .paymentButton.selected,#multi-payment-mode-list .paymentButton.selected,
#registerPayment
 {
	background-color: #93b728;
	color:#FFF;
}

.validTicket,
#registerPayment {
	padding: 5px 0 10px;
}

/* CONTENT OVERLAY */
.contentOverlay {
	background:#363636;
}

.contentOverlay table {
	border-collapse: collapse;
}

.contentOverlay span.priceAttr {
	background: red;
    color: #FFF;
    font-weight: 600;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 15px;
}

.contentOverlay span.priceBaseAttr {
	display: inline-block;
    margin-right: 10px;
    text-decoration: line-through;
    color: #777;
}

.contentOverlay table tr {
	background:#FFF;
	border-bottom:1px dashed #999;
}

.contentOverlay table tr td img {
	padding-top:5px;
}

#productList .contentOverlay table tr td img {
	height:auto;
}

.contentOverlay table tr.closeOverlay {
	background:#181818;
	color:#FFF;
}

.contentOverlay tr span {
	display:block;
}

.switcher .addToBAsketIndicator {
	background-size: 75px auto;
    background-repeat: no-repeat;
    background-position: -10px center;
}

/* BASKET COL */
.addToBAsketIndicator {
	line-height: 18px;
    background: #FFF;
    padding: 4px 4px 4px 54px;
    font-weight: 300;
    display: block;
    vertical-align: middle;
    background-position: 2px 2px;
    margin-bottom:4px;
}

/* LBAB KEYBOARD */
.lbabK-key {
	background:#181818;
	color:#FFF;
	margin:0 3px 3px 0;
}

.lbabK.alpha .lbabK-key {
	width:60px;
	height:60px;
}

.lbabK.alpha .lbabK-key.space {
	width:94%;
}

.lbabK {
	background: #363636;
    padding-top: 4px;
    padding-left: 4px;
}

#searchKeyboard, #searchKeyboardProduct,
#preOrderListContainer, #printTickets, #searchProducts {
	background:#363636!important;
	color:#FFF;
} 

#preOrderListContainer.open, #printTickets.open, #searchProducts.open {
	box-sizing:  border-box; 
}

#searchProducts.open {
 	border-right: 1px solid #222;
}

#searchProducts.al-left.open {
 	border-right: none;
 	border-left: 1px solid #222;
}

#customerSearchResultsFilter,
#productSearchResultsFilter {
	text-align:center;
}

#customerSearchResultsFilter {
	height: 40px;
    line-height: 40px;
}

#customerSearchResultsFilter input,
#productSearchResultsFilter input {
	width:60%;
}

#customerSearchResultsFilter input {
	max-width:940px;
}

.numeric_keyboard > span {
	background:#181818;
	color:#FFF;
	font-size:26px;
	font-weight:800;
}

#printTickets .numeric_keyboard {
	float:right;
}

.numeric_keyboard span.display {
	background:#5D5D5D;
}

#productSearchResults li, #customerSearchResults li, #defaultCustomersProfils li {
	background:#5D5D5D;
}

/* OPEN */

.open,.navActive {
	background: #181818;
	color:#FFF;
}
.open i,.navActive i {
	color: #93b728;
} 

#preOrderListContainer .left ul li, #printTickets .left .loaded tr {
	background:#5D5D5D;
}

#preOrderListContainer .left ul li .date {
	max-width: 100px;
    display: inline-block;
    line-height: 20px;
    background: #676767;
    padding: 3px 5px;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 14px;preorder_option_block
    color: #ccc;
    text-align: center;
    position: relative;
    margin-top: -5px;
}

#printTickets .left .loaded thead tr {
	background:#181818;
	height:57px;
	line-height:57px;
	text-transform:inherit;
}

#preOrderListContainer .left, #preOrderListContainer .right, #printTickets .left, #printTickets .right {
	background:#363636;
}

#printTickets .right {
	margin-top:0!important;
	width:300px;
}

/* TICKETS */
#printTickets tr i {
	font-size: 30px;
    margin-right: 10px;
    margin-top: 23px;
    position: relative;
    top: 2px;
    line-height:10px;
    
    color:#FFF;
}

#printTickets .ticket.toPrint,
#ticketDetail .ticket.toPrint
 {
	background: #FFF;
    color: #000;
    max-height:inherit;
    margin: 80px auto;
    padding: 10px 0;
    font-size:180%;
    max-width:700px;
}

#printTickets button.rePrintZ {
	margin: 5px;
	font-size: 20px;
	max-width:300px;
	width: calc( 100% - 5px);
    margin: 6px 0 0 0;
    left: -5px;
}

#printTickets button.disabled {
	color:#333;
	text-shadow: 1px 1px 0 #555;
}

#printTickets .keyboardBox {
	width:295px;
}

#printTickets .keyboardBox .numeric_keyboard {
	width:inherit;
	margin-top:0;
}

#printTickets .keyboardBox .numeric_keyboard span {
	width:97px;
}

#printTickets .keyboardBox .numeric_keyboard span.double {
	width:196px;
	margin-left:0;
}

#ticketView .lines {
	border-spacing:inherit;
	border-collapse:collapse;
}

#ticketView .line {
	border-bottom:1px dashed #999;
}

#ticketView .lines tr {
	background:#FFF;
	height:70px;
}

/* OVERLAY */
.horizontalCloseOverlay {
	display:none;
}


/* GESTION DE CAISSE */
#specialsContainer .tab-bar {
	background:#363636;
}

#specialsContainer {
	height:100%;
	background:#363636;
}

#specialsContainer .tab-button.open, .navAc {
	background:#262626!important;
}

#specialsContainer .tab-button.unselectable {
	background-color: #464646;
    color: #363636;
    text-shadow: none;
}

#cash_open_form input {
	box-sizing: border-box;
}

#info_cash {
	width: 70%;
    background: #93B728;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cash_action_right {
	width:calc(30% - 30px);
	background: #262626;
    padding: 10px;
	margin-right: 5px;
    height: calc(100% - 35px);
    top:5px;
}

#specialsContainer .tab-bar,
#specialsContainer .tab-content {
	height: 100%;
    background: #363636;
}

.cash_action_right h2 {
	    margin-top: 20px;
    font-weight: 300;
    padding-bottom: 5px;
}

.cash_action_right textarea {
	width: calc(100% - 20px);
    height: 188px;
    padding: 10px;
}

.cash_action_table input,
.cash_action_right input {
	box-sizing: border-box;
}

.cash_action_right label {
	margin-top: 10px;
    display: block;
    margin-bottom: 2px;
}

#specialsContainer .content {
	height:100%;
}

#specialsContainer .tab-bar li {
	margin:5px;
	background:#262626;
	position:relative;
}

#customerSearchResultsFilter, #productSearchResultsFilter {
	margin-bottom:10px;
}

#productKeyboardResearch {
	margin-top:0;
}

.preselectMoney {
	top:5px;
	border:none;
	boerder-right:1px rgb(221, 221, 221) solid;
	background:#FFF;
}

.lbabK-inputable {
	background:#5D5D5D;
	color:#FFF;
}

#lastCa{
    background: #5D5D5D;
    margin-top: 20px;
}

#lastCa span:not(:last-child) {
	margin-bottom: 10px;
    border-bottom: 1px dotted #262626;
    padding-bottom: 10px;
}



/* POPUP CONTENT */

#popupProduct,
#features,
#stocksPopup {
    width:100%;
    overflow-y:auto;
}

#features,
#stocksPopup {
	background:#FFF;
}

#features ul {
	list-style:none;
	list-style-type: none;
}

#features li {
	display:table;
	width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#features li span {
	display:table-cell;
	width: 50%;
	color: #555;
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
}

#features li:nth-child(even){
	background:#F4F4F4;
}

#popupNumeric.fullImg .acaisse_productcell_content,
#popupNumeric.fullImg #details {
    width:270px;
    float:left;
	background-color:#FFF;
	border-bottom: 3px dashed #F4F4F4;
	box-sizing:border-box;
}

#popupNumeric.fullImg #details {
	width:100%;
}

#popupNumeric .container td {
	text-align:center!important;
}

#popupNumeric .container td.first {
	text-align:left!important;
}

#popupNumeric #stocksPopup table {
	width:100%;
}

#popupNumeric #stocksPopup thead td {
	height: 40px;
}

#popupNumeric #stocksPopup tr {
	
}

#popupNumeric #stocksPopup td {
	padding: 5px;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    width:20%;
}

#popupNumeric #stocksPopup tr td.first span.ref,
#popupNumeric #stocksPopup tr td.first span.name {
	display:block;
}

#popupNumeric #stocksPopup tr td.first span.ref {
	font-weight: normal;
    font-size: 12px;
    color: #777;
    font-style: italic;
}

#popupNumeric #stocksPopup tr td{
    border-bottom: 1px solid #ccc;
}

#popupNumeric #stocksPopup tr.isWarehouse .first {
	font-weight:bold;
}

#popupNumeric #stocksPopup tr.isWarehouse td{
	position:relative;
}

#popupNumeric #stocksPopup tr.isWarehouse td span.qty{
	background:#23F96F;
	font-weight: bold;
	display:inline-block;
	padding:2px 10px;
	border-radius:15px;
} 


#popupNumeric #stocksPopup tr.isWarehouse td span.qtos {
	background:orange;
}

#popupNumeric #stocksPopup tr.attrRow td {
	border-right: 1px solid #ccc;
}

#popupNumeric #stocksPopup tr.cmf td {
	border-bottom:1px solid #FFF;
}

#popupNumeric #stocksPopup tr.cmf:last-child td {
	border-bottom:1px solid #ccc;
}

/* #popupNumeric #stocksPopup tr:last-child td{
	background:#23F96F;
} */

#popupProductMenu button {
	background:#252525;
	float: left;
	margin: 5px;
	width: 120px;
	height:45px;
	outline:none;
}

#popupProductMenu button:disabled {
	color: #555;
    text-shadow: 1px -1px 0 #333;
    background: #2f2f2f;
    cursor: no-drop;
}

#popupProductMenu button.open {
	background:#363636;
	color:#93B728!important;
}

.lbabK.numeric .lbabK-inputable, .lbabK.floatNumeric .lbabK-inputable, .lbabK-inputable.money {
	width:170px;
}

.lbabK.numeric .lbabK-key.return, .lbabK.floatNumeric .lbabK-key.return {
	width:171px;
}


#closeKeyboard {
	height: inherit;
    position: absolute;
    right: -65px;
    padding: 5px 20px;
    color: #FFF;
    top: 0;
    background:red;
    z-index: 2;
}

#showHideCalc {
	position: absolute;
    right: -65px;
    color: #93B728;
    top: 65px;
    background: #363636;
    z-index: 2;
    width: 65px;
    box-sizing: border-box;
    text-align: center;
    height: 65px;
    line-height: 65px;
}

#showHideCalc.hide {
	color:#FFF;
}

#popupNumeric {
	background:#363636;
}

.popBox {
	position: relative;
}

.popBox .title {
	color:#FFF;
	padding:8px 5px;
	display:block;
}

.search-bg {
	/* background:url(''); */
}

.search-container {
	position: relative;
  	height: calc(100% + 20px);
	top: -20px;
}

.search-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
}

.overlayNumeric {
  /* Put this on top of the blurred layer */
  position: fixed;
  z-index: 1002;
  padding: 20px;
  background: rgba(0,0,0,0.8);
}

.calc {
	width:263px;
	background: #363636;
}

.numeric_keyboard {
	width:255px;
	margin-left:0;
}

/* STOCK INSUFFISANT */
.addToBAsketIndicator .fa-exclamation-circle b {
	font-family: "Open Sans", sans-serif;
    line-height: 14px;
    padding-top:0;
}

.addToBAsketIndicator .fa-exclamation-circle {
	left:48px;
	opacity: 0.8;
    text-decoration: blink;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.addToBAsketIndicator i {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

/* NOTIF */
#notif .greenFont {
	color: #93b728 !important;
}
#notif .redFont {
	color: red !important;
}
#notif .orangeFont {
	color: orange !important;
}

#notif {
	display: inline-block;
    width: 280px;
    vertical-align: top;
    overflow: hidden;
    line-height: 18px;
    transition: width 0.5s linear;
    background: #363636;
    position: relative;
    z-index: 103;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    padding: 5px 10px 5px 60px;
}

#notif:before {
	content: "\f0e6";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    font-family: "fontAwesome";
    color: #FFF;
    font-size: 30px;
    top: 0;
    padding-top: 23px;
    padding-left: 15px;
}

#notif.active:before {
	color: #93B728;
}

#notif td {
	overflow: auto;
}
#notif td i {
}
#notif table {
	height: 100%;
	width:100%;
}

/* FullImg Param */
.fullImg div.acaisse_productcell_content {
	background-position:center center;
	background-size: auto;
}

#popupNumeric.fullImg .acaisse_productcell_content, 
#popupEditCartLine.fullImg .acaisse_productcell_content {
	background-size:inherit;
	height:275px;
	box-sizing:border-box;
	position: relative;
    margin-left: -5px;
    float:none;
    border-right: 2px dotted #ccc;
}

#popupEditCartLine.fullImg .acaisse_productcell_content {
	margin-left:0;
	background-color:#FFF;
}

@media (max-width:1024px) {
	
	#popupNumeric.fullImg .acaisse_productcell_content,
	#popupEditCartLine.fullImg .acaisse_productcell_content {
		max-height:450px;
	}
	
}

.fullImg.withCategorieImage div.acaisse_productcell_content {
	background-position:center center !important;
}

.fullImg div.acaisse_productcell_content .product_name_container {
    right: 0;
    left: 0;
    padding: 0;
    bottom: 0;
    height: initial;
    display: inline-block;
}	

.fullImg div.acaisse_productcell_content .product_name {
	height: 100%;
    font-weight: 300;
    padding: 5px 15px;
    width: calc( 100% - 30px);
    color: #333;
    font-weight: 600;
}

#popupEditCartLine.fullImg div.acaisse_productcell_content .product_name {
	display:none;	
}

.fullImg:not(.with_attributes) div.acaisse_productcell_content .product_name span {
	background: #FFF!important;
    color: #333!important;
    opacity: 0.85;
    font-weight: 400!important;
    line-height: 20px;
}

/*style 1*/
.cellType1.cellStyle1 .cover {
    background-color: #FFF;
    border-left:5px solid #FFF;
}

/*style 2*/
.cellType1.cellStyle2 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ffc750;
}

.cellType2.cellStyle2 .cover.fullImg, .cellType3.cellStyle2 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ffc750;
}

.cellStyle2 .cover .acaisse_categorycell_content i,
.cellStyle2 .cover .acaisse_categorycell_content span {
	background:#ffc750!important;
}

/*style 3*/
.cellType1.cellStyle3 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #a9be00;
}
.cellType2.cellStyle3 .cover.fullImg, .cellType3.cellStyle3 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #a9be00;
}

.cellStyle3 .cover .acaisse_categorycell_content span,
.cellType3.cellStyle3 .cover.fullImg .product_name span,
.cellType2.cellStyle3 .cover.fullImg .product_name span,
.cellType2.cellStyle1 .fullImg.with_attributes .product_name span {
	background:#a9be00!important;
	color:#FFF!important;
}

/*style 4*/
.cellType1.cellStyle4 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #445200;
}
.cellType2.cellStyle4 .cover.fullImg, .cellType3.cellStyle4 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #445200;
}

.cellStyle4 .cover .acaisse_categorycell_content span {
	background:#445200!important;
}

/*style 5*/
.cellType1.cellStyle5 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #318dff;
}
.cellType2.cellStyle5 .cover.fullImg, .cellType3.cellStyle5 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #318dff;
}

.cellStyle5 .cover .acaisse_categorycell_content span {
	background:#318dff!important;
}

/*style 6*/
.cellType1.cellStyle6 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #1036ffc;
}
.cellType2.cellStyle6 .cover.fullImg, .cellType3.cellStyle6 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #1036ff;
}

.cellStyle6 .cover .acaisse_categorycell_content span {
	background:#1036ff!important;
}

/*style 7*/
.cellType1.cellStyle7 .cover.fullImg {
    background-color: #FFF;
    border-left:5px solid #ff7317;
}
.cellType2.cellStyle7 .cover.fullImg, .cellType3.cellStyle7 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ff7317;
}

.cellStyle7 .cover .acaisse_categorycell_content span {
	background:#ff7317!important;
}

/*style 8*/
.cellType1.cellStyle8 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ff5a1c;
}
.cellType2.cellStyle8 .cover.fullImg, .cellType3.cellStyle8 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ff5a1c;
}

.cellStyle8 .cover .acaisse_categorycell_content span {
	background:#ff5a1c!important;
}

/*style 9*/
.cellType1.cellStyle9 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ff2a07;
}
.cellType2.cellStyle9 .cover.fullImg, .cellType3.cellStyle9 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ff2a07;
}

.cellStyle9 .cover .acaisse_categorycell_content span {
	background:#ff2a07!important;
}

/*style 10*/
.cellType1.cellStyle10 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #7d0707;
}
.cellType2.cellStyle10 .cover.fullImg, .cellType3.cellStyle10 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #7d0707;
}

.cellStyle10 .cover .acaisse_categorycell_content span {
	background:#7d0707!important;
}

/*style 11*/
.cellType1.cellStyle11 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #ba53e0;
}
.cellType2.cellStyle11 .cover.fullImg, .cellType3.cellStyle11 .cover.fullImg{
    background: #FFF;
    border-left:5px solid #ba53e0;
}

.cellStyle11 .cover .acaisse_categorycell_content span {
	background:#ba53e0!important;
}

/*style 12*/
.cellType1.cellStyle12 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #4f1d78;
}
.cellType2.cellStyle12 .cover.fullImg, .cellType3.cellStyle12 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #4f1d78;
}

.cellStyle12 .cover .acaisse_categorycell_content span {
	background:#4f1d78!important;
}

/*style 13*/
.cellType1.cellStyle13 .cover.fullImg {
    background: #FFFFFF;
    border-left:5px solid #53cadf;
}
.cellType2.cellStyle13 .cover.fullImg, .cellType3.cellStyle13 .cover.fullImg{
    background: #FFF;
    border-left:5px solid #53cadf;
}

.cellStyle13 .cover .acaisse_categorycell_content span {
	background:#53cadf!important;
}

/*style 14*/
.cellType1.cellStyle14 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #1d5d76;
}
.cellType2.cellStyle14 .cover.fullImg, .cellType3.cellStyle14 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #1d5d76;
}

.cellStyle14 .cover .acaisse_categorycell_content span {
	background:#1d5d76!important;
}

/*style 15*/
.cellType1.cellStyle15 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #dddddd;
}
.cellType2.cellStyle15 .cover.fullImg, .cellType3.cellStyle15 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #dddddd;
}

.cellStyle15 .cover .acaisse_categorycell_content span {
	background:#dddddd!important;
}

/*style 16*/
.cellType1.cellStyle16 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #737373;
}

.cellType2.cellStyle16 .cover.fullImg, .cellType3.cellStyle16 .cover.fullImg {
    background: #FFF;
    border-left:5px solid #737373;
}

.cellStyle16 .cover .acaisse_categorycell_content span {
	background:#737373!important;
}

.cellTypeReturn {
	font-weight:300;
}

/* STYLES ICONES DOSSIER */


.fullImg div.acaisse_productcell_content .product_stock {
	background-color: inherit;
}

.fullImg div.acaisse_productcell_content .product_price {
    font-size: 85%;
    background: red;
    padding: 2px 10px;
    color: #FFF;
    position: relative;
    float:left;
    left: 10px;
    top:10px;
    right: inherit;
    display: inline-block;
    width: inherit;
    border-radius:15px;
}

.fullImg div.acaisse_productcell_content .product_price small {
    font-size: 50%;
    display:block;
}

div.acaisse_productcell_content .product_base_price {
	display: block;
    font-size: 18px;
    padding: 5px 5px 0px 15px;
    text-decoration: line-through;
    color: #777;
    text-align:left;
    margin-bottom:-5px;
}

.fullImg div.acaisse_productcell_content .product_stock {
	left: inherit;
    position: inherit;
    bottom: inherit;
    width: initial;
    padding-bottom: inherit;
    padding-top: inherit;
}

.fullImg div.availability {
    left: inherit;
    bottom: inherit;
    height: inherit;
    top: 0;
    right:0;
    background: #FFF;
    opacity: 0.85;
    display: inline-block;
 	padding: 0px 5px;
 	position: absolute;
 	float:right;
 	z-index: 1;
}

#popupProduct .fullImg div.availability {
	top:10px;
}

.fullImg div.acaisse_productcell_content .availability span {
    border-radius: 0;
    padding: 0 5px 5px;
    line-height: inherit;
    margin: 0;
}

.fullImg div.acaisse_productcell_content span.good {
    color: #93b728;
}

.isCat.fullImg div.acaisse_productcell_content .product_name_container {
	top:0;
}

.isCat.fullImg div.acaisse_productcell_content .product_name {
	background:inherit;
	opacity:1;
	font-weight:300;
	color:inherit;
	text-shadow: 1px 1px 0px #000;
}

/* Classes BASIQUES */
div.acaisse_productcell_content .stock_inqueue.none {display:none!important}

.notTotalyPayed {
	color: red;	
}

/* paiements multiples */

.fullContentOverlay {
	margin-top:66px;
	height:calc(100% - 132px);
	background-color:#FFF;
}

#multi-payments-popup {
}

#multi-payments-popup .clear {
	height:0;
	overflow:hidden;
	display:block;
	visibility:hidden;
}

#multi-payment-mode-list {
	display:block;
	width:160px;
	margin-left:25px;
	float:left;
    overflow-y: auto;
    height: 100%;
}

#multi-payment-mode-list .button.paymentButton {
	width:auto;
	display:block;
	float:none;
	margin:5px 0;
}

#multi-payment-input {
	float:left;
	display:block;
	width:280px;	
}

#multi-payment-input-keyboard {
	
}


#multi-payments-popup .verifications {
    margin-left: 495px;
    margin-right: 190px;
    overflow-y: auto;
    height: 100%;	
}
#multi-payments-popup .verifications table {
    width: 100%;
    border-collapse: collapse;
}

#multi-payments-popup .verifications tr {
    height:40px;
}
#multi-payments-popup .verifications tbody tr {
    height:60px;
}




#details-paiements {
	background-color:#FFF;
}

.vertical-wizzard-separator {
	float:left;
	width:50px;
	font-size:36px;
	line-height:29px;
	text-align:center;
	color:#FFF;
}

#multi-payments-popup h2 {
	color:#FFF;
    font-size: 20px;
    margin-bottom:10px;
}

#multi-payment-input-keyboard {
	padding-top:0;
}

#multi-payments-popup h1
{
	background-color:#93b728;
	padding:5px 0;
	margin-bottom:10px;
}

#multi-payments-popup h2>span {
    display: inline-block;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 33px;
    background-color: #FFF;
    font-size: 13px;
    padding: 0px;
}

#multi-payments-popup .action-buttons {
	width:160px;
	float:right;
	margin-right:8px;
}

#productList .contentOverlay td:nth-child(4) span {
	display: block;
}

#userEditContainer .tab-bar li {
	position: relative;
}

.pastille {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background: #e61d1d;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding:0 10px;
}

.pastille.big {
	min-width: 40px;
    line-height: 40px;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    line-height: 25px;
}

#reductionGlobalOnCart {
	position: relative;
}

#reductionGlobalOnCart input {
	width: 50px;
}

#reductionGlobalOnCart input, #reductionGlobalOnCart select {
	width: inherit;
	border: 0px;
	height: 26px;
	margin: 0;
	background-color: white;
}

.centerAlign {
	text-align: center;
}

.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.reductAmountInEuro.selected, .reductAmountInPercent.selected {
	background-color: red;
}

.reductAmountInEuro, .reductAmountInPercent {
	display: inline-block;
	text-align: center;
	width: calc(48% - 4px);
	height: 64px;
	line-height: 64px;
	border: 0;
    background: #333;
    margin: 1%;
    color: #FFF;
    font-size: 36px;
}

.discountTitle {
	padding: 10px 5px;
    background: #363636;
    color: #FFF;
    position: relative;
}

.chosseDiscountType {
	position: relative;
    background: #5D5D5D;
    padding: 5px 0 5px 5px;
}


[id^="customer-edit-error-"] {
	color: #FFF;
    background: red;
    padding: 2px 7px;
    margin: 0px 0 10px;
    position: absolute;
    right: 4%;
    bottom: -15px;
    font-size:12px;
}

#ticketView .discountCartLine i {
	font-size:30px;
	color:#333;
	width:45px;
}

#ticketView .prestatillloyalty_ticket_line_body,
#ticketView .quantityRemove,
#ticketView .discountCartLine  {
	/* width:45px; */
}

#ticketView .line .label {
	width:750px;
}

#edit_customer div {
	position:relative;
}

#customer-edit-more div:last-child {
	padding-bottom:20px;
}

#edit_customer {
	padding:5px;
}

#edit_customer input,
#orderDetail input,
#edit_customer select,
#edit_customer textarea {
	box-sizing: border-box;
	margin: 1% 4% 4%;
    width: 92%;
    border:none;
}

#orderDetail .actions input {
	height: 30px;
    width: 30px!important;
    margin-top: 8px;
}

#edit_customer select {
    padding: 10px;
}

#edit_customer textarea {
	height:197px;
	text-align:left;
	padding:5px 7px;
}

@media screen and (max-width:1280px)
{
	#edit_customer textarea {
		height:186px;
		width:100%;
	}

}

#edit_customer .padd10 {
	padding-top:15px;
}

#edit_customer #customer-edit-save,
#edit_customer #customer-edit-save-and-log {
	width: 150px;
    float: right;
    padding: 15px 10px 13px;
    height: inherit;
    font-size: 14px;
    margin-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
}

#edit_customer #customer-edit-save-and-log {
	right: 160px;
    width: 170px;
}

#edit_customer label {
	text-align: left;
    display: block;
    margin-left: 4%;
}

#edit_customer label.center {
	text-align:center;
    margin-left:0;
    padding-bottom:3px;
}

#edit_customer .checkbox-group {
    padding: 1%;
}

#edit_customer .checkbox-group label {
	text-align:center;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom:3px;
    margin-left:0;
}

#edit_customer .groupList {
	width:100%!important;
}


#ticketView .lines .pastille {
	background-color: red;
    display: inline-block;
    left: -90px;
    width: inherit;
    height: inherit;
    padding: 0;
    border-radius: 3px;
    max-width: 80px;
    top: 18px;
}

.col-xs-3 {
	width:25%;
	float:left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.col-xs-4 {
	width:33.3333334%;
	float:left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.col-xs-6 {
	width:50%;
	float:left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.col-xs-9 {
	width:75%;
	float:left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}


/* Z-CAISSE TPL */
@font-face {
  font-family: 'Ticketing';
  src: url('../fonts/Ticketing.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Ticketing.woff') format('woff'), 
  	   url('../fonts/Ticketing.ttf')  format('truetype'), 
  	   url('../fonts/Ticketing.svg#Ticketing') format('svg');
  font-weight: normal;
  font-style: normal;
}

#zcaisse {
	color:#000;
}

#zcaisse h1 {
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:60px;
}

#zcaisse .text-center {
	text-align:center;
}

#zcaisse .text-left {
	text-align:left;
}

#zcaisse .text-right {
	text-align:right;
}

#zcaisse .uppercase {
	text-transform:uppercase;
}

#zcaisse div {
	margin-bottom:60px;
}

#zcaisse .separate,
#zcaisse .separate_double {
	width:100%;
	height:10px;
	border-top:3px dashed #000;
	border-bottom:3px dashed #000;
	font-size:20px;
}

#zcaisse .separate {
	height:3px;
	margin-top:30px;
	border-top:0;
}

#zcaisse table, #zcaisse tr, #zcaisse td {
	margin:0;
	padding:0;
}

#zcaisse table {
	width:100%;
}

/* HEADER PANELS */
.panelTitle i {
	color:#FFF;
	position:relative;
	margin-right:10px;
}

.panelTitle {
	background: #181818;
    margin: 5px 5px 0 5px;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

/* SEARCH TICKET */
.searchTicketBox {
	background: #181818;
    text-align: right;
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.keyboardBox {
	margin:5px 0 0 0;
}

/* OVERRIDE CSS A VALIDER */
.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

/* INTERFACE DE VEILLE */
#veille {
    position: absolute;
    background: #111;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 101;
    padding: 0;
    margin: 0;
}

#veilleBox {
	display:none;
}

#veilleContent,
#veilleEmployee {
	position:absolute;
	top:64px;
	left:0;
	right:0;
	bottom:0;
}

#veilleEmployee {
	z-index: 1;
	background:#111;
}

#veilleEmployee:before {
	height: 64px;
    background: #363636;
    top: -64px;
    right: 0;
    content: "";
    position: absolute;
    left: 512px;
}

#veilleContent > ul {
	list-style-type:none;
	margin:0;
	padding:0 0 0 20px;
}

#veilleEmployee .emp {
	width: 150px;
    height: 175px;
    display: inline-block;
    background: #363636;
    margin: 10px;
    cursor:pointer;
}

#veilleEmployee .identification {
	display: block;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    padding: 170px 20px 20px;
}

#veilleEmployee .identification h2 {
	font-weight:300;
}

#veilleEmployee .emp .avatar {
	font-size: 70px;
    position: relative;
    margin: 20px auto 0;
    display: block;
    color: #FFF;
    background: #FF005F;
    border-radius: 100px;
    font-style: inherit;
    line-height: 100px;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
}

#veilleEmployee .emp:nth-child(3n) .avatar {
	background: #318dff;
}

#veilleEmployee .emp:nth-child(4n) .avatar {
	background: #8bac29;
}

#veilleEmployee .emp:nth-child(5n) .avatar {
	background: #737373;
}

#veilleEmployee .emp span {
	background: red;
    color: #FFF;
    padding: 2px 10px;
    position: relative;
    top: 10px;
    text-transform: capitalize;
}

#veilleContent > ul > li {
	color: #999;
    min-height: 200px;
    margin: 20px 0;
}

#veilleContent > ul > li i {
	font-size: 40px;
    color: #FFF;
    background: #FF005D;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    margin-right: 10px;
}

#veilleContent > ul > li > ul > li {
	margin-left: 63px;
    border-left: 1px solid #FF005D;
    padding: 9px 15px;
    list-style: none;
    font-size: 16px;
    color: #d8d8d8;
    cursor:pointer;
}

#veilleContent > ul > li > ul > li.disabled {
	color:#555;
	background-color:inherit;
}

#veilleContent > ul > li > ul > li:not(.disabled):hover {
	background: #333;
    color: #eee;
    padding-left:11px;
	border-left:5px solid #FF005D;
}

#veilleContent > ul > li span {
	color: #FFF;
    font-weight: 800;
    top: -7px;
    position: relative;
    font-size: 18px;
}

#logo img {
    float: left;
    z-index: 103;
    position: relative;
}

#veille .closeBt {
	position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font-size: 26px;
    height:64px;
    line-height:64px;
    box-sizing:border-box;
    cursor: pointer;
    background: red;
    padding: 0 10px;
}

#veille .closeBt i {
	position:relative;
	margin-right:5px;
}

#veille #hourOfTheDay {
	position: absolute;
    top: 0;
    left: 345px;
    right: 137px;
    height: 64px;
    padding-top: 7px;
    box-sizing: border-box;
    background:#373737;
}

#veille #hourOfTheDay .dday{
	color:#eee;
}
#veille #hourOfTheDay .hhour{
	color:#FFF;
	font-size:22px;
    font-weight:300;
}

#veille #actuBox {
	height: calc( 100% - 64px);
    background: #000;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    float:right;
    margin-top: 64px;
}

#veilleContent .intro {
	position: relative;
    background: #333;
    height: 64px;
    margin: 25px 20px 5px;
    font-size: 30px;
    color: #eee;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 300;
    border-left:5px solid #FF005D;
}

#veilleContent .version {
	float: right;
    background: #93B728;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 50px;
}

#lastOpenCaisse {
	float: right;
    font-size: 18px;
    background:#93B728;
    padding: 2px 10px;
}

#lastOpenCaisse.alert {
    background: red;
}

#lastAmountTitle th {
	background: #93B728;
    font-weight: inherit;
    padding: 7px;
}

#cash_mvt_form #lastAmountTitle {
	display:none;
}

#preOrderButtonsPanel .currentTicketNum {
	font-size: 35px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}

#preOrderButtonsPanel .currentTicketNum sup {
	display: inline-block;
    width: 130px;
    font-size: 25px;
    position: absolute;
    top: -12px;
    right: -96px;
    font-weight:300;
}

.warehouses .button { 
	display:none; 
} 

/* FOOTER SEARCH */
.search-col-filters {
	width:200px;
	float:right;
	list-style:none;		
}

#productSearchResultsFilter input{
   margin-bottom:0;
}

#searchLoadBarre {
 height:1px;
 margin-bottom:5px;
 
}
#searchLoadBarre>div {
    height:1px;
    width:30%;
    background-color:#93b728;
  
 }


 .search-col-filters li {
   height:64px;
   line-height:64px;   
 }
.search-col-filters li:first-child {
   height: 30px;
    line-height: 30px;
    background: #212121;
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
 }

.searchBox {
	-webkit-user-select: none;
  }
  
  
#productResearchList {
   overflow:auto;
   white-space: nowrap;
   margin: 3px 0px;
   width: 100%;
   display: inline-block;
   vertical-align: top;
}

#productResearchList table  tr {
	height:65px;
	width:100%;
	border-bottom: 1px solid #d8d8d8;
	background: #FFF;
    color: #333;
}

#productResearchList table  td {
	display:table-cell;
	min-width:65px;
	height:65px;
	border-bottom: 1px solid #d8d8d8;
}

#productResearchList table td table td {
	border:none;
}

#productResearchList table td.product_name_container,
#productResearchList table td.reference {
	text-align: left;
}

#productResearchList table td.p_price {
	width:180px;
}

#productResearchList table td.product_name_container {
	width:50%;
	padding:0 15px;
}

#productResearchList .availability  {
	width:265px;
}

#productResearchList .product_price {
	font-size: 23px;
    color: #93B728;
    font-weight: bold;
}

#productResearchList .availability table td  {
	font-weight:bold;
}

#productResearchList .availability.with_attr table td {
	background:#FFF;
}

#productResearchList .availability.with_attr i {
	color:#FFF;
	position:relative;
	margin-right:10px;
}

#productResearchList .availability.with_attr .btn {
	background: #93B728;
	color:#FFF;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 30px;
}

#productResearchList .availability table td  {
	border-bottom: none;
}

#productResearchList .availability table td.stock_available  {
	background:#93B728;
	padding: 0 15px;
    color: #FFF;
    font-size:18px;
}

#productResearchList .availability table .stock_available {
	
}

#productResearchList table td.reference {
	text-align: left;
	width:180px;
	text-transform: uppercase;
	padding:0 15px;
}

#productResearchList table .fullImg div.acaisse_productcell_content {
	background-position:left center;
	background-size: 85%;
}

#productResearchList table .fullImg div.acaisse_productcell_content .product_name_container {
	margin-left:65px;
	text-align:left;
	
}

 #productResearchList .product_name {
    white-space: normal;
}
    
#productResearchList table {
    border-spacing: 0px;
    /* height: calc(100% - 5px); */
    width:100%;
}
    
#productResearchList td {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    margin-left: 5px;
}

#productResearchList td:nth-child(1) {
    margin-left: 0px;
    width:65px;
}

#productKeyboardResearch {
	display:none;
}

#productKeyboardResearch.active {
	bottom: 380px;
    margin-left: -200px;
    display:inline-block!important;
}
  
#productResearchButton {
	padding: 20px;
	min-height:88px;
    font-size: 14px;
    margin: 5px 5px 5px;
    width: 195px;
    box-sizing: border-box;
    display: block;
}
   
#footerSearchBar 
{
	position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 65px;
    background: #282828;
    padding: 9px 0 0;
    box-sizing: border-box;
}

#productSearchResultsFilter {
	width: calc( 80% - 435px);
    margin: 0 auto;
}

#productSearchResultsFilter input {
    
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

#footerSearchBar i {
	position: absolute;
    margin-left: 15px;
    bottom: 10px;
    font-size: 56px;
}

#globalSearchBox {
	height: calc( 100% - 70px );
    width: calc( 100% - 215px );
    float:left;
}

#productResearchListSite {
	width: 20%;
    float: right;
}

#footerSearchBar i.fa-search,
#footerSearchBar i.fa-times
 {
	margin-left: -40px;
    font-size: 30px;
    top: 16px;
    color: #FFF;
}

#footerSearchBar i.fa-times {
	margin-left: 10px;
}

#footerSearchBar i.fa-keyboard-o {
	right:15px;
	top: 5px;
    font-size: 50px;
    color:#FFF;
}

#footerSearchBar i.active {
	color:#93B728;
}

#productResearchList .cellType1.cellStyle3 .cover, #productResearchList .cellStyle3 {
	background:#FFF;	
}

#productResearchListSide {
	width:200px;
	float:right;
	margin-right:10px;
}

#userEditContainer #pageUser3 button i{
	color:#FFF;
}

/*
 * POPUP ORDER DETAIL
 */
#emptyPopup #orderDetail {
	overflow-y: auto;
	height:100%;	
}

#emptyPopup #orderDetail .oDTable {
	min-height:calc( 100% - 94px );
	margin-bottom: 86px;
}

#emptyPopup #orderDetail .oDTable table {
	margin: 5px 3px 0;
    width: calc( 100% - 6px);
}

#emptyPopup #orderDetail .oDTable table input {
	width:80%;
	max-width:400px;
	background: #f8f8f8;
    border-color: #d8d8d8;
    color:#333;
}

#emptyPopup #orderDetail .oDTable table input[type=number]
{
	width:120px;
}

#emptyPopup #orderDetail .oDTable table span.alert {
    padding: 9px;
    display: inline-block;
    color: #FFF;
    text-align: left;
    position: relative;
    max-width: 340px;
    font-size: 13px;
    border-radius: 3px;
}

#emptyPopup #orderDetail .oDTable table span.alert:after {
	content:"";
	width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
    bottom: 20px;
}

#emptyPopup #orderDetail .oDTable table .cost span {
	background: #eeea;
    color: #777;
    padding: 4px 12px;
    position: relative;
    top: 3px;
    left: -6px;
    border: 1px solid #d8d8d8;
    font-weight: normal;
    text-shadow: 1px 1px 0px #FFF;
}

#emptyPopup #orderDetail .oDTable table .label {
	color: #FFF;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight:300;
    font-size:14px;
}

#emptyPopup #orderDetail .oDTable table .cost.negative {
	color:red;
}

#emptyPopup #orderDetail .oDTable table span.alert-info,
#emptyPopup #orderDetail .oDTable table span.alert-info:after {
	background: #00aff0;
}

#emptyPopup #orderDetail .oDTable table select {
	box-sizing: border-box;
    width: 80%;
    min-width:160px;
    max-width:400px;
    padding: 10px;
    background: #f8f8f8;
    border-color: #d8d8d8;
    color:#333;
}

#emptyPopup #orderDetail .oDTable tfoot {
	background:#eee;
}

#emptyPopup #orderDetail th {
	background: #181818;
    color: #FFF;
    padding: 15px 5px;
}

#emptyPopup #orderDetail td {
	padding: 10px 5px;
	border-bottom: 1px dashed #d8d8d8;	
}

#emptyPopup #orderDetail td.cost,
#emptyPopup #orderDetail td.total_cost {
	color: #93b728;
    font-size: 20px;
    font-weight: bold;
}

#emptyPopup #orderDetail td .reduce {
	color:#777;
	text-decoration:line-through;
	display:inline-block;
}

#emptyPopup #orderDetail td .promo {
	text-decoration:none;
	color:#FFF;
	background:red;
	padding: 1px 10px;
    border-radius: 15px;
    display:inline-block;
}

#emptyPopup #orderDetail td.prod {
	text-align:left;
}

#emptyPopup #orderDetail a {
	padding: 10px 5px;
    border-bottom: 1px dashed #d8d8d8;
}

#emptyPopup #orderDetail a:hover {
	text-decoration:underline;
}

#emptyPopup #orderDetail td.qty span {
	border-radius:15px;
	background:#00aff0;
	padding:2px 12px;
	color:#FFF;
	height: 20px;
    width: 40px;
    line-height: 20px;
    margin: 0 auto;
}

#emptyPopup #orderDetail .tots {
	position: fixed;
    bottom: 50px;
    left: 9%;
    right: 9%;
}

#emptyPopup #orderDetail .tots li {
	display: inline-block;
    width: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    background: #212121;
    color: #FFF;
    position:relative;
}

#emptyPopup #orderDetail .col-2 li {
	width: 50%;
}

#emptyPopup #orderDetail .col-4 li {
	width: 33.3333334%;
}

#emptyPopup #orderDetail .col-12 li {
	width: 100%;
}

#emptyPopup #orderDetail .tots li span {
	display:block;
	padding:10px;
	font-weight:bold;
}

#emptyPopup #orderDetail .tots li span:last-child {
	background:#93b728;
	display: inline-block;
    border-radius: 25px;
    padding: 5px 15px;
    margin-bottom: 15px;
	font-size:20px;
}

#emptyPopup #orderDetail .tots li.discount span:last-child {
	background:red;
}

#emptyPopup #orderDetail .tots li:first-child:before,
#emptyPopup #orderDetail .tots li:nth-child(2):before,
#emptyPopup #orderDetail .tots li:nth-child(3):before,
#emptyPopup #orderDetail .tots li:nth-child(2):after,
#emptyPopup #orderDetail .tots li:nth-child(3):after {
	content:"";
	width:30px;
	height:10px;
	background:#111;
	position:absolute;
	right: 0;
    top: 45%;
}

#emptyPopup #orderDetail .tots li:nth-child(2):after {
	transform:rotate(90deg);
}

#emptyPopup #orderDetail .tots li:nth-child(3):after {
	top:40%;
}

#emptyPopup #orderDetail .tots li:nth-child(2):before {
}

#emptyPopup #orderDetail .tots li:nth-child(3):before {
	top:55%;
}

#emptyPopup #orderDetail .tots.no-before li:before,
#emptyPopup #orderDetail .tots.no-after li:after {
	display:none;
}

#emptyPopup .closePopup,
#emptyPopup .popupActions {
	position: absolute;
    right: 9%;
    color: #FFF !important;
    top: 51px;
    background: red !important;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
    font-size: 31px;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    line-height: 50px;
    margin-right: -60px;
}

#emptyPopup .popupActions {
	top:112px;
	background:#2D92CA !important;
}

#emptyPopup .popupActions i {
	top: 5px;
    position: relative;
}

#orderDetail .return {
	display:none;
	background: none;
    width: 50px;
}

#orderDetail .return input,
#orderDetail input.return {
	border: 1px solid #999;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-left: 0;
    top:1px;
    display: none;
    margin: 8px auto 0;
    width: 100px!important;
}

#orderDetail td span {
	display:block;
}

@media print {
	#emptyPopup {
	}
	
	#emptyPopup.popup-overlay>.container {
		width: 100%;
	    margin: 0;
	    height: 100%!important;
	}
	
	#emptyPopup .closePopup {
		display:none;
	}
	
	.GiftCard {
		max-width:inherit;
		margin:0;
	}
	
	.GiftCard img {
		max-width:80%;
	}
	.GiftCard .print,
	.header_ticket_toPrint {
		display:none!important;
	}
	
	#global-loader {
		display:none!important;
	}
}

#ticketDetail {
	overflow-y:auto;
	height:100%;
}

#ticketDetail .duplicata {
	text-transform: uppercase;
    padding: 20px 20px;
    display: block;
    font-weight: bold;
}

#preOrderListContainer .pastille {
	position:relative;
	top:inherit;
	left:inherit; 
}

/* MAJ CAISSE GRAPHIQUE */
.cellType2.cellStyle3 .cover, .cellType3.cellStyle3 .cover {
	background:#FFF;
}

.cover div.acaisse_productcell_content .product_name {
	vertical-align:middle;
}

#acaissepagecms .cover.with_attributes:not(.isCat) .acaisse_productcell_content .product_name span,
.cover.with_attributes .acaisse_productcell_content .product_name span {
    background: #FFF;
    color: #333;
    font-weight: 400;
}

#acaissepagecms .cover .acaisse_productcell_content .product_name i,
#acaissepagecms .cover .acaisse_categorycell_content i {
	position: absolute;
    top: inherit;
    right: inherit;
    color: #444;
    background: #737373;
    font-size: 40px;
    padding: 8px 6px 6px 8px;
    border-radius: 25px;
    left: -5px;
    bottom: -10px;
    transform: rotate(15deg);
    background: inherit;
    opacity: 0.3;
}

#acaissepagecms .cover.isCat .acaisse_productcell_content .product_name i {
	color: #d8d8d8;
}

#acaissepagecms .cover .acaisse_categorycell_content i {
	color:#FFF;
	background: none;
    /* text-shadow: 1px 1px 0px #000; */
}

.cover.fullImg:not(.isCat) div.acaisse_productcell_content .product_name {
	vertical-align: bottom;
}

/* PROVISOIRE */
/*
#popupNumeric #showHideCalc {
	display:none;
}*/

#footer #print_empty_ticket.button {
	float: right;
    padding-right: 5px;
}

#totals {
	position:relative;
}

#totalWithoutDiscount {
    position: absolute;
    top: 3px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 115px;
    text-align: right;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-right:15px;
}

#totalCost {
	line-height:88px;
	right: 15px;
    position: relative;
    width: 100%;
    display: block;
    text-align: right;
}

#totalWithoutDiscount small {
	font-size:14px;
	font-weight:normal;
}

.prestatillloyalty_ticket_line_body i {
	font-size:33px;
}

#ticketView .lines td.quantityRemove {
	line-height:50px;
}

#ticketView .discountCartLine,
#ticketView .infosProduct,
#ticketView .prestatillloyalty_ticket_line_body,
#ticketView .quantityRemove {
	background:#eee;
}

#ticketView .discountCartLine {
	border-left: 1px dotted #ddd;
	padding-left: 10px;
}

#ticketView .infosProduct {
	color: #333;
}

#placehldr {
	float: right;
    margin-right: 20px;
    background: #444;
    padding: 2px 10px;
    font-style: italic;
    cursor:pointer;
}

#placehldr:hover {
	background:#93b728;
}

#filterPreOrder {
	bottom: 5px;
    right: 20px;
    width: 245px;
    position:absolute;
}

#filterPreOrder input {
    background:#FFF;
}

/* SINCE 2.5.1 */
#actuContainer {
	overflow-y: auto;
    height: calc( 100% - 64px );
    position: relative;
    overflow-x: hidden;
    z-index: 1;
    padding: 10px 5px 20px;
    margin-top: 10px;
}

#actuContainer a {
	color:#FF005D;
	font-weight:bold; 
	text-decoration: none;
}

#actuContainer li {
	background: #181818;
	min-height: 100px;
	margin:0;
	padding:0;
	list-style-type:none;
	margin-bottom:10px;
}

#actuContainer li span.date {
	display: block;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background: #FF005D;
}

#actuContainer .day {
	font-size: 40px;
    display: block;
    font-weight: bold;
    padding-top: 8px;
}

#actuContainer p {
	position: relative;
    text-align: left;
    box-sizing: border-box;
    color: #ddd;
    padding: 7px 10px 7px 110px;
    font-size: 14px;
}

#actuContainer p b {
	color:#FFF;
}

#devisInfos,
#ticketInfos {
	width: 100%;
	display: block;
	padding: 0;
}

#devisInfos .title,
#ticketInfos .title {
	background: #181818;
    color: #FFF;
    display: block;
    width: 100%;
    padding: 18px 0px;
}

#devisInfos .devisInfosComp,
#ticketInfos .infosComp {
	 width:100%;
	 background:#FFF;
}

#ticketInfos .infosComp {
	 padding-top: 15px;
}

#veilleContent > ul > li > ul > li a {
	text-decoration: none;
    color: #FFF;
}

.devisButtons {
	padding: 15px 0 10px;
    background: #eee;
    border-top: 1px solid #DDD;
}

.devisButtons .button {
	width: 215px;
    display: inline-block;
    margin: 0 5px;
    padding: 15px;
    box-sizing: border-box;
    overflow:hidden;
    position: relative;
}

.devisButtons .button i {
	transform: rotate(15deg);
	position:absolute;
	font-size: 50px;
    bottom: -10px;
    left:0
}

.devisInfosComp #popup_epgloal__form,
	.infosComp  #popup_epgloal__form {
	max-width:50%;
	margin:0 auto;
}

.devisButtons .button.print_to_ticket,
.devisButtons .button.print_big {
	background:#93b728;
}

.ticketButtons .button.no_ticket {
	background:red;
}

.devisButtons .button.send {
	background:#2D92CA;
}

#devisInfos .send_form .button,
#ticketInfos .send form .button {
	padding: 11px 15px 8px;
	display:inline-block;
}

#devisInfos .send_form,
#ticketInfos .send_form {
	padding-bottom:20px;
}

#devisInfos .send_form div,
#ticketInfos .send_form div {
	text-align:center;
}

#devisInfos .send_form #confirm_send,
#ticketInfos .send_form #confirm_send {
	background:#93b728;
	padding:11px 15px 8px;
}

#ticketInfos .send_form #abort_send {
	padding:11px 15px 8px;
}

.sendTicket #popup_epgloal__form {
	padding:0;
}

#ticketDetail .header_ticket_toPrint .button {
	margin: 5px 0 0 5px;
    display: inline-block;
    padding: 15px;
    position: relative;
    overflow: hidden;
    width:215px;
}

#ticketDetail .header_ticket_toPrint .button i {
	position: absolute;
    left: 0;
    font-size: 50px;
    transform: rotate(15deg);
    bottom: -10px;	
}

#ticketDetail .header_ticket_toPrint {
	background:#F4F4F4;
}

#ticketDetail .header_ticket_toPrint .print_to_ticket,
#ticketDetail .send_form button#confirm_send {
	background:#93b728;
}

#ticketDetail .header_ticket_toPrint .send {
	background:#2D92CA;
}

#ticketDetail .sendTicket {
	background: #FFF;
	padding-bottom: 25px;
}

#ticketDetail .send_form .button {
	width: inherit;
    padding: 10px 15px;
    line-height: inherit;
    height: inherit;
}

#print_empty_ticket i {
	margin-right:20px;
}

/* ORDER FILTER CSS */
#order_filter .filter {
	
}

#order_filter {
	padding: 5px 5px 5px 10px;
    /* max-width: 800px; */
    box-sizing: border-box;
    margin: 0px auto;
    position: fixed;
    background: #282828;
    right: 0;
    left: calc( 20% + 6px );
}

#order_filter input,
#order_filter select {
	margin:5px;
	box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px solid #777;
    padding: 0 10px;
}

#order_filter .col-xs-2 {
	width: 16.6666667%;
    float: left;    
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

#order_filter .button {
	background: red;
    height: 35px;
    box-sizing: border-box;
    line-height: 14px;
    cursor:pointer;
    display:inline-block;
    float: left;
    width: 48%;
    margin: 5px 1%;
}

#order_filter .button.validate {
	background:#2D92CA;
}

#userEditContainer #pageUser3 table {
	margin:55px 5px 0;
}

@media screen and (max-width:1280px) {
	
	.devisInfosComp #popup_epgloal__form,
	.infosComp  #popup_epgloal__form{
		max-width:100%;
	}
	
	
}
