/*********************************************
*  BUTTONS classes
**********************************************/

/** couleur globale de
 * @TODO : il faudrait toujours ce basé sur une sémantique propre façons boostrap pour gérer les couleurs de boutton par exemple	
 */

.button {	
    background-color: #252525; /* gris très foncé */
    color: #FFF;
    padding: 10px 0 5px;
    margin: 5px 0 0 5px;
}

/** buttons color **/
.button.button-success,.button.button-success i {
	background: #93b728;
	color: #FFF;
}
.button.button-error,.button.button-error i{
	background: #CA442D;
	color: #FFF;
}
.button.button-info,.button.button-info i {
	background: rgb(45, 146, 202);
	color: #FFF;
}


.button.button-success.disabled,.button.button-success.disabled i {
	background: #838f60;
	color: #938e8e;
}
.button.button-error.disabled,.button.button-error.disabled i{
	background: #91574d;
	color: #938e8e;
}
.button.button-info.disabled,.button.button-info.disabled i {
	background: #5a7889;
	color: #938e8e;
}



.button i.fa {
	font-size: 36px;
}

.button .label {
    font-weight: 300;
    font-size: 120%;
}
.button .legend {
    font-weight: bold;
    font-size: 70%;
}

/** tab button **/
.tab-button.button i.fa {
	font-size: inherit;
}

.toggle-button {
	/*background-color:rgb(45, 146, 202);*/
}

.toggle-button.selected {
 	background-color:rgb(45, 146, 202);
}


/** boutton de paiement **/
.button.prestatill_payment_button {
    overflow: hidden;
    min-height: 55px;
    line-height: 55px;
    padding: 0;
}	

.button.prestatill_payment_button {
    overflow: hidden;
    min-height: 55px;
    line-height: 55px;
    padding: 0;
}	

.button.prestatill_payment_button i.fa {
	transform: rotate(-23deg);
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: -6px;
}
