#popupDelivery {
	left:0;
	top:0;
	bottom:0;
	right:0;
}

#popupDelivery.popup-overlay {
	padding:0;
}

#popupDelivery.popup-overlay .closePopup {
    height: inherit;
    float: right;
    position: relative;
    left: 70px;
    width: 30px;
    height: 54px;
    padding: 5px 20px;
    color: #FFF;
    top: 0;
    background: red;
    color: #FFF;
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/*
#popupDelivery.popup-overlay>.container {
    margin: 4% auto;
    padding: 0;
    width: 82%;
    height: 92%;
}
*/


#popupDelivery .flex-vertical {
	float: right;
    margin-top: -64px;
}

#popupDelivery .footer .flex {
    margin-top: 0;
    flex-flow: row-reverse;
}

#popupDelivery.popup-overlay .inner-container {
    width: 100%;
    height: calc(100% - 35px);
}

#popupDelivery .header {
	color:#FFF;
	font-size: 70%;
}

#popupDelivery .footer .button {
	padding: 0 15px;
    height: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    margin:0;
}


#popupDelivery .ui-spinner-group input {
	max-width:80px;
	font-weight: bold;
    font-size: 16px;
}

ul.adresse_selector_list {
	list-style:none;
	margin:0;
	padding:0;
	background: #181818;
    margin: 5px 3px 0;
    padding: 1px 5px;
    height: calc( 100% - 85px );
    overflow-y: auto;
}

ul.adresse_selector_list li {
	background-color: #2b2929;	
    margin: 6px;
}

ul.adresse_selector_list li legend {
	display:none;
	font-size:11px;
}

ul.adresse_selector_list li.selected {
    background-color: #2d92ca;
}
ul.adresse_selector_list li.selected legend {
    display:block;    
}

#detax_info_block {
	color:#FFF;
	text-align:justify;
}

#detax_info_block label,#detax_info_block input {
    display: block;
    margin: 9px 0px;
    width: 96%;
}


#detax_info_block span {
	font-size:75%;
}


#detax_info_block {
	user-select: none;
    background-color: #181818;
    list-style: none;
    margin: 5px 3px 0;
    padding: 1px 5px;
    height: calc( 100% - 85px );
    overflow-y: auto;
}
