

#edit_customer fieldset{
    width: 24%;
    float: left;
}

fieldset#legendeEditCustomer {
	width: 100%;
    padding: 20px 0 15px;
    margin: 10px 0 0;
    /*background: #262626;*/
}

fieldset#legendeEditCustomer legend {
	/*background:#262626;*/
}

fieldset#legendeEditCustomer > div {
	width: 100%;
    height: 40px;
}

fieldset#legendeEditCustomer > div.clearfix {
	height:inherit;
}

fieldset#legendeEditCustomer > div label {
	line-height: 25px;
	font-size:15px;
}

fieldset#legendeEditCustomer input {
	display: inline;
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#edit_customer fieldset:not(#legendeEditCustomer) {
	margin-top: 0;
    width: calc( 33.333334% - 10px);
    
}

.ui-tab-item fieldset {
	background-color:transparent;
	border:none;
	margin-bottom:5px;
    padding: 0;	
}

.ui-tab-item legend {
	color: #FFF;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left:-1px;
    padding-left:15px;
    margin-bottom:10px;
}
