.flex {
	display:flex;
}

.flex-vertical {
	flex-direction: column;
}

.flex-horizontal {
	flex-direction: row;
}

.flex-item {
	flex:1;
	box-sizing:border-box;
	margin:5px;
}

.flex-vertical .header,
.flex-vertical .footer  {
	height:60px;
	line-height: 60px;
	flex:0;
	background-color:#181818;
}

.flex-vertical .body {
	flex:1;
	overflow:auto;
}


.inner-container>.flex {
	height:100%;
	width:100%;
}

.flex .header .header-inner,
.flex .footer .footer-inner {
	height:60px;
}

.popup-overlay .container .inner-container {
	box-shadow: 0 0 85px 10px;
}

.flex.inline-group>* {
	flex:1 1;
	box-sizing:border-box;
}


.flex.inline-group>*:first-child {
	flex: 0 0 200px;
	text-align:right;
    line-height: 40px;
    font-weight: bold;
}

.flex.inline-group>.suffix {
	flex: 0 0 200px;
	text-align:left;
}

.flex.inline-group>input {
	margin:0 10px;
    line-height: 40px;
	box-sizing:border-box;
}

.top-spacing {
	margin-top:10px;
}



