@font-face {
    font-family: 'lbabcaisse';
    src:url('../fonts/lbabcaisse.eot?43q8it');
    src:url('../fonts/lbabcaisse.eot?#iefix43q8it') format('embedded-opentype'),
        url('../fonts/lbabcaisse.woff?43q8it') format('woff'),
        url('../fonts/lbabcaisse.ttf?43q8it') format('truetype'),
        url('../fonts/lbabcaisse.svg?43q8it#lbabcaisse') format('svg');
    font-weight: normal;
    font-style: normal;
}