.loader {
	background-color:rgba(98,98,98,0.8);
	z-index:5000;
	position:fixed;
}

#global-loader {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;	
}


#global-loader>div {	
	display:table-cell;
	vertical-align:middle;
	font-size:200%;
	color:#FFF;
	font-weight:bold;
}

#top-loader {
	height:64px; /** hauteur du header */
	width:100%;
	top:0;
	left:0;
	display:table;	
}
#bottom-loader {
	height:64px; /** hauteur du header */
	width:calc(100% - 185px - 185px);
	bottom:0;
	left:0;
	display:table;	
}
