@media screen and (max-width: 600px)
{
	
	#userBlock,
	#productList,
	#searchKeyboard,
	#openRootPageCaisse,
	#openRootCategorie,
	#productResearch,
	#addNewProduct,
	#lastPrints,
	#changeOrderButton,
	#ticketView .cancelTicket,
	#ticketView .validTicket,
	#reductionGlobalOnCart,
	#deliveryButton,
	#veille #veilleContent,
	#showPointshops,
	#ticketView .cancelTicket .label,
	#ticketView .isCommandeBloquee,
	#ticketView .isDevis,
	#preOrderListContainer .right,
	#actuBox,
	#veille .closeBt,
	#veille .headLine,
	#preorder_option_block .item[data-value="2"],
	#preorder_option_block .item[data-value="3"]
	
	{
		display:none!important;
	}
	
	#content {
		width:100%!important;
		height:100%!important;
		position:inherit;
	}
	
	#ticketView .inner-content:after {
		content: "";
	    width: 250px;
	    height: 141px;
	    background: url(../img/logo-cover-scan-mode.png) no-repeat;
	    top: 50%;
	    left: 50%;
	    margin-left: -125px;
	    margin-top: -60px;
	    background-size: cover;
	    position: fixed;
	}
	
	#ticketView {
		position: fixed;
	    top: 64px;
	    bottom: 60px;
	    left: 0;
	    right: 0;
	    z-index: 200;
	    height:auto;
	    overflow-y:auto;
	    overflow-x:hidden;
	}
	
	#ticketView .newTicket {
	    position: fixed;
	    top: -5px;
	    left: calc( 50% - 5px);
	    right: 0px;
	    height: 64px;
	    box-sizing: border-box;
	}
	
	#ticketView .lines {
		font-size:85%;
	}
	
	#ticketView .line .cost, #ticketView .line .totalLineCost {
		font-size:18px;
	}
	
	#ticketView .newTicket .label {
		margin-top:30px;
	}
	
	#preOrderButtonsPanel .currentTicketNum sup {
		top:-5px;
		right:-85px;
	}
	
	#ticketView .line .label {
		padding:5px 10px;
	}
	
	#ticketView .orderButtons {
		height:0!important;
	}

	#ticketView .inner-content {
		overflow:auto;
		margin:0;
		height:inherit;
		min-height:600px;
	}
	
	#ticketView .button .legend {
		margin-top: -2px;
	}
	
	#preOrderButtonsPanel .currentTicketNum {
		top:0;
	}
	
	#ticketView .newTicket i {
		margin-top:-12px;
	}
	
	#footer {
		z-index: 300;
	}
	
	#preOrderNumber {
		width:50%;
		background: #333;
	}
	
	#totals {
		position: fixed;
	    width: 50%;
	    left: 50%;
	    right: 0;
	}
	
	#ticketView .discountCartLine,
	#ticketView .img {
		display:none;
	}
	
	#preOrderListContainer {
		z-index: 1000;
	}
	
	#preOrderListContainer .left {
		width:100%;
	}
	
	#ticketView .line .cost, #ticketView .line .totalLineCost {
		text-align: right;
	    padding-right: 10px;
	    box-sizing: border-box;
	}
	
	#totalCost {
		font-size:85%;
	}
	
	#notif {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 50%;
	    width: 50%;
	    padding:5px 10px;
	    text-align:center;
	}
	
	#notif:before {
		display:none;
	}
	
	#showPointshops.button, #showEmployee.button {
		background:#222;
	}
	
	#veille {
		position:fixed;
		z-index: 2000;
	}
	
	#veilleEmployee {
		overflow:auto;
		top:0;
	}
	
	#showEmployee.button {
		position: fixed;
	    top: 0;
	    left: 50%;
	    visibility: hidden;
	}
	
	#preOrderListContainer .left ul li .avatar {
		visibility:hidden;
	}
	
	#veilleEmployee .identification {
		padding-top:25px;
	}
	
	#preOrderListContainer .left ul li i,
	#preOrderListContainer .left ul li div.emp,
	#preOrderListContainer .left ul li .date,
	#preOrderListContainer .left ul li .pastille
	{
		display:none;
	}
	
	#preOrderListContainer .left ul li div {
		width:inherit;
		padding: 0 10px;
	}
	
	#preOrderButtonsPanel .ticketBox {
		position: fixed;
	    top: 65px;
	    bottom: 65px;
	    left: 50%;
	    right: 0;
	    overflow: auto;
	    z-index: 1;
	    background: #111;
	}
	
}

@media screen and (max-width: 1279px)
{
	#preorder_option_block.ui-selector-container i {
		display:none;
	}
}