#paymentView {
	background-color: #5d5d5d;
}

#paymentView .content {
	position:absolute;
	width:100%;
}


#paymentView .flexrow {
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
}


#paymentView .flexcol {
	
}


#paymentView .col-modules {
	width:170px;
}

#paymentView .col-interface {
	width:450px;
   	margin: 5px 3px 0px 5px;
    background: #181818;
    position: relative;
}

#paymentView .col-payments {
	flex-grow:1;
	padding: 4px 0px;
}

#paymentView .col-payments th {
	padding:10px;
	font-size:18px;
}

#paymentView #details-paiements {
	background:#93B728;
	color:#FFF;
	font-size:18px;
}

#paymentView #details-paiements td {
	padding:5px;
}

#paymentView .help {
	min-height:45px;
}

#paymentView .col-payments tfoot th {
    background: #363636;
    color: #FFF;
    padding:10px;
}

#paymentView .col-payments-last-actions {
	width:170px;
}

#paymentView .solde_restant.warning tr th:first-child {
	background:#363636;
}

#paymentView .solde_restant.warning tr th:last-child {
	background:#CA442D;
}

/** interface de saisie des montant payé

/**
 * 	Bloc de saisi pour chaque module d epaiement prestatill
 */
.prestatill_payment_interface {
	padding:6px;
	display:none;
	margin-left:25px;
}


#paymentView .payment_actions {
	clear:both;
}

#paymentView .payment_actions i {
	position:absolute;
	left: 45px;
    margin-top: -4px;
}

.prestatill_payment_button{
    position: relative;
}

.prestatill_payment_button.selected {
    background-color:#181818;
	right: -5px;
}

#paymentView #keepToHaveToPay {
	background: #CA442D;
    padding: 5px 10px;	
}

/**
 * 	Zone affichant le recçu /rendu
 */
#paymentView .display_amount {
	display:flex;
    font-size: 150%;
    flex-wrap: wrap;
    padding: 6px;
}

#paymentView .display_amount .display_give {
	width:100%;
	display:inline-block;
	background-color: #363636;
	color:#FFF;
	padding: 10px 10px 5px;
	text-align: right;
	font-size: 26px;
}


#paymentView .display_amount .display_back {
	width:100%;
	display:inline-block;
	background:#363636;
	color:#FFF;
	padding: 5px 10px 20px;
	text-align: right;
	font-size: 18px;
}

.display_back span {
	padding: 5px 10px;
}

.display_back.too_much span {
	background-color:#ca912d;
}

.display_back.too_much .solde_restant::before {
	content:"Trop perçu de ";
}

.display_back.too_much.repaid .solde_restant::before {
	content:"A rendre ";
}

.display_back.too_much .solde_restant::after,
.display_back.not_enough .solde_restant::after {
	content:"€";
}

.display_back.not_enough span {
	background-color:#CA442D;
}

.display_back.not_enough .solde_restant::before {
	content:"Manque ";
}

.display_back.good span {
	background-color:#93b728;
}

.display_back.good .solde_restant::before{
	content:"Appoint exact";
}
.display_back.good .solde_restant::after {
	content:"";
}

 
#paymentView .display_amount .payment_amount::after {
	content:"€";
}
/*
<div class="display_amount">
    <div class="display_give">Reçu <span class="payment_amount">0</span></div>
    <div class="display_back"><span class="solde_restant"></span></div>
    <div class="calc-correction">C</div>
</div>
*/

/* liste des payments */
#paymentView .col-payments table {
	width:100%;
}




/*********** A REECRIRE *****************/
/* ouverture de la calculette */

#orderButtonsPanel .paymentButton{
    position: relative;
}

#orderButtonsPanel .paymentButton.selected .calc {
    opacity:1;
    overflow: visible;
    height: auto;
}

#orderButtonsPanel .paymentButton.selected {
    background-color:#A9BE00;
}
#registerPayment.disabled {
    background-color:#737373;
    color:#333333;
}

#registerPayment {
    background:yellow;
}

.payment_actions .button 
{
	background:#93b728;
	padding: 20px;
	font-size: 25px;
	margin: 20px 25px 20px;
}

.montant-total {
	background: #252525;
    color: #FFF;
}

/**********************************/
/* A METTRE DANS LE MODULE RECIEP PAYMENT */
.prestatillreceipt_area {
	margin-left:-25px;
}

/* A METTRE DANS LE MODULE TOCKEN */
.prestatillcoin_tokens_chooser {
	margin-left:-25px;
}
