#popupEditCartLine .badge,
#popupGlobalCart .badge{
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 8px;
    font-size: 9px;
}

.popup-overlay,
#popupEditCartLine.popup-overlay,
#popupGlobalCart.popup-overlay {
	position:fixed;
	z-index: 1003;
	padding: 20px;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.popup-overlay>.container {
	margin:0 auto;
	padding:45px 0;
	width:82%;
	height:100%;
}
	
	
.popup-overlay>.container {
    margin: 51px auto;
    padding: 0;
    width: 82%;
    display: block;
    height: calc(100% - 53px);
}

.popup-overlay .inner-container {
	width:100%;	
	height:100%;
	background-color:#363636;
	position: relative;
}

#emptyPopup .inner-container {
	overflow-y:auto;
}

.popup-overlay .popup-col-menu {
	float:left;
	width:270px;
}

.popup-overlay .popup-col-menu .acaisse_productcell_content {
	height:270px;
	background-size:cover;
}

.popup-overlay .popup-col-center {
	margin-left:270px;
	margin-right:265px;
	background-color:#FFF;
	height:100%;
	overflow-y:auto;
}

.popup-overlay .popup-col-action {
	float:right;
	width: 265px;
}

#popup_epline__form,
#popup_epgloal__form {
	text-align:left;
	padding:5px 15px;
}

#popup_epline__form input, 
#popup_epgloal__form input {
	box-sizing:border-box;
	margin-bottom:20px; 
	background: #FFF;
    color: #555;
}

#popup_epline__form fieldset,
#popup_epgloal__form fieldset {
	border:none;
}

#popupEditCartLine .alert, 
#popup_epgloal__form .alert {
	padding: 15px;
    display: block;
    margin-bottom: 17px;
    border-radius: 3px;
    background-color: #DCF4F9;
    border-color: #25b9d7;
    color: #1e94ab;
    position: relative;
    border: none;
    border-left: solid 3px #4ac7e0;
    margin-top: 15px;
    clear:both;
}

#popup_epline__manual_price_box .unit, 
#popup_epgloal__form .unit {
    top: 5px;
    color: #888;
}

#popup_epline__manual_price_box .prenumber, 
#popup_epgloal__form .prenumber {
	position:relative;
}

#popupEditCartLine .alert-info, 
#popup_epgloal__form .alert-info {
    background-color: #DCF4F9;
    border-color: #25b9d7;
    color: #1e94ab;
    border-left: solid 3px #4ac7e0;
}

#popupEditCartLine .alert-warning, 
#popup_epgloal__form .alert-warning {
    background-color: #FFF3D7;
    border-color: #D2A63C;
    color: #D2A63C;
    border-left: solid 3px #fcc94f;
}

#popupEditCartLine #popup_epline__form .alert-warning, 
#popup_epgloal__form .alert-warning {
	margin-top:0;
}

#popup_epline__form .prenumber:before, 
#popup_epgloal__form .prenumber:before {
	position:absolute;
	content:"TTC";
	display:block;
	background: #eee;
    padding: 5px 10px 6px;
    color: #888;
    margin: 1px;
}

#popup_epline__form .prenumber.last:before,
#popup_epgloal__form .prenumber.last:before {
	content:"HT";
}

#popup_epline__form .prenumber input,
#popup_epgloal__form .prenumber input {
	padding-left: 55px;
	width:180px;
}

#popup_epline__form .prenumber.last input,
#popup_epgloal__form .prenumber.last input {
	background:#F8F8F8;
}

#popupEditCartLine .alert-danger,
#popupEditCartLine .alert-success,
#popup_epgloal__form .alert-danger,
#popup_epgloal__form .alert-success {
	padding: 3px 10px;
    background: red;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
}

#popupEditCartLine .alert-success,
#popup_epgloal__form .alert-success {
	background:#93B728;
}

.popup-overlay .closePopup {
	height: inherit;
    position: absolute;
    right: -65px;
    padding: 5px 20px;
    color: #FFF;
    top: 0;
    background: red;
    color:#FFF;
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.popup-overlay .showHideCalc {
    position: absolute;
    right: -65px;
    color: #93B728;
    top: 65px;
    background: #363636;
    z-index: 2;
    width: 65px;
    box-sizing: border-box;
    text-align: center;
    height: 65px;
    line-height: 65px;
    font-size: 36px;
}


.popup-overlay .chosseDiscountType {
	display:table;
	width:100%;
	padding:0;
	margin:0;
}
.chosseDiscountType>div {
	display:table-cell;
	text-align: center;
    width: 1;
    height: 64px;
    line-height: 50px;
    border: 0;
    background: #333;
    margin: 1%;
    color: #FFF;
    font-size: 36px;		
}

.chosseDiscountType>div small {
	    font-size: 12px;
	    display: block;
	    line-height: 0;	
}

.chosseDiscountType>div.inset {
    background-color: rgb(45, 146, 202);
	
}

.chosseDiscountType>div:disabled {
    opacity:0.5;
	
}

#popup_epline__original_tax_excl,
#popup_epline__original_tax_incl {
	font-weight: bold;
}

#popup_epgloal__form textarea {
	width: 100%;
    height: 80px;
    border: 1px solid #ddd;
}

/** for debuging */
	#popupPayment.popup-overlay {
		width:80%;
	}
#whole_sale_box {
	background: #F4F4F4;
    padding: 10px;
    position:relative;
    cursor:pointer;
}

#whole_sale_box i {
	margin-left:10px;
}

#stocksPopup .warehouses tr.inactive {
	background-color: #eee;
    color: #999;
}

#popupNumeric #stocksPopup tr td.first span.ref {
	color: #999;
}

#stocksPopup .warehouses .button {
	padding:8px;	
	display: inline-block;
	min-height: inherit;
}

#stocksPopup .warehouses .button i.fa {
    font-size: 24px;
}

#popupNumeric #stocksPopup tr td:last-child {
	min-width:140px;
	text-align:right!important;
}

/**********/

#emptyPopup {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	z-index: 10000;
}

#emptyPopup.popup-overlay {
	padding: 0;
}

#emptyPopup.popup-overlay>.container {
	height: calc(100% - 105px);
}

#emptyPopup .popupActions {
	display:none;
}
