.info {
	color:#FFF;
}

.return-lines {
	display:none;
}

#info-mode-return {
    float: left;
    width: 264px;
    height: 64px;
    text-transform: uppercase;
    font-weight: 600;
    background: #2d92ca;
}

#info-mode-return i {
	font-size: 36px;
    position: relative;
    top: 8px;
    margin-right: 0px;
    left: -10px;
}

.totalBlock.mode-return {
	color:#FFF;
    margin-left:240px;
    text-align:right;
}


#popupReturn {
	left:0;
	top:0;
	bottom:0;
	right:0;
}

#popupReturn.popup-overlay {
	padding:0;
}

#popupReturn.popup-overlay .closePopup {
    height: inherit;
    float: right;
    position: relative;
    left: 70px;
    width: 30px;
    height: 54px;
    padding: 5px 20px;
    color: #FFF;
    top: 0;
    background: red;
    color: #FFF;
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#popupReturn.popup-overlay>.container {
    margin: 4% auto;
    padding: 0;
    width: 82%;
    height: 92%;
}

table.return-lines {
	background-color:#FFF;
	width:100%;
}

table.return-lines th {	
	background-color:#666;
}

.return-sub-detail-line {
	font-size:90%;
}

#popupReturn .flex {
	float: right;
    margin-top: -64px;
}

#popupReturn .footer .flex {
    margin-top: 0;
}

#popupReturn.popup-overlay .inner-container {
    width: 100%;
    height: calc(100% - 35px);
}

#popupReturn .orders_list {
	width:100%;
}

#popupReturn .header {
	color:#FFF;
	font-size: 70%;
}

#popupReturn .footer .button {
	padding: 0 15px;
    height: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    margin:0;
}

/* FORMULAIRE DE RETOUR */
#popupReturnForm th {
	color: #FFF;
    background: #282828;
    padding: 10px;
    border-right: 1px solid #000;
    max-width:170px;
}

#popupReturnForm tr {
	background: #FFF;
}

#popupReturnForm td {
	padding: 5px;
    border-bottom: 1px solid #eee;
}

#popupReturnForm td span.ttc {
	font-size: 18px;
    color: green;
    font-weight: bold;
    display:block;
}

#popupReturnForm td span.ht {
	color:#777;
}

#popupReturnForm .ui-spinner-group input,
#popupReturnForm input.price {
	max-width:80px;
	font-weight: bold;
    font-size: 16px;
}

#popupReturnForm input.price {
	max-width:120px;
}

#totalReturnBlock {
	margin-right: 20px;
    font-size: 26px;
    font-weight: bold;
}

#returnButtonsPanel .cancelreturn {
	background: red;
}

#launchRegisterRefundPayment
{
	background: #2D92CA;
}

#ticketView .lines .return_line td {
	height:80px;
}

#ticketView .help i {
    position: absolute;
    margin-left: -30px;
    margin-top: -6px;
}

#ticketView .help p {
	padding: 15px 5px;
}

#ticketView .return_line .label {
	padding-left:40px;
}

#returnButtonsPanel .button,
#preOrderButtonsPanel .button {
	padding:20px 0 15px;
}
