span.stock_mvt_reason_item,span.stock_item,span.stock_active_item {
    background: #ddd;
    color: #999;
    margin: 4px;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}


span.stock_mvt_reason_item.checked,span.stock_item.checked,span.stock_active_item.checked {
	background: #8FB742;
    color: #FFF;
}

.cancel-stock-action {
	background-color:#CA442D;
}

/* MAJ 2.5 */
#supplierBox {
	width: 20%;
    float: left;
}

#stockReasonBox {
	width: 40%;
    float: left;
}

#stockInputsBox {
	width: 40%;
    float: left;
}

#stockInputsBisBox {
	width: 50%;
    display: inline-block;
}

#stockTransertBox {
	width:50%;
	float:left;
	text-align: center;
}

#stockInputsBox .inline-group {
	width:50%;
	float:left;
	text-align:center;
}

#stockInputsBox .inline-group label,
#stockInputsBisBox .inline-group label,
#supplierBox label,
#stockReasonBox label,
#stockTransertBox label {
	display:block;
	padding: 10px 5px;
	color:#333;
}

#stockInputsBox .inline-group input,
#stockInputsBisBox .inline-group input {
	width:70px;
}

#stockInputsBox .inline-group .suffix {
	padding: 8px 8px 10px;
    background: #181818;
    color: #FFF;
    font-weight: bold;
}

#supplierBox select,
#stockReasonBox select,
#stockTransertBox select {
	height: 35px;
    border: none;
    background-color: #EEEEEE;
    padding-left: 10px;
    border: 1px rgb(229, 229, 229) solid;
}


#stockInputsBisBox .inline-group {
	width:50%;
	margin:0 auto;
	text-align:center; 
}

#stocksPopup .top-spacing {
	padding: 20px 20px 15px;
    background: #F4F4F4;
    margin-top: 20px;
    border-top: 1px solid #eee;
    text-align:center;
}

#stocksPopup button {
	margin: 0 5px;
}

@media screen and (max-width:1440px) {
	
	#supplierBox {
		width:30%;
		text-align: center;
	}	
	
	#stockReasonBox {
		width:70%;
		text-align: center;
	}	
	
	#stockInputsBox,
	#stockTransertBox {
		width:100%;
		padding-top: 10px;
	}
	
	#stockTransertBox {
		padding-top: 0;
		text-align: center;
	}		
		
	#stockInputsBox .inline-group {
		width:30%;
		text-align: center;
	}
	
	#stockInputsBox .inline-group:last-child {
		width:70%;
	}	
	
	#stockInputsBisBox {
		width:100%;
		padding-top:10px;
	}
	
}
