/** new ticket format **/


/** masque par defaut les prix HT */
body.ttc #ticketView .line .cost span.ht,
body.ht #ticketView .line .cost span.ttc,
body.ttc #ticketView .line .totalLineCost span.ht,
body.ht #ticketView .line .totalLineCost span.ttc {
	display:none;
}
body.ht #ticketView .line .cost span.ht,
body.ttc #ticketView .line .cost span.ttc,
body.ht #ticketView .line .totalLineCost span.ht,
body.ttc #ticketView .line .totalLineCost span.ttc {
	display:inline;
}

	
#ticketView .line .cost span,#ticketView .line .totalLineCost span { /* override */
	display:block;
	background-color:transparent;
}

#ticketView .line .cost span.reduction {
	color:#FFF;
	background-color:red;
	border-radius: 5px;
	display:inline-block;
    height: 19px;
    width: auto;
    padding: 2px 5px;
    margin: 2px 5px;
    min-width: 85px;
}

#ticketView .line .cost span.original_prix {
	text-decoration:line-through;
	color:#666;
	font-size:0.8em;
	font-weight:400;
	display:none;
}

#userName .fa-spinner {
	display:none;
}

/* PRINT CSS */
#printTickets .print_buttons {
	position: absolute;
    top: 10px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
}

#printTickets .left {
	position:relative;
	box-sizing: border-box;
	width: calc( 100% - 300px );
}

#printTickets .ticket button {
	width:46%;
	display:inline-block;
    margin: 0 1%;
}

#printTickets .ticket button.kdo {
	background: #FF005F;
}

#printTickets .ticket button i {
	color: #FFF;
	top: 4px;
    position: relative;
    margin-right: 10px;
}

h2.kdotitle, #printTicket.gift .kdoprint {
	display:none;
}

#printTicket.gift h2.kdotitle {
	display:inherit;
}

#printTicket .facturette,#printTicket .duplicata {
	display:none;
}


#printTicket {
	background:none;
	background-color:#FFF;	
}

#printTicket.duplicata { /* .duplicata */
	background:#FFF url("../img/fond_ticket_duplicata.png") center center repeat-y;
}


#printTicket.provisoire {
	background:#FFF url("../img/fond_ticket_provisoire.png") center center repeat-y;	
}

#printTicket.preorder {
	background:#FFF url("../img/fond_ticket_preorder.png") center center repeat-y;	
}

/* element spécifique ticket kdo, preorer, facturette, etc... */
#printTicket .duplicata_print,
#printTicket .provisoire_print,
#printTicket .gift_print,
#printTicket .preorder_print,
#printTicket .facturette_print,

#printTicket.duplicata .duplicata_no_print,
#printTicket.provisoire .provisoire_no_print,
#printTicket.gift .gift_no_print,
#printTicket.preorder .preorder_no_print
#printTicket.facturette .facturette_no_print {
	display:none;
}

#printTicket.duplicata .duplicata_print,
#printTicket.provisoire .provisoire_print,
#printTicket.gift .gift_print,
#printTicket.preorder .preorder_print,
#printTicket.facturette .facturette_print,

#printTicket .duplicata_no_print,
#printTicket .provisoire_no_print,
#printTicket .gift_no_print,
#printTicket .preorder_no_print,
#printTicket .facturette_no_print {
	display:inherit;
}


#printTickets table tr td {
	padding:0 15px;
}

.big {
	font-size:200%;
}
.extra-big {
	font-size:300%;
}

.big_format {
	font-size:80%;
}

.big_format img {
	width:35%!important;
	height:auto;
	float:left;
	margin-bottom: 50px;
}

.big_format.header span {
	display:block;
    margin-right: 40px;
    font-size: 70%;
    text-align:right;
}

.big_format.header span:first-child {
	margin-top:30px;
}

.big_format.header table {
	width: 95%!important;
    font-size: 60%;
    border: 1px solid #000;
    padding: 15px 0;
}

.big_format.header br {
	display:none;
}

.big_format table {
	font-size: 60%;
    margin-left: 30px;
    width: 95%;
}

.big_format table thead tr {
	line-height:90px;
}

.big_format.footer {
	text-align: center;
    font-size: 50%;
    width: 95%;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 0 15px 50px;
    box-sizing: border-box;
}

.big_format.footer br {
	display: inline;
    content: " ";
    padding-left: 10px;
}

.big_format.footer p {
	padding-top: 40px;
}

.big_format table hr {
	color: #000;
    height: 5px;
    border: none;
    background: #000;
    margin-bottom: 15px;
}

.big_format h3 {
	font-size:70%;
}

#ticket_email {
	position:fixed;
	z-index: 0;
	top:0px;
	left:-650px;
}
@media screen {
	#printTickets .gift_print {
		display:none;
	}
}
