/* SCROLLBAR */
::-webkit-scrollbar {
   height: 4px;
   width: 4px;
   background: #000;
}

::-webkit-scrollbar-thumb {
   background: #d8d8d8;
   -webkit-border-radius: 1ex;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
   background: #000;
}

* {
	box-sizing: border-box;
}
body,html {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;	
} 
h2 {
	margin: 0;
	padding: 10px;
}
#topBar {
    margin: 0;
    height: 80px;
    color: #FFF;
    padding-top:10px;
    background:#181818;
}

#topBar h1 {
	font-size: 22px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}
#pubBox {
	width: 50%;
    min-height: 470px;
    max-height: 100%;
    height: 470px;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 50%;
    top: 50%;
    bottom: 0;
    margin-top: -235px;
}

#pubBox>div {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

#pubBox img {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -205px;
   }

.usbscr {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;	
}

#contentUsb {
	background-color: #FFF;
	margin: 0;
	min-height: 470px; 
	overflow: auto;
	width:50%;
	height: calc( 100% - 130px);
	position: absolute;
    left: 50%;
    right: 0;
    background:url('../img/footer_lodyas.png');
}

#contentUsb li {
	background:#FFF;
}

#contentUsb table {
	width: 50%;
	margin: 0 auto;
}
#total_usb_screen {
	margin: 0;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 0;
    background: #181818;
}
#total_usb_screen div {
	position: absolute;
	right: 0px;
	height: 100%;
	background-color: #181818;
	line-height: 50px;
	font-weight: 400;
	color: white;
	padding: 0px;
}
#total_usb_screen div span {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 200px;
	font-size: 150%;
	vertical-align: middle;
	border: 0px;
	margin-top:-2px;
}

.item_name, .item_price, .item_qte {
	display: inline-block;
	overflow: hidden;
}

#contentUsb ul {
	width: 100%;
	padding: 0px;
	margin:0;
}

#contentUsb ul li {
	width: 100%;
}

#contentUsb ul li {
	transition:all 1s linear;
	list-style:none;
	display:table;
	border-bottom:1px dashed #999;
	padding: 10px 0px;
}

#contentUsb ul li span {
	display:table-cell;
	vertical-align:middle;
	text-align:left;
}

#contentUsb ul li span:first-child {
	float:left;
	padding-right: 5px;
    padding-top: 4px;
    padding-left: 5px;
    width:60px;
}

#contentUsb ul li span:first-child span {
	min-height: 60px;
}

#contentUsb ul li span.item_name {
	width: 185px;
    padding: 0 5px;
    text-align:left;
}

#contentUsb ul li span.item_price {
	width:85px;
}

#contentUsb ul li span.item_qte {
	text-align: right;
    padding-right: 10px;
    width:70px;
}

#contentUsb ul li.flashed {
	background:#93b728;
	color:#FFF;
}

#descript {
	background: #444;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 4px;
}

#PLV {
	display: none;
	color: white;
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	width: 100%;
	height: 100%;
	background-color: black;
}

/* ####################### */
/* css pour les particules */
/* ####################### */
div.particules {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}

#grosses_particules {
	opacity:0.2;
	-webkit-filter: blur(15px); /* Chrome, Safari, Opera */
    filter: blur(15px);
}

#petites_particules {
	opacity:0.8;
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

/* ############### */
/* css pour la PLV */
/* ############### */
div.container {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

div[class^=A] {
    text-shadow:
    	1px 1px 1px grey,
    	1px -1px 1px grey,
    	-1px 1px 1px grey,
    	-1px -1px 1px grey;
	font-size: 1em;
	box-shadow: #ccc 0 0 50px;
	transition: all 1s;
	position: absolute;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-size: 100% 100%;
	color: white;
	width: 200px;
	height: 150px;
}
 
.A1 {
	top: 10px;
	left: 10px;
}

.A2 {
	top: 10px;
	left: calc(100% - 210px);
}

.A3 {
	top: calc(100% - 160px);
	left: calc(100% - 210px);
}

.A4 {
	top: calc(100% - 160px);
	left: 10px;
}

div[class^=B] {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div[class^=A].frontDisplayed {
	font-size: 3em;
}

div[class^=A].afterDisplay {
	width: 0px !important;
	height: 0px !important;
}

.A2.afterDisplay {
	left: calc(100% - 10px);
}

.A3.afterDisplay {
	top: calc(100% - 10px);
	left: calc(100% - 10px);
}

.A4.afterDisplay {
	top: calc(100% - 10px);
}

.productPrice {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.productReduction {
	position: absolute;
	left: -14%;
    bottom: 7%;
    
	width: 50%;
	transform: rotate(45deg);
    
	background-color: red;
	box-shadow: none;
}

.productReduction .reductionValidity {
	font-size: 0.3em;
	display: block;
	margin-bottom: 2px;
}

/*
.item_taille_6 {font-size:0.0em;height: 0.0em;}
.item_taille_5 {font-size:0.0em;height: 0.2em;}
.item_taille_4 {font-size:0.8em;height: 0.8em;}
.item_taille_3 {font-size:1.2em;height: 1.2em;}
.item_taille_2 {font-size:1.6em;height: 1.6em;}
.item_taille_1 {font-size:2em;height: 2em;}

.item_taille_6 img {width: 0px;height: 0px;}
.item_taille_5 img {width: 0px;height: 0px;}
.item_taille_4 img {width: 40px;height: 40px;}
.item_taille_3 img {width: 60px;height: 60px;}
.item_taille_2 img {width: 80px;height: 80px;}
.item_taille_1 img {width: 100px;height: 100px;}

.item_taille_6 .item_name {width: 0%;}
.item_taille_5 .item_name {width: 10%;}
.item_taille_4 .item_name {width: 20%;}
.item_taille_3 .item_name {width: 30%;}
.item_taille_2 .item_name {width: 40%;}
.item_taille_1 .item_name {width: 50%;}

.item_taille_6 .item_price {width: 0%;}
.item_taille_5 .item_price {width: 4%;}
.item_taille_4 .item_price {width: 8%;}
.item_taille_3 .item_price {width: 12%;}
.item_taille_2 .item_price {width: 16%;}
.item_taille_1 .item_price {width: 20%;}

.item_taille_6 .item_qte {width: 0%;}
.item_taille_5 .item_qte {width: 2%;}
.item_taille_4 .item_qte {width: 4%;}
.item_taille_3 .item_qte {width: 6%;}
.item_taille_2 .item_qte {width: 8%;}
.item_taille_1 .item_qte {width: 10%;}
*/
