/* CMS Pages Styles */
#cms #center_column .block-cms {
    padding-bottom: 20px; }
#cms #center_column .rte, #cms .rte {
    color:#555555;
    font-size: 14px; }
#cms .content_only { padding:30px; }
#cms #center_column .rte strong {
    font-weight: 600; }
#cms #center_column ul {
    margin-left:18px;
    margin-bottom:30px;
    list-style-type: disc; }
#cms #center_column ol {
    margin-left:18px;
    margin-bottom:30px;
    list-style-type: decimal; }
#cms #center_column ul li, #cms #center_column ol li {
    margin-bottom:6px; }
#cms #center_column ul li ul, #cms #center_column ol li ul {
    margin-bottom: 12px;
    margin-top:12px; }
		
#cms #center_column em {
    font-style: italic;
}
#cms #center_column a {
    color:#323232;
    text-decoration: underline;
}
#cms #center_column a:hover {
    color:#000000;
    text-decoration: none;
}
#cms #center_column h1, #cms #center_column h2 {
    font: 600 20px/22px "Open Sans", sans-serif;
    letter-spacing: 0.9px;
    margin: 0 5px 20px 0;
    display: inline-block;
    position: relative;
    width:100%;
    padding-bottom: 19px; }
#cms #center_column h1 {
    color: #323232;
    padding-top:14px; }
#cms #center_column h2 {
    color: #555555; }

#cms #center_column h1:before,
#cms #center_column h2:before {
    height: 1px;
    width:99%;
    left: 0;
    display: inline-block;
    content: " ";
    position: absolute;
    bottom: 0;
    background: #ededed;
}

#cms #center_column h3 {
    font: 600 18px/20px "Open Sans", sans-serif;
    letter-spacing: 0.9px;
    border-bottom: none;
    margin-top:22px;
    margin-bottom:12px;
    color: #555555;
    padding: 0; }
#cms #center_column p {
    margin-bottom:20px;
    font-size:15px;
    letter-spacing: 0.3px;
    line-height: 24px; }

#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  font-weight: bold;
  color: #46a74e;
  border-top: 1px solid #d6d4d4; }
  #cms #center_column .list-1 li:first-child {
    border: none; }
  #cms #center_column .list-1 li em {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
    vertical-align: -2px; }
	
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }
  
#cms #center_column img.align-left {
	float:left;
	margin:14px 20px 6px 0; }
#cms #center_column img.align-right {
	float:right;
	margin:6px 0 6px 16px; }
  
#cms #center_column .testimonials {
  border: 1px solid;
  border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
  margin: 4px 0 13px 0;
  position: relative; }
  #cms #center_column .testimonials .inner {
    border: 1px solid white;
    padding: 19px 18px 11px 18px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
    #cms #center_column .testimonials .inner span {
      text-indent: -5000px;
      display: inline-block;
      width: 20px;
      height: 15px; }
      #cms #center_column .testimonials .inner span.before {
        background: url(../img/bl-before-bg.png) no-repeat;
        margin-right: 8px; }
      #cms #center_column .testimonials .inner span.after {
        background: url(../img/bl-after-bg.png) no-repeat;
        margin-left: 8px; }
  #cms #center_column .testimonials:after {
    content: ".";
    display: block;
    text-indent: -5000px;
    position: absolute;
    bottom: -16px;
    left: 21px;
    width: 15px;
    height: 16px;
    background: url(../img/testimon-after.gif) no-repeat; }
  #cms #center_column .testimonials + p {
    padding-left: 45px;
    margin-bottom: 18px; }
#cms #center_column p.bottom-indent {
  margin-bottom: 24px; }
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px; }
  #cms #center_column #admin-action-cms p {
    margin: 0; }
    #cms #center_column #admin-action-cms p span {
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #333333; }
    #cms #center_column #admin-action-cms p .button {
      font: 700 17px/21px Arial, Helvetica, sans-serif;
      padding: 0;
      border: 1px solid;
      padding: 10px 14px;
      display: inline-block; }
      #cms #center_column #admin-action-cms p .button.publish_button {
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #0079b6 #006fa8 #012740 #006fa8;
        background: #009ad0;
        background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
        background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.publish_button:hover {
          border-color: #01314e #004b74 #0079b6 #004b74;
          filter: none;
          background: #0084bf; }
      #cms #center_column #admin-action-cms p .button.lnk_view {
        color: #333333;
        text-shadow: 1px 1px white;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        background: #f7f7f7;
        background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.lnk_view:hover {
          border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
          filter: none;
          background: #e7e7e7; }
