/* Compare Page Styles */
table#product_comparison tbody tr td {
    color:#323232; }
table#product_comparison tbody tr td a { }
table#product_comparison tbody tr td.product-block {
  vertical-align: top;
  padding: 14px 19px 19px;
  text-align: center; }
table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
  background: #fafafa;
  font-size:14px;
  padding:20px;
  color: #323232; }
#products-comparison .button-container { white-space:nowrap }
table#product_comparison tbody tr td.comparison_infos {
  text-align: center; }
  table#product_comparison tbody tr td.comparison_infos div.center {
    margin: 0 auto;
    width: 80px; }
table#product_comparison tbody tr td.td_empty {
  vertical-align: bottom; }
  table#product_comparison tbody tr td.td_empty > span {
    font-size:18px;
    line-height:22px;
    font-weight: 600;
    text-transform: uppercase; }
table#product_comparison .remove {
  text-align: right;
  padding: 0 0 15px 0; }
  table#product_comparison .remove a {
    display:inline-block;
    color: #c0c0c0; }
    table#product_comparison .remove a:hover {
      color: #515151; }
    table#product_comparison .remove a i {
      width:30px;
      height:30px;
      position:relative;
      display:block;
      background:#F45435;
      text-align: center;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out; }
    table#product_comparison .remove a i:before {
    text-align: center;
    line-height: 30px;
    padding-left: 2px;
    content: "\f2d7";
    font-family: "Ionicons";
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    display: inline-block; }
    table#product_comparison .remove a:hover i {
      background-color: #6D6D6D; }
table#product_comparison .product-image-block {
  display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-color:#e5e5e5;
    border-width:1px;
    border-style: solid;
  background: #ffffff;
  position: relative; }
  table#product_comparison .product-image-block .product_image {
    margin: 0; }
    table#product_comparison .product-image-block .product_image img {
      width: 100%; }
table#product_comparison h5 {
  padding: 0 0 8px 0;
  min-height: 54px; }
table#product_comparison .prices-container {
  padding: 0 0 5px 0; }
table#product_comparison .comparison_availability_statut {
  display: none;
  font-weight: 700;
  color: #060; }
table#product_comparison .product_discount {
  padding-top: 5px; }
  table#product_comparison .product_discount .reduced-price {
    color: red;
    font-weight: 700; }
table#product_comparison .product_desc {
    padding: 0 0 24px 0;
    max-width: 360px;
    display: block;
    text-align: center;
    margin: 0 auto; }
table#product_comparison .button-container a, table#product_comparison .button-container > span {
  margin-bottom: 10px; }
table#product_comparison .comparison_unit_price {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-style: italic; }
table#product_comparison .product-rating {
  width: 80px;
  margin: 0 auto;
  overflow: hidden; }
table#product_comparison .comparison_feature .product_name {
  display: none; }

.footer_link {
  margin: 0 0 20px 0; }

#stOCClose {
  width: 29px !important;
  height: 29px !important; }

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important; }

.share strong {
  display: block;
  margin-bottom: 10px; }
.share > div {
  margin-bottom: 8px; }
@media (min-width: 1200px) {
  .share {
    position: relative;
    top: -350px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .share {
    position: relative;
    top: -260px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .share {
    position: relative;
    top: -245px; } }

.stArrow {
  display: none !important; }

/***** IE code ****/
.ie8 table#product_comparison .product-image-block .product_image img {
  width: auto; }

/**** responsive code ******/
@media (max-width: 992px) {
  #columns table#product_comparison tbody tr td.td_empty span {
    font-size: 14px; }
  #columns table#product_comparison tbody tr td.product-block {
    padding: 14px; }
  #columns table#product_comparison .button.ajax_add_to_cart_button,
  #columns table#product_comparison .button.lnk_view {
    text-indent: -9999px;
    font-size: 14px; } }
@media (max-width: 767px) {
  #product_comparison table,
  #product_comparison thead,
  #product_comparison tbody,
  #product_comparison th,
  #product_comparison td,
  #product_comparison tr {
    display: block; }

  #product_comparison thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  #product_comparison tr {
    overflow: hidden; }
    #product_comparison tr:last-child {
      border-bottom: none; }
      #product_comparison tr:last-child td {
        border-bottom: none; }

  #product_comparison td {
    border: none;
    position: relative;
    white-space: normal;
    float: left;
    width: 33.33%; }
    #product_comparison td.td_empty {
      width: 100% !important;
      clear: both; }
    #product_comparison td:last-child {
      border-bottom: none; }

  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    float: none;
    clear: both; } }
@media (max-width: 480px) {
  #product_comparison td {
    float: none;
    width: 100%; }

  #product_comparison .comparison_feature td {
    float: left;
    width: 50%; }
  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    clear: both; }
  #product_comparison .comparison_feature .product-name {
    width: 50%;
    float: left;
    display: block; } }
#product_comparison .popover {
    margin-top:14px;
}
#product_comparison td.compare_extra_information {
  padding: 10px; }
#product_comparison #social-share-compare {
  margin-bottom: 50px; }
#product_comparison #social-share-compare button {
    background:#ffffff; }
#product_comparison #social-share-compare button:hover {
    color:#ffffff; }

