/* Contact Page Styles */
#contact h1 {
    display: none;
    text-align:center;
    font-size:30px;
    font-weight:400;
    color:#777777;
    padding-bottom:30px;
    margin-bottom: 30px;
}
.contact-title {
  margin: -5px 0 27px 0;
  line-height: 23px; }
  .contact-title i {
    font-size: 14px;
    color: #c0c0c0;
    padding: 0 6px 0 0; }

.contact-form-box {
    position: relative;
  padding: 0;
  margin: 0; }

    .contact-form-box fieldset {
        padding: 0 0 0 40px; }
  .contact-form-box label {
      width:100%;
    margin: 0 0 6px 0; }
  .contact-form-box .page-subheading {
    padding-left: 0px;
    border: none;
    margin-bottom: 0; }
  .contact-form-box .col-md-3 {
    padding-left: 0; }
    @media (max-width: 991px) {
      .contact-form-box .col-md-3 {
        padding-right: 0; } }
  .contact-form-box .col-md-9 {
    padding-right: 0; }
    @media (max-width: 991px) {
      .contact-form-box .col-md-9 {
        padding-left: 0; } }
  .contact-form-box #desc_contact0 {
    display: none; }
  .contact-form-box .form-group {
    margin-bottom: 7px; }
  .contact-form-box textarea {
    height: 257px; }
  .contact-form-box .submit {
    float:right;
    margin-right: 15px; }

  .contact-form-box .submit span {
    padding: 2px 11px 2px 14px; }
    .contact-form-box .selector {
        max-width: 270px;
        width: 100%!important; }
    .contact-form-box select.form-control {
        max-width: 270px;
        width: 100%!important; }
    .contact-form-box input.form-control {
        width: 100%!important;
        max-width: 270px; }
    .contact-form-box .uploader input.form-control {
        width: 100%!important; }

.contact-form-box div.uploader span.filename {
    position: absolute;
    top: 0;
    background: none;
    width: 100%;
    margin: 0;
    border: none;
    text-align: center;
    padding: 12px;
    pointer-events : none;
}
.contact-form-box div.uploader span.action {
    text-indent: -5000px;
}
.contact-icon-con {
    width:100%;
    text-align:center;
    padding:0;
    margin:0;
    position: relative;
}
.contact-icon-con:before {
    content: "\e606";
    font-family: "rt-planetes";
    font-size: 60px;
    line-height: 55px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 0px;
}
.contact-icon-con:after {
    content: "\e607";
    font-family: "rt-planetes";
    font-size: 60px;
    line-height: 55px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    position: absolute;
    right: 50%;
    margin-right: -100px;
    top: 0px;
}
.contact-icon-con .mail-icon {
    display:inline-block;
}
.contact-icon-con .mail-icon:before {
    content: "\f422";
    font-family: "Ionicons";
    font-size:70px;
    line-height: 55px;
    font-weight: 400;
    color:#777777;
    display:inline-block;
}

.cu-wrap { display: inline-block; width:100%; border:2px solid #323232; padding:40px 30px; margin-top:25px; margin-bottom:50px; }
.cu-wrap h3 { font-size: 36px; margin-bottom: 40px; padding-bottom: 35px; padding-left: 15px; position: relative; margin-top: 5px; }
.cu-wrap h3:before { content:' '; background: #e5e5e5; height:6px; width:40px; position: absolute; top:100%; left:15px; }

.cu-left {
    float:left;
    width:30%;
    padding-right:40px;
}
.cu-right {
    float:left;
    width:70%;
    border-left:2px solid #323232;
}
.contact-us-block {
    font-size: 14px;
    line-height: 18px;
}
.contact-us-block {
    font-size: 14px;
    line-height: 18px;
}
.contact-us-block li {
    margin-bottom:36px;
}
.contact-us-block li > span:first-child {
    font-weight: bold;
}
.contact-us-block li a:hover {
    text-decoration: underline!important;
}

@media (max-width: 991px) {
    .cu-wrap h3 { text-align: center; }
.cu-left, .cu-right {
    float:left;
    clear:left;
    width:100%;
    padding-top:30px;
    padding-right:0;
} 
.cu-left { 
    padding-top:0; }
.cu-right {
    padding-top:60px;
    padding-left:0;
    margin-top:30px;
    border-left:none;
    border-top:2px solid #e5e5e5;
} 
.contact-form-box fieldset { padding:0; }
.contact-form-box input.form-control { max-width: 100%!important }
.contact-form-box select.form-control { max-width: 100%!important }
.contact-form-box div.uploader { max-width: 100%!important }
.contact-form-box .selector { max-width: 100%!important }
        .contact-form-box .uploader input.form-control {
            max-width: 100%!important; }
        .contact-form-box div.uploader span.action {
            max-width: 40%!important; float:right; }
            .contact-form-box div.uploader span.filename { position: static;  margin-right: 0; }
            .contact-form-box textarea { margin-bottom: 30px;  }
}
@media(max-width: 767px) {
  .contact-form-box .submit {
    float:none;
    margin-left: 15px;
    margin-right: 15px; }
  .contact-form-box .submit button { width:100%; }
  .cu-wrap h3:before { left:50%; 
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0); }
}
@media(max-width: 479px) {
.cu-wrap { border-left:none; border-right:none; padding:30px 0; }
.cu-right{ padding-top:40px; }
}