/* Product list Styles */
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  margin-bottom: 6px; }
  ul.product_list .availability span.available-now {
    background: #d0d0d0; }
  ul.product_list .availability span.out-of-stock {
    background: #ff9d89; }
ul.product_list .color-list-container {
  opacity:0.4;
  filter: alpha(opacity=40);
  margin: 8px auto 2px;
    -webkit-transition: all 0.150s linear;
    -moz-transition: all 0.150s linear;
    transition: all 0.150s linear; }
  ul.product_list .color-list-container ul li {
  	margin:0!important;
  	padding:0!important;
    float:none!important;
  	border-radius: 50%;
    display: inline-block;
  	width: 29px!important;
  	position: relative;
  	height: 29px;
    border: 2px solid #d6d4d4;
    -webkit-transition: all 0.150s linear;
    -moz-transition: all 0.150s linear;
    transition: all 0.150s linear; }
    @media(max-width:991px) {
        .color_to_pick_list { text-align: center; }
      ul.product_list .color-list-container ul li {
      	width: 40px!important;
      	height: 40px!important; }
    }
    ul.product_list .color-list-container ul li a {
      	display: block;
      	position: absolute;
      	width:100%;
      	height:100%;
      	right:0;
      	top:0;
  		border-radius: 50%;
	    -webkit-transition: all 160ms cubic-bezier(0,0.32,0.04,1);
	    transition: all 160ms cubic-bezier(0,0.32,0.04,1); }
    ul.product_list .color-list-container ul li:hover {
    	border-color:#323232;
	    }
    ul.product_list .color-list-container ul li:hover a {
/*      width:60%; height:60%; right:20%; top:20%;*/
	    }
ul.product_list .product-image-container {
  text-align: center; }
  ul.product_list .product-image-container img {
  	width:100%;
    margin: 0 auto; }
ul.product_list .comments_note {
  text-align: left;
  overflow: hidden; }
  ul.product_list .comments_note .star_content {
    float: left; }
  ul.product_list .comments_note .nb-comments {
    color:#c0c0c0;
	margin-left:6px;
    overflow: hidden; }
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
    color: #bababa;
    font: 400 14px/14px 'Roboto', Arial, sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.150s linear;
    -moz-transition: all 0.150s linear;
    -o-transition: all 0.150s linear;
    -ms-transition: all 0.150s linear;
    transition: all 0.150s linear; }
  ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
    color: #333333; }
ul.product_list .functional-buttons div.wishlist a {
	line-height:28px;
	float:right; }
ul.product_list .functional-buttons div.wishlist a:before {
	content: "\f387";
	font-size: 20px;
	line-height: 20px;
	text-align: right;
	display: inline-block;
	float: right;
	font-family: "Ionicons"; }
ul.product_list .functional-buttons div.wishlist a.checked:before {
	color:#999999;
	content: "\f388"; }

ul.product_list .functional-buttons div.compare a {
  line-height:28px;
  float:left; }
ul.product_list .functional-buttons div.compare a:before {
	content: "\f3ef";
	font-size: 20px;
	font-weight:bold;
	line-height: 20px;
	text-align: right;
	display: inline-block;
	float: right;
	font-family: "Ionicons"; }
ul.product_list .functional-buttons div.compare a.checked:before {
	color:#999999;
	font-size: 21px;
	font-weight:normal;
	content: "\f3f0"; }

ul.product_list.list .functional-buttons div.wishlist a:before {
	float: none;
	vertical-align:-2px;
	margin-right:4px; }
ul.product_list.list .functional-buttons div.compare a:before {
	float: none;
	vertical-align:-2px;
	margin-right:8px; }

	ul.product_list .functional-buttons {
		position:relative;
	}
	ul.product_list.list .functional-buttons {
		padding-left:1px;
	}
	ul.product_list.grid .functional-buttons div.compare a span, ul.product_list.grid .functional-buttons div.wishlist a span {
		white-space: nowrap;
		position: absolute;
		display: inline-block;
		z-index: 4;
		bottom:110%;
		right:0;
		line-height: 13px;
		font-size: 13px;
		color: #fff;
		padding: 14px 20px;
		background: #343a41;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.14s linear;
		-moz-transition: all 0.14s linear;
		-o-transition: all 0.14s linear;
		transition: all 0.14s linear;
	}
	ul.product_list.grid .functional-buttons div.compare a:hover span, ul.product_list.grid .functional-buttons div.wishlist a:hover span {
		bottom:90%;
		opacity: 1;
		visibility: visible;
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}
	ul.product_list.grid .functional-buttons div.compare a span:before, ul.product_list.grid .functional-buttons div.wishlist a span:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-top: 7px solid #343a41;
		border-right: 6px solid transparent;
		position: absolute;
		bottom: -5px;
	}
	ul.product_list.grid .functional-buttons div.wishlist a span:before {
		right:5px; }
	ul.product_list.grid .functional-buttons div.compare a span:before {
		right:34px; }

/* Product list(Grid) Styles */
ul.product_list.grid li {
    padding-bottom:10px;
    margin-bottom: 0;
    text-align: center; }
@media (max-width: 991px) {
	ul.product_list.grid {
		padding:0 7px;
	}
    ul.product_list.grid li {
        width: 50%;
        padding:0 8px;
        float: left; } }
    ul.product_list.grid li .product-container {
        background: none;
        padding: 0;
        position: relative;	}
    ul.product_list.grid li .product-container .right-block {
		position:relative;
		text-align:left;
        padding-top:12px; }
    ul.product_list.grid li .product-container .product-image-container {
        border: none;
        padding: 0;
        position: relative; }
      ul.product_list.grid li .product-container .product-image-container .content_price {
        display: none; }
    ul.product_list.grid li .product-container h5 {
      padding: 0 54px 0 2px;
	  margin:0;
      min-height: 20px; }
      ul.product_list.grid li .product-container .comments_note {
          display:inline-block;
          margin:6px auto 0;
      }
    ul.product_list.grid li .product-container .comments_note .star_content {
      margin: 0; }
    ul.product_list.grid li .product-container .product-desc {
      display: none; }
    ul.product_list.grid li .product-container .content_price {
      padding: 6px 0 0;
      line-height: 21px; }
    ul.product_list.grid li .product-container .old-price {
      display: inline-block; }
    ul.product_list.grid li .product-container .product-flags {
      display: none; }
    ul.product_list.grid li .product-container .old-price {
      margin-right: 2px; }

    /*for home sliders */
    @media (max-width: 479px) {
        .homeproducts ul.product_list.grid li .product-container h5 {
            padding: 0 2px 0 2px;
            margin:0;
            width:100%;
            min-height: 20px; }
    }

		ul.product_list.grid li:hover .product-container .button-container .btn_add_cart {
            pointer-events: auto;
		}

		ul.product_list.grid li .product-container .button-container .ajax_add_to_cart_button,
		ul.product_list.list > li .product-container .button-container .ajax_add_to_cart_button {
			pointer-events: auto; }
		ul.product_list.grid li .product-container .button-container .ajax_add_to_cart_button span {
			display:inline-block; }

/* QUICK VIEW */
	ul.product_list li .product-container .product-image-container .quick-view {
		position:absolute;
		left:16px;
		top:16px;
		width:auto;
		opacity: 0;
		filter: alpha(opacity=0);
		display: block;
		z-index:199;
		border:none;
		background:none;
		padding:0;
		margin:0;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;
      }
	ul.product_list li .product-container .product-image-container .quick-view:before {
		content: "\f0b2";
		font-size: 18px;
		line-height: 18px;
		display: inline-block;
		color:#808080;
		float: right;
		font-family: "FontAwesome";
		opacity: 0.6;
		filter: alpha(opacity=60);
		font-weight:400;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;
    }
	ul.product_list li .product-container .product-image-container .quick-view:hover:before {
		opacity: 1;
		filter: alpha(opacity=100);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
    }
	ul.product_list li .product-container .product-image-container .quick-view span {
		white-space: nowrap;
		position: absolute;
		display: inline-block;
		z-index: 2;
		top: -11px;
		left:240%;
		line-height: 13px;
		font-size: 13px;
		color: #fff;
		padding: 14px 20px;
		background: #343a41;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.14s linear;
		-moz-transition: all 0.14s linear;
		-o-transition: all 0.14s linear;
		transition: all 0.14s linear;
	}
	ul.product_list li .product-container .product-image-container .quick-view:hover span {
		left: 190%;
		opacity: 1;
		visibility: visible;
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}
	ul.product_list li .product-container .product-image-container .quick-view span:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-right: 7px solid #343a41;
		border-bottom: 6px solid transparent;
		position: absolute;
		top: 50%;
		margin-top:-6px;
		left: -7px;
	}

/* OVERALL PRODUCT LIST STYLES for ALL LAYOUTS */
    ul.product_list.grid li .product-container .right-block .reviews-container .nb-comments {
		display:none; }
    ul.product_list.grid li .product-container .functional-buttons div.compare {
        -webkit-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease; }
    ul.product_list.grid li .product-container .functional-buttons div.wishlist {
        -webkit-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease; }
	ul.product_list li:hover .product-container .color-list-container {
		opacity:1;
		filter: alpha(opacity=100); }

	ul.product_list.grid li:hover h5 {
		color:#e1210d;
		min-height: 20px; }
	ul.product_list.grid li:hover h5 .product-name {
		color:#333333; }
/* /OVERALL PRODUCT LIST STYLES for ALL LAYOUTS */


@media (min-width: 1200px) {
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 991px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none; }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left; } }

/* All new lines rules for grid are in the customizer */

/* TABLET - Product list - grid */
	    @media (min-width: 768px) and (max-width: 1199px) {
			ul.product_list.grid li .product-container .button-container {
				text-align:center; }
		}
/* /TABLET - Product list - grid */

/* MOBILE - Product list - grid */
        @media (max-width: 767px) {
            ul.product_list.grid li .product-container .product-image-container, ul.product_list.grid li {
                /*max-width: 300px;*/
                margin-left: auto;
                margin-right: auto; }
            ul.product_list.carousel-home li .product-container .product-image-container, ul.product_list.carousel-home li {
                max-width: 100%!important; }
            ul.product_list.grid li {
				margin-bottom:10px;	}
			ul.product_list.grid li .product-container .button-container {
				text-align:center; }
		}
/* /MOBILE - Product list - grid */

/* Product list(List) Styles */
ul.product_list.grid li .product-container .button-container .ajax_add_to_cart_button span, ul.product_list.list li .ajax_add_to_cart_button span, ul.product_list.grid li .product-container .button-container .btn_add_cart span, ul.product_list.list li .btn_add_cart span {
    white-space: normal;
}
ul.product_list.list li .product-container {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #f2f2f2; }

ul.product_list.list > li .product-container {
	display:table; }
ul.product_list.list > li .product-container .row {
	display:table-row; }
ul.product_list.list > li .product-image-container {
	position: relative; }
  @media (max-width: 479px) {
	  ul.product_list.list > li .left-block {
	    width: 100%; }
    ul.product_list.list > li .product-image-container {
      max-width: 270px;
      margin: 0 auto; } }

  ul.product_list.list > li .product-image-container .content_price {
    display: none !important; }
ul.product_list.list > li .product-flags {
  color: #333333;
  font-size:13px;
  font-weight: bold;
  text-transform: uppercase;
  margin: -5px 0 10px 0; }
  ul.product_list.list > li .product-flags .discount {
    color: #DB7769; }
  ul.product_list.list > li .product-flags .online_only {
    color: #00b633; }
ul.product_list.list > li h5 {
  padding-bottom: 8px; }
ul.product_list.list > li .product-desc {
  color:#aaaaaa;
    line-height:1.6em;
  margin-bottom: 15px; }
  @media (max-width: 1199px) {
    ul.product_list.list > li .product-desc {
      margin-bottom: 10px; } }

/* LIST view on desktop - table */

@media (min-width: 992px) {
	ul.product_list.list > li .left-block,
	ul.product_list.list > li .center-block,
	ul.product_list.list > li .right-block {
		float:none;
		padding:0;
		display:table-cell; }
	ul.product_list.list > li .left-block {
		vertical-align:top;
		text-align:left;
		width:33%;
		}
	ul.product_list.list > li .center-block {
		vertical-align:top;
		width:40%;
		padding:0 14px 0 10px; }
	ul.product_list.list > li .right-block {
		width:27%; }
	ul.product_list.list > li .product-image-container {
		margin-right:19px;
	}
}
/* /LIST view on desktop - table */

ul.product_list.list .functional-buttons div {
	margin-bottom:8px;
}

  @media (max-width: 1199px) {
    ul.product_list.list > li .center-block {
      padding-top:10px; } }
  @media (max-width: 991px) {
    ul.product_list.list > li .center-block {
      padding-left:0;
      padding-right:20px;
      padding-top:10px; } }
  @media (max-width: 767px) {
    ul.product_list.list > li .center-block {
      padding-left:0;
      padding-right:30px;
      padding-top:10px; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .center-block {
      padding:10px 30px;
      width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
	margin-bottom: 12px; }
ul.product_list.list > li .right-block {
	vertical-align:middle;
	text-align:center;
	height:269px; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block {
        height:auto;
      width:100%; } }

ul.product_list.list > li .right-block .button-wrapper {
  text-align:center;
    position:relative; }

  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .button-wrapper {
		border-left:none;
		border-top:1px solid #f2f2f2;
		padding:0px 20px;
		margin:20px 0 20px 0; } }

ul.product_list.list > li .right-block:before {
    position: absolute;
    width:1px;
    background:#f2f2f2;
    height:100%;
    top:0;
    left:0;
    display:inline-block;
    content:" "; }
@media (max-width: 991px) {
	ul.product_list.list > li .right-block:before {
	display:none;
	} }

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .button-wrapper:before {
        display:none;
    }
}

  @media (max-width: 767px) {
    ul.product_list.list > li .center-block {
      padding-left:0;
      padding-right:30px;
      padding-top:10px; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .center-block {
      padding:10px 50px;
      width: 100%; } }
ul.product_list.list > li .right-block .content_price {
  padding-bottom: 2px; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .content_price {
      padding-top: 13px;
      padding-bottom: 0; } }

  ul.product_list.list > li .right-block .content_price span {
    font-size:22px;
    display: inline-block;
    margin-bottom: 0px; }
    ul.product_list.list > li .right-block .content_price span.old-price {
      margin-right: 2px; }
ul.product_list.list > li .right-block .button-container {
  overflow: hidden;
  padding-bottom: 0px; }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .button-container {
      width: 100%; } }
  ul.product_list.list > li .right-block .button-container .btn {
      margin-top:14px;
    margin-bottom: 10px; }


@media (min-width: 992px) {
  ul.product_list.list > li .right-block .functional-buttons {
    overflow: hidden; } }
@media (max-width: 991px) {
  ul.product_list.list > li .center .functional-buttons {
    clear: both; }
    ul.product_list.list > li .center .functional-buttons > div {
      float: left;
      padding-top: 0 !important;
      padding-right: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .center .functional-buttons {
    float: none;
    display: inline-block; }
    ul.product_list.list > li .center .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
      display: none !important; } }
ul.product_list.list > li .center .functional-buttons a {
  cursor: pointer; }
ul.product_list.list > li .center .functional-buttons .wishlist {
  border: none; }
ul.product_list.list > li .center-block .functional-buttons .compare {
  clear:both;
  padding-top: 0; }
  @media (max-width: 1199px) {
    ul.product_list.list > li .center-block .functional-buttons .compare {
      clear:both;
      padding-top: 2px; } }
  ul.product_list.list > li .center .functional-buttons .compare a:before {
    margin-right: 6px; }

ul.product_list.list > li .center-block .functional-buttons .wishlist a {
    line-height:28px;
    float:left; }
    @media (max-width: 1199px) {
      ul.product_list.list > li .product-container .button-container .ajax_add_to_cart_button span {
          font-size: 14px;
          line-height: 16px;} }
  ul.product_list.list > li .product-container .button-container .ajax_add_to_cart_button span.cart_icon {
      display:none; }
  ul.product_list.list > li .product-container .product-image-container .lnk_view_mobile {
    display:none;
    position:absolute;
    top:35%;
    left:50%;
    margin-left:-23px;
    opacity: 0;
    z-index:199;
    filter: alpha(opacity=0);
    text-indent:-9999px; }
    @media (max-width: 767px) {
      ul.product_list.list > li .product-container .product-image-container .lnk_view_mobile {
        display:none; }
      ul.product_list.list > li:hover .product-container .product-image-container .lnk_view_mobile {
        top:50%;
        margin-top:-23px;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; } }
  ul.product_list.list > li .product-container .product-image-container .lnk_view_mobile span {
    position:relative;
    padding: 10px;
    display: block;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background: url(../img/product_view.png) no-repeat 0 0 #fa7c63; }
  ul.product_list.list > li .product-container .product-image-container .lnk_view_mobile:hover span {
    background-color:#f45435; }

/* Product list(Index page) Styles */
#index ul.product_list.tab-pane > li {
  padding:0;
  margin-bottom: 0; }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }

/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #d6d4d4; }


/* second image on hover */
.product-container .product-image-container .product_img_link {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.product_list .product-image-container .second-img {
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity:0;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    background-color:#ffffff;
}
.product_list .product-image-container:hover .second-img {
    opacity:1;
	pointer-events: none;
}

/* Out of stock li */
li.outofstock .product-container .product-image-container .product_img_link:before {
	display:inline-block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	content:' ';
	background:#f2f2f2;
	opacity:0.7;
	z-index:2;
}
ul.product_list.grid li.outofstock .product-container .button-container {
	z-index:3;
}
/* /Out of stock li */

.sortPagiBar .bt_compare[disabled] .com_number {
	display:inline!important; }
.sortPagiBar .bt_compare .com_number {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	display:inline!important; }
.sortPagiBar .bt_compare[disabled] .com_number strong{
	font-weight:normal }
.sortPagiBar .bt_compare .com_number strong{
	font-weight:bold; }
.cat_bottom .sortPagiBar {
	display: none;
}
@media (max-width:991px) {
	.cat_top .sortPagiBar { display: none; }
	.cat_bottom .sortPagiBar { display: block; }
}
