/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block .page-subheading { margin-bottom: 16px; }

#sitemap .sitemap_block li {
    line-height: 16px;
    padding-bottom: 11px; }
#sitemap .sitemap_block li a:hover {
    font-weight: normal; }

#listpage_content div.tree_top { padding: 5px 0 0 25px; }
#listpage_content div.tree_top a:before {
    font-family: "Ionicons";
    content: "\f144";
    font-size:28px;
    display: inline-block; }
#listpage_content div.tree_top a:hover:before { color: #515151; }

.categTree ul.tree { padding-left: 24px; }
.categTree ul.tree li {
    margin: 0 0 0 21px;
    padding: 5px 0 0 33px;
    border-left: 1px solid #d6d4d4;
    background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent; }
.categTree ul.tree > li { margin: 0 0 0 11px; }
.categTree ul.tree li.last {
    border: medium none;
    background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
