#stores #map {
  width: 100%;
  height: 447px;
  margin-bottom: 26px; }

#stores .footer-wrapper .mapwrapper {display: none; }
#stores .footer-wrapper #map { height: 0; }

#stores h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #777777;
    padding-bottom: 30px;
    margin-bottom: 30px; }
#stores input#addressInput {
  display: inline-block;
    line-height:20px;
  width: 269px; }
#stores .address-input {
  float: left;
  margin-right: 19px; }
  #stores .address-input label {
    margin-right: 5px; }
#stores .radius-input {
  float: left;
  line-height: 23px;
  margin-right: 20px; }
  #stores .radius-input .selector {
    height:36px;
    width: 70px;
    float: left; }
  #stores .radius-input label {
    float: left; }
  #stores .radius-input label {
    margin-top:6px;
    margin-right: 10px; }
  #stores .radius-input #radiusSelect {
    width: 100%; }
#stores .store-content {
  padding-bottom: 30px; }
#stores .store-content-select .selector {
  visibility: hidden;
  display: none; }
#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #d6d4d4; }
  #stores .store-content-select.active .selector {
    visibility: visible;
    display: block; }
#stores .store-title {
    font-size:14px;
    margin-bottom: 16px; }
#stores .store-title strong {
    font-weight: 600; }
#stores label {
  font-weight: normal;
  color: #777777; }
#stores #stores_loader {
  display: none;
  margin-left: 5px; }
#stores #locationSelect {
  max-width: 356px;
  visibility: hidden; }
#stores #stores-table {
  display: none; }
  #stores #stores-table tbody td {
    padding: 20px; }
    #stores #stores-table tbody td.num {
      background: #fbfbfb;
      width: 46px; }
    #stores #stores-table tbody td.name span {
      padding-left: 15px; }
    @media (max-width: 991px) {
    #stores .address-input {
      width: 100%;
      margin: 0 0 20px 0; }
      #stores #stores-table tbody td.name img {
        display: none; } }

.store-content div.selector:after { margin-top: -3px }
.store-content .button.button-small span i.right { margin-left: 12px }

.store-image img {
  width: 100%;
  min-width: 100px; }

.store-icon-con {
    width:100%;
    text-align:center;
    padding:0;
    margin:0 0 24px 0;
    position: relative;
}
.store-icon-con:before {
    content: "\e606";
    font-family: "rt-planetes";
    font-size: 60px;
    line-height: 55px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 0px;
}
.store-icon-con:after {
    content: "\e607";
    font-family: "rt-planetes";
    font-size: 60px;
    line-height: 55px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    position: absolute;
    right: 50%;
    margin-right: -100px;
    top: 0px;
}
.store-icon-con .map-icon {
    display:inline-block;
}
.store-icon-con .map-icon:before {
    content: "\f455";
    font-family: "Ionicons";
    font-size:70px;
    line-height: 55px;
    font-weight: 400;
    color:#777777;
    display:inline-block;
}
