form#contactable-contactForm input,
form#contactable-contactForm textarea,
form#contactable-contactForm select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background:#FFFFFF none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:100%;
	padding:12px;
	border:1px solid #dfdfdf;
	font-size:1em;
	margin-bottom:6px;
}

form#contactable-contactForm p {
	font-size:1em;
  margin-bottom:5px;
}

form#contactable-contactForm .contactable-header {
	  margin-bottom:16px;
    text-align: center;
    margin-top:4px;
    font-weight: bold;
    font-size:14px;
}

#contactable-contactForm .contactable-green {
	color:	#FFF0B3;
}

.contactable-invalid { background-color: #FFF0B3; }
#contactable-name.contactable-invalid { background-color: #FFF0B3; }
#contactable-email.contactable-invalid { background-color: #FFF0B3; }
#contactable-message.contactable-invalid { background-color: #FFF0B3; }

form#contactable-contactForm label{
	line-height:1.1em;
}

form#contactable-contactForm #contactable-loading {
	background: url(../images/ajax-loader.gif) no-repeat;
	width:66px;
	height:66px;
	margin: 80px auto;
	display:none;
}

#contactable-callback {
	font-size:13px;
	color: #dddddd;
	display:none;
}

.contactable-holder {
	margin:0;
	padding:0;
}

/* Submit button */
form#contactable-contactForm .contactable-submit {
    background: #7fbf4d;
    border: 2px solid #63a62f;
    color: #fff;
    font-weight: 600;
    font-size:14px;
    line-height: 1;
    padding: 14px 0;
    text-align: center;
    margin-bottom:12px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

form#contactable-contactForm .contactable-submit:hover {
    background: #76b347;
    cursor: pointer; }

button.contactable-cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
