.roy_levibox {
    position: fixed;
    right:20px;
    bottom:40px;
    z-index:30;
    padding-bottom:0;
    -webkit-transition: all 240ms ease;
    -moz-transition: all 240ms ease;
    -ms-transition: all 240ms ease;
    -o-transition: all 240ms ease;
    transition: all 240ms ease;
}
.roy_levibox .box-one {
    float:right;
    clear:right;
    position: relative;
    display:inline-block;
    background:#525252;
    border:1px solid #323232;
    width:48px;
    text-align: center;
    height:48px;
    margin-top:4px;
    margin-left:6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 240ms ease;
    -moz-transition: all 240ms ease;
    -ms-transition: all 240ms ease;
    -o-transition: all 240ms ease;
    transition: all 240ms ease;
    opacity:0.8;
}
.roy_levibox .box-one:hover {
    opacity:1!important;
}
.roy_levibox .box-one i {
    cursor:pointer;
    color:#ffffff;
    position: absolute;
    font-weight: normal;
    width:100%;
    text-align: center;
    left:0;
    height:100%;
    top:0;
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
}
.roy_levibox .box-arrow i:before {
    font-family: "FontAwesome";
    content: "\f106";
    font-size: 24px;
    line-height: 43px;
}
.roy_levibox .box-mail i:before {
    font-family: "Ionicons";
    content: "\f132";
    font-size: 32px;
    line-height: 46px;
}
.roy_levibox .box-fb i:before {
    font-family: "FontAwesome";
    content: "\f09a";
    font-size: 22px;
    line-height: 46px;
}

/* Mail styles */
.roy_levibox .box-mail-content {
    position: absolute;
    background: #525252;
    bottom:0;
    right: 100%;
    margin-right:14px;
    z-index: 10997;
    display:none;
    min-width:260px;
    max-width:260px;
    margin-bottom:0;
    text-align: left;
    padding:20px;
    font-weight: normal;
}
.roy_levibox .box-mail-content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #525252;
    border-bottom: 8px solid transparent;
    position: absolute;
    bottom:9px;
    left:100%;
}
.roy_levibox .box-mail-content p,
.roy_levibox .box-mail-content label{
    color:#ffffff;
}
.roy_levibox form#contactable-contactForm p.contactable-footer {
    margin-bottom:0;
    text-align: center;
    line-height: 20px;
    font-size:13px;
}

/* /Mail styles */

/* Arrow styles */
.roy_levibox .box-one.box-arrow {
    position:fixed;
    float:none;
    right:20px;
    bottom:-52px;
    z-index:30;
    opacity:0.4;
}
/* /Arrow styles */


/* Facebook styles */
.roy_levibox .box-fb-content {
    position: absolute;
    background: #3B5998;
    border: 2px solid #3B5998;
    bottom:0;
    right: 100%;
    margin-right:14px;
    z-index: 10997;
    display:none;
    min-width:260px;
    max-width:260px;
    margin-bottom:0;
    text-align: left;
    padding:0;
    font-weight: normal;
}
.roy_levibox .box-fb-content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #3B5998;
    border-bottom: 8px solid transparent;
    position: absolute;
    bottom:11px;
    left:100%;
}
.roy_levibox .box-fb-content h4 {
    color:#ffffff;
    text-align: center;
    font-size:14px;
    margin:18px 0;
}
/* /Facebook styles */

.try_again {
    color:#ffffff;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .roy_levibox .box-one {
        display:none;
    }
    .roy_levibox .box-one.box-arrow {
        display:inline-block;
    }
}