/* prestatill money module CSS stylesheet */
.prestatill_payment_interface[data-module-name="prestatillslip"] {
	margin-left:0;
	overflow:auto;
	max-height:280px;
}

.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-list {
	list-style: none;
	width: calc( 100% - 20px);
    margin-left: 10px;	
}

.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-slip.selected {
	background-color:#93B728;
}

.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-id,
.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-amount,
.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-sold {
	flex:1;
}

.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-date {
	flex:3;
}


/** partie retour **/
.prestatill_return_interface[data-module-name="prestatillslip"] .numeric_keyboard {
	margin-left:60px;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip-header {
	display: table;
    width: 100%;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip-header span {
	display: table-cell;
    border-right: 1px solid #333;
    padding: 7px 10px;
    width: 29%;
    background: #212121;
    vertical-align: middle;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip-header span.prestatillslip-id,
.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip span.prestatillslip-id
{
	width:13%;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip-header span:last-child {
	border-right:none;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip {
	display: table;
    width: 100%;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip span {
	display: table-cell;
    padding: 9px 10px;
    width: 29%;
    background: #5D5D5D;
    border-bottom: 1px solid #333;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip span.prestatillslip-sold {
	background: #93B728;
}

.prestatill_payment_interface .prestatillslip-list .prestatillslip-slip span.prestatillslip-date {
	color:#d8d8d8;
}

.prestatill-slip-by-barcode.current input { 
	width: calc( 100% - 20px);
	box-sizing: border-box;
}

.prestatill_payment_interface[data-module-name="prestatillslip"] .prestatillslip-slip.selected  span {
	background:#93B728;
	color:#FFF;
	font-weight:bold;
}

.prestatill_payment_interface .results .danger {
	width: calc( 100% - 20px );
    margin-left: 10px;
    padding: 10px 0;
}
