{if isset($xprtaccesorriesproductblock) && !empty($xprtaccesorriesproductblock)}
		<li><a data-toggle="tab" href="#xprt_accessoriesproductsblock_tab_{if isset($xprtaccesorriesproductblock.id_xprtaccesorriesproductblock)}{$xprtaccesorriesproductblock.id_xprtaccesorriesproductblock}{/if}" class="xprt_accessoriesproductsblock">{$xprtaccesorriesproductblock.title}</a></li>
{/if}