
{if isset($xipbt_title)}{$xipbt_title}{/if}

{if isset($xipblogtags)}

	{foreach from=$xipblogtags item=xipblogtag}
			{$xipblogtag.id_xipcategory}<br>
			{$xipblogtag.id_tag}<br>
			{$xipblogtag.name}<br>
			{$xipblogtag.link}<br>
	{/foreach}

{/if}