.header_user_info {
    margin:0;
    float: right; }
    .nav .header_user_info a.login, .nav .header_user_info a.myaccount {
        margin-right:12px;
        color:#ffffff;
        opacity:0.8; }
    .nav .header_user_info a.login:hover, .nav .header_user_info a.myaccount:hover {
        opacity: 1; }
    .header_user_info a.myaccount {
        position: relative; }
    .header_user_info > ul {
        display:inline-block;
        margin:0 auto; }
    .header_user_info > ul > li {
        position: relative; }
    .header_user_info > ul > li.acc-ul {
        position: static; }
    .header_user_info > ul > li.current:before {
        display:none;  }
    .header_user_info > ul > li.current {
        padding-left:0; }
    .header_user_info span.account-label {
        cursor: pointer;
        display:inline-block;
        height:40px;
        line-height:40px;
        margin-right:2px;
        position: relative; }
    .header_user_info span.account-label:before {
        font-family: 'Ionicons';
        content: "\f3a0";
        font-size:26px;
		color:#ffffff;
		opacity:0.94;
		display:inline-block;
        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease; }
    .header_user_info span.account-label:hover:before {
		opacity:1; }
    .header_user_info span.account-label.logged:after {
        font-family: 'Ionicons';
        content: "\f120";
        font-size:18px;
        position: absolute;
        right: -17px;
        top: -6px;
        margin-top:0;
        color: #00e989;
        display:inline-block;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease; }
    .header_user_info span.account-label.logged:hover:after {        
        margin-top:3px;
    }
    .header_user_info span.account-label.logged {
        margin-right:6px;        
    }
    nav .header_user_info span.account-label.logged {
        margin-right:3px;        
    }

    .header_user_info ul.ui-account-ul {
        position: absolute;
        background: #323232;
        border-top: 1px solid #555555;
        top: 100%;
        right: 0;
        z-index: 10997;
        display:none;
        min-width:auto; }
    .nav .header_user_info ul.ui-account-ul {
        top: 39px; }
    .header_user_info ul.ui-account-ul > li {
        color: #dddddd;
        line-height: 37px;
        font-size: 13px;
        position: relative; }
    .header_user_info ul.ui-account-ul > li:last-child {
    	padding-bottom: 1px; }
    .header_user_info ul.ui-account-ul > li a {
        color:#dddddd;
        padding: 0 12px;
        display: block;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
        cursor: pointer; }
    .header_user_info ul.ui-account-ul > li a:hover, .header_user_info a.active {
        color:#ffffff; }

    .side-menu .header_user_info a {
        padding: 6px 12px!important;
        font-weight: 700!important;
        font-size:14px;
        text-transform: uppercase;
    }

    .header_user_info ul.ui-account-ul > li.unlogged {
        padding:0 20px;
        line-height:18px;
        color:#aaaaaa; }
    .side-menu .header_user_info ul.ui-account-ul > li.unlogged {
        padding-top: 20px; }
    .header_user_info ul.ui-account-ul > li.unlogged > p:last-child {
        margin-bottom: 0 }
    .header_user_info ul.ui-account-ul > li.unlogged a {
        display: inline;
        padding: 0; }
	.header_user_info span.userwelcome {
        line-height: 1em;
        opacity:0.6;
        padding-left: 18px;
        color: #ffffff; }
	.header_user_info span.usercustomer {
        text-transform: capitalize;
        color:#ffffff;
        opacity:0.98;
        padding:0 14px 0 0; }


/* Responsive */
@media (max-width:767px) {
    .nav .header_user_info {
        width:100%;
        text-align:center; }
    .nav .header_user_info:before {
        margin:10px auto 0;
        max-height: 40px;
        width:100%;
        text-align:center;
        float: left; }
    .nav .header_user_info > ul > li {
        font-size:14px; }
    .nav .header_user_info > ul > li:first-child {
        padding-left:0; }
    .nav .header_user_info > ul > li:first-child:before {
        display:none; }

    .nav .header_user_info span.account-label.logged:before {
        font-size:32px; }
    .nav .header_user_info span.account-label.logged:after {
        font-size:32px; }
    .nav .header_user_info ul.ui-account-ul {
        text-align: left;
        min-width:140px; } }
@media (max-width:479px) {
    .nav .header_user_info span.userwelcome {
        display:none; } }

/* NEW styles for header settings */

    .account_top {
        position: relative;
    }
    .account_top .header_user_info {
        height:24px;
        float:none;
    }
    .account-icon .word {
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }

    .account-icon {
        cursor: pointer;
        display:inline-block;
        height:24px;
        line-height:24px;
        position: relative; }
    .account-icon .word {
        font-size:14px; }
    .account-icon .acc-icon {
        /*position: relative;*/
        line-height: 24px;
        height: 24px;
        display: inline-block; }
    .account-icon .acc-icon:before {
        font-family: 'Ionicons';
        content: "\f3a0";
        font-size:26px;
        color:#323232;
        display:inline-block;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out; }

    .account-icon.logged .acc-icon:after {
        font-family: 'Ionicons';
        content: "\f120";
        font-size:18px;
        position: absolute;
        right: -15px;
        top: -14px;
        margin-top:0;
        color: #00e989;
        display:inline-block;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease; }
    .account-icon.logged:hover .acc-icon:after {        
        margin-top:3px;
    }

    .account_top .header_user_info ul.ui-account-ul {
        display:block;
        position: absolute;
        background: #323232;
        top: 100%;
        right: 0;
        z-index: 10997;
        min-width:270px;
        padding:30px 20px 18px;
        opacity:0;
        visibility: hidden;
        margin-top: 20px;
        -webkit-transition: 0.3s all ease 0s;
        -moz-transition: 0.3s all ease 0s;
        -o-transition: 0.3s all ease 0s;
        transition: 0.3s all ease 0s;
    }
    @media (min-width:992px) {
        .account_top:hover .header_user_info ul.ui-account-ul {
            margin-top: 0;
            opacity: 1;
            visibility: visible;;
        } 
    }

    .header_user_info ul.ui-account-ul > li.acc_title:before {
        content: ' ';
        display: inline-block;
        width: 88%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 6%;
        bottom:0; }
    .header_user_info ul.ui-account-ul > li.acc_sub:before {
        content: ' ';
        display: inline-block;
        width: 88%;
        height: 1px;
        background: #555555;
        position: absolute;
        left: 6%;
        top:0; }

    .header_user_info ul.ui-account-ul > li.acc_title {
        text-align: center;
        padding-bottom: 14px;
        margin-bottom:12px;
        }
    .header_user_info ul.ui-account-ul > li.acc_sub {
        text-align: center;
        padding-top: 14px;
        margin-top:12px;
        }
    .header_user_info ul.ui-account-ul > li.acc_sub.margin_unlogged {
        margin-top:24px; }
    .header_user_info ul.ui-account-ul > li.acc_title p {
        margin:0;
        line-height: 1em;
        }
    .header_user_info ul.ui-account-ul > li.acc_title a {
        color:#ffffff;
        }
/* /NEW styles for header settings */

/* Side mobile styles */
    .side-menu .header_user_info {
        float:none;
        padding:14px 30px;
    }
    .side-menu .header_user_info > ul {
        display: block;
    }
    .side-menu .header_user_info ul.ui-account-ul {
        position: relative;
        background: none;
        border: none;
        top: auto;
        right: auto;
        display:block; }
    .side-menu .header_user_info ul.ui-account-ul > li.acc_title p:first-child { display: none; }


/* /Side mobile styles */

.head .row .header-right-block .account_top .header_user_info {    
        -webkit-transition: 0.3s all ease 0s;
        -moz-transition: 0.3s all ease 0s;
        -o-transition: 0.3s all ease 0s;
        transition: 0.3s all ease 0s;
}



