{if !empty($xprtcrossviewproductblock)}
		<li><a data-toggle="tab" href="#xprt_crossviewedproductsblock_tab_{if isset($xprtcrossviewproductblock.id_xprtcrossviewproductblock)}{$xprtcrossviewproductblock.id_xprtcrossviewproductblock}{/if}" class="xprt_crossviewedproductsblock">{$xprtcrossviewproductblock.title}</a></li>
{/if}