{if isset($xprtcategorywiseproductblock) && !empty($xprtcategorywiseproductblock)}
		<li><a data-toggle="tab" href="#xprt_categoryproductsblock_tab_{if isset($xprtcategorywiseproductblock.id_xprtcategorywiseproductblock)}{$xprtcategorywiseproductblock.id_xprtcategorywiseproductblock}{/if}" class="xprt_categoryproductsblock">{$xprtcategorywiseproductblock.title}</a></li>
{/if}