/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
.footer-wrapper #newsletter_block_left {
	overflow: hidden;
	width: 50%;
	float: left;
	padding: 0 15px;
	margin-bottom: 20px; }
    @media (max-width: 767px) {
        .footer-wrapper #newsletter_block_left {
            margin-bottom:30px;
            margin-top:20px;
            max-width:100%;
            width: 100%; } }
  
.footer-wrapper #newsletter_block_left .block_content {
	padding:0;
	margin:0;
	border:none;
	background:none;
	overflow: hidden; }
.footer-wrapper #newsletter_block_left .form-group {
	display:flex;   
	display: -webkit-flex;
   -webkit-flex-direction: row;
   flex-direction: row;
	margin-bottom: 0; }
	@media (max-width: 767px) {	
	  .footer-wrapper #newsletter_block_left .form-group {
		display:flex;
		margin-bottom: 0; } }
    .footer-wrapper #newsletter_block_left .form-group .form-control {
        background: #fff;
        border: 1px solid #323232;
        color: #b0b3b8;
        font-size:13px;
        flex: 1 0 8em;
        padding: 14px 18px;
        font-weight: 400!important;
        text-transform: none!important;
        display: inline-block;
        float: left; }
    .footer-wrapper #newsletter_block_left .form-group .form-control:before {
        /*// Don't shrink or grow and use a default size*/
        flex: 0 0 2.75em;
        /*// Use flexbox to center the icon*/
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .footer-wrapper #newsletter_block_left .form-group .form-control::-webkit-input-placeholder { 
        font-weight: 400!important;
    }
    .footer-wrapper #newsletter_block_left .form-group .form-control::-moz-placeholder { 
        font-weight: 400!important;
    }
    .footer-wrapper #newsletter_block_left .form-group .form-control:-ms-input-placeholder { 
        font-weight: 400!important;
    }
    .footer-wrapper #newsletter_block_left .form-group .form-control:-moz-placeholder { 
        font-weight: 400!important;
    }
    .footer-wrapper #newsletter_block_left .form-group .form-control:focus {	
		color: #323232; }
    .footer-wrapper #newsletter_block_left .form-group .newsletter-btn {
        margin-left: 4px;
        padding: 16px 24px;
        font-size:20px;
        font-weight:400;
        color:#ffffff;
        flex: 0 0 auto;
        line-height: 14px!important;		
        border:1px solid #444444;
        background: #444444;
        outline:none;
        text-align: center;
        display: inline-block;
        cursor:pointer;
        -webkit-transition: all 0.14s linear;
        -moz-transition: all 0.14s linear;
        -o-transition: all 0.14s linear;
        transition: all 0.14s linear; }
    .footer-wrapper #newsletter_block_left .form-group .newsletter-btn:hover {
        color:#323232;
        border-color: #323232;
        background: #ffffff; }
    .footer-wrapper #newsletter_block_left .form-group .newsletter-btn i:before {
        content:'\f1d8';
        padding-right:1px;
       }
    .footer-wrapper #newsletter_block_left .form-group .newsletter-btn span {
      display:none;
		  padding:0; }
  .footer-wrapper #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      .footer-wrapper #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  .footer-wrapper #newsletter_block_left .newsletter-input {
    max-width: 280px; }
	@media (max-width: 1199px) {
	.footer-wrapper #newsletter_block_left .newsletter-input {
    max-width: 100%; }	}



.footer-wrapper #newsletter_block_left .ns-message {
  padding:16px;
}