<!-- MODULE Roy featured -->
<div id="royfeatured-mini" class="mini_products">
    <h4 class="mini_products_title">
        <span>{l s='Popular products' mod='royfeatured'}</span>
    </h4>
    <div class="mini_products_content">
        {if $products}
            <div class="carousel_mini">
                {foreach from=$products item=product name=myLoop}
                {if $smarty.foreach.myLoop.iteration == 1}<div class="products_box">{/if}
                    <div class="products_item clearfix">
                        <a href="{$product.link|escape:'html'}" title="{$product.legend|escape:'html':'UTF-8'}" class="products-block-image content_img clearfix">
                            <img class="replace-2x img-responsive" src="{$link->getImageLink($product.link_rewrite, $product.id_image, 'small_default')|escape:'html'}" alt="{$product.legend|escape:'html':'UTF-8'}" />
                        </a>
                        <div class="product-content">
                            <h5>
                                <a class="product-name" href="{$product.link|escape:'html'}" title="{$product.legend|escape:'html':'UTF-8'}">
                                    {$product.name|strip_tags:'UTF-8'|escape:'html':'UTF-8'}
                                </a>
                            </h5>
                            {if isset($roythemes.mini_r) && $roythemes.mini_r == "1"}{hook h='displayProductListReviews' product=$product}{/if}
                            <p class="product-description">{$product.description_short|strip_tags:'UTF-8'|truncate:75:'...'}</p>
                            {if !$PS_CATALOG_MODE}
                                <div class="price-box">
                                    <span class="price">{convertPrice price=$product.price}</span>
                                    {*<span class="old-price">{if $product.on_sale}{convertPrice price=$product.price_without_reduction}{/if}</span>*}
                                    {if isset($product.specific_prices) && $product.specific_prices && isset($product.specific_prices.reduction) && $product.specific_prices.reduction > 0}<span class="old-price">{convertPrice price=$product.price_without_reduction}</span>{/if}
                                </div>
                            {/if}
                        </div>
                    </div>
                {if $smarty.foreach.myLoop.last}
                    </div>
                {else}
                    {if $smarty.foreach.myLoop.iteration%3 == 0}
                        </div><div class="products_box">
                    {/if}
                {/if}
                {/foreach}
            </div>
        {else}
            <p>&raquo; {l s='Do not allow new products at this time.' mod='roynewproducts'}</p>
        {/if}
    </div>
    {if !$smarty.foreach.myLoop.last && $products}
        </div>
    {/if}
</div>
<!-- /MODULE Roy featured -->