{if isset($xprtnewproductblock) && !empty($xprtnewproductblock)}
	{if isset($xprtnewproductblock.device)}
		{assign var=device_data value=$xprtnewproductblock.device|json_decode:true}
	{/if}
	<div id="xprtnewproductblock_{$xprtnewproductblock.id_xprtnewproductblock}" class="xprtnewproductblock xprt_default_products_block" style="margin:{$xprtnewproductblock.section_margin};">
		<div class="page_title_area {$xprt.home_title_style}">
			{if isset($xprtnewproductblock.title)}
				<h3 class="page-heading">
					<em>{$xprtnewproductblock.title}</em>
					<span class="heading_carousel_arrow"></span>
				</h3>
			{/if}
			{if isset($xprtnewproductblock.sub_title)}
				<p class="page_subtitle d_none">{$xprtnewproductblock.sub_title}</p>
			{/if}
			<div class="heading-line d_none"><span></span></div>
		</div>
		{if isset($xprtnewproductblock) && $xprtnewproductblock}
			<div id="xprt_newproductsblock_{$xprtnewproductblock.id_xprtnewproductblock}" class="xprt_default_products_block_content">
				{include file="$tpl_dir./product-list.tpl" xprtprdcolumnclass=$device_data products=$xprtnewproductblock.products id='' class="xprt_newproductsblock {if $xprtnewproductblock.enable_carousel == 1}carousel{/if}"}
			</div>
		{else}
			<div class="xprt_default_products_block_content">
				<p class="alert alert-info">{l s='No new products at this time.' mod='xprtnewproductblock'}</p>
			</div>
		{/if}
	</div>
	
<script type="text/javascript">
	var xprtnewproductblock = $("#xprtnewproductblock_{$xprtnewproductblock.id_xprtnewproductblock}");
	var sliderSelect = xprtnewproductblock.find('ul.product_list.carousel'); 
	var arrowSelect = xprtnewproductblock.find('.heading_carousel_arrow'); 

	{if isset($xprtnewproductblock.nav_arrow_style) && ($xprtnewproductblock.nav_arrow_style == 'arrow_top')}
		var appendArrows = arrowSelect;
	{else}
		var appendArrows = sliderSelect;
	{/if}
	
	if (!!$.prototype.slick)
	sliderSelect.slick( { 
		infinite: {if isset($xprtnewproductblock.play_again)}{$xprtnewproductblock.play_again|boolval|var_export:true}{else}false{/if},
		autoplay: {if isset($xprtnewproductblock.autoplay)}{$xprtnewproductblock.autoplay|boolval|var_export:true}{else}false{/if},
		pauseOnHover: {if isset($xprtnewproductblock.pause_on_hover)}{$xprtnewproductblock.pause_on_hover|boolval|var_export:true}{else}true{/if},
		dots: {if isset($xprtnewproductblock.navigation_dots)}{$xprtnewproductblock.navigation_dots|boolval|var_export:true}{else}false{/if},
		arrows: {if isset($xprtnewproductblock.navigation_arrow)}{$xprtnewproductblock.navigation_arrow|boolval|var_export:true}{else}false{/if},
		appendArrows: appendArrows,
		nextArrow : '<i class="slick-next arrow-double-right"></i>',
		prevArrow : '<i class="slick-prev arrow-double-left"></i>',
		rows: {if isset($xprtnewproductblock.product_rows)}{$xprtnewproductblock.product_rows|intval}{else}1{/if},
		// slidesPerRow: 3,
		slidesToShow : {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
		slidesToScroll : {if isset($xprtnewproductblock.product_scroll) && ($xprtnewproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
		responsive:[
			 { 
				breakpoint: 1200,
				settings:  { 
					slidesToShow: {if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtnewproductblock.product_scroll) && ($xprtnewproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_lg)}{$device_data.device_lg|intval}{else}4{/if}{/if},
					// slidesToShow : prd_per_column,
				 } 
			 } ,
			 { 
				breakpoint: 993,
				settings:  { 
					slidesToShow: {if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if},
					slidesToScroll : {if isset($xprtnewproductblock.product_scroll) && ($xprtnewproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_md)}{$device_data.device_md|intval}{else}4{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 769,
				settings:  { 
					slidesToShow: {if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if},
					slidesToScroll : {if isset($xprtnewproductblock.product_scroll) && ($xprtnewproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_sm)}{$device_data.device_sm|intval}{else}3{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 641,
				settings:  { 
					slidesToShow: {if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if},
					slidesToScroll : {if isset($xprtnewproductblock.product_scroll) && ($xprtnewproductblock.product_scroll=='per_item')}1{else}{if isset($device_data.device_xs)}{$device_data.device_xs|intval}{else}2{/if}{/if},
					// slidesToShow : 2,
				 } 
			 } ,
			 { 
				breakpoint: 481,
				settings:  { 
					slidesToShow: 1,
					slidesToScroll : 1,
					// slidesToShow : 1,
				 } 
			 } 
		]
	 } );
</script>
{/if}